Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Alias Address element
  src/Address/Concerns/LegacyConstants.php
  src/Address/Elements/Address.php
  yii2-adapter/constants/Address/Concerns/LegacyConstants.php
  yii2-adapter/legacy/elements/Address.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Alias other elements
  src/Asset/Concerns/LegacyConstants.php
  src/Asset/Elements/Asset.php
  src/Element/Concerns/LegacyNestedElementManager.php
  src/Element/NestedElementManager.php
  src/Entry/Concerns/LegacyConstants.php
  src/Entry/Elements/Entry.php
  src/Field/Elements/Concerns/LegacyConstants.php
  src/Field/Elements/ContentBlock.php
  yii2-adapter/constants/Asset/Concerns/LegacyConstants.php
  yii2-adapter/constants/Element/Concerns/LegacyNestedElementManager.php
  yii2-adapter/constants/Entry/Concerns/LegacyConstants.php
  yii2-adapter/constants/Field/Elements/Concerns/LegacyConstants.php
  yii2-adapter/legacy/elements/Asset.php
  yii2-adapter/legacy/elements/ContentBlock.php
  yii2-adapter/legacy/elements/Entry.php
  yii2-adapter/legacy/elements/NestedElementManager.php
  yii2-adapter/legacy/elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use correct classes
  yii2-adapter/constants/Asset/Concerns/LegacyConstants.php
  yii2-adapter/constants/Element/Concerns/LegacyNestedElementManager.php
  yii2-adapter/constants/Entry/Concerns/LegacyConstants.php
  yii2-adapter/constants/User/Concerns/LegacyConstants.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy behavior compatibility
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/tests-laravel/Behavior/LegacyBehaviorCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix backup download
  resources/js/components/utilities/DatabaseBackup.vue
  resources/js/composables/useCraftData.ts
  src/Http/Controllers/Utilities/DbBackupController.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Potential fix for pull request finding
  src/Http/Controllers/Utilities/DbBackupController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Copilot suggestions
  resources/js/components/utilities/DatabaseBackup.vue
  resources/js/composables/useCraftData.ts
  src/Http/Controllers/Utilities/DbBackupController.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update strings
  resources/translations/en/app.php
  src/Http/Controllers/Utilities/DbBackupController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Build assets
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CraftCombobox.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue.ts.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/AppLayout.css
  resources/build/assets/SettingsIndexPage.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-C0XgwKvM.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-9g3ebwBJ.js
  resources/build/nav-item-C4wA1e_M.js
  resources/build/nav-item.ts.js
Due: prettier --ignore-unknown --write

Remove stray docblock
  src/Config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Parameterize system timezone in install migration
  src/Database/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan typehint
  yii2-adapter/legacy/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use `EnvValueRule` wrapper for general settings validation
  src/Http/Controllers/Settings/GeneralSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unused Combobox component
  resources/js/components/Combobox.vue
Due: none

Fix timzezone input
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Add timezones to installer response
  src/Http/Controllers/InstallController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use `EnvValueRule` to validate site settings in install controller
  src/Http/Controllers/InstallController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix timezone settings
  resources/js/components/form/CraftCombobox.vue
  resources/js/components/form/InputCombobox.vue
  resources/js/components/form/InputComboboxOption.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/utils/transformBooleanOptions.ts
  src/Http/Controllers/Settings/GeneralSettingsController.php
  tests/Feature/Http/Controllers/Settings/GeneralSettingsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

String values
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Preprocess timezone options in general settings
  src/Http/Controllers/Settings/GeneralSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Copilot suggestions
  resources/js/components/form/InputCombobox.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/types/settings.ts
Due: none

Remove unused imports
  src/Http/Controllers/Settings/GeneralSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

One more fix
  resources/js/components/form/InputCombobox.vue
Due: none

Handle non-inertia responses as page visits
  resources/js/bootstrap/cp.ts
  resources/js/pages/SettingsIndexPage.vue
  src/Cp/Settings.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Harden non-inertia request handling
  resources/js/bootstrap/cp.ts
Due: none

Link -> CpLink
  resources/js/pages/SettingsIndexPage.vue
Due: none

`nullable` means this key may not exist in the request data
  src/Http/Controllers/Settings/GeneralSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build assets
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CraftCombobox.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue.ts.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/SettingsIndexPage.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-EVKP5RjP.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-9g3ebwBJ.js
  resources/build/nav-item.ts.js
Due: prettier --ignore-unknown --write

Handle redirects in Inertia fallback
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/js/bootstrap/cp.ts
Due: prettier --ignore-unknown --write

Alias base Element for compatibility
  src/Element/Concerns/LegacyConstants.php
  src/Element/Element.php
  yii2-adapter/constants/Address/Concerns/LegacyConstants.php
  yii2-adapter/constants/Asset/Concerns/LegacyConstants.php
  yii2-adapter/constants/Element/Concerns/LegacyConstants.php
  yii2-adapter/constants/Element/Concerns/LegacyNestedElementManager.php
  yii2-adapter/constants/Entry/Concerns/LegacyConstants.php
  yii2-adapter/constants/Field/Elements/Concerns/LegacyConstants.php
  yii2-adapter/constants/User/Concerns/LegacyConstants.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/base/ElementEventConstants.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/phpstan.neon
  yii2-adapter/src/Event/EventCompatibility.php
  yii2-adapter/src/IdentityWrapper.php
  yii2-adapter/tests-laravel/View/CpAssetOrderTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ensure base relation field query condition uses the element query siteId
  src/elements/db/ElementQuery.php
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix identity wrapper
  yii2-adapter/src/IdentityWrapper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix identitywrapper
  yii2-adapter/src/IdentityWrapper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update version
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial login flow
  package-lock.json
  packages/craftcms-cp/package.json
  packages/craftcms-cp/src/utilities/format.ts
  resources/js/components/Auth/LoginForm.vue
  resources/js/composables/useCraftData.ts
  resources/js/pages/Login.vue
  routes/actions.php
  routes/cp.php
  src/Cp/Cp.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Quick fix for icon
  resources/build/AppLayout.js
  resources/build/assets/AppLayout.css
  resources/js/components/SystemInfo.vue
Due: prettier --ignore-unknown --write

Require craftcms/server-check ~6.0.0
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Always return HTML for the icon
  resources/icons/custom-icons/c-outline.svg
  resources/js/components/SystemInfo.vue
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
