Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Japanese) [ci skip]
  src/translations/ja/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada) [ci skip]
  src/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Test fixes
  src/Database/Queries/AssetQuery.php
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/gql/resolvers/mutations/Entry.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/tests/unit/gql/PrepareQueryTest.php
  yii2-adapter/tests/unit/gql/mutations/EntryMutationResolverTest.php
  yii2-adapter/tests/unit/helpers/ElementHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix a bug when getting results from an element query more than once
  src/Database/Queries/ElementQuery.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  yii2-adapter/tests/unit/helpers/AssetsHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove LegacyMethods trait
  src/Element/Queries/Concerns/LegacyMethods.php
  src/Element/Queries/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ref is only on some element queries
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Element fixes
  src/Asset/Elements/Asset.php
  src/Element/Element.php
  src/Element/Queries/ElementQuery.php
  yii2-adapter/legacy/base/ElementInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow stringable on methods that return html
  src/Element/Element.php
  yii2-adapter/legacy/base/ElementInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

One too many
  src/Element/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

safeguard against no source key
  src/controllers/ElementIndexesController.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

when getting the pages, look through all sources for type
  src/services/ElementSources.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Disabled action item styles
  packages/craftcms-cp/src/components/action-item/action-item.styles.ts
Due: none

Disable delete group when group has sites
  resources/js/components/SiteGroupActions.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Fix collection not being the same object
  tests/User/UserPermissionsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Redirect to group when creating groups
  src/Http/Controllers/Settings/SiteGroupsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix another test
  src/Updates/Data/UpdateRelease.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Prune out fields that no longer exist
  CHANGELOG.md
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

No rule on the bottom table
  resources/js/components/AdminTable/AdminTable.vue
Due: none

Cleanup buttons a bit
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
Due: none

IndexLayout component
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Better responsive settings general page
  resources/js/pages/SettingsIndexPage.vue
Due: none

Style adjustmenst
  resources/js/layout/IndexLayout.vue
Due: none

More style tweaks
  packages/craftcms-cp/src/components/nav-item/nav-item.styles.ts
  resources/js/layout/IndexLayout.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Minor grid improvement
  resources/js/pages/SettingsIndexPage.vue
Due: none

Replace svg
  resources/js/components/CalloutReadOnly.vue
Due: none

Build
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/SettingsIndexPage.js
  resources/build/assets/SettingsIndexPage.css
Due: prettier --ignore-unknown --write

Delete old sitese assets
  yii2-adapter/legacy/web/assets/sites/SitesAsset.php
  yii2-adapter/legacy/web/assets/sites/dist/sites.js
  yii2-adapter/legacy/web/assets/sites/dist/sites.js.LICENSE.txt
  yii2-adapter/legacy/web/assets/sites/dist/sites.js.map
  yii2-adapter/legacy/web/assets/sites/src/sites.js
  yii2-adapter/legacy/web/assets/sites/webpack.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Delete site twig templates
  resources/templates/settings/sites/_edit.twig
  resources/templates/settings/sites/index.twig
Due: none

Update select all divs to use buttons
  src/templates/graphql/schemas/_edit.twig
Due: none

Button based reorder
  resources/icons/custom-icons/grip-dots.svg
  resources/js/components/ReorderButton.vue
  resources/js/pages/SettingsSitesIndex.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/SitesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Arabic) [ci skip]
  src/translations/ar/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Class-level sandbox allowances
  CHANGELOG.md
  src/base/ElementInterface.php
  src/config/twig-sandbox.php
  src/fields/data/ColorData.php
  src/fields/data/IconData.php
  src/fields/data/JsonData.php
  src/fields/data/LinkData.php
  src/fields/data/MultiOptionsFieldData.php
  src/fields/data/OptionData.php
  src/web/View.php
  src/web/twig/SecurityPolicy.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hebrew) [ci skip]
  src/translations/he/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
