Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

bring spinner to the top layer
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

bring back missing variable (it's used by js too)
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

use the var instead of equivalent value
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

build
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

inline editing styles
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

ensure disclosureMenu was initialised
  src/web/assets/cp/src/js/LinkInput.js
Due: none

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Make all relation fields selectable as thumbnail providers
  CHANGELOG-WIP.md
  src/fields/Assets.php
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixes #15655
  packages/craftcms-sass/_mixins.scss
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Register new translations, throw error if live region node has been removed from document
  src/templates/assets/_previews/image.twig
  src/translations/en/app.php
  src/web/assets/admintable/dist/js/app.js
  src/web/assets/admintable/dist/js/app.js.map
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CP.js
  src/web/assets/focalpoint/dist/FocalPoint.js
  src/web/assets/focalpoint/dist/FocalPoint.js.map
  src/web/assets/focalpoint/src/FocalPoint.ts
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #15656
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add live region back to preview file modal after contents are cleared
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/PreviewFileModal.js
Due: none

Finish 5.4.1
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Swedish) [ci skip]
  src/translations/sv/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use current language
  src/elements/Address.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed StringHelper::lines()
  CHANGELOG.md
  src/helpers/StringHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Merge fld-element-label class with other UI element selector classes
  CHANGELOG.md
  src/fieldlayoutelements/BaseUiElement.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop the .pane styling for Template UI element errors
  src/fieldlayoutelements/Template.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Markdown UI element
  bootstrap/bootstrap.php
  scripts/copyicons.php
  src/fieldlayoutelements/Markdown.php
  src/helpers/StringHelper.php
  src/icons/brands/markdown.svg
  src/models/FieldLayout.php
  src/translations/en/app.php
  tests/unit/helpers/StringHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix portrait/landscape translation
  src/templates/_special/image_editor.twig
Due: none

Release notes
  CHANGELOG-WIP.md
Due: none

Move code to check if focus is inside the sidebar to the close function versus the layer removal listener
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementSelectorModal.js
Due: none

Change "ev" to "event"
  src/web/assets/admintable/dist/js/app.js
  src/web/assets/admintable/dist/js/app.js.map
  src/web/assets/authmethodsetup/dist/css/auth.css.map
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
  src/web/assets/craftsupport/dist/css/CraftSupportWidget.css.map
  src/web/assets/dashboard/dist/css/Dashboard.css.map
  src/web/assets/edittransform/dist/css/transforms.css.map
  src/web/assets/generalsettings/dist/css/rebrand.css.map
  src/web/assets/graphiql/dist/css/graphiql.css.map
  src/web/assets/installer/dist/css/install.css.map
  src/web/assets/money/dist/css/Money.css.map
  src/web/assets/plugins/dist/css/PluginManager.css.map
  src/web/assets/pluginstore/dist/css/app.css.map
  src/web/assets/routes/dist/css/routes.css.map
  src/web/assets/systemmessages/dist/css/system_messages.css.map
  src/web/assets/updates/dist/css/UpdatesUtility.css.map
  src/web/assets/upgrade/dist/css/UpgradeUtility.css.map
  src/web/assets/userpermissions/dist/css/UserPermissions.css.map
  src/web/assets/userphoto/dist/css/UserPhotoInput.css.map
  src/web/assets/utilities/dist/css/utilities.css.map
Due: none

Stop setting validation errors when maintainHierarchy doesn't apply
  CHANGELOG.md
  src/fields/BaseRelationField.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update auth method recovery codes list to use one column on smaller screens
  src/web/assets/authmethodsetup/dist/css/auth.css
  src/web/assets/authmethodsetup/dist/css/auth.css.map
  src/web/assets/authmethodsetup/src/css/auth.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

New translations app.php (French) [ci skip]
  src/translations/fr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Spanish) [ci skip]
  src/translations/es/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Arabic) [ci skip]
  src/translations/ar/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Czech) [ci skip]
  src/translations/cs/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Danish) [ci skip]
  src/translations/da/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German) [ci skip]
  src/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hebrew) [ci skip]
  src/translations/he/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hungarian) [ci skip]
  src/translations/hu/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Italian) [ci skip]
  src/translations/it/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Japanese) [ci skip]
  src/translations/ja/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
