Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

New translations app.php (Hebrew) [ci skip]
  src/translations/he/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hungarian) [ci skip]
  src/translations/hu/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Italian) [ci skip]
  src/translations/it/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Japanese) [ci skip]
  src/translations/ja/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Korean) [ci skip]
  src/translations/ko/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Dutch) [ci skip]
  src/translations/nl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Polish) [ci skip]
  src/translations/pl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Portuguese) [ci skip]
  src/translations/pt/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Russian) [ci skip]
  src/translations/ru/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Slovak) [ci skip]
  src/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Swedish) [ci skip]
  src/translations/sv/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish) [ci skip]
  src/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Ukrainian) [ci skip]
  src/translations/uk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Chinese Simplified) [ci skip]
  src/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Icelandic) [ci skip]
  src/translations/is/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Persian) [ci skip]
  src/translations/fa/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Thai) [ci skip]
  src/translations/th/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom) [ci skip]
  src/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada) [ci skip]
  src/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Norwegian Bokmal) [ci skip]
  src/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland) [ci skip]
  src/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix element index count and getCountForPagination()
  src/Element/Concerns/DisplayedInIndex.php
  src/Element/Queries/ElementQuery.php
  tests/Feature/Element/Queries/ElementQueryTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use getCountForPagination where applicable
  src/Field/Addresses.php
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix #18275, take 2
  CHANGELOG.md
  src/services/Search.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refresh the element index after the queue is completed
  CHANGELOG-WIP.md
  src/elements/actions/ChangeSortOrder.php
  src/elements/actions/Delete.php
  src/elements/actions/Duplicate.php
  src/elements/actions/MoveDown.php
  src/elements/actions/MoveUp.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
  src/web/assets/cp/src/js/BaseElementIndexView.js
  src/web/assets/cp/src/js/CP.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't track initial field values as dirty
  CHANGELOG-WIP.md
  src/base/Element.php
  src/base/ElementInterface.php
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add reset class to legacy templates
  resources/templates/_layouts/base.twig
  yii2-adapter/legacy/web/assets/tailwindreset/dist/css/tailwind_reset.css
  yii2-adapter/legacy/web/assets/tailwindreset/dist/css/tailwind_reset.css.map
  yii2-adapter/legacy/web/assets/tailwindreset/dist/tailwind_reset.js
  yii2-adapter/legacy/web/assets/tailwindreset/dist/tailwind_reset.js.map
  yii2-adapter/legacy/web/assets/tailwindreset/src/tailwind_reset.css
Due: prettier --ignore-unknown --write

Blocklist rather than allowlist for create()
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  src/base/ApplicationTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert to the previous general $withDisabled logic
  CHANGELOG.md
  src/services/Sites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Refactor site settings because I added too many modals..."
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/SettingsSitesIndex.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/useInputGenerator.js
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

Use form as pane, close modal on @close emit
  resources/js/components/ModalFormNew.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Build
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/SettingsSitesIndex.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/useInputGenerator.js
Due: prettier --ignore-unknown --write

Move modalActive.value = close back to where it was before
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/SettingsSitesIndex.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/useInputGenerator.js
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

Revert unused changes ;
  resources/build/SettingsSitesIndex.js
  resources/build/assets/SettingsSitesIndex.css
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

GC should be silent by default
  src/GarbageCollection/Actions/GarbageCollectionAction.php
  src/GarbageCollection/Commands/RunCommand.php
  src/GarbageCollection/GarbageCollection.php
  tests/Feature/GarbageCollection/Commands/RunCommandTest.php
  tests/Feature/GarbageCollection/GarbageCollectionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace pagination instances with Laravel paginator
  resources/js/pages/SettingsSectionsIndexPage.vue
  src/Config/GeneralConfig.php
  src/Entry/EntryTypes.php
  src/Field/Fields.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/Controllers/Settings/SectionsController.php
  src/Http/Mixins/RequestMixin.php
  src/Section/Sections.php
  src/Support/Template.php
  src/Twig/Variables/Paginate.php
  src/View/TemplateCaches.php
  tests/Feature/Entry/EntryTypesTest.php
  tests/Feature/Field/FieldsTest.php
  tests/Feature/Section/SectionsTest.php
  tests/Feature/Twig/Tags/PaginateTagTest.php
  tests/Unit/Config/GeneralConfigTest.php
  tests/Unit/Http/RequestMixinTest.php
  tests/Unit/View/TemplateCachesTest.php
  yii2-adapter/legacy/db/Paginator.php
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/helpers/AdminTable.php
  yii2-adapter/legacy/helpers/Template.php
  yii2-adapter/legacy/web/Request.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/src/js/Craft.js
  yii2-adapter/tests/unit/db/PaginatorTest.php
  yii2-adapter/tests/unit/helpers/AdminTableHelperTest.php
  yii2-adapter/tests/unit/web/RequestTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Facades workflow to automatically pick up new Facades
  .github/workflows/facades.yml
Due: none

Update facade docblocks
  src/Support/Facades/HtmlSanitizers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
