Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Changelog
  CHANGELOG-WIP.md
Due: none

Add test
  cms/tests/Support/ApiTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  cms/src/Support/Api.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix-cs
  src/console/controllers/SetupController.php
  src/helpers/Api.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Color
  cms/src/Support/Enums/Color.php
  cms/tests/Support/Enums/ColorTest.php
  src/base/Colorable.php
  src/base/Element.php
  src/base/Indicative.php
  src/controllers/EntryTypesController.php
  src/elements/Entry.php
  src/elements/NestedElementManager.php
  src/elements/User.php
  src/fields/Lightswitch.php
  src/helpers/Cp.php
  src/models/EntryType.php
  tests/unit/enums/ColorEnumTest.php
  yii2-adapter/legacy/enums/Color.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move AttributeStatus
  cms/src/Element/Enums/AttributeStatus.php
  src/base/Element.php
  src/base/ElementInterface.php
  src/base/Field.php
  src/base/FieldInterface.php
  src/enums/AttributeStatus.php
  src/fields/Dropdown.php
  src/helpers/Cp.php
  yii2-adapter/legacy/enums/AttributeStatus.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ElementIndexViewMode
  cms/src/Field/Enums/ElementIndexViewMode.php
  src/base/Statusable.php
  src/fields/Addresses.php
  src/fields/Matrix.php
  yii2-adapter/legacy/enums/ElementIndexViewMode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move LicenseKeyStatus
  cms/src/Migrations/Install.php
  cms/src/Support/Enums/LicenseKeyStatus.php
  cms/src/Utility/Utilities.php
  cms/src/Utility/Utilities/SystemMessages.php
  cms/tests/Support/StrTest.php
  src/controllers/AppController.php
  src/helpers/Api.php
  src/helpers/App.php
  src/services/Plugins.php
  tests/unit/helpers/StringHelperTest.php
  yii2-adapter/legacy/enums/LicenseKeyStatus.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move MenuItemType
  cms/src/Element/Enums/MenuItemType.php
  src/controllers/ElementsController.php
  src/elements/Asset.php
  src/elements/User.php
  src/helpers/Cp.php
  yii2-adapter/legacy/enums/MenuItemType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move PropagationMethod
  cms/src/Element/Enums/PropagationMethod.php
  cms/src/Migrations/Install.php
  src/controllers/EntriesController.php
  src/controllers/SectionsController.php
  src/elements/Entry.php
  src/elements/NestedElementManager.php
  src/elements/User.php
  src/fields/ContentBlock.php
  src/fields/Matrix.php
  src/migrations/m250522_090843_add_deleteEntriesForSite_and_deletePeerEntriesForSite_permissions.php
  src/models/Section.php
  src/services/Entries.php
  src/services/UserPermissions.php
  tests/unit/gql/PrepareQueryTest.php
  yii2-adapter/legacy/enums/PropagationMethod.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move TimePeriod
  cms/src/Support/Enums/TimePeriod.php
  src/base/conditions/BaseDateRangeConditionRule.php
  src/helpers/Assets.php
  yii2-adapter/legacy/enums/TimePeriod.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
  src/base/FieldInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix check on Color enum in twig
  src/templates/_elements/toolbar.twig
  src/templates/_includes/disclosuremenu.twig
  src/templates/_includes/forms/customSelect.twig
Due: none

Code style
  cms/src/Http/Controllers/Dashboard/Widgets/CraftSupportController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

InvalidArgumentException
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

don't lazy eager load nested cards
  src/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  cms/src/Http/Middleware/SendPoweredByHeader.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add optimization to preload Twig templates (#86)
  cms/src/Console/Commands/TwigCacheCommand.php
  cms/src/Console/Commands/TwigClearCommand.php
  cms/src/Console/ConsoleServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog for Twig commands
  CHANGELOG-WIP.md
Due: none

Add Http facade
  cms/src/Http/Controllers/Dashboard/Widgets/CraftSupportController.php
  cms/src/Support/Api.php
  cms/src/Support/Facades/Http.php
  cms/tests/ArchTest.php
  cms/tests/TestCase.php
  src/Craft.php
  src/controllers/AppController.php
  src/controllers/EntriesController.php
  src/gql/resolvers/mutations/Asset.php
  src/services/Webpack.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pint
  cms/src/Migrations/Install.php
  cms/src/Utility/Utilities.php
  cms/tests/Dashboard/Widgets/NewUsersTest.php
  cms/tests/Integration/PagesTest.php
  cms/tests/Utility/UtilitiesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix-cs
  cms/tests/TestCase.php
  src/console/ControllerTrait.php
  src/helpers/Sequence.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update button group to use aria-describedby instead of overriding aria-label; add ariaDescribedBy property to createButton config
  src/templates/_components/fieldtypes/Matrix/create-button.twig
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/NestedElementManager.js
  src/web/assets/cp/src/js/UI.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix most Twig deprecations
  CHANGELOG-WIP.md
  src/web/twig/Extension.php
  src/web/twig/nodes/BaseNode.php
  src/web/twig/nodes/FallbackNameExpression.php
  src/web/twig/nodes/NavNode.php
  src/web/twig/nodevisitors/EventTagAdder.php
  src/web/twig/nodevisitors/Profiler.php
  src/web/twig/tokenparsers/NavTokenParser.php
  src/web/twig/tokenparsers/SwitchTokenParser.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add deprecation
  CHANGELOG-WIP.md
Due: none

Fix test
  cms/tests/Support/ApiTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Twig 3.21 attempt 2
  CHANGELOG-WIP.md
  composer.json
  composer.lock
  src/web/twig/Extension.php
  src/web/twig/nodes/FallbackNameExpression.php
  src/web/twig/nodes/GetAttrNode.php
  src/web/twig/nodevisitors/GetAttrAdjuster.php
  src/web/twig/nodevisitors/SinglePreloader.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

More Twig deprecations
  src/web/twig/nodes/DeprecatedNode.php
  src/web/twig/nodes/NavItem_Node.php
  src/web/twig/nodes/NavNode.php
  src/web/twig/tokenparsers/CacheTokenParser.php
  src/web/twig/tokenparsers/DdTokenParser.php
  src/web/twig/tokenparsers/DeprecatedTokenParser.php
  src/web/twig/tokenparsers/DumpTokenParser.php
  src/web/twig/tokenparsers/ExitTokenParser.php
  src/web/twig/tokenparsers/ExpiresTokenParser.php
  src/web/twig/tokenparsers/HeaderTokenParser.php
  src/web/twig/tokenparsers/HookTokenParser.php
  src/web/twig/tokenparsers/NamespaceTokenParser.php
  src/web/twig/tokenparsers/NavTokenParser.php
  src/web/twig/tokenparsers/PaginateTokenParser.php
  src/web/twig/tokenparsers/RedirectTokenParser.php
  src/web/twig/tokenparsers/RegisterResourceTokenParser.php
  src/web/twig/tokenparsers/RequireAdminTokenParser.php
  src/web/twig/tokenparsers/RequireEditionTokenParser.php
  src/web/twig/tokenparsers/RequireGuestTokenParser.php
  src/web/twig/tokenparsers/RequireLoginTokenParser.php
  src/web/twig/tokenparsers/RequirePermissionTokenParser.php
  src/web/twig/tokenparsers/SwitchTokenParser.php
  src/web/twig/tokenparsers/TagTokenParser.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More Twig deprecations
  src/web/twig/tokenparsers/CacheTokenParser.php
  src/web/twig/tokenparsers/DdTokenParser.php
  src/web/twig/tokenparsers/DeprecatedTokenParser.php
  src/web/twig/tokenparsers/DumpTokenParser.php
  src/web/twig/tokenparsers/ExitTokenParser.php
  src/web/twig/tokenparsers/ExpiresTokenParser.php
  src/web/twig/tokenparsers/HeaderTokenParser.php
  src/web/twig/tokenparsers/HookTokenParser.php
  src/web/twig/tokenparsers/NamespaceTokenParser.php
  src/web/twig/tokenparsers/NavTokenParser.php
  src/web/twig/tokenparsers/PaginateTokenParser.php
  src/web/twig/tokenparsers/RedirectTokenParser.php
  src/web/twig/tokenparsers/RegisterResourceTokenParser.php
  src/web/twig/tokenparsers/RequireAdminTokenParser.php
  src/web/twig/tokenparsers/RequireEditionTokenParser.php
  src/web/twig/tokenparsers/RequireGuestTokenParser.php
  src/web/twig/tokenparsers/RequireLoginTokenParser.php
  src/web/twig/tokenparsers/RequirePermissionTokenParser.php
  src/web/twig/tokenparsers/SwitchTokenParser.php
  src/web/twig/tokenparsers/TagTokenParser.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More Twig deprecations
  src/templates/_includes/forms/color.twig
  src/templates/_includes/permissions.twig
  src/templates/_layouts/components/alerts.twig
Due: none

Fixed PHP deprecation errors
  CHANGELOG.md
  src/controllers/GraphqlController.php
  src/mail/transportadapters/Sendmail.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More Twig deprecations
  src/templates/_components/fieldtypes/Matrix/block.twig
  src/templates/_components/fieldtypes/Matrix/input.twig
  src/templates/_components/fieldtypes/Matrix/settings.twig
  src/templates/_elements/tableview/container.twig
  src/templates/_includes/disclosuremenu.twig
  src/templates/_includes/forms/text.twig
  src/templates/_layouts/components/form-action-menu.twig
Due: none

Make sure only the Json helper is used and not json_encode and json_decode
  cms/src/Dashboard/Widgets/Widget.php
  cms/src/Http/Controllers/Dashboard/WidgetsController.php
  cms/tests/ArchTest.php
  src/addresses/SubdivisionRepository.php
  src/elements/User.php
  src/services/Webpack.php
  yii2-adapter/src/Http/LegacyMiddleware.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Fixed error
  src/templates/_components/fieldtypes/Matrix/create-button.twig
  src/templates/_components/fieldtypes/Matrix/input.twig
Due: none

Drop the `title` attribute search filter for relational fields
  CHANGELOG.md
  src/controllers/ElementSearchController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a setting to Slideouts for focus trigger delay
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Craft.js
  src/web/assets/cp/src/js/ElementEditorSlideout.js
  src/web/assets/cp/src/js/Slideout.js
Due: none

Output iconHtml with |raw
  CHANGELOG.md
  src/templates/_includes/forms/button.twig
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
