Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Additional plugin methods
  cms/src/Http/Middleware/HandleActionRequest.php
  cms/src/Plugin/Concerns/PluginTrait.php
  cms/src/Plugin/Contracts/PluginInterface.php
  cms/src/Plugin/Models/Plugin.php
  cms/src/Plugin/Plugin.php
  cms/src/Plugin/Plugins.php
  cms/src/Providers/AppServiceProvider.php
  src/base/ApplicationTrait.php
  yii2-adapter/legacy/base/Plugin.php
  yii2-adapter/legacy/base/PluginTrait.php
  yii2-adapter/legacy/base/SavableComponentTrait.php
  yii2-adapter/legacy/records/Plugin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a PluginServiceProvider which plugins can extend
  cms/src/Plugin/Concerns/PluginTrait.php
  cms/src/Plugin/PluginServiceProvider.php
  cms/src/Plugin/Plugins.php
  cms/tests/Utility/UtilitiesTest.php
  src/templates/_layouts/basecp.twig
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set default version
  cms/src/Plugin/Concerns/PluginTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add default value
  cms/src/Http/Controllers/Plugins/PluginsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix datetime on deprecator
  src/services/Deprecator.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Typos
  cms/src/Plugin/PluginServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

move events and fixtures into playwright folder; remove unused fixtures and generic files
  packages/craftcms-playwright/_fixtures.js
  packages/craftcms-playwright/helpers/generic.js
  packages/craftcms-playwright/index.js
  packages/craftcms-playwright/playwright/_events.js
  packages/craftcms-playwright/playwright/config/_global-setup.js
Due: none

move helpers into playwright folder
  packages/craftcms-playwright/playwright/helpers/entries.js
  tests-playwright/elements/inituielements.test.js
  tests-playwright/matrix/blocks.test.js
  tests-playwright/matrix/cards.test.js
  tests-playwright/matrix/elementindex.test.js
Due: none

Revert using the new TagDependency for query related caches as it doesn't work with Yii's query cache
  cms/src/Http/Controllers/Utilities/ClearCachesController.php
  src/base/Element.php
  src/cache/ElementQueryTagDependency.php
  src/services/Elements.php
  src/services/Entries.php
  src/services/Search.php
  src/services/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix plugin singleton
  cms/src/Plugin/Plugin.php
  cms/tests/Plugin/PluginsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move singleton registration
  cms/src/Plugin/Plugin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Upgrade to Pest v4
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Fix errors in data providers
  yii2-adapter/tests/Legacy/helpers/ArrayHelperTest.php
  yii2-adapter/tests/Legacy/helpers/StringHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix some tests that PHPunit 12 broke
  tests/unit/elements/AssetElementTest.php
  tests/unit/gql/ElementFieldResolverTest.php
  tests/unit/gql/ExtractEagerLoadingParameterTest.php
  tests/unit/helpers/UrlHelperTest.php
  tests/unit/web/UserTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup paths
  cms/src/License/LicenseServiceProvider.php
  cms/src/Plugin/Plugin.php
  cms/src/Plugin/Plugins.php
  cms/src/Support/Composer.php
  cms/src/Utility/Utilities/SystemReport.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move views & translations registration to service provider
  cms/src/Plugin/Plugin.php
  cms/src/Plugin/PluginServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Views & translations could be in multiple locations
  cms/src/Plugin/PluginServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  cms/src/Support/Facades/Announcements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pint
  cms/src/Dashboard/Events/RegisterWidgetTypes.php
  cms/src/Dashboard/Events/WidgetDeleted.php
  cms/src/Dashboard/Events/WidgetDeleting.php
  cms/src/Dashboard/Events/WidgetSaved.php
  cms/src/Dashboard/Events/WidgetSaving.php
  cms/src/Dashboard/Models/Widget.php
  cms/src/Support/Env.php
  cms/src/Support/Facades/Announcements.php
  cms/src/helpers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't run facades on feature branches anymore
  .github/workflows/facades.yml
Due: none

Add web to middleware + fix check on installed plugin
  cms/src/Plugin/PluginServiceProvider.php
  cms/src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

pint
  cms/src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't run when plugin is disabled
  cms/src/Plugin/PluginServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Enhance writeToFile checks
  src/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CS
  src/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
  cms/routes/actions.php
  cms/routes/cp.php
  cms/src/Http/Controllers/PluginsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

setup and entry fixtures
  packages/craftcms-playwright/_craft.js
  packages/craftcms-playwright/index.js
  packages/craftcms-playwright/playwright/config/_global-setup.js
  packages/craftcms-playwright/playwright/config/_global-teardown.js
  packages/craftcms-playwright/playwright/fixtures/entry.js
  packages/craftcms-playwright/playwright/fixtures/setup.js
  tests-playwright/elementindex/sorting.test.js
Due: none

Check for fn exists
  src/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

account for querying by ':empty:', ':notempty:' values
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

':empty:' can be stores as null, empty string or empty array in the db
  src/helpers/Db.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

adjust remaining tests for the various cleanup changes made so far
  tests-playwright/elements/inituielements.test.js
  tests-playwright/matrix/blocks.test.js
  tests-playwright/matrix/cards.test.js
  tests-playwright/matrix/elementindex.test.js
  tests-playwright/navigation/index.test.js
  tests-playwright/pluginstore/plugin-actions.test.js
Due: none

allow to view as structure when status is set
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

unset the sort query param when resetting view state
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

remove the tests results
  test-results/.last-run.json
Due: prettier --ignore-unknown --write

ignore test-results dir
  packages/craftcms-playwright/.gitignore
Due: none

tidy echos
  packages/craftcms-playwright/docker/init-craft.sh
  packages/craftcms-playwright/docker/teardown.sh
Due: none

Move `_craft` logic
  packages/craftcms-playwright/_craft.js
  packages/craftcms-playwright/playwright/fixtures/entry.js
  packages/craftcms-playwright/playwright/fixtures/setup.js
Due: none

Fix German translation: correct 'move' instead of 'delete' for selected items confirmation
  src/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
