Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed GHSA-g48f-wc2q-4rrv
  CHANGELOG.md
  src/controllers/AppController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add selected Boost guidance
  .agents/skills/testing-guidelines/SKILL.md
  .ai/guidelines/craft.md
  AGENTS.md
Due: none

Fixed GHSA-j6r9-fxgv-j7x5
  CHANGELOG.md
  src/fields/ContentBlock.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Low
  CHANGELOG.md
Due: none

Fixed GHSA-wr79-9v6x-5rfq
  CHANGELOG.md
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-qm9x-rmcj-h2rc
  CHANGELOG.md
  src/helpers/ImageTransforms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adapt convention inference for Craft
  .ai/guidelines/craft.md
  AGENTS.md
Due: none

Pass undeclared asset transform parameters through
  docs/asset-transformers.md
  src/Asset/AssetTransformers.php
  tests/Feature/Asset/AssetTransformersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow asset transform drivers to override core rules
  docs/asset-transformers.md
  src/Asset/AssetTransformers.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  tests/Feature/Asset/AssetTransformersTest.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Separate asset transformer selection from transform parameters
  docs/asset-transformers.md
  src/Asset/AssetTransformers.php
  src/Asset/Elements/Asset.php
  src/Gql/GqlHelper.php
  tests/Feature/Asset/AssetTransformersTest.php
  tests/Feature/Image/ImageTransformerTest.php
  yii2-adapter/legacy/elements/Asset.php
  yii2-adapter/tests-laravel/Asset/AssetTransformCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate Asset getUrl transform arguments
  docs/asset-transformers.md
  src/Asset/Data/AssetTransformResult.php
  src/Asset/Elements/Asset.php
  src/Gql/GqlHelper.php
  tests/Feature/Asset/AssetTransformersTest.php
  tests/Feature/SystemMessage/SystemMessagesTest.php
  yii2-adapter/legacy/elements/Asset.php
  yii2-adapter/tests-laravel/Asset/AssetTransformCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refine Asset Transformer specification
  docs/asset-transformers.md
  src/Asset/Data/AssetTransformDriverDefinition.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Honor legacy asset transform defaults
  src/Asset/AssetTransformers.php
  yii2-adapter/src/Asset/LegacyAssetTransformers.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move immediate transform control to Craft driver
  CHANGELOG.md
  docs/asset-transformers.md
  src/Asset/AssetTransformers.php
  src/Asset/Assets.php
  src/Asset/Data/AssetTransformRequest.php
  src/Asset/Elements/Asset.php
  src/Asset/Events/ThumbUrlResolving.php
  src/Config/GeneralConfig.php
  src/Gql/Arguments/Transform.php
  src/Gql/AssetTransformContext.php
  src/Gql/AssetTransformState.php
  src/Gql/Directives/Transform.php
  src/Gql/Events/TransformArgumentsPreparing.php
  src/Gql/GqlHelper.php
  src/Gql/Types/Elements/Asset.php
  src/Http/Controllers/Assets/TransformController.php
  src/Image/CraftAssetTransformDriver.php
  src/SystemMessage/SystemMessageRenderContext.php
  tests/Feature/Asset/AssetTransformersTest.php
  tests/Feature/Asset/AssetsTest.php
  tests/Feature/Gql/AssetTransformsTest.php
  tests/Feature/Http/Controllers/Assets/TransformControllerTest.php
  tests/Feature/Http/Controllers/Settings/AssetTransformersControllerTest.php
  tests/Feature/Image/ImageTransformerTest.php
  tests/Feature/SystemMessage/SystemMessagesTest.php
  tests/Unit/Config/GeneralConfigTest.php
  tests/Unit/Gql/GqlArgumentsTest.php
  yii2-adapter/legacy/config/GeneralConfig.php
  yii2-adapter/legacy/elements/Asset.php
  yii2-adapter/legacy/mail/Mailer.php
  yii2-adapter/legacy/services/ImageTransforms.php
  yii2-adapter/src/Asset/LegacyAssetTransformers.php
  yii2-adapter/src/Asset/LegacyImageTransformerDriver.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Asset/AssetTransformCompatibilityTest.php
  yii2-adapter/tests-laravel/Gql/LegacyGqlCompatibilityTest.php
  yii2-adapter/tests-laravel/Legacy/ConfigCompatibilityTest.php
  yii2-adapter/tests/unit/elements/AssetElementTest.php
  yii2-adapter/tests/unit/gql/DirectiveTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't set properties that can't be set with Typecast
  src/Support/Typecast.php
  tests/Feature/Filesystem/FilesystemsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

changelog
  CHANGELOG.md
Due: none

Allow for vertical resizing of textarea that is compatible with autoresize implemented in Lion
  packages/craftcms-ui/src/components/textarea/textarea.styles.ts
  packages/craftcms-ui/src/components/textarea/textarea.ts
  packages/craftcms-ui/src/types/autosize.d.ts
Due: none

Shorten comments in textarea.ts
  packages/craftcms-ui/src/components/textarea/textarea.ts
Due: none

Handle variable rename
  packages/craftcms-ui/src/styles/form.styles.ts
Due: none

Add separate token for color
  packages/craftcms-ui/src/components/input-color/input-color.styles.ts
  packages/craftcms-ui/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Fix element query configuration
  src/Element/Queries/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Generate Tailwind color utilities from the design tokens
  packages/craftcms-ui/scripts/generate-colors.js
  packages/craftcms-ui/src/stories/tokens/Docs.mdx
  packages/craftcms-ui/tailwind.css
  resources/js/modules/elements/components/ElementContextMenu.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/components/FilterHud.vue
  resources/js/modules/elements/components/RevisionsList.vue
  resources/js/modules/elements/fixtures/elements.ts
  resources/js/modules/forms/HeadingNode.vue
  src/Form/Nodes/Heading.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Limit Tailwind color utilities to the semantic and generic tokens
  packages/craftcms-ui/scripts/generate-colors.js
  packages/craftcms-ui/src/stories/tokens/Docs.mdx
  packages/craftcms-ui/tailwind.css
  resources/js/modules/elements/components/ElementContextMenu.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/components/RevisionsList.vue
  resources/js/modules/elements/fixtures/elements.ts
  resources/js/modules/forms/HeadingNode.vue
  src/Form/Nodes/Heading.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add Tailwind spacing utilities for the spacing scale
  packages/craftcms-ui/package.json
  packages/craftcms-ui/scripts/build.js
  packages/craftcms-ui/scripts/generate-colors.js
  packages/craftcms-ui/scripts/generate-tailwind.js
  packages/craftcms-ui/scripts/utils.js
  packages/craftcms-ui/src/stories/tokens/Docs.mdx
  packages/craftcms-ui/tailwind.css
Due: prettier --ignore-unknown --write

Add activity log backend
  composer.json
  composer.lock
  src/Activity/Activities.php
  src/Activity/ActivityEventRecorder.php
  src/Activity/ActivityEventTypes.php
  src/Activity/AssetActivity.php
  src/Activity/Data/ActivityActor.php
  src/Activity/Data/ActivitySource.php
  src/Activity/Data/ActivitySubject.php
  src/Activity/Data/ElementWriteActivityState.php
  src/Activity/ElementActivity.php
  src/Activity/ElementWriteActivity.php
  src/Activity/EntryActivity.php
  src/Activity/Enums/ActivityActorType.php
  src/Activity/Models/ActivityEvent.php
  src/Activity/StructuralElementActivity.php
  src/Cms.php
  src/Config/GeneralConfig.php
  src/Database/Migrations/2026_08_25_000000_create_activityevents_table.php
  src/Database/Migrations/Install.php
  src/Database/Table.php
  src/Element/Actions/Duplicate.php
  src/Element/Drafts.php
  src/Element/Operations/ElementDeletions.php
  src/Element/Operations/ElementDuplicates.php
  src/Element/Operations/ElementWrites.php
  src/Element/Revisions.php
  src/GarbageCollection/Actions/PurgeExpiredActivity.php
  src/GarbageCollection/GarbageCollection.php
  src/Structure/Structures.php
  src/Support/Facades/Activities.php
  tests/Feature/Activity/ActivitiesTest.php
  tests/Feature/Activity/AssetActivityTest.php
  tests/Feature/Activity/ElementLifecycleActivityTest.php
  tests/Feature/Activity/EntryActivityTest.php
  tests/Feature/Activity/StructuralElementActivityTest.php
  tests/Feature/GarbageCollection/Actions/PurgeExpiredActivityTest.php
  tests/Unit/Config/GeneralConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fall back to email for unnamed activity actors
  src/Activity/Data/ActivityActor.php
  tests/Feature/Activity/ActivitiesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Compare activity JSON without key order
  tests/Feature/Activity/AssetActivityTest.php
  tests/Feature/Activity/EntryActivityTest.php
  tests/Feature/Activity/StructuralElementActivityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Define activity changes with a DTO
  src/Activity/ActivityEventRecorder.php
  src/Activity/ActivityEventType.php
  src/Activity/Contracts/ActivityEventTypeInterface.php
  src/Activity/Data/ActivityChange.php
  src/Activity/EntryActivity.php
  src/Activity/EventTypes/ElementStatusChanged.php
  tests/Feature/Activity/ActivitiesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Return activity changes as DTOs
  src/Activity/Data/ActivityChange.php
  src/Activity/Models/ActivityEvent.php
  tests/Feature/Activity/ActivitiesTest.php
  tests/Feature/Activity/EntryActivityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-j697-8x93-7mp2
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

defer injecting the 2fa form until after _authFormHandlers are loaded
  src/web/assets/cp/src/js/LoginForm.js
Due: none

Fixed GHSA-j697-8x93-7mp2 part 2
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

Typo
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reject `[` and `]` characters as well
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix `where` filter
  src/Twig/Extensions/ArrayTwigExtension.php
  tests/Unit/Twig/Extensions/ArrayTwigExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-xmwr-88vw-5ghh
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
