Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Slovak) [ci skip]
  src/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cross-platform TTY detection
  CHANGELOG.md
  src/console/ControllerTrait.php
  src/helpers/App.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Handle IDN URL validation
  src/fields/linktypes/BaseTextLinkType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

EVENT_BEFORE_APPLY_FIELD_SAVE
  CHANGELOG-WIP.md
  src/events/ApplyFieldSaveEvent.php
  src/services/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Sort lines
  CHANGELOG-WIP.md
Due: none

ae57e85182126cde96acb15e06ebe48db64389c6 part 2
  src/events/ApplyFieldSaveEvent.php
  src/services/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use break instead
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

`break 2`
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make it not Matrix-specific
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

Fixed #15883
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

bind expandSiteStatusesBtn to its editor
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditor.js
Due: none

Pull in League URI
  composer.json
  composer.lock
  src/fields/linktypes/BaseTextLinkType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add tests
  tests/unit/fields/linktypes/UrlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

NestedElementQueryTrait
  src/elements/db/AddressQuery.php
  src/elements/db/EntryQuery.php
  src/elements/db/NestedElementQueryTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

NestedElementTrait::saveOwnership()
  src/base/NestedElementTrait.php
  src/elements/Address.php
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG-WIP.md
Due: none

Fixed a privilege escalation vulnerability
  CHANGELOG.md
  src/controllers/AppController.php
  src/controllers/AssetIndexesController.php
  src/controllers/ProjectConfigController.php
  src/controllers/QueueController.php
  src/controllers/SystemMessagesController.php
  src/controllers/UtilitiesController.php
  src/helpers/Cp.php
  src/services/Utilities.php
  src/web/assets/cp/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

UtilityAccess filter
  CHANGELOG-WIP.md
  src/controllers/AppController.php
  src/controllers/AssetIndexesController.php
  src/controllers/ProjectConfigController.php
  src/controllers/QueueController.php
  src/controllers/SystemMessagesController.php
  src/controllers/UtilitiesController.php
  src/filters/UtilityAccess.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed `@since`
  src/helpers/Session.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

composer update
  composer.lock
Due: none

Copy docblocks
  src/helpers/Session.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

Fixed #15890
  CHANGELOG.md
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed changelog
  CHANGELOG.md
Due: none

Finish 4.12.7
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.4.8
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace composer.json ourselves
  .github/workflows/create-release.yml
Due: none

take 2
  .github/workflows/create-release.yml
Due: none

Better
  .github/workflows/create-release.yml
Due: none

Unneeded
  .github/workflows/create-release.yml
Due: none

editing nested elements when owner is new for site (still provisional draft)
  src/base/Element.php
  src/controllers/ElementsController.php
  src/elements/Entry.php
  src/helpers/Cp.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditorSlideout.js
  src/web/assets/cp/src/js/NestedElementManager.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

we need the fieldId too
  src/base/Element.php
  src/controllers/ElementsController.php
  src/helpers/Cp.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditorSlideout.js
  src/web/assets/cp/src/js/NestedElementManager.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
