Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Ukrainian)
  src/translations/uk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Chinese Simplified)
  src/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Icelandic)
  src/translations/is/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Thai)
  src/translations/th/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom)
  src/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada)
  src/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland)
  src/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 6.0.0-alpha.2
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove double cpTrigger prefix from returnUrl
  src/Http/Controllers/Updates/UpdaterController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix signature on test class
  tests/TestClasses/TestPlugin/Tests/FakeMigrator.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adjust redirect
  src/Http/Controllers/Updates/UpdaterController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Switch up token names again
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/components/switch-button/switch-button.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/js/components/DevModeIndicator.vue
Due: prettier --ignore-unknown --write

Don't double-prepend the cpTrigger
  src/Support/Url.php
  tests/Feature/Http/Controllers/Updates/UpdaterControllerTest.php
  tests/Feature/Support/URLTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy redirect responses from exception handlers
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Http/LegacyErrorHandlerCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Converting Login related javascript to web components
  CHANGELOG-WIP.md
  packages/craftcms-cp/src/components/field-group/field-group.ts
  packages/craftcms-cp/src/components/input/input.styles.ts
  packages/craftcms-cp/src/components/input/input.ts
  packages/craftcms-cp/src/components/login-form/login-challenge.ts
  packages/craftcms-cp/src/components/login-form/login-form.styles.ts
  packages/craftcms-cp/src/components/login-form/login-form.ts
  packages/craftcms-cp/src/components/login-form/login-reset-password.ts
  packages/craftcms-cp/src/components/login-form/recovery-code-form.ts
  packages/craftcms-cp/src/components/login-form/totp-form.ts
  packages/craftcms-cp/src/components/pane/pane.ts
  packages/craftcms-cp/src/components/spinner/spinner.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  packages/craftcms-cp/src/styles/shared/variables.css
  packages/craftcms-legacy/cp/src/js/CraftSpinner.js
  packages/craftcms-legacy/recoverycodes/src/RecoveryCodeForm.js
  packages/craftcms-legacy/recoverycodes/webpack.config.js
  packages/craftcms-legacy/totp/src/TotpForm.js
  packages/craftcms-legacy/totp/webpack.config.js
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
  resources/templates/_special/login.twig
  resources/templates/login.twig
  src/Auth/Methods/RecoveryCodes.php
  src/Auth/Methods/TOTP.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Visually hidden WC styles
  packages/craftcms-cp/src/styles/visually-hidden.styles.ts
Due: none

Add configurable compiled templates path
  src/Config/GeneralConfig.php
  src/Support/Path.php
  tests/Feature/Support/PathTest.php
  tests/Unit/Config/GeneralConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ignore missing transaction during plugin uninstall
  src/Plugin/Plugins.php
  tests/Feature/Plugin/PluginsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove dangling spinner reference
  packages/craftcms-cp/src/components/login-form/login-challenge.ts
  packages/craftcms-cp/src/components/login-form/login-form.ts
  packages/craftcms-cp/src/components/login-form/recovery-code-form.ts
  packages/craftcms-cp/src/components/login-form/totp-form.ts
  packages/craftcms-legacy/cp/src/Craft.js
Due: none

Update ElevatedSessionManager.js to use new events
  packages/craftcms-legacy/cp/src/js/ElevatedSessionManager.js
Due: none

Cleanup
  packages/craftcms-cp/src/components/login-form/login-challenge.ts
  packages/craftcms-cp/src/components/login-form/login-form.ts
  packages/craftcms-cp/src/components/login-form/recovery-code-form.ts
Due: none

Update AuthManager for new form
  packages/craftcms-legacy/cp/src/js/AuthManager.js
  packages/craftcms-legacy/cp/src/js/LoginForm.js
Due: none

Rebuild
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
Due: none

Make sure recovery codes work
  packages/craftcms-cp/src/components/login-form/login-challenge.ts
  packages/craftcms-cp/src/components/login-form/login-form.ts
  resources/js/pages/LoginPage.vue
  routes/actions.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove old two factor asset bundle and JS
  resources/legacy/recoverycodes/dist/recoverycodes.js
  resources/legacy/recoverycodes/dist/recoverycodes.js.map
  resources/legacy/totp/dist/totp.js
  resources/legacy/totp/dist/totp.js.map
  src/View/LegacyAssets/RecoveryCodesAsset.php
  src/View/LegacyAssets/TotpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Release note
  CHANGELOG-WIP.md
  CHANGELOG.md
  src/Config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  packages/craftcms-cp/src/components/login-form/login-challenge.ts
  packages/craftcms-cp/src/components/login-form/login-form.styles.ts
  packages/craftcms-cp/src/components/login-form/login-form.ts
  packages/craftcms-cp/src/components/login-form/recovery-code-form.ts
  packages/craftcms-cp/src/components/login-form/totp-form.ts
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix queue polling: add backoff for no-displayable-job state and guard error retries
  packages/craftcms-cp/src/services/Queue.ts
Due: none

Improve check for running jobs
  packages/craftcms-cp/src/services/Queue.ts
Due: none

Changelog
  CHANGELOG.md
Due: none

Moves vite config into AppServiceProvider
  src/Providers/AppServiceProvider.php
  src/Twig/Extensions/CpExtension.php
  src/helpers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Bring back the clones
  src/Twig/Extensions/CpExtension.php
  src/helpers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

remove unfinished comment
  src/web/assets/cp/src/js/BaseElementSelectInput.js
Due: none

adjust field normalization for propagation method "none"
  src/fields/Link.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

fix(entry): correct postDate default logic (#bugfix)
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
