Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Finish 4.18.8
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update `@since` tags
  src/helpers/ElementHelper.php
  src/services/Config.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Merge the changelogs
  CHANGELOG-5.11.md
  CHANGELOG.md
Due: none

Fixed test
  tests/unit/helpers/GqlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Consolidate GqlHelperTest fixtures on the `everyone` group name
  tests/unit/helpers/GqlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.11.0
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix missing import
  src/Twig/Extensions/CoreTwigExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

composer update
  composer.lock
Due: none

rector
  src/Asset/Exceptions/UploadFailedException.php
  src/Database/Commands/RestoreCommand.php
  src/Database/Exceptions/MigrateException.php
  src/Element/Actions/Restore.php
  src/Element/Concerns/HasCanonical.php
  src/Entry/Actions/NewChild.php
  src/Entry/Actions/NewSiblingAfter.php
  src/Entry/Actions/NewSiblingBefore.php
  src/Plugin/Exceptions/InvalidPluginException.php
  src/Search/SearchQuery.php
  src/Support/Config.php
  tests/Feature/Element/Actions/SetStatusActionTest.php
  tests/Feature/Element/Queries/ElementQueryTest.php
  tests/Feature/Http/Controllers/Assets/ActionControllerTest.php
  tests/Feature/Http/Controllers/Assets/FolderControllerTest.php
  tests/Feature/Http/Controllers/Elements/DeleteElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/CreateEntryControllerTest.php
  tests/Feature/Http/Controllers/Entries/ReassignEntriesModalControllerTest.php
  tests/Feature/Http/Controllers/User/ActivateControllerTest.php
  tests/Feature/Http/Controllers/User/PasswordControllerTest.php
  tests/Feature/Http/Controllers/User/SaveUserController/RegistrationTest.php
  tests/Feature/Http/Controllers/User/SaveUserController/UserEditTest.php
  tests/Feature/Http/Controllers/Utilities/AssetIndexesControllerTest.php
  tests/Feature/Http/RespondsWithFlashTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests
  src/Element/ElementExporters.php
  src/Http/Controllers/Dashboard/Widgets/CraftSupportController.php
  src/Http/Controllers/Utilities/ProjectConfigController.php
  src/ProjectConfig/Commands/ExportCommand.php
  src/ProjectConfig/Commands/GetCommand.php
  src/ProjectConfig/Commands/SetCommand.php
  src/ProjectConfig/ProjectConfig.php
  src/User/Users.php
  src/Utility/Utilities/ProjectConfig.php
  tests/Unit/Twig/Extensions/ArrayTwigExtensionTest.php
  tests/_data/diff/expected.diff
  yii2-adapter/legacy/web/YamlResponseFormatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests x2
  rector.php
  tests/Feature/Field/MarkdownFieldTest.php
  tests/Unit/Twig/Extensions/ArrayTwigExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests x3
  src/Dashboard/CustomWidgets.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 6.0.0-alpha.18
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore filesystem URL validation behavior
  src/Filesystem/Filesystems/Filesystem.php
  src/Support/Env.php
  tests/Feature/Support/EnvTest.php
  tests/Unit/Filesystem/FilesystemValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document filesystem URL validation fixes
  CHANGELOG.md
Due: none

simplify passkey verification for single and double base64 encoded user handles
  src/auth/passkeys/CredentialRepository.php
  src/elements/User.php
  src/services/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

when getting importable props, walk up the classes tree
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

validation scenario for element importer
  src/Element/Concerns/HasStatuses.php
  src/Import/Importers/ElementImporter.php
  tests/Feature/Import/ImportAddressFieldTest.php
  tests/Feature/Import/ImportClearableItemsTest.php
  tests/Feature/Import/ImportContentBlockFieldTest.php
  tests/Feature/Import/ImportCustomFieldsTest.php
  tests/Feature/Import/ImportEntryTest.php
  tests/Feature/Import/ImportMatrixFieldTest.php
  tests/Feature/Import/ImportNestedContentTest.php
  tests/Feature/Import/ImportRelationFieldsTest.php
  tests/Feature/Import/ImportSkipsUnchangedElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

importable contract is now a concern
  src/Component/Concerns/Importable.php
  src/Component/Contracts/Importable.php
  src/Element/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow anonymous import into entry's authors
  src/Entry/Elements/Entry.php
  tests/Feature/Import/ImportEntryTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

let's have both - interface and trait
  src/Component/Concerns/Importable.php
  src/Component/Contracts/ImportableInterface.php
  src/Element/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

doh
  src/Support/Facades/ImportRun.php
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Revert #19468
  CHANGELOG.md
  src/base/NestedElementTrait.php
  src/elements/Asset.php
  src/elements/Entry.php
  src/elements/User.php
  tests/unit/elements/AddressElementTest.php
  tests/unit/elements/AssetElementTest.php
  tests/unit/elements/EagerLoadedElementConsistencyTest.php
  tests/unit/elements/EntryElementTest.php
  tests/unit/elements/UserElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

symfony/filesystem v7 and v8 support
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Finish 5.11.1
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Switch the frontend toolchain from npm to pnpm
  .gitattributes
  .github/workflows/js-ci.yml
  .github/workflows/storybook.yml
  .github/workflows/sync-cms-assets.yml
  .npmrc
  AGENTS.md
  CONTRIBUTING.md
  package-lock.json
  package.json
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/contributing.md
  packages/craftcms-garnish/package.json
  packages/craftcms-graphiql/package.json
  packages/craftcms-legacy/package.json
  packages/craftcms-playwright/package-lock.json
  packages/craftcms-playwright/package.json
  packages/craftcms-ui/README.md
  packages/craftcms-ui/package.json
  packages/craftcms-ui/scripts/build.js
  packages/craftcms-ui/src/components/field/field.ts
  packages/craftcms-ui/src/components/popover/popover.ts
  packages/craftcms-webpack/index.js
  packages/craftcms-webpack/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  resources/js/modules/README.md
  resources/js/modules/element-selector-modal/README.md
  scripts/ensure-built.mjs
Due: prettier --ignore-unknown --write

Collapse the duplicated attribute and light-DOM plumbing
  packages/craftcms-ui/src/components/callout/callout.styles.ts
  packages/craftcms-ui/src/components/callout/callout.test.ts
  packages/craftcms-ui/src/components/card/card.ts
  packages/craftcms-ui/src/components/checkbox-group/checkbox-group.ts
  packages/craftcms-ui/src/components/chip/chip.ts
  packages/craftcms-ui/src/components/input-date-time/input-date-time.ts
  packages/craftcms-ui/src/components/input-money/input-money.ts
  packages/craftcms-ui/src/components/input-time/input-time.ts
  packages/craftcms-ui/src/components/pane/pane.ts
  packages/craftcms-ui/src/components/radio-group/radio-group.ts
  packages/craftcms-ui/src/components/thumbnail/Thumbnail.mdx
  packages/craftcms-ui/src/components/thumbnail/thumbnail.stories.ts
  packages/craftcms-ui/src/components/thumbnail/thumbnail.ts
  packages/craftcms-ui/src/controllers/LightDomController.test.ts
  packages/craftcms-ui/src/controllers/LightDomController.ts
  packages/craftcms-ui/src/index.ts
  packages/craftcms-ui/src/mixins/SsrChoiceGroupMixin.ts
  packages/craftcms-ui/src/utilities/converters.test.ts
  packages/craftcms-ui/src/utilities/converters.ts
  packages/craftcms-ui/vitest.config.ts
Due: none

Guard the manifest against undocumented and placeholder API
  packages/craftcms-ui/custom-elements-manifest.config.mjs
  packages/craftcms-ui/package.json
  packages/craftcms-ui/src/components/combobox/combobox.ts
  packages/craftcms-ui/src/components/disclosure/disclosure.ts
  packages/craftcms-ui/src/components/manifest-coverage.test.ts
  packages/craftcms-ui/src/components/select-color/select-color.ts
Due: prettier --ignore-unknown --write

Declare the build binaries craftcms-legacy and craftcms-graphiql run
  packages/craftcms-graphiql/package.json
  packages/craftcms-legacy/package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

Put shared dependencies behind pnpm catalogs
  package.json
  packages/craftcms-garnish/package.json
  packages/craftcms-graphiql/package.json
  packages/craftcms-legacy/package.json
  packages/craftcms-playwright/package.json
  packages/craftcms-ui/package.json
  packages/craftcms-webpack/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --ignore-unknown --write

Align three naming inconsistencies in the component API
  packages/craftcms-ui/src/components/avatar/avatar.stories.ts
  packages/craftcms-ui/src/components/avatar/avatar.styles.ts
  packages/craftcms-ui/src/components/avatar/avatar.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.stories.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.styles.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.test.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.ts
  packages/craftcms-ui/src/components/spinner/spinner.ts
  packages/craftcms-ui/src/components/status/status.ts
  resources/js/modules/field-layout-designer/element.ts
Due: none

Quarantine newly published dependency versions for 7 days
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Let craft-pane's title choose its heading level
  packages/craftcms-ui/src/components/manifest-coverage.test.ts
  packages/craftcms-ui/src/components/pane/Pane.mdx
  packages/craftcms-ui/src/components/pane/heading-level.test.ts
  packages/craftcms-ui/src/components/pane/pane.ts
Due: none

Correct craft-chip's size docs and stop craft-truncate double-rendering
  packages/craftcms-ui/src/components/chip/Chip.mdx
  packages/craftcms-ui/src/components/chip/chip.ts
  packages/craftcms-ui/src/components/truncate/truncate.ts
Due: none

Give the docs site a front door
  packages/craftcms-ui/.storybook/preview.ts
  packages/craftcms-ui/src/components/action-menu/ActionMenu.mdx
  packages/craftcms-ui/src/components/copy-attribute/CopyAttribute.mdx
  packages/craftcms-ui/src/components/copy-button/copy-button.stories.ts
  packages/craftcms-ui/src/components/dialog/Dialog.mdx
  packages/craftcms-ui/src/components/disclosure/disclosure.stories.ts
  packages/craftcms-ui/src/components/docs-references.test.ts
  packages/craftcms-ui/src/components/popover/popover.stories.ts
  packages/craftcms-ui/src/components/text-expander/text-expander.stories.ts
  packages/craftcms-ui/src/stories/getting-started/Installation.mdx
  packages/craftcms-ui/src/stories/getting-started/Introduction.mdx
  packages/craftcms-ui/src/stories/getting-started/Theming.mdx
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
