Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Move Passkey related methods to Passkeys service
  CHANGELOG-WIP.md
  src/Auth/Models/WebAuthn.php
  src/Auth/Passkeys/CredentialRepository.php
  src/Auth/Passkeys/Passkeys.php
  src/Auth/Passkeys/WebauthnServer.php
  src/Http/Controllers/Users/PasskeysController.php
  src/User/Elements/User.php
  yii2-adapter/legacy/auth/passkeys/CredentialRepository.php
  yii2-adapter/legacy/auth/passkeys/WebauthnServer.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

UserFactory & test improvements
  database/Factories/UserFactory.php
  tests/Database/Queries/Concerns/Entry/QueriesAuthorsTest.php
  tests/Database/Queries/Concerns/User/QueriesUserPropertiesTest.php
  tests/Database/Queries/UserQueryTest.php
  tests/EditionTest.php
  tests/Http/Controllers/User/PermissionsControllerTest.php
  tests/License/LicenseTest.php
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Test for Passkeys service
  database/Factories/WebAuthnFactory.php
  src/Auth/Models/WebAuthn.php
  tests/Auth/PasskeysTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unused property
  yii2-adapter/legacy/services/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Test fixes
  src/User/Models/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move remembered username to Auth service
  resources/templates/_special/login.twig
  src/Auth/Auth.php
  src/Auth/AuthServiceProvider.php
  src/Auth/RememberedUsername.php
  src/Http/Controllers/Auth/SetPasswordController.php
  src/Http/Controllers/Auth/VerifyEmailController.php
  src/Http/Controllers/Users/SaveUserController.php
  tests/Auth/Auth/RememberedUsernameTest.php
  tests/Auth/RememberedUsernameTest.php
  yii2-adapter/legacy/helpers/App.php
  yii2-adapter/legacy/web/User.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/tests/unit/helpers/AppHelperTest.php
  yii2-adapter/tests/unit/web/UserTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  tests/Auth/Auth/AuthSessionTest.php
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  src/Auth/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed error when creating a draft on a multi-site install
  src/services/Drafts.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unnecessary translation
  src/translations/en/app.php
  src/web/assets/matrix/MatrixAsset.php
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
  src/web/assets/matrix/src/MatrixInput.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Bulk actions for Matrix fields in Cards view
  src/elements/NestedElementManager.php
  src/fields/Matrix.php
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/NestedElementManager.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rector
  src/services/Path.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed bad entry validation error
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog typos
  CHANGELOG-WIP.md
Due: none

Be consistent
  CHANGELOG-WIP.md
Due: none

Release notes
  CHANGELOG-WIP.md
Due: none

Fixed an infinite recursion bug with Expanded Singles
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18249
  CHANGELOG.md
  src/imagetransforms/ImageTransformer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add source block to phpunit configuration so coverage works
  phpunit.xml.dist
Due: none

Add additional HTTP tests
  src/Http/Middleware/CheckForUpdates.php
  tests/Http/Middleware/AuthenticateIfLiveTest.php
  tests/Http/Middleware/CheckForUpdatesTest.php
  tests/Http/Middleware/CheckSchemaVersionTest.php
  tests/Http/Middleware/RequireAdminTest.php
  tests/Http/Middleware/RequireCpRequestTest.php
  tests/Http/Middleware/UpdateLocaleTest.php
  tests/Http/RespondsWithFlashTest.php
  yii2-adapter/src/Web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests for StoreEntryController
  tests/Http/Controllers/Entries/StoreEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

→
  src/fieldlayoutelements/CustomField.php
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow nested content block fields to be included in table views
  src/base/Element.php
  src/services/ElementSources.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Support including generated fields in table views
  src/base/Element.php
  src/services/ElementSources.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow sorting by generated fields too
  src/services/ElementSources.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix disabled utilities persisting between tests
  tests/Pest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup legacy csrf validation
  yii2-adapter/src/Web/Request.php
  yii2-adapter/tests/unit/web/RequestTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests instability
  src/Http/Middleware/FlushProjectConfig.php
  src/ProjectConfig/ProjectConfigServiceProvider.php
  src/Route/RouteServiceProvider.php
  tests/Http/Controllers/User/UsersControllerTest.php
  tests/Http/Middleware/CheckForUpdatesTest.php
  tests/TestCase.php
  tests/User/UserGroupsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Not on CI
  .github/workflows/laravel-ci.yml
Due: none

Run tests in parallel
  .github/workflows/laravel-ci.yml
  tests/TestCase.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update changelog
  CHANGELOG-WIP.md
Due: none

Add extra test coverage
  tests/Auth/UserProviderTest.php
  tests/Http/Middleware/Enforce2faTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial password reset port
  composer.json
  src/Auth/AuthServiceProvider.php
  src/Auth/Events/SettingPassword.php
  src/Config/GeneralConfig.php
  src/Database/Migrations/0000_00_00_000006_create_password_reset_tokens_table.php
  src/Database/Migrations/Install.php
  src/Database/Table.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/SetPasswordController.php
  src/Http/Controllers/Auth/VerifyEmailController.php
  src/Notifications/Channels/CraftChannel.php
  src/User/Elements/User.php
  src/User/Notifications/ResetPasswordNotification.php
  src/User/Users.php
  tests/User/PasswordResetTest.php
  tests/User/UsersTest.php
  yii2-adapter/legacy/auth/sso/BaseExternalProvider.php
  yii2-adapter/legacy/helpers/MailerHelper.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/services/Users.php
  yii2-adapter/tests/unit/services/UsersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix APP_KEY not being found in legacy tests
  src/User/Users.php
  yii2-adapter/tests/.env.example.mysql
  yii2-adapter/tests/.env.example.pgsql
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove irrelevant tests
  yii2-adapter/tests/unit/services/UsersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add verification
  CHANGELOG-WIP.md
  src/Http/Controllers/Users/ActivateController.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Http/Controllers/Users/SaveUserController.php
  src/Support/Facades/Users.php
  src/User/Commands/CreateCommand.php
  src/User/Elements/User.php
  src/User/Models/User.php
  src/User/Notifications/VerifyEmailNotification.php
  src/User/Users.php
  tests/User/EmailVerificationTest.php
  tests/User/PasswordResetTest.php
  yii2-adapter/legacy/services/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/User/Elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
