Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Finish 4.17.8
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.9.14
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add more test coverage + fix bugs
  src/Asset/Elements/Asset.php
  src/Image/Data/ImageTransform.php
  src/Image/Data/ImageTransformIndex.php
  src/Image/ImageTransformHelper.php
  src/Image/ImageTransformer.php
  src/Image/ImageTransforms.php
  tests/Feature/Image/ImageTransformerTest.php
  tests/Unit/Image/Data/ImageTransformIndexTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  src/Image/Data/ImageTransform.php
  src/Image/ImageTransformHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port ImageTransformsController
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
  yii2-adapter/legacy/config/cproutes/common.php
  yii2-adapter/legacy/controllers/ImageTransformsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace some usages
  src/Element/Queries/Concerns/Asset/EagerloadsTransforms.php
  src/Image/ImageTransforms.php
  src/Support/Facades/ImageTransforms.php
  yii2-adapter/legacy/elements/db/AssetQuery.php
  yii2-adapter/legacy/services/ImageTransforms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan issues
  src/Asset/Assets.php
  yii2-adapter/legacy/services/ImageTransforms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port over all test cases
  src/Image/ImageTransformHelper.php
  tests/Unit/Image/ImageTransformHelperTest.php
  yii2-adapter/tests/unit/helpers/ImageTransformsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move test coverage to Laravel tests
  tests/Unit/Support/SecurityTest.php
  yii2-adapter/tests/unit/services/SecurityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

???
  tests/Unit/Support/SecurityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Default to true on empty keywords (same behavior as preg_match should be)
  src/Support/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixes
  src/Http/Controllers/Assets/TransformController.php
  src/Image/ImageTransformHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add test coverage
  tests/Feature/Http/Controllers/Assets/TransformControllerTest.php
  tests/Unit/Image/ImageTransformHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial images port
  src/Dashboard/Widgets/CraftSupport.php
  src/Image/Enums/ImageDriver.php
  src/Image/Image.php
  src/Image/ImageTransformHelper.php
  src/Image/ImageTransformer.php
  src/Image/Images.php
  src/Image/Raster.php
  src/Image/Svg.php
  src/Image/SvgAllowedAttributes.php
  src/Support/Facades/Images.php
  src/Support/Html.php
  src/Utility/Utilities/SystemReport.php
  tests/Feature/Image/ImagesTest.php
  tests/Feature/Image/RasterTest.php
  tests/Feature/Image/SvgTest.php
  tests/Unit/Image/ImageTransformHelperTest.php
  tests/_data/assets/files/dirty-svg.svg
  tests/_data/assets/files/empty-file.text
  tests/_data/assets/files/example-gif.gif
  tests/_data/assets/files/google.png
  tests/_data/assets/files/image-rotated-180.jpg
  tests/_data/assets/files/no-dimension-svg.svg
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/base/Image.php
  yii2-adapter/legacy/helpers/Assets.php
  yii2-adapter/legacy/helpers/Image.php
  yii2-adapter/legacy/image/Raster.php
  yii2-adapter/legacy/image/Svg.php
  yii2-adapter/legacy/image/SvgAllowedAttributes.php
  yii2-adapter/legacy/services/Images.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/tests/_data/assets/files/no-svg.svg
  yii2-adapter/tests/unit/helpers/ImageHelperTest.php
  yii2-adapter/tests/unit/services/ImageTransformsTest.php
  yii2-adapter/tests/unit/services/images/.gitignore
  yii2-adapter/tests/unit/services/images/ImagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port ImageHelper
  src/Asset/AssetIndexer.php
  src/Asset/Assets.php
  src/Asset/Elements/Asset.php
  src/Cp/Rebrand.php
  src/Http/Controllers/Users/SaveUserController.php
  src/Image/Enums/ExifOrientation.php
  src/Image/Image.php
  src/Image/ImageHelper.php
  src/Image/ImageTransformHelper.php
  src/Image/ImageTransformer.php
  src/Image/Images.php
  src/Image/Raster.php
  src/Image/Svg.php
  src/Twig/Variables/Image.php
  src/User/Users.php
  tests/Feature/Image/ImageHelperTest.php
  tests/_data/assets/files/background.jpeg
  tests/_data/assets/files/background.jpg
  tests/_data/assets/files/broken-gif-signature.gif
  tests/_data/assets/files/broken-jpg-structure.jpg
  tests/_data/assets/files/broken-png-signature.png
  tests/_data/assets/files/gng.svg
  tests/_data/assets/files/ign.jpg
  tests/_data/assets/files/invalid-ihdr.png
  tests/_data/assets/files/no-ihdr.png
  tests/_data/assets/files/random.tif
  tests/_data/assets/files/random.tiff
  yii2-adapter/legacy/helpers/Image.php
  yii2-adapter/legacy/helpers/ImageTransforms.php
  yii2-adapter/tests/_data/assets/files/google.png
  yii2-adapter/tests/_data/assets/files/no-dimension-svg.svg
  yii2-adapter/tests/unit/helpers/ImageHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix docblock
  yii2-adapter/legacy/helpers/ImageTransforms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

redirect to referral URL on element save again + adjustment
  src/controllers/ElementsController.php
  src/helpers/UrlHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

cleanup
  src/helpers/UrlHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial port of section settings and create over to Inertia
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  packages/craftcms-cp/src/components/chip/chip.ts
  packages/craftcms-cp/src/components/input/input.styles.ts
  packages/craftcms-cp/src/components/input/input.ts
  packages/craftcms-cp/src/components/switch-button/switch-button.ts
  packages/craftcms-cp/src/components/switch/switch.stories.ts
  packages/craftcms-cp/src/components/switch/switch.styles.ts
  packages/craftcms-cp/src/components/switch/switch.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/ActionMenu.vue
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/DeleteButton.vue
  resources/js/components/form/EntryTypeSelect.vue
  resources/js/components/sections/PreviewTargetsTable.vue
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/composables/useEditableTable.ts
  resources/js/composables/useReorderableRows.ts
  resources/js/pages/SettingsSectionsEditPage.vue
  resources/js/pages/SettingsSitesIndex.vue
  resources/js/types/globals.d.ts
  resources/js/types/index.ts
  src/Http/Controllers/Settings/SectionsController.php
  src/Http/Responses/CpScreenResponse.php
  tests/Feature/Http/Controllers/Settings/SectionsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix types
  resources/js/composables/useEditableTable.ts
Due: none

Cleanup
  resources/js/pages/SettingsSectionsEditPage.vue
Due: none

Cleanup imports
  packages/craftcms-cp/package.json
  resources/js/Craft.d.ts
  resources/js/bootstrap/cp.ts
  resources/js/components/ActionMenu.vue
  resources/js/components/CpQueueIndicator.ts
  resources/js/components/form/CheckboxGroup.vue
  resources/js/components/utilities/AssetIndexes/AssetIndexes.vue
  resources/js/components/utilities/AssetIndexes/IndexingSessions.vue
  resources/js/components/utilities/AssetIndexes/ReviewSessionModal.vue
  resources/js/components/utilities/QueueManager/QueueManager.vue
  resources/js/components/utilities/QueueManager/QueueManagerIndex.vue
  resources/js/components/utilities/QueueManager/QueueManagerShow.vue
  resources/js/components/utilities/QueueManager/QueueManagerToolbar.vue
  resources/js/components/utilities/QueueManager/ReleaseJobButton.vue
  resources/js/components/utilities/QueueManager/RetryJobButton.vue
  resources/js/composables/useAssetIndexer.ts
  resources/js/composables/useFetch.ts
  resources/js/types/keys.ts
Due: prettier --ignore-unknown --write

Add vue wrapper generation to build script
  packages/craftcms-cp/scripts/build.js
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
Due: none

More flexible model type for inputs
  packages/craftcms-cp/scripts/build.js
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
Due: none

Unused import
  src/services/Images.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add inputGenerator
  resources/js/composables/useInputGenerator.ts
  resources/js/pages/SettingsSectionsEditPage.vue
Due: none

Replace watcher with `useInputGenerator`
  resources/js/components/sites/SiteFields.vue
Due: none

Improve input generator
  packages/craftcms-cp/src/utilities/string.test.ts
  packages/craftcms-cp/src/utilities/string.ts
  resources/js/components/sites/SiteFields.vue
  resources/js/composables/useInputGenerator.ts
  resources/js/pages/SettingsSectionsEditPage.vue
Due: none

Add disabled logic for fields
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/composables/useEditableTable.ts
  resources/js/pages/SettingsSectionsEditPage.vue
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove need for name and aria-labelledby attributes
  resources/js/components/sections/PreviewTargetsTable.vue
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/composables/useEditableTable.ts
Due: none

Split cells into separate methods
  resources/js/components/sections/PreviewTargetsTable.vue
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/composables/useEditableTable.ts
Due: none

if address doesn't have a title; use "untitled address" wording
  src/elements/Address.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve entry type selector
  packages/craftcms-cp/src/components/action-item/action-item.stories.ts
  packages/craftcms-cp/src/components/action-item/action-item.styles.ts
  packages/craftcms-cp/src/components/action-item/action-item.ts
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  packages/craftcms-cp/src/components/chip/chip.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  resources/js/components/form/EntryTypeSelect.vue
  resources/js/pages/SettingsSectionsEditPage.vue
  resources/js/types/index.ts
Due: none

Add message to `RespondsWithFlash`
  src/Http/Controllers/Settings/SectionsController.php
  src/Http/RespondsWithFlash.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix types and cleanup input a bit
  packages/craftcms-cp/src/components/input/input.stories.ts
  packages/craftcms-cp/src/components/input/input.styles.ts
  packages/craftcms-cp/src/components/input/input.ts
  packages/craftcms-cp/src/styles/form.styles.ts
Due: none

`size` -> `maxlength`
  resources/js/components/AdminTable/AdminTable.vue
Due: none

Explicitly pass `onClick`
  resources/js/components/ActionMenu.vue
Due: none

Fix typescript error
  resources/js/pages/SettingsSectionsEditPage.vue
Due: none

Use CraftSelect
  resources/js/components/form/Select.vue
Due: none

Table header/footer spacing
  packages/craftcms-cp/src/styles/shared/base.css
Due: prettier --ignore-unknown --write

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
