Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Thai)
  resources/translations/th/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom)
  resources/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada)
  resources/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Norwegian Bokmal)
  resources/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland)
  resources/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French)
  resources/translations/fr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Group the form controls under Form Controls
  packages/craftcms-ui/src/components/button/Docs.mdx
  packages/craftcms-ui/src/components/callout/callout.styles.ts
  packages/craftcms-ui/src/components/checkbox-group/checkbox-group.stories.ts
  packages/craftcms-ui/src/components/checkbox-indeterminate/checkbox-indeterminate.stories.ts
  packages/craftcms-ui/src/components/checkbox/checkbox.stories.ts
  packages/craftcms-ui/src/components/combobox/combobox.stories.ts
  packages/craftcms-ui/src/components/docs-references.test.ts
  packages/craftcms-ui/src/components/field-group/FieldGroup.mdx
  packages/craftcms-ui/src/components/field-group/field-group.stories.ts
  packages/craftcms-ui/src/components/field/field.stories.ts
  packages/craftcms-ui/src/components/input-color/input-color.stories.ts
  packages/craftcms-ui/src/components/input-copy/InputCopy.mdx
  packages/craftcms-ui/src/components/input-copy/input-copy.stories.ts
  packages/craftcms-ui/src/components/input-date-time/InputDateTime.mdx
  packages/craftcms-ui/src/components/input-date-time/input-date-time.stories.ts
  packages/craftcms-ui/src/components/input-date/InputDate.mdx
  packages/craftcms-ui/src/components/input-date/input-date.stories.ts
  packages/craftcms-ui/src/components/input-file/InputFile.mdx
  packages/craftcms-ui/src/components/input-file/input-file.stories.ts
  packages/craftcms-ui/src/components/input-handle/InputHandle.mdx
  packages/craftcms-ui/src/components/input-handle/input-handle.stories.ts
  packages/craftcms-ui/src/components/input-money/InputMoney.mdx
  packages/craftcms-ui/src/components/input-money/input-money.stories.ts
  packages/craftcms-ui/src/components/input-password/InputPassword.mdx
  packages/craftcms-ui/src/components/input-password/input-password.stories.ts
  packages/craftcms-ui/src/components/input-time/InputTime.mdx
  packages/craftcms-ui/src/components/input-time/input-time.stories.ts
  packages/craftcms-ui/src/components/input/Input.mdx
  packages/craftcms-ui/src/components/input/input.stories.ts
  packages/craftcms-ui/src/components/radio-group/radio-group.stories.ts
  packages/craftcms-ui/src/components/select-color/select-color.stories.ts
  packages/craftcms-ui/src/components/select-rich/select-rich.stories.ts
  packages/craftcms-ui/src/components/select/select.stories.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.stories.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.stories.ts
  packages/craftcms-ui/src/components/switch/switch.stories.ts
  packages/craftcms-ui/src/components/textarea/textarea.stories.ts
Due: none

Document craft-checkbox
  packages/craftcms-ui/src/components/checkbox/Checkbox.mdx
  packages/craftcms-ui/src/components/checkbox/checkbox.ts
Due: none

Document craft-checkbox-group
  packages/craftcms-ui/src/components/checkbox-group/CheckboxGroup.mdx
  packages/craftcms-ui/src/components/checkbox-group/checkbox-group.ts
Due: none

Document craft-checkbox-indeterminate
  packages/craftcms-ui/src/components/checkbox-indeterminate/CheckboxIndeterminate.mdx
  packages/craftcms-ui/src/components/checkbox-indeterminate/checkbox-indeterminate.ts
Due: none

Document craft-radio
  packages/craftcms-ui/src/components/radio/Radio.mdx
  packages/craftcms-ui/src/components/radio/radio.ts
Due: none

Document craft-radio-group
  packages/craftcms-ui/src/components/radio-group/RadioGroup.mdx
  packages/craftcms-ui/src/components/radio-group/radio-group.ts
Due: none

Document craft-switch
  packages/craftcms-ui/src/components/switch/Switch.mdx
  packages/craftcms-ui/src/components/switch/switch.ts
Due: none

Document craft-switch-button
  packages/craftcms-ui/src/components/switch-button/SwitchButton.mdx
  packages/craftcms-ui/src/components/switch-button/switch-button.ts
Due: none

Document craft-select
  packages/craftcms-ui/src/components/select/Select.mdx
  packages/craftcms-ui/src/components/select/select.ts
Due: none

Document craft-select-rich
  packages/craftcms-ui/src/components/select-rich/SelectRich.mdx
Due: none

Document craft-option
  packages/craftcms-ui/src/components/option/Option.mdx
  packages/craftcms-ui/src/components/option/option.ts
Due: none

Document craft-select-color
  packages/craftcms-ui/src/components/select-color/SelectColor.mdx
  packages/craftcms-ui/src/components/select-color/select-color.ts
Due: none

Document craft-combobox
  packages/craftcms-ui/src/components/combobox/Combobox.mdx
Due: none

Document craft-field
  packages/craftcms-ui/src/components/field/Field.mdx
  packages/craftcms-ui/src/components/field/field.ts
Due: none

Document craft-pane
  packages/craftcms-ui/src/components/pane/Pane.mdx
Due: none

Document craft-breadcrumbs
  packages/craftcms-ui/src/components/breadcrumbs/Breadcrumbs.mdx
  packages/craftcms-ui/src/components/breadcrumbs/breadcrumbs.ts
Due: none

Document craft-breadcrumb-item
  packages/craftcms-ui/src/components/breadcrumb-item/BreadcrumbItem.mdx
  packages/craftcms-ui/src/components/breadcrumb-item/breadcrumb-item.ts
Due: none

Document craft-nav-item
  packages/craftcms-ui/src/components/nav-item/NavItem.mdx
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Document craft-tabs
  packages/craftcms-ui/src/components/tabs/Tabs.mdx
Due: none

Document craft-tab
  packages/craftcms-ui/src/components/tab/Tab.mdx
Due: none

Get action items sorted and general cleanup
  resources/js/modules/element-selector-modal/ModalElementIndex.vue
  resources/js/modules/elements/components/DataTable.test.ts
  resources/js/modules/elements/components/DataTable.vue
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/components/ElementChips.vue
  resources/js/modules/elements/components/ElementList.vue
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/modules/forms/ElementSelectControl.test.ts
  resources/js/modules/forms/ElementSelectControl.vue
  src/Asset/Elements/Asset.php
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Enums/ElementActionContext.php
  src/Entry/Elements/Entry.php
  src/Form/Controls/ElementSelect.php
  src/Http/ViewModels/ElementEditViewModel.php
  src/User/Elements/User.php
  tests/Feature/Element/ElementActionContextTest.php
  tests/Feature/Form/ElementSelectControlTest.php
  tests/Unit/Element/ElementActionContextTest.php
  tests/Unit/Form/ElementSelectControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop a provide keyed on the Craft global
  resources/js/bootstrap/cp-app.ts
Due: none

Give craft-chip a working selection and status
  packages/craftcms-ui/src/components/chip/chip.stories.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/chip/chip.test.ts
  packages/craftcms-ui/src/components/chip/chip.ts
Due: none

Assorted UI and garnish fixes
  packages/craftcms-garnish/src/dom-listeners.ts
  packages/craftcms-garnish/tests/menu-btn.test.ts
  packages/craftcms-ui/src/components/badge/badge.styles.ts
  packages/craftcms-ui/src/components/badge/badge.ts
  packages/craftcms-ui/src/components/icon/icon.test.ts
  packages/craftcms-ui/src/constants/size.ts
  packages/craftcms-ui/src/mixins/SsrChoiceInputMixin.ts
  packages/craftcms-ui/src/utilities/dom.ts
Due: none

Update variant for destructive actions
  resources/js/modules/forms/ElementSelectControl.test.ts
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

Don't link elements in selector modals
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Http/Controllers/Elements/ElementSelectorModalControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add an AssetSelect control that can upload
  resources/js/pages/assets/AssetUploadButton.test.ts
  resources/js/pages/assets/AssetUploadButton.vue
  src/Field/Assets.php
  src/Form/Controls/AssetSelect.php
  tests/Unit/Field/AssetsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Let the adapter's frontend test resolve the @/ alias
  tsconfig.json
  yii2-adapter/resources/js/legacy-html-control.test.ts
Due: prettier --ignore-unknown --write

PHPStan fix
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adjust thumbnails a bit
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/thumbnail/thumbnail.styles.ts
Due: none

Fix field errors
  packages/craftcms-ui/src/components/field/field.styles.ts
  resources/js/modules/forms/useInertiaFormRenderer.test.ts
  resources/js/modules/forms/useInertiaFormRenderer.ts
Due: none

Stop the FLD jQuery guard throwing when jQuery is absent
  resources/js/modules/field-layout-designer/field-layout-designer.ts
Due: none

Keep `craft-truncate` from breaking out
  packages/craftcms-ui/src/components/truncate/truncate.styles.ts
Due: none

Add a field-level form warning
  src/Cp/FieldLayoutDesigner/FieldLayoutDesigner.php
  src/Field/Contracts/FieldInterface.php
  src/Field/Field.php
  src/FieldLayout/LayoutElements/CustomField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
