Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

ignore wysiwyg content when adding targets to outbound links
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Craft.js
Due: none

WIP changelog
  CHANGELOG-WIP.md
Due: none

Use computed prop for skipLinks inside of AppLayout
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
Due: none

Use CaseGroup instead of DB::raw
  src/Dashboard/Dashboard.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update label on primary nav
  resources/js/components/CpSidebar.vue
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
  resources/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use aria-label instead
  resources/js/components/Breadcrumbs.vue
  resources/js/components/CpSidebar.vue
  resources/js/layout/IndexLayout.vue
Due: none

Add ID back to second nav
  resources/js/layout/IndexLayout.vue
Due: none

Fix search service
  src/Search/Search.php
  tests/Feature/Search/SearchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix all usages of translate
  resources/js/components/Breadcrumbs.vue
  resources/js/components/CpSidebar.vue
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
Due: none

Add content pane skip link
  resources/js/layout/IndexLayout.vue
Due: none

Move breadcrumbs out of main container, update header top-level to be a semantic element
  resources/js/layout/AppLayout.vue
Due: none

Quick build
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/assets/AppLayout.css
  resources/build/assets/IndexLayout.css
  resources/build/assets/SettingsSitesIndex.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/js/components/CpSidebar.vue
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
Due: prettier --ignore-unknown --write

Use link to create entry type for now
  resources/js/components/form/EntryTypeSelect.vue
Due: none

Fix template input spacing
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/composables/useEditableTable.ts
Due: none

Fix PHPstan return type
  src/Cp/SelectOptions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix errors when saving Entry Types
  src/Entry/Data/EntryType.php
  src/Twig/NodeVisitors/SinglePreloader.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix type
  resources/js/types/index.ts
Due: none

Build Assets
  resources/build/AppLayout.js
  resources/build/CpGlobalSidebar.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/DeleteSiteModal.css
  resources/build/assets/InputCombobox.css
  resources/build/assets/SettingsSectionsEditPage.css
  resources/build/assets/cp.css
  resources/build/assets/cp2.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Fix @since comment
  src/Cp/SelectOptions.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename and realign color variables
  packages/craftcms-cp/src/components/action-item/action-item.styles.ts
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.styles.ts
  packages/craftcms-cp/src/components/breadcrumb-item/breadcrumb-item.ts
  packages/craftcms-cp/src/components/callout/callout.styles.ts
  packages/craftcms-cp/src/components/card/card.styles.ts
  packages/craftcms-cp/src/components/checkbox/checkbox.ts
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  packages/craftcms-cp/src/components/combobox/combobox.styles.ts
  packages/craftcms-cp/src/components/copy-attribute/copy-attribute.styles.ts
  packages/craftcms-cp/src/components/drawer/drawer.ts
  packages/craftcms-cp/src/components/dropdown/dropdown.ts
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/components/input-file/selected-file-list.ts
  packages/craftcms-cp/src/components/input/input.styles.ts
  packages/craftcms-cp/src/components/option/option.styles.ts
  packages/craftcms-cp/src/components/popover/popover.ts
  packages/craftcms-cp/src/components/progress-bar/progress-bar.styles.ts
  packages/craftcms-cp/src/components/progress-bar/progress-bar.ts
  packages/craftcms-cp/src/components/shortcut/shortcut.ts
  packages/craftcms-cp/src/components/switch-button/switch-button.ts
  packages/craftcms-cp/src/components/tab/tab.styles.ts
  packages/craftcms-cp/src/components/tooltip/tooltip.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  packages/craftcms-cp/src/styles/shared/base.css
  packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/src/styles/variants.styles.ts
  resources/js/components/Pane.vue
Due: prettier --ignore-unknown --write

Fix lingering references to `-subtle`
  packages/craftcms-cp/src/components/copy-attribute/copy-attribute.styles.ts
  packages/craftcms-cp/src/components/dropdown/dropdown.ts
  packages/craftcms-cp/src/components/popover/popover.ts
  packages/craftcms-cp/src/components/tabs/tabs.styles.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/css/cp.css
  resources/js/components/CalloutReadOnly.vue
  resources/js/components/InputCombobox.vue
  resources/js/components/Pane.vue
  resources/js/components/sections/PreviewTargetsTable.vue
  resources/js/components/utilities/AssetIndexes/IndexingSessions.vue
  resources/js/components/utilities/AssetIndexes/SessionProgress.vue
  resources/js/components/utilities/ProjectConfig/ProjectConfig.vue
  resources/js/components/utilities/ProjectConfig/ProjectConfigDiff.vue
  resources/js/components/utilities/QueueManager/QueueManagerShow.vue
  resources/js/components/utilities/Updates/Release.vue
  resources/js/components/utilities/Updates/Update.vue
  resources/js/components/utilities/Updates/Updates.vue
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
  resources/js/pages/Install.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/pages/SettingsIndexPage.vue
  resources/js/pages/SettingsSectionsEditPage.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
  resources/js/pages/Updater.vue
Due: prettier --ignore-unknown --write

Additional styles for storybook
  packages/craftcms-cp/.storybook/preview.css
  packages/craftcms-cp/src/styles/shared/base.css
Due: prettier --ignore-unknown --write

Misc cleanup
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Add tokens stories
  packages/craftcms-cp/src/stories/tokens/colors.stories.ts
  packages/craftcms-cp/src/stories/tokens/helpers.ts
  packages/craftcms-cp/src/stories/tokens/spacing.stories.ts
  packages/craftcms-cp/src/stories/tokens/surface.stories.ts
  packages/craftcms-cp/src/stories/tokens/text.stories.ts
Due: none

Generate tailwind utility classes for colors
  packages/craftcms-cp/package.json
  packages/craftcms-cp/tailwind.css
  resources/css/cp.css
  resources/js/components/CalloutReadOnly.vue
  resources/js/components/sections/PreviewTargetsTable.vue
  resources/js/layout/AppLayout.vue
  resources/js/layout/IndexLayout.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/pages/SettingsSectionsEditPage.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

Fix typo
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a key to the skip link v-for
  resources/js/layout/AppLayout.vue
Due: none

Remove default crumb prop from AppLayout component
  resources/js/layout/AppLayout.vue
Due: none

Add option to hard delete elements via GraphQL mutations
  src/gql/mutations/Asset.php
  src/gql/mutations/Category.php
  src/gql/mutations/Entry.php
  src/gql/mutations/Tag.php
  src/gql/resolvers/mutations/Asset.php
  src/gql/resolvers/mutations/Category.php
  src/gql/resolvers/mutations/Entry.php
  src/gql/resolvers/mutations/Tag.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove custom RateLimiter wrapper, use Yii's RateLimiter directly
  src/controllers/UsersController.php
  src/filters/RateLimiter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace thamtech/yii2-ratelimiter-advanced with built-in IP rate limiter
  composer.json
  src/controllers/UsersController.php
  src/filters/IpRateLimitIdentity.php
  src/filters/RateLimiter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix PHPStan errors in IpRateLimitIdentityTest
  tests/unit/filters/IpRateLimitIdentityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor IpRateLimitIdentity to extend BaseObject
  src/filters/IpRateLimitIdentity.php
  src/filters/RateLimiter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add unit tests for IpRateLimitIdentity
  codeception.yml
  tests/unit/filters/IpRateLimitIdentityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unused @throws BadRequestHttpException from userActionChecks
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update composer.lock to remove thamtech/yii2-ratelimiter-advanced
  composer.lock
Due: none

Remove unused Request import from IpRateLimitIdentity
  src/filters/IpRateLimitIdentity.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add types to IpRateLimitIdentity
  src/filters/IpRateLimitIdentity.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add throws back
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
