Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

--patch-only support for self-updates
  src/console/controllers/UpdateController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Proof-of-concept for htmx-driven docs search widget
  src/base/ApplicationTrait.php
  src/console/controllers/HelpController.php
  src/controllers/SupportController.php
  src/docs/resolvers/BaseResolver.php
  src/docs/resolvers/Cms.php
  src/docs/resolvers/Commerce.php
  src/docs/resolvers/Php.php
  src/docs/resolvers/Yii.php
  src/services/Dashboard.php
  src/services/Docs.php
  src/templates/_components/widgets/CraftSupport/body.twig
  src/templates/_components/widgets/Docs/body.twig
  src/templates/_components/widgets/Docs/results.twig
  src/views/debug/docs/tabs/elements.php
  src/views/debug/docs/tabs/search.php
  src/views/debug/docs/tabs/template.php
  src/web/assets/craftsupport/dist/CraftSupportWidget.js
  src/web/assets/craftsupport/dist/CraftSupportWidget.js.map
  src/web/assets/craftsupport/src/CraftSupportWidget.js
  src/web/assets/docs/DocsAsset.php
  src/web/assets/docs/dist/DocsWidget.js
  src/web/assets/docs/dist/DocsWidget.js.map
  src/web/assets/docs/dist/css/DocsWidget.css
  src/web/assets/docs/dist/css/DocsWidget.css.map
  src/web/assets/docs/src/DocsWidget.js
  src/web/assets/docs/src/DocsWidget.scss
  src/web/assets/docs/webpack.config.js
  src/web/assets/pluginstore/dist/css/app.css
  src/web/assets/pluginstore/dist/css/app.css.map
  src/web/twig/CpExtension.php
  src/widgets/Docs.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

New translations app.php (Slovak) [ci skip]
  src/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Swap linked elements with the localized version when appropriate
  CHANGELOG-WIP.md
  src/fields/Link.php
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Copy individual inline-matrix fields
  src/fieldlayoutelements/BaseField.php
  src/helpers/Cp.php
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove copy blocking
  src/models/FieldLayout.php
  src/templates/_components/fieldtypes/Matrix/block.twig
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup console.log
  src/web/assets/cp/src/js/ElementEditor.js
Due: none

prevent properties and custom field handles from clashing
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Additional reserved field handles
  src/base/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow aliasing of custom fields in element queries when using asArray
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

don't require ctrl key when saving inline editing "form"
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/TableElementIndexView.js
Due: none

Typo
  CHANGELOG.md
Due: none

Fixed a PHP error
  CHANGELOG.md
  src/fields/Date.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #15805
  CHANGELOG.md
  src/fields/Date.php
  src/templates/_includes/forms/timeZone.twig
  src/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tests/field-toggles.twig
  src/templates/tests/field-toggles.twig
Due: none

One more
  src/templates/tests/field-toggles.twig
Due: none

Fixes
  src/templates/tests/field-toggles.twig
Due: none

Unneeded
  src/templates/_special/install/db.twig
Due: none

Fixed field toggle bugs
  CHANGELOG.md
  src/templates/_includes/forms/booleanMenu.twig
  src/templates/tests/field-toggles.twig
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/FieldToggle.js
Due: none

Fixed a CSS bug
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_global-sidebar.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed a missing authorization vulnerability
  CHANGELOG.md
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Take 2
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed eager-loading when multiple fields have the same handle
  CHANGELOG.md
  src/base/Element.php
  src/elements/db/ElementQuery.php
  src/fields/BaseRelationField.php
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

namespace adjustment - fixes modified field issue (and others)
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bug fix - copying matrix field content when the matrix is "translatable"
  src/base/ElementTrait.php
  src/controllers/ElementsController.php
  src/elements/NestedElementManager.php
  src/fields/Matrix.php
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

Revert "namespace adjustment - fixes modified field issue (and others)"
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

marry matrix "blocks" and "entries" copying
  src/fieldlayoutelements/BaseField.php
  src/helpers/Cp.php
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Doc improvements
  src/helpers/Queue.php
  src/helpers/UrlHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

UrlHelper::encodeUrl()
  CHANGELOG-WIP.md
  src/helpers/UrlHelper.php
  src/web/Response.php
  src/web/twig/Extension.php
  tests/unit/helpers/UrlHelperTest.php
  tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed `@since`
  src/helpers/UrlHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add new function for checking if focal point coords are inside image viewport
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Rewrite code pulled from focal drag for focal click
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
