Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Changelog
  CHANGELOG.md
Due: none

test relation field with transformers
  src/Import/Importers/BaseImporter.php
  tests/Feature/Import/ImportRelationFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

basics for importing non-elements
  resources/templates/import/_importer-types/base-importer.twig
  resources/templates/import/_importer-types/element-importer.twig
  resources/templates/import/configs/index.twig
  src/Http/Controllers/Import/ImportConfigController.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ModelImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update build artifacts
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
Due: none

Update build artifacts
  resources/build/assets/UserGroups-BCVtpu2p.js
  resources/build/assets/UserGroups-Du70ao90.js
  resources/build/assets/UserGroupsController-BmLr-D7_.js
  resources/build/assets/UserGroupsController-DQ_FbELW.js
  resources/build/assets/UserGroupsEdit-BuYWbdZj.js
  resources/build/assets/UserGroupsEdit-O1klRIm3.js
  resources/build/assets/cp-BVrFCmOB.js
  resources/build/assets/cp-C4DVSZvT.js
  resources/build/assets/cp-CYfm7F3o.js
  resources/build/assets/cp-HFJgRMLB.js
  resources/build/assets/legacy-CggqwVdz.js
  resources/build/assets/legacy-YTdV-KKN.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Axios 1.17.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/web/assets/axios/dist/axios.js
  src/web/assets/axios/dist/axios.js.LICENSE.txt
Due: prettier --ignore-unknown --write

Preserve slashes in path params
  src/helpers/UrlHelper.php
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Preserve path param slash encoding
  src/helpers/UrlHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Update popover styles
  packages/craftcms-cp/src/components/popover/popover.styles.ts
  packages/craftcms-cp/src/components/popover/popover.ts
Due: none

Fixed #19056
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Preview.js
Due: none

Fixed #19054
  CHANGELOG.md
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed update bug
  src/Route/Routes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish merge of 29e7442721e80b7bddda3831bfbec4401a94f1ad
  src/Cp/Html/MenuHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

test importing into a Model
  tests/Feature/Import/ImportToModelTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

model import only for new BaseModel; not available to legacy ActiveRecord
  src/Import/Import.php
  src/Import/Importers/ModelImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

add normalizeValueForImport to FieldInterface
  src/Field/Contracts/FieldInterface.php
  src/Field/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Override Overtype TAB trap
  resources/js/modules/markdown-field/behaviors/preview.ts
  resources/js/modules/markdown-field/behaviors/shortcuts.ts
Due: none

import elements command - add match criteria
  src/Import/Commands/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

move importItem logic to respective importers
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
  src/Import/Importers/ModelImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix element cards icon
  src/Element/Enums/ElementIndexViewMode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a test
  src/image/Svg.php
  tests/_data/assets/files/svg-pcts.svg
  tests/unit/services/images/ImagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

5.11 changelog
  CHANGELOG-5.11.md
Due: none

Sorting Admin table
  resources/js/common/types/globals.d.ts
  resources/js/modules/elements/ElementStatus.vue
  resources/js/pages/content/Index.vue
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Better fix for #18363
  CHANGELOG.md
  src/base/Element.php
  src/fields/Link.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed an RCE vulnerability
  CHANGELOG.md
  src/web/twig/SecurityPolicy.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add plain craft-chip
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  packages/craftcms-cp/src/components/chip/chip.ts
  packages/craftcms-cp/src/constants/appearances.ts
  packages/craftcms-cp/src/constants/size.ts
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Wire up reordering of columns
  packages/craftcms-cp/src/components/popover/popover.ts
  resources/js/common/form/CheckboxGroup.vue
  resources/js/common/form/CheckboxGroupItem.vue
  resources/js/pages/content/Index.vue
Due: none

More reorderable column details
  resources/js/common/form/CheckboxGroup.vue
  resources/js/common/form/CheckboxGroupItem.vue
  resources/js/pages/content/Index.vue
Due: none

Fix order by in a way that makes php-cs happy
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix active state lingering
  resources/js/common/composables/useDragAndDrop.ts
Due: none

fix ValidateMixin::addErrors() to accept Yii2-format error array
  yii2-adapter/src/Mixins/ValidateMixin.php
  yii2-adapter/tests-laravel/Mixins/ValidateMixinDataModelsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add array shape hint
  yii2-adapter/src/Mixins/ValidateMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Potential fix for pull request finding
  yii2-adapter/src/Mixins/ValidateMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Potential fix for pull request finding
  yii2-adapter/tests-laravel/Mixins/ValidateMixinDataModelsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

respect alt text translation method from the start
  src/config/app.php
  src/elements/Asset.php
  src/elements/db/AssetQuery.php
  src/migrations/m260610_065719_translatable_alt_text_content.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add image-editor save event seam
  src/controllers/AssetsController.php
  src/events/SaveAssetImageEvent.php
  tests/unit/web/SaveAssetImageEventTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

started work on mapping screen
  resources/templates/import/_importer-types/base-importer.twig
  resources/templates/import/configs/_map.twig
  routes/cp.php
  src/Http/Controllers/Import/ImportConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
