Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Check the site crumb icon name is canonical, not a file on disk
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryMultiSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixes CMS-2426
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/modules/elements/components/ElementIndexToolbar.vue
Due: none

Add appearance property to empty
  packages/craftcms-ui/src/components/empty/empty.ts
Due: none

Formatting
  resources/js/pages/assets/Index.vue
Due: none

Allow var() in container queries
  postcss.config.js
Due: none

Fix asset index action menus
  src/Http/ViewModels/AssetIndexViewModel.php
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Assets/IndexControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryMultiSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add empty state PHP component
  src/Cp/Components/ComponentRegistry.php
  src/Cp/Components/EmptyState.php
  tests/Unit/Cp/Components/EmptyStateTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Annotate empty
  packages/craftcms-ui/src/components/empty/empty.ts
Due: none

Quiet some of the noise in UI tests
  packages/craftcms-ui/src/components/icon/icon.test.ts
  packages/craftcms-ui/test/icons.setup.ts
  packages/craftcms-ui/vitest.config.ts
Due: none

Visit the users index at the source it lands on in PagesTest
  tests/Feature/Integration/PagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CI fixes
  packages/craftcms-ui/src/components/button/button.styles.ts
  src/Cp/Components/EmptyState.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

empty component was removed
  resources/js/pages/import/Index.vue
Due: none

Fix missing . on class definition
  resources/js/modules/elements/components/BaseElementIndex.vue
Due: none

Remove double padding on bare tables
  resources/js/pages/Form.vue
Due: none

Fix validation errors not showing. Use inertia `’errors’`
  resources/js/common/types/index.ts
  resources/js/modules/settings/composables/useSettingsSave.test.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
Due: none

Remaining part of merege
  resources/js/modules/forms/types.ts
Due: none

events part1
  src/Import/Commands/Import.php
  src/Import/Data/ImportPlan.php
  src/Import/Events/ImportChunkFinished.php
  src/Import/Events/ImportChunkStarted.php
  src/Import/Events/ImportFinished.php
  src/Import/Events/ImportStarted.php
  src/Import/Events/ImportStepFinished.php
  src/Import/Events/ImportStepStarted.php
  src/Import/Events/ItemImported.php
  src/Import/Events/ItemImporting.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Jobs/FinishImport.php
  src/Import/Jobs/Import.php
  src/Import/Jobs/ImportPipeline.php
  src/Support/Facades/Import.php
  tests/Feature/Import/Commands/ImportEntryCommandTest.php
  tests/Feature/Import/ImportPipelineTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix double border bottom in table
  resources/js/modules/admin-table/components/AdminTable.vue
  resources/js/modules/elements/components/BaseElementIndex.vue
Due: none

events part 2 (return imported thing from the importItem() method)
  src/Element/Import/ElementImporter.php
  src/Import/Events/ItemImported.php
  src/Import/Events/ItemImporting.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ModelImporter.php
  tests/Feature/Import/Commands/ImportEntryCommandTest.php
  tests/Feature/Import/ImportEntryAttributesTest.php
  tests/Feature/Import/ImportEntryTest.php
  tests/Feature/Import/ImportPipelineTest.php
  tests/Feature/Import/ImportSectionsAndTypesTest.php
  tests/Feature/Import/ImportSkipsUnchangedElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

stop tracking and logging about the default behaviour
  src/Element/Import/ElementImporter.php
  tests/Feature/Import/ImportKeepMissingNestedElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

var rename
  src/Import/ImportPlan.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Bring back "Delete draft" / "Delete draft for site" actions
  src/Element/Concerns/HasControlPanelUI.php
  tests/Feature/Element/ElementActionContextTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add project-config/check command
  CHANGELOG.md
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fail project-config/check when YAML is missing
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add require-yaml option to project-config/check
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Require Craft installation before checking for YAML
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move the release note to the 5.12 changelog
  CHANGELOG-5.12.md
  CHANGELOG.md
Due: none

allow file to be a path or a URL - validation
  src/Element/Import/ElementImporter.php
  src/Http/ViewModels/ImportPlanStepFormViewModel.php
  src/Import/Commands/Import.php
  src/Import/Data/ImportPlan.php
  src/Import/Importers/BaseImporter.php
  src/SystemMessage/Import/SystemMessageImporter.php
  tests/Feature/Http/Controllers/ImportPlansControllerTest.php
  tests/Unit/Import/ImporterFileValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

return exit code 1 instead of throwing an exception
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

One more
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Missing `@since` tags
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Prevent attribute() from being allowed in sandboxed envs
  CHANGELOG.md
  src/web/twig/SecurityPolicy.php
  src/web/twig/nodevisitors/GetAttrAdjuster.php
  tests/unit/web/twig/SecurityPolicyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make GetAttrNode more consistent with Twig
  CHANGELOG.md
  src/web/twig/nodes/GetAttrNode.php
  tests/unit/web/twig/GetAttrNodeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Twig 3.30 + twig-upgrade skill + tests
  .claude/skills/twig-upgrade/SKILL.md
  CHANGELOG-5.12.md
  composer.json
  composer.lock
  src/base/Element.php
  src/web/View.php
  src/web/twig/nodes/GetAttrNode.php
  src/web/twig/nodes/expressions/binaries/HasEveryBinary.php
  src/web/twig/nodes/expressions/binaries/HasSomeBinary.php
  src/web/twig/tokenparsers/NavTokenParser.php
  tests/unit/base/ElementTest.php
  tests/unit/web/twig/NavTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fixed #18281
  CHANGELOG.md
  src/elements/NestedElementManager.php
  tests/fixtures/data/nem-entry-types.php
  tests/fixtures/data/nem-field-layout.php
  tests/fixtures/data/nem-section-settings.php
  tests/fixtures/data/nem-sections.php
  tests/unit/elements/NestedElementManagerTest.php
  tests/unit/services/ContentBlockDraftNewSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Fixed test
  .claude/skills/twig-upgrade/SKILL.md
  yii2-adapter/composer.lock
Due: none

Fixed test
  yii2-adapter/tests/unit/services/ContentBlockDraftNewSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Include inherited concrete-class properties in settings attributes
  src/Component/Concerns/ConfigurableComponent.php
  src/Component/Contracts/ConfigurableComponentInterface.php
  tests/Feature/Component/ConfigurableComponentTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
