Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

🙃
  src/Dashboard/Widgets/CraftSupport.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix hasLogo error
  resources/templates/login.twig
Due: none

Update semantic colors to use Leonardo-generated colors
  packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/src/styles/shared/variables.css
  resources/build/assets/cp.css
Due: prettier --ignore-unknown --write

vite build
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-FM9GcZWD.js
  resources/build/Queue-wGK97jCw.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/AppLayout.css
  resources/build/assets/SettingsGeneralPage.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-DpHfxayW.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-D3exy0bq.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-DezDYLKE.js
  resources/build/nav-list.ts.js
  resources/build/useAnnouncer.js
  resources/build/useFetch.js
Due: prettier --ignore-unknown --write

Fix relation fields not showing up in element indexes
  src/Field/Contracts/InlineEditableFieldInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Build assets
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-wGK97jCw.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-DpHfxayW.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-D3exy0bq.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-DezDYLKE.js
  resources/build/nav-list.ts.js
  resources/build/useFetch.js
Due: prettier --ignore-unknown --write

Fix where call that had to be whereIn
  src/Field/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update colors with hex from Leonardo to fix purple/blue issue
  packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/src/styles/shared/variables.css
  resources/build/assets/cp.css
Due: prettier --ignore-unknown --write

Move legacy into separate workspace
  package-lock.json
  package.json
  packages/craftcms-graphiql/package.json
  packages/craftcms-graphiql/src/graphiql-init.js
  resources/legacy/.prettierignore
  resources/legacy/.prettierrc.json
  resources/legacy/.stylelintrc.json
  resources/legacy/axios/webpack.config.js
  resources/legacy/codemirror/webpack.config.js
  resources/legacy/d3/webpack.config.js
  resources/legacy/focalpoint/dist/FocalPoint.js
  resources/legacy/focalpoint/dist/FocalPoint.js.map
  resources/legacy/focalpoint/src/FocalPoint.ts
  resources/legacy/graphiql/src/graphiql.js
  resources/legacy/graphiql/webpack.config.js
  resources/legacy/package.json
  resources/legacy/pluginstore/src/js/plugins/vue-awesome-swiper.js
  resources/legacy/pluginstore/src/main.js
  resources/legacy/tsconfig.json
  resources/legacy/webpack.config.js
  yii2-adapter/.prettierignore
  yii2-adapter/webpack.config.js
Due: prettier --ignore-unknown --write

Update the remaining colors to use Leonardo-exported palette
  packages/craftcms-cp/src/styles/shared/variables.css
Due: prettier --ignore-unknown --write

Update loud warning colors to use inverse (dark orange text on light orange background)
  packages/craftcms-cp/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

composer update + fix PHPStan issues
  composer.lock
  phpstan.neon
  src/base/Element.php
  src/base/FieldLayoutElement.php
  src/controllers/EntriesController.php
  src/fields/Date.php
  src/models/CategoryGroup.php
  src/models/FieldLayoutTab.php
  src/models/Section.php
  src/search/SearchQuery.php
  src/services/Plugins.php
  src/services/ProjectConfig.php
  src/validators/AssetLocationValidator.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix plugin store
  packages/craftcms-webpack/index.js
  resources/legacy/graphiql/dist/graphiql.js.map
  resources/legacy/vue/dist/vue.js
  resources/legacy/vue/dist/vue.js.LICENSE.txt
  resources/legacy/vue/webpack.config.js
Due: none

Element deletion blockers
  src/base/Element.php
  src/base/ElementInterface.php
  src/controllers/DeleteElementsController.php
  src/controllers/EntriesController.php
  src/controllers/QueueController.php
  src/controllers/UsersController.php
  src/elements/User.php
  src/elements/actions/Delete.php
  src/elements/actions/DeleteUsers.php
  src/events/DefineElementDeletionBlockersEvent.php
  src/events/DefineUserContentSummaryEvent.php
  src/helpers/Cp.php
  src/helpers/Html.php
  src/services/Entries.php
  src/templates/_elements/cardsview/elements.twig
  src/templates/_elements/tableview/elements.twig
  src/templates/_elements/thumbsview/elements.twig
  src/translations/en/app.php
  src/web/View.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/Craft.js
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CP.js
  src/web/assets/cp/src/js/CpModal.js
  src/web/assets/cp/src/js/DeleteUserModal.js
  src/web/assets/cp/src/js/ElementDeletionManager.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix some instances of colors not meeting contrast minimum
  packages/craftcms-cp/src/stories/tokens/spacing.stories.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/src/styles/shared/variables.css
Due: prettier --ignore-unknown --write

Cleanup
  src/base/Element.php
  src/controllers/EntriesController.php
  src/controllers/QueueController.php
  src/elements/Entry.php
  src/elements/User.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CP.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG-WIP.md
Due: none

One more
  CHANGELOG-WIP.md
Due: none

Pass the redirect param for the “Create as new” action
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed entries’ post-edit URLs
  CHANGELOG.md
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Define the assetManager config from config/app.php
  CHANGELOG.md
  src/config/app.php
  src/config/app.web.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-qq2c-2q8j-jh27
  CHANGELOG.md
  src/controllers/EntriesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a way for plugins to have FormRequest validation when saving settings
  src/Http/Controllers/PluginsController.php
  src/Plugin/Concerns/HasSettings.php
  src/Plugin/Contracts/PluginInterface.php
  tests/Feature/Http/Controllers/PluginsControllerTest.php
  tests/TestClasses/TestPlugin/src/TestPlugin.php
  tests/TestClasses/TestPlugin/src/TestPluginSettingsRequest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add method to legacy plugin base class
  yii2-adapter/legacy/base/Plugin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Npm i
  package-lock.json
  packages/craftcms-legacy/package.json
Due: prettier --ignore-unknown --write

Don't run legacy prettier
  .github/workflows/ci.yml
  yii2-adapter/package-lock.json
Due: prettier --ignore-unknown --write

Remove Craft:: dependency from TemplateProfiler
  src/View/TemplateProfiler.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove remaining usages of Craft::createObject
  src/Address/Elements/Address.php
  src/Asset/Assets.php
  src/Asset/Elements/Asset.php
  src/Element/Concerns/Queryable.php
  src/Entry/Elements/Entry.php
  src/FieldLayout/FieldLayout.php
  src/Gql/Gql.php
  src/Gql/Mutations/Asset.php
  src/Gql/Mutations/Entry.php
  src/Gql/Resolvers/ElementResolver.php
  src/Gql/Types/Elements/Element.php
  src/Http/Controllers/Entries/CreateEntryController.php
  src/Http/Controllers/MatrixController.php
  src/Http/Controllers/Settings/FilesystemsController.php
  src/Image/ImageTransforms.php
  src/Twig/Extensions/CoreTwigExtension.php
  src/User/Elements/User.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan fixes
  src/Gql/Gql.php
  src/Gql/Resolvers/ElementResolver.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix wrong match default
  src/FieldLayout/FieldLayout.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix twig create function
  src/Twig/Extensions/CoreTwigExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make twig create function behave more like createObject
  src/Twig/Extensions/CoreTwigExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set dark mode to default for testing, start working on fixing/marking a11y errors as todo
  packages/craftcms-cp/.storybook/preview.ts
  packages/craftcms-cp/src/components/action-item/action-item.stories.ts
  packages/craftcms-cp/src/components/input-password/input-password.ts
  packages/craftcms-cp/src/components/nav-item/nav-item.stories.ts
  packages/craftcms-cp/src/stories/tokens/text.stories.ts
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-GPIn_tZg.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-BjCCQoU-.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-CxCaQp_Z.js
  resources/build/nav-list.ts.js
  resources/build/useFetch.js
Due: prettier --ignore-unknown --write

SaveElementIndexElementsController
  routes/actions.php
  src/Http/Controllers/Elements/SaveElementIndexElementsController.php
  tests/Feature/Http/Controllers/Elements/SaveElementIndexElementsControllerTest.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ruleset logic to package
  composer.json
  composer.lock
  src/Address/Elements/Address.php
  src/Address/Validation/AddressRules.php
  src/Asset/Data/Volume.php
  src/Asset/Elements/Asset.php
  src/Asset/Validation/AssetRules.php
  src/Asset/Validation/VolumeRules.php
  src/Element/Element.php
  src/Element/Validation/ElementRules.php
  src/Entry/Data/EntryType.php
  src/Entry/Elements/Entry.php
  src/Entry/Validation/EntryRules.php
  src/Entry/Validation/EntryTypeRules.php
  src/Field/Elements/ContentBlock.php
  src/Field/Elements/ContentBlockRules.php
  src/Section/Data/Section.php
  src/Section/Data/SectionSiteSettings.php
  src/Section/Validation/SectionRules.php
  src/Section/Validation/SectionSiteSettingsRules.php
  src/Site/Data/Site.php
  src/Site/Validation/SiteRules.php
  src/User/Elements/User.php
  src/User/Validation/UserRules.php
  src/Validation/Attributes/Ruleset.php
  src/Validation/Concerns/InteractsWithValidator.php
  src/Validation/Concerns/Validates.php
  src/Validation/Contracts/Validatable.php
  src/Validation/Ruleset.php
  tests/Feature/User/Elements/UserValidationTest.php
  tests/TestClasses/TestEntryWithAfterValidate.php
  tests/Unit/Validation/RulesetTest.php
  tests/Unit/Validation/ValidatesWithRulesetTest.php
  yii2-adapter/legacy/base/Model.php
  yii2-adapter/src/Validation/LegacyElementRules.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
