Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Tweak icon and thumbnail in chip html
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make breadcrumbs scrollable
  resources/js/common/components/CpTopBar.vue
Due: none

Move flash messages to the main content area
  resources/js/common/components/FlashMessages.vue
  resources/js/common/layouts/screens/PageScreen.vue
Due: none

command bug fixes
  src/Entry/Commands/ImportEntry.php
  src/Import/Commands/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add page size selector to admin table for data endpoint tables
  resources/js/modules/forms/AdminTableNode.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Tighten up form label spacing
  packages/craftcms-ui/src/components/field/field.styles.ts
  packages/craftcms-ui/src/styles/form.styles.ts
Due: none

Clean up comments in field.styles.ts
  packages/craftcms-ui/src/components/field/field.styles.ts
Due: none

Store page size preference for tables in local storage
  resources/js/modules/forms/AdminTableNode.vue
Due: none

bug fix
  src/Element/Import/ElementImporter.php
  src/Import/Jobs/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Introduce (or re-introduce) admin table toolbar with ability to button action button in
  resources/js/modules/admin-table/components/AdminTableToolbar.vue
  resources/js/modules/admin-table/components/CreateActionButton.vue
  resources/js/modules/forms/AdminTableNode.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add status filtering dropdown feature to admin tables
  resources/js/modules/admin-table/components/AdminTableToolbar.vue
  resources/js/modules/forms/AdminTableNode.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add in sorting capabilities to admin tables for both upfront and data URL
  resources/js/modules/forms/AdminTableNode.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Admin tables have view button and toggleable columns
  resources/js/modules/admin-table/components/AdminTableToolbar.vue
  resources/js/modules/elements/components/IndexViewSettings.vue
  resources/js/modules/forms/AdminTableNode.vue
  resources/translations/en/app.php
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix some command issues
  src/Import/Commands/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Missing search icon in search fiel on tables
  resources/js/modules/forms/AdminTableNode.vue
Due: none

Move error summary and read-only callouts into the main content area
  resources/js/common/layouts/screens/PageScreen.vue
Due: none

Fix reloading of tables
  resources/js/modules/forms/AdminTableNode.vue
Due: none

More callout cleanup
  resources/js/common/components/CalloutReadOnly.vue
  resources/js/common/components/FlashMessages.vue
  resources/js/common/form/ErrorSummary.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/workflows/components/WorkflowEditLockCallout.vue
Due: none

Stop the breadcrumb switcher pulling flush against its label
  resources/js/common/components/Breadcrumbs.test.ts
  resources/js/common/components/Breadcrumbs.vue
Due: none

Fix workflow details outside element editors
  resources/js/modules/workflows/components/WorkflowDetailsTab.test.ts
  resources/js/modules/workflows/components/WorkflowDetailsTab.vue
Due: none

Give the breadcrumb switcher its own invoker and add the xsmall PHP size
  resources/js/common/components/ActionMenu.vue
  resources/js/common/components/Breadcrumbs.vue
  src/Cp/Enums/Size.php
  tests/Unit/Cp/Enums/SizeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use handle control for field layout overrides
  resources/js/modules/forms/HandleControl.vue
  src/FieldLayout/LayoutElements/CustomField.php
  src/Form/Controls/Handle.php
  tests/Unit/Form/HandleControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use slug control for inline entry editing
  src/Entry/Elements/Entry.php
  tests/Feature/Element/InlineAttributeFormTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Generate entry slugs from titles
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/composables/useElementEditor.ts
  resources/js/modules/forms/FormRenderer.vue
  resources/js/modules/forms/SlugControl.vue
  resources/js/modules/forms/formValueGroup.ts
  src/Entry/Elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add slug form control
  resources/js/modules/forms/SlugControl.test.ts
  resources/js/modules/forms/SlugControl.vue
  resources/js/modules/forms/TextControl.vue
  resources/js/modules/forms/register.ts
  resources/js/modules/forms/types.ts
  resources/js/modules/input-generators/slug-generator.ts
  src/Form/Controls/Slug.php
  src/Form/FormControlTypes.php
  tests/Unit/Form/FormExtensionTypesTest.php
  tests/Unit/Form/SlugControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pass editor actions to details tabs explicitly
  resources/js/bootstrap/element-details-tabs.ts
  resources/js/modules/elements/components/ElementDetailsTabs.test.ts
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/composables/useElementEditor.ts
  resources/js/modules/workflows/components/WorkflowDetailsTab.test.ts
  resources/js/modules/workflows/components/WorkflowDetailsTab.vue
  resources/js/modules/workflows/register.ts
Due: none

Release note
  CHANGELOG-5.12.md
Due: none

Missing `.`
  resources/js/modules/elements/components/BaseElementIndex.vue
Due: none

set autocomplete, autocorrect and autocapitalize to their off states
  resources/js/modules/forms/SlugControl.vue
Due: none

Don't show the convertedToDraft callout if a workflow has been created
  resources/js/modules/elements/components/ElementEditor.vue
Due: none

Enforce formatting and logical CSS properties
  .editorconfig
  .github/workflows/js-ci.yml
  .stylelintignore
  .stylelintrc.json
  package.json
  packages/craftcms-legacy/.stylelintrc.json
  packages/craftcms-legacy/package.json
  packages/craftcms-ui/scripts/generate-colors.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.js
Due: prettier --ignore-unknown --write

Lint Tailwind classes for logical utilities and the spacing scale
  .github/workflows/js-ci.yml
  .vite-hooks/pre-commit
  package.json
  pnpm-lock.yaml
  resources/js/common/components/DebugPanel.vue
  resources/js/modules/elements/components/RevisionsList.vue
  resources/js/modules/install/components/InstallingScreen.vue
  resources/js/modules/install/components/StepScreen.vue
  resources/js/modules/sections/components/PreviewTargetsTable.vue
  resources/js/modules/utilities/components/queue-manager/QueueManagerShow.vue
  resources/templates/_includes/forms/componentSelect.twig
  resources/templates/_includes/forms/editableTable.twig
  scripts/lint-tailwind-classes.mjs
  vite.config.js
Due: prettier --ignore-unknown --write

Add entry slug regeneration action
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/forms/SlugControl.test.ts
  resources/js/modules/forms/SlugControl.vue
  resources/js/modules/forms/TextControl.vue
  src/Entry/Elements/Entry.php
  src/Form/Controls/Slug.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
  tests/Unit/Form/SlugControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Leave the nav out of the payload while a Craft update is pending
  src/Http/Middleware/HandleInertiaRequests.php
  tests/Feature/Http/Controllers/Updates/UpdaterControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify .editorconfig and ignore the reformat in blame
  .editorconfig
  .git-blame-ignore-revs
Due: none

Fix callout.test
  packages/craftcms-ui/src/components/callout/callout.test.ts
Due: none

Assert the editor's site crumb icon resolves for the browser
  tests/Feature/Http/Controllers/Entries/EditEntryMultiSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clear the info caches so the pending-update test holds in CI
  tests/Feature/Http/Controllers/Updates/UpdaterControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
