Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

BUG-REPORT-V6.yml
  .github/ISSUE_TEMPLATE/BUG-REPORT-V6.yml
Due: none

Remove computed property
  resources/js/components/SystemInfo.vue
Due: none

Bump heading levels
  CHANGELOG-WIP.md
Due: none

Finish 6.0.0-alpha.1
  CHANGELOG.md
Due: none

Minor fix from merge conflict
  resources/build/assets/SettingsGeneralPage-BM7QKzj5.css
  resources/build/assets/SettingsGeneralPage-BNGOX1Wg.css
  resources/build/assets/SettingsGeneralPage-CuUfUShU.js
  resources/build/assets/SettingsGeneralPage-DeQ_sj9f.js
  resources/build/assets/cp-9iLXoJy6.js
  resources/build/assets/cp-CYZ2OmPx.js
  resources/build/assets/cp-DUnIV8bU.js
  resources/build/assets/cp-D_cEh9B7.js
  resources/build/assets/legacy-D_0k93kg.js
  resources/build/assets/legacy-za2aevmR.js
  resources/build/manifest.json
  resources/js/pages/SettingsGeneralPage.vue
Due: prettier --ignore-unknown --write

Add outro
  src/Console/Commands/Install/InstallCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial inertia implementation
  resources/js/bootstrap/cp.ts
  resources/js/components/ActionMenu.vue
  resources/js/components/Auth/RecoveryCodesForm.vue
  resources/js/components/Auth/TotpForm.vue
  resources/js/components/Auth/TwoFactorForm.vue
  resources/js/layout/AuthBase.vue
  resources/js/pages/Auth/Challenge.vue
  resources/js/pages/Auth/Login.vue
  src/Auth/AuthMethods.php
  src/Auth/Methods/RecoveryCodes.php
  src/Auth/Methods/TOTP.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Http/RespondsWithFlash.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Minor cleanup
  resources/js/components/Auth/TwoFactorForm.vue
  resources/js/pages/Auth/Challenge.vue
Due: none

Try to resolve a craft asset through Vite first
  src/helpers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CMS-2035 - Don't throttle password reset email for cp requests
  routes/actions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add support for sqlite backup/restore
  src/Config/GeneralConfig.php
  src/Database/BackupCommands/BackupCommand.php
  src/Database/BackupCommands/MysqlBackupCommand.php
  src/Database/BackupCommands/PostgresBackupCommand.php
  src/Database/BackupCommands/SqliteBackupCommand.php
  src/Database/Backups.php
  tests/Feature/Database/BackupsTest.php
  tests/Feature/Database/Commands/BackupCommandTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix some ElementQuery compatibility issues
  yii2-adapter/legacy/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CSRF exclusion for legacy actions
  yii2-adapter/legacy/web/Controller.php
  yii2-adapter/routes/web.php
  yii2-adapter/src/Http/ExcludeCsrfValidationForLegacyController.php
  yii2-adapter/tests-laravel/Http/LegacyCsrfCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CSRF on non-action requests
  yii2-adapter/src/Http/ExcludeCsrfValidationForLegacyController.php
  yii2-adapter/tests-laravel/Http/LegacyCsrfCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  yii2-adapter/legacy/web/Controller.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Retire CSRF configuration to legacy GeneralConfig
  src/Config/GeneralConfig.php
  src/Http/Controllers/Auth/SessionInfoController.php
  src/Http/Controllers/Users/SaveUserController.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/View/LegacyAssets/CpAsset.php
  tests/Feature/Http/Middleware/CheckForUpdatesTest.php
  yii2-adapter/legacy/config/GeneralConfig.php
  yii2-adapter/legacy/controllers/SsoController.php
  yii2-adapter/legacy/helpers/App.php
  yii2-adapter/legacy/web/Controller.php
  yii2-adapter/legacy/web/User.php
  yii2-adapter/tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CMS-2045 - Aliases should be prefixed with "craft:" for Craft commands
  src/Console/CraftCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Console/CraftCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix command tests
  tests/Feature/Console/Commands/Gql/ListSchemasCommandTest.php
  tests/Feature/Console/Commands/Utils/FixElementUidsCommandTest.php
  tests/Feature/Console/Commands/Utils/FixFieldLayoutUidsCommandTest.php
  tests/Feature/Console/Commands/Utils/PruneOrphanedEntriesCommandTest.php
  tests/Feature/Console/Commands/Utils/PruneProvisionalDraftsCommandTest.php
  tests/Feature/Console/Commands/Utils/PruneRevisionsCommandTest.php
  tests/Feature/Element/Commands/DeleteAllOfTypeCommandTest.php
  tests/Feature/Element/Commands/DeleteCommandTest.php
  tests/Feature/Element/Commands/RestoreCommandTest.php
  tests/Feature/Entry/Commands/UpdateStatusesCommandTest.php
  tests/Feature/ProjectConfig/Commands/RepairCommandTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add array-style config support for sanitizers
  docs/html-sanitizers.md
  src/Config/ConfigServiceProvider.php
  src/Support/Facades/HtmlSanitizers.php
  src/Support/HtmlSanitizer/HtmlSanitizers.php
  tests/Unit/Support/HtmlSanitizer/HtmlSanitizersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CMS-2044 - Ensure legacy plugin settings get saved correctly
  yii2-adapter/legacy/services/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CMS-2044 - Ensure redirects are forwarded to Laravel correctly
  yii2-adapter/src/Web/Response.php
  yii2-adapter/tests/unit/web/ResponseTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add legacy Paginate variable back
  yii2-adapter/legacy/web/twig/variables/Paginate.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  yii2-adapter/legacy/services/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CMS-2051 - `Application::EVENT_AFTER_REQUEST` not triggering after request
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Http/LegacyMiddlewareTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Also listen for SQLiteDatabaseDoesNotExistException when checking isInstalled
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix type in the attribute name
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetIndex.js
Due: none

fix for #18809
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CMS-2030 - Legacy action requests when using a DefaultController
  src/Http/Middleware/HandleActionRequest.php
  tests/Unit/Http/Middleware/HandleActionRequestTest.php
  yii2-adapter/legacy/web/Application.php
  yii2-adapter/src/Http/LegacyMiddleware.php
  yii2-adapter/src/LegacyApp.php
  yii2-adapter/tests-laravel/Http/LegacyActionRoutingTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CMS-2048 - Use query parameter by default
  yii2-adapter/legacy/web/twig/variables/Paginate.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor flash messages a tiny bit
  resources/js/layout/AppLayout.vue
Due: none

Handle rate limited requests more gracefully
  routes/actions.php
  src/Providers/AppServiceProvider.php
  src/Route/RouteServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Forgot password flow
  packages/craftcms-cp/src/components/button/button.styles.ts
  resources/js/components/Auth/LoginForm.vue
  resources/js/components/Auth/SetPasswordForm.vue
  resources/js/components/FlashMessages.vue
  resources/js/composables/useFlashMessages.ts
  resources/js/layout/AuthBase.vue
  resources/js/pages/Auth/Challenge.vue
  resources/js/pages/Auth/Login.vue
Due: none

Fix typo
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
Due: none

Remove unused import
  resources/js/components/Auth/LoginForm.vue
Due: none

Move logout route back
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove special logout logic
  src/Http/Controllers/Auth/LoginController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Removes debugbar preferences and registration
  resources/templates/users/_preferences.twig
  src/Http/Controllers/Users/PreferencesController.php
  tests/Feature/Http/Controllers/User/PreferencesControllerTest.php
  yii2-adapter/legacy/web/Application.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove double class on pane
  resources/js/components/Pane.vue
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
