Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

PreferencesControllerTest
  tests/Http/Controllers/User/PreferencesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

SuspendControllerTest
  src/User/UserServiceProvider.php
  tests/Http/Controllers/User/SuspendControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

UnlockControllerTest
  tests/Http/Controllers/User/UnlockControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

UsersControllerTest
  src/Http/Controllers/Users/UsersController.php
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use cpTrigger
  tests/Http/Controllers/User/AddressesControllerTest.php
  tests/Http/Controllers/User/PasskeysControllerTest.php
  tests/Http/Controllers/User/PasswordControllerTest.php
  tests/Http/Controllers/User/PreferencesControllerTest.php
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix import
  routes/actions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clear instance
  yii2-adapter/legacy/test/Craft.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Bulk op causes lock on db
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Skip potential issue tests?
  tests/Http/Controllers/User/PasswordControllerTest.php
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert skip
  tests/Http/Controllers/User/PasswordControllerTest.php
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Do we need more memory?
  .github/workflows/laravel-ci.yml
Due: none

Revert more memory
  .github/workflows/laravel-ci.yml
Due: none

Remove all but 1 controller test
  tests/Http/Controllers/User/EnableControllerTest.php
  tests/Http/Controllers/User/PasskeysControllerTest.php
  tests/Http/Controllers/User/PasswordControllerTest.php
  tests/Http/Controllers/User/PhotoControllerTest.php
  tests/Http/Controllers/User/PreferencesControllerTest.php
  tests/Http/Controllers/User/SuspendControllerTest.php
  tests/Http/Controllers/User/UnlockControllerTest.php
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove all
  tests/Http/Controllers/User/ActivateControllerTest.php
  tests/Http/Controllers/User/AddressesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed migration bug
  src/services/Entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ActivateControllerTest
  tests/Http/Controllers/User/ActivateControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

AddressesControllerTest
  tests/Http/Controllers/User/AddressesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Transact db2 connection
  tests/Http/Controllers/User/AddressesControllerTest.php
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

->getSession()->authorize was causing issues
  src/Field/Assets.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/GraphqlController.php
  yii2-adapter/legacy/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix ->getSession()->authorize
  src/Field/Assets.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/behaviors/SessionBehavior.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/GraphqlController.php
  yii2-adapter/legacy/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore other tests
  tests/Http/Controllers/User/EnableControllerTest.php
  tests/Http/Controllers/User/PasskeysControllerTest.php
  tests/Http/Controllers/User/PasswordControllerTest.php
  tests/Http/Controllers/User/PhotoControllerTest.php
  tests/Http/Controllers/User/PreferencesControllerTest.php
  tests/Http/Controllers/User/SuspendControllerTest.php
  tests/Http/Controllers/User/UnlockControllerTest.php
  tests/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix typo
  packages/craftcms-cp/src/components/input-file/selected-file-list.ts
Due: none

Fix selecting file when field has a value
  resources/js/components/FileUpload.vue
Due: none

@ts-ignore
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Add `craft-shortcut` component
  packages/craftcms-cp/src/components/shortcut/shortcut.stories.ts
  packages/craftcms-cp/src/components/shortcut/shortcut.ts
  packages/craftcms-cp/src/index.ts
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Add craft-shortcut component
  packages/craftcms-cp/src/components/shortcut/shortcut.stories.ts
  packages/craftcms-cp/src/components/shortcut/shortcut.ts
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Support orBetter in RequiresEditionRule
  src/Shared/Rules/RequiresEditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

`craft-navigation` -> `craft-nav-list`
  packages/craftcms-cp/src/components/nav-item/nav-item.stories.ts
  packages/craftcms-cp/src/components/nav-item/nav-item.ts
  packages/craftcms-cp/src/components/nav-list/nav-list.ts
  packages/craftcms-cp/src/components/navigation/navigation.ts
  packages/craftcms-cp/src/index.ts
  resources/build/SettingsGeneralPage.js
  resources/js/components/MainNav.vue
  resources/templates/_layouts/components/global-sidebar.twig
Due: none

Fix test
  src/Cp/SelectOptions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove empty file
  tests/Http/Controllers/Settings/GeneralSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  tests/Http/Controllers/Settings/GeneralSettingsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Translate strings
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Prettier
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Remove unused method
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refator t function
  packages/craftcms-cp/src/types/globals.d.ts
  packages/craftcms-cp/src/utilities/translate.test.ts
  packages/craftcms-cp/src/utilities/translate.ts
  resources/js/Craft.d.ts
  resources/js/components/install/AccountFields.vue
  resources/js/components/install/DbFields.vue
  resources/js/components/install/InstallingScreen.vue
  resources/js/components/install/SiteFields.vue
  resources/js/composables/useInstall.ts
  resources/js/pages/Install.vue
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Missed one
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Build
  resources/build/SettingsGeneralPage.js
  resources/build/assets/SettingsGeneralPage.css
  resources/build/assets/cp.css
  resources/build/legacy.js
Due: prettier --ignore-unknown --write

Build
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/Install.css
  resources/build/assets/SettingsGeneralPage.css
  resources/js/components/install/SiteFields.vue
Due: prettier --ignore-unknown --write

Remove `label`s
  resources/js/components/MainNav.vue
  resources/templates/_layouts/components/global-sidebar.twig
Due: none
