Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add ElementList, ElementChips and useElementList
  resources/js/modules/elements/components/ElementChips.test.ts
  resources/js/modules/elements/components/ElementChips.vue
  resources/js/modules/elements/components/ElementList.vue
  resources/js/modules/elements/composables/useElementList.ts
Due: none

Rework the form renderer's control runtime
  resources/js/modules/forms/ChoiceControl.vue
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/FormRenderer.vue
  resources/js/modules/forms/runtime.ts
  resources/js/modules/forms/types.ts
  resources/js/modules/forms/useServerRenderedControl.ts
  src/Form/FormControlTypes.php
  tests/Unit/Form/FormExtensionTypesTest.php
  tests/Unit/Form/ScalarControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a useSelectable composable
  resources/js/common/composables/useSelectable.mdx
  resources/js/common/composables/useSelectable.stories.ts
  resources/js/common/composables/useSelectable.test.ts
  resources/js/common/composables/useSelectable.ts
Due: none

Add TODO0
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

Color and spacing refinement
  packages/craftcms-legacy/cp/src/css/_main.scss
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/forms/ElementSelectControl.vue
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Only add a blank option to an optional select
  src/Form/Controls/Choice.php
  tests/Unit/Form/ChoiceBlankOptionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Give the legacy runtime import test a realistic timeout
  resources/js/modules/legacy-runtime-dependencies.test.ts
Due: none

Cleanup stray logs
  packages/craftcms-ui/src/components/badge/badge.ts
  packages/craftcms-ui/src/components/breadcrumbs/breadcrumbs.ts
Due: none

Show thumbnails for chips
  resources/js/modules/elements/components/ElementChips.vue
  resources/js/modules/forms/ElementSelectControl.vue
  src/Form/Controls/ElementSelect.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop the fullWidth expectation from the Form page test
  resources/js/pages/Form.test.ts
Due: none

Support every relation field view mode, with selection
  resources/js/modules/forms/ElementSelectControl.stories.ts
  resources/js/modules/forms/ElementSelectControl.test.ts
  resources/js/modules/forms/ElementSelectControl.vue
  src/Field/BaseRelationField.php
  src/Form/Controls/ElementSelect.php
  tests/Feature/Form/ElementSelectControlTest.php
  tests/Unit/Form/ElementSelectControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make cancelling an autosave disarm its debounce
  resources/js/modules/elements/composables/useElementAutosave.ts
Due: none

Paint the chip fill it takes its ink from
  packages/craftcms-ui/src/components/chip/chip.styles.ts
Due: none

VP Format
  .github/workflows/resolve-conflicts.yml
  packages/craftcms-garnish/src/custom-select.ts
  packages/craftcms-garnish/src/dom-listeners.ts
  packages/craftcms-garnish/src/menu-btn.ts
  packages/craftcms-garnish/tests/menu-btn.test.ts
  packages/craftcms-ui/src/components/badge/badge.styles.ts
  packages/craftcms-ui/src/components/badge/badge.ts
  packages/craftcms-ui/src/components/chip/chip.stories.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/field/field.styles.ts
  packages/craftcms-ui/src/components/icon/icon.test.ts
  packages/craftcms-ui/src/components/thumbnail/thumbnail.styles.ts
  packages/craftcms-ui/src/mixins/SsrChoiceInputMixin.ts
  packages/craftcms-ui/src/utilities/dom.ts
  resources/js/common/composables/useSelectable.mdx
Due: none

Let form nodes be inserted relative to existing ones
  src/Form/Concerns/InsertsNodes.php
  src/Form/Form.php
  src/Form/Nodes/Container.php
  tests/Unit/Form/FormInsertionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Take a selection, not a table, in the index view bodies
  resources/js/modules/element-selector-modal/ModalElementIndex.vue
  resources/js/modules/elements/ElementIndex.mdx
  resources/js/modules/elements/components/BaseElementIndex.vue
  resources/js/modules/elements/components/BulkActionsBar.vue
  resources/js/modules/elements/components/ElementCards.stories.ts
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/components/ElementIndexPage.vue
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/elements/composables/useElementIndexSelection.ts
Due: none

Document craft-empty
  packages/craftcms-ui/src/components/empty/Empty.mdx
  packages/craftcms-ui/src/components/empty/empty.ts
Due: none

Document craft-badge-indicator
  packages/craftcms-ui/src/components/badge-indicator/BadgeIndicator.mdx
  packages/craftcms-ui/src/components/badge-indicator/badge-indicator.ts
Due: none

Document craft-progress
  packages/craftcms-ui/src/components/progress/Progress.mdx
Due: none

Document craft-progress-bar
  packages/craftcms-ui/src/components/progress-bar/ProgressBar.mdx
Due: none

Document craft-dialog
  packages/craftcms-ui/src/components/dialog/Dialog.mdx
  packages/craftcms-ui/src/components/dialog/dialog.ts
Due: none

Document craft-popover
  packages/craftcms-ui/src/components/popover/Popover.mdx
  packages/craftcms-ui/src/components/popover/popover.ts
Due: none

Document craft-disclosure
  packages/craftcms-ui/src/components/disclosure/Disclosure.mdx
  packages/craftcms-ui/src/components/disclosure/disclosure.ts
Due: none

Document craft-action-menu
  packages/craftcms-ui/src/components/action-menu/ActionMenu.mdx
Due: none

Fixed #19518
  CHANGELOG.md
  src/helpers/Api.php
  src/services/Config.php
  src/services/Plugins.php
  src/web/assets/plugins/dist/PluginManager.js
  src/web/assets/plugins/dist/PluginManager.js.map
  src/web/assets/plugins/src/PluginManager.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow Users location on Windows
  src/services/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

make positive lookahead non-optional
  src/helpers/App.php
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

more tests
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move filesystem URL settings to implementations
  src/Asset/Data/Volume.php
  src/Database/Migrations/2026_09_01_000000_move_filesystem_url_settings.php
  src/Filesystem/Contracts/FsInterface.php
  src/Filesystem/Filesystems.php
  src/Filesystem/Filesystems/DiskFilesystem.php
  src/Filesystem/Filesystems/Filesystem.php
  src/Filesystem/Filesystems/Local.php
  src/Http/Controllers/Settings/FilesystemsController.php
  src/Http/ViewModels/FilesystemsEditViewModel.php
  src/Image/ImageTransformer.php
  tests/Feature/Asset/VolumeFilesystemResolutionTest.php
  tests/Unit/Filesystem/FilesystemSettingsFormTest.php
  yii2-adapter/legacy/base/Fs.php
  yii2-adapter/legacy/base/FsTrait.php
  yii2-adapter/src/Mixins/VolumeMixin.php
  yii2-adapter/tests-laravel/Filesystem/FilesystemCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

Fix element select thumbnail tests
  database/Factories/VolumeFactory.php
  tests/Feature/Form/ElementSelectControlTest.php
  tests/Unit/Form/ElementSelectControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

don't try to create duplicates of composite unique index
  src/base/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix element select tests
  database/Factories/VolumeFactory.php
  tests/Feature/Form/ElementSelectControlTest.php
  tests/Unit/Form/ElementSelectControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run Pest tests in parallel
  .ai/rules/tests.md
  .github/workflows/laravel-ci.yml
  composer.json
  docs/markdown.md
  tests/Feature/Database/Commands/MigrateCommandTest.php
  tests/Feature/Http/Controllers/InstallControllerTest.php
  tests/Feature/ProjectConfig/Commands/RepairCommandTest.php
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Increase test memory limit
  .github/actions/run-tests/action.yml
  phpunit.xml.dist
Due: none

Fix TIA baseline generation
  .github/workflows/tia-baseline.yml
Due: none

Fix env path
  .github/workflows/tia-baseline.yml
Due: none

Remove unnecessary test
  tests/Feature/Auth/Events/AuthorizingElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add pest setup for TIA
  tests/Pest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add concurrency
  .github/workflows/tia-baseline.yml
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
