Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

doh
  src/Import/Importers/ModelImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

move all config edit to one page (WIP)
  resources/js/pages/import/configs/Edit.vue
  resources/js/pages/import/configs/FieldLayoutProvider.vue
  resources/js/pages/import/configs/Index.vue
  resources/js/pages/import/configs/MappingSection.test.ts
  resources/js/pages/import/configs/MappingSection.vue
  routes/actions.php
  routes/cp.php
  src/Asset/Import/AssetImporter.php
  src/Element/Import/ElementImporter.php
  src/Entry/Import/EntryImporter.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Http/ViewModels/ImportConfigEditViewModel.php
  src/Http/ViewModels/ImportFieldLayoutProviderViewModel.php
  src/Import/Commands/Element.php
  src/Support/ImportHelper.php
  src/User/Import/UserImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

added new combocreate control
  resources/js/modules/forms/ComboboxCreateControl.vue
  resources/js/modules/forms/combobox-create.ts
  resources/js/modules/forms/register.ts
  src/Form/Controls/ComboboxCreate.php
  src/Form/FormControlTypes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix user edit sidebar
  resources/js/modules/elements/components/ElementEditScreen.vue
  resources/js/pages/users/Edit.vue
Due: none

Add user sidebar changelog entry
  CHANGELOG.md
Due: none

Add user group form control
  resources/js/modules/forms/UserGroupSelectControl.test.ts
  resources/js/modules/forms/UserGroupSelectControl.vue
  resources/js/modules/forms/register.ts
  resources/js/modules/user/components/UserGroupSelect.vue
  resources/js/pages/users/Permissions.vue
  src/Form/Controls/UserGroupSelect.php
  src/Form/FormControlTypes.php
  src/Http/Controllers/Settings/Users/UserGroupsController.php
  tests/Feature/Http/Controllers/Settings/UserGroupsControllerTest.php
  tests/Unit/Form/UserGroupSelectControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cover user group form control registration
  tests/Unit/Form/FormExtensionTypesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add custom activity event components
  resources/js/bootstrap/cp-app.ts
  resources/js/modules/activity/components/ActivityTimeline.vue
  resources/js/modules/activity/components/ActivityTimelineComment.test.ts
  resources/js/modules/activity/components/ActivityTimelineComment.vue
  resources/js/modules/activity/components/ActivityTimelineEvent.vue
  resources/js/modules/activity/composables/useActivityTimeline.ts
  resources/js/modules/activity/register.ts
  src/Activity/ActivityEventType.php
  src/Activity/ActivityTimelinePresenter.php
  src/Activity/Contracts/ActivityEventTypeInterface.php
  src/Activity/EventTypes/CommentEvent.php
  tests/Feature/Http/Controllers/Elements/ActivityTimelineControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Preserve reference tags during replacement
  src/Field/Concerns/TracksReferences.php
  tests/Feature/Element/Jobs/ReplaceReferencesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add element details tab registry
  resources/js/bootstrap/cp.ts
  resources/js/bootstrap/element-details-tabs.test.ts
  resources/js/bootstrap/element-details-tabs.ts
  resources/js/common/types/globals.d.ts
  resources/js/modules/elements/components/ElementActivityTimeline.vue
  resources/js/modules/elements/components/ElementDetailsTabs.test.ts
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/modules/elements/components/ElementEditScreen.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/components/RevisionsList.vue
Due: none

Changelog
  CHANGELOG.md
Due: none

fix change event bug
  resources/js/modules/forms/ConditionBuilderControl.vue
Due: none

Keep nav row actions from triggering the row's link
  packages/craftcms-ui/src/components/nav-item/nav-item.browser.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Rework the New Entry button and move it into the index toolbar
  resources/js/modules/elements/components/ElementIndexPage.vue
  resources/js/modules/elements/components/ElementIndexToolbar.vue
  resources/js/modules/elements/components/NewEntryButton.test.ts
  resources/js/modules/elements/components/NewEntryButton.vue
  resources/js/pages/content/Index.vue
Due: none

Move HUD styles into the slideout panel stylesheet
  packages/craftcms-legacy/cp/src/css/_hud.scss
  packages/craftcms-legacy/cp/src/css/_main.scss
  resources/js/common/slideouts/panel-stack.css
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Open element settings in Vue slideouts
  resources/js/modules/elements/composables/useElementActionMenu.test.ts
  resources/js/modules/elements/composables/useElementActionMenu.ts
  src/Asset/Elements/Asset.php
  src/Entry/Elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Give active action items the nav's current-item look
  packages/craftcms-ui/src/components/action-item/action-item.styles.ts
Due: none

Fix focus and announcements for nested Vue slideouts
  packages/craftcms-legacy/cp/src/js/CP.js
  resources/js/common/slideouts/SlideoutPanel.vue
  resources/js/common/slideouts/slideouts.test.ts
  resources/js/common/slideouts/store.ts
Due: none

Re-teleport layout slot content when an outlet's target is replaced
  resources/js/common/components/LayoutSlot.vue
  resources/js/common/components/LayoutSlotOutlet.vue
  resources/js/common/composables/layoutSlots.test.ts
  resources/js/common/composables/layoutSlots.ts
Due: none

Add an opt-in outline and label overlay for layout slots
  resources/js/common/components/LayoutSlotOutlet.vue
  resources/js/common/composables/layoutSlotDebug.test.ts
  resources/js/common/composables/layoutSlotDebug.ts
  resources/js/common/composables/layoutSlotDebugOverlay.test.ts
  resources/js/common/composables/layoutSlotDebugOverlay.ts
Due: none

Edit elements with ElementEditor on full pages too
  resources/js/common/composables/screen.ts
  resources/js/modules/elements/components/ElementDetailsTabs.test.ts
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/modules/elements/components/ElementEditScreen.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/pages/assets/Edit.vue
  resources/js/pages/content/Edit.vue
  resources/js/pages/users/Edit.vue
Due: none

Split PageScreen into regions, with a content footer and a notices slot
  resources/js/common/layouts/AppLayout.stories.ts
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/common/layouts/screens/PassthroughScreen.vue
  resources/js/common/layouts/screens/SlideoutScreen.vue
  resources/js/common/layouts/screens/page/ContentDetails.vue
  resources/js/common/layouts/screens/page/ContentFooter.vue
  resources/js/common/layouts/screens/page/ContentHeader.vue
  resources/js/common/layouts/screens/page/ContentSidebar.vue
  resources/js/common/layouts/screens/page/ScreenOverlays.vue
  resources/js/common/layouts/screens/page/ScreenSkipLinks.vue
  resources/js/common/layouts/screens/page/useDetailsResizer.ts
  resources/js/common/layouts/screens/types.ts
  resources/js/common/layouts/screens/useScreenRegions.ts
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/pages/cp/Screen.vue
Due: none

Make quiet borders translucent, with one variable to tune
  packages/craftcms-ui/scripts/generate-colors.js
  packages/craftcms-ui/src/styles/shared/colorable.css
  packages/craftcms-ui/src/styles/shared/variables.css
  resources/js/common/components/CpSidebar.vue
Due: prettier --ignore-unknown --write

Add Tailwind border colors that follow data-color
  packages/craftcms-ui/tailwind.css
Due: prettier --ignore-unknown --write

Stop loading the legacy CP stylesheet on CP pages
  src/View/LegacyAssets/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Tailwind spacing steps from the --c-spacing tokens
  packages/craftcms-ui/tailwind.css
Due: prettier --ignore-unknown --write

Restyle CP surfaces with a dark top bar and a lighter default surface
  packages/craftcms-ui/src/styles/shared/base.css
  packages/craftcms-ui/src/styles/shared/tokens.css
  resources/css/cp.css
  resources/js/common/components/CpTopBar.vue
Due: prettier --ignore-unknown --write

Lay out the element editor in a padded container
  resources/css/cp.css
  resources/js/common/components/CpContainer.vue
  resources/js/common/components/FormActions.vue
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/modules/elements/components/ElementEditor.vue
Due: prettier --ignore-unknown --write

Tidy small styles and add template markers
  resources/js/common/components/SystemInfo.vue
  resources/js/modules/activity/components/ActivityTimeline.vue
  resources/js/modules/elements/components/BaseElementIndex.vue
  resources/js/modules/forms/FormNodeList.vue
  resources/js/modules/forms/FormRenderer.vue
Due: none

Add semantic z-index layer tokens
  packages/craftcms-ui/src/components/dialog/dialog.styles.ts
  packages/craftcms-ui/src/components/pane/pane.styles.ts
  packages/craftcms-ui/src/components/popover/popover.test.ts
  packages/craftcms-ui/src/components/popover/popover.ts
  packages/craftcms-ui/src/styles/shared/tokens.css
  packages/craftcms-ui/tailwind.css
  resources/css/cp.css
  resources/css/notifications.css
  resources/css/slideout.css
  resources/js/common/components/LayoutSlotOutlet.vue
  resources/js/common/components/Modal.vue
  resources/js/common/slideouts/SlideoutPanel.vue
  resources/js/common/slideouts/panel-stack.css
  resources/js/modules/element-select-input/base-element-select-input.ts
Due: prettier --ignore-unknown --write

Add a Tailwind utilities reference page to Storybook
  packages/craftcms-ui/src/stories/tokens/TailwindUtilities.mdx
  packages/craftcms-ui/src/stories/tokens/tailwind-theme.test.ts
  packages/craftcms-ui/src/stories/tokens/tailwind-theme.ts
  packages/craftcms-ui/src/stories/tokens/tailwind.stories.ts
  packages/craftcms-ui/src/styles/shared/colorable.css
  packages/craftcms-ui/tailwind.css
  packages/craftcms-ui/vitest.config.ts
Due: prettier --ignore-unknown --write

Add event for upload session filesystem and uploader selection
  src/Filesystem/Events/UploadSessionStarting.php
  src/Filesystem/Uploaders.php
  src/Filesystem/Uploads.php
  tests/Feature/Http/Controllers/Assets/UploadSessionControllerTest.php
  tests/Unit/Filesystem/UploadersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep OverType's z-indexes inside the markdown field
  resources/js/modules/markdown-field/markdown-field.css
Due: prettier --ignore-unknown --write

Misc styling updates
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/styles/shared/tokens.css
  resources/js/common/components/ResizeHandle.vue
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/common/layouts/screens/page/ContentDetails.vue
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/modules/elements/components/ElementEditor.vue
Due: prettier --ignore-unknown --write

Avoid direct eval in the element deletion manager
  resources/js/modules/element-deletion-manager/element-deletion-manager.ts
Due: none

Share the CP language direction through Inertia
  resources/js/common/composables/useCraftData.ts
  resources/js/common/composables/useGlobalSidebar.test.ts
  resources/js/common/composables/useGlobalSidebar.ts
  resources/views/app.blade.php
  src/Http/Middleware/HandleInertiaRequests.php
  tests/Feature/Http/Middleware/HandleInertiaRequestsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a collapse item to the bottom of the CP sidebar
  packages/craftcms-ui/src/components/nav-item/nav-item.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
  resources/css/cp.css
  resources/js/common/components/CpSidebar.vue
Due: prettier --ignore-unknown --write

Lift the floating CP sidebar above sticky page content
  resources/js/common/components/CpSidebar.vue
Due: none

Remove top bar toggle
  resources/js/common/components/CpTopBar.vue
Due: none

Add flush property to buttons
  packages/craftcms-ui/src/components/button/Docs.mdx
  packages/craftcms-ui/src/components/button/button.browser.test.ts
  packages/craftcms-ui/src/components/button/button.stories.ts
  packages/craftcms-ui/src/components/button/button.styles.ts
  packages/craftcms-ui/src/components/button/button.ts
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
