Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Update hard-coded routes to pull in the cpTrigger
  resources/js/modules/install/components/InstallingScreen.vue
  resources/js/modules/updater/composables/useUpdater.ts
  resources/js/pages/updater/Index.vue
Due: none

Use Storybook Actions panel instead of a custom event log
  packages/craftcms-garnish/.storybook/preview.css
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/17-storybook-notes.md
  packages/craftcms-garnish/stories/_log.ts
  packages/craftcms-garnish/stories/base-drag.stories.ts
  packages/craftcms-garnish/stories/compat.stories.ts
  packages/craftcms-garnish/stories/disclosure-menu.stories.ts
  packages/craftcms-garnish/stories/drag-drop.stories.ts
  packages/craftcms-garnish/stories/drag-sort.stories.ts
  packages/craftcms-garnish/stories/drag.stories.ts
  packages/craftcms-garnish/stories/focus.stories.ts
  packages/craftcms-garnish/stories/hud.stories.ts
  packages/craftcms-garnish/stories/modal.stories.ts
  packages/craftcms-garnish/stories/utilities.stories.ts
Due: prettier --ignore-unknown --write

Pull in the cpTrigger dynamically in Wayfinder-generated scripts
  resources/js/bootstrap/cp.ts
  resources/js/pages/updater/Index.vue
  scripts/wayfinder-cp-trigger.mjs
  vite.config.js
Due: none

Update actionClient to use the dynamic cpTrigger
  packages/craftcms-cp/src/utilities/api/actionClient.ts
Due: none

Release note
  CHANGELOG.md
Due: none

Fixed #19123
  CHANGELOG.md
  src/Site/Data/Site.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update build artifacts
  resources/build/assets/SectionsEdit-BhOBu1R2.js
  resources/build/assets/SectionsEdit-uGPDdjJW.js
  resources/build/assets/SitesEdit-BHUSIuAW.js
  resources/build/assets/SitesEdit-YuZkALKb.js
  resources/build/assets/cp-B4njnZKO.js
  resources/build/assets/cp-CBVxI069.js
  resources/build/assets/cp-CuYX4ryO.js
  resources/build/assets/cp-DL9vEN-O.js
  resources/build/assets/cp-DxH4oSiE.js
  resources/build/assets/cp-nQDMSRjM.js
  resources/build/assets/legacy-CMke7gFN.js
  resources/build/assets/legacy-CkdSmSVu.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

If configured user model doesn't exist, use the Craft one
  src/Auth/AuthServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make cpTrigger and actionTrigger dynamic
  routes/actions.php
  routes/routes.php
  routes/web.php
  src/Http/Middleware/ForgetTriggerParameters.php
  src/Http/Mixins/RequestMixin.php
  src/Http/Routing/ActionRoute.php
  src/Http/Routing/ActionRouteResolver.php
  src/Plugin/Concerns/HasRoutes.php
  src/Route/RouteServiceProvider.php
  src/Route/Routes.php
  tests/Unit/Http/Middleware/HandleActionRequestTest.php
  tests/Unit/Http/RequestMixinTest.php
  tests/Unit/Http/Routing/ActionRouteResolverTest.php
  tests/Unit/Plugin/Concerns/HasRoutesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set Wayfinder url defaults on cp boot
  resources/js/bootstrap/cp.ts
Due: none

Cleanup wayfinder callsites due to new signatures
  resources/js/common/components/CurrentUser.vue
  resources/js/common/components/UserMenu.vue
  resources/js/components/form/EntryTypeSelect.vue
  resources/js/modules/entry-types/components/CreateEntryTypeButton.vue
  resources/js/modules/install/components/InstallingScreen.vue
  resources/js/modules/plugin-manager/components/PluginLinks.vue
  resources/js/modules/sites/components/DeleteSiteModal.vue
  resources/js/modules/updater/components/Update.vue
  resources/js/modules/updater/components/Updates.vue
  resources/js/modules/updater/composables/useUpdater.ts
  resources/js/pages/graphql/Schemas.vue
  resources/js/pages/graphql/Tokens.vue
  resources/js/pages/settings/EntryTypes.vue
  resources/js/pages/settings/Fields.vue
  resources/js/pages/settings/Filesystems.vue
  resources/js/pages/settings/ImageTransforms.vue
  resources/js/pages/settings/Sections.vue
  resources/js/pages/settings/Sites.vue
  resources/js/pages/settings/UserGroups.vue
  resources/js/pages/settings/Volumes.vue
  resources/js/pages/settings/routes/Edit.vue
  resources/js/pages/settings/routes/Index.vue
Due: none

First pass at the new entry type page
  packages/craftcms-cp/src/components/input/input.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/tailwind.css
  packages/craftcms-legacy/cp/src/css/_fld.scss
  packages/craftcms-legacy/cp/src/css/craft.scss
  packages/craftcms-legacy/cp/src/js/FieldLayoutDesigner.js
  packages/craftcms-legacy/garnish/src/Garnish.js
  resources/css/cp.css
  resources/css/fld.css
  resources/js/common/composables/useFieldLayoutDesigner.ts
  resources/js/common/types/globals.d.ts
  resources/js/pages/settings/EntryTypesEdit.vue
  resources/views/forms/fld/designer.blade.php
  resources/views/forms/fld/tab.blade.php
  src/Cp/FieldLayoutDesigner/FieldLayoutDesigner.php
  src/FieldLayout/LayoutElements/BaseField.php
  src/FieldLayout/LayoutElements/HorizontalRule.php
  src/FieldLayout/LayoutElements/LineBreak.php
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix test
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More semantic checking
  packages/craftcms-legacy/garnish/src/Garnish.js
Due: none

WIP: vanilla-JS FieldLayoutDesigner (jQuery only at Craft seams)
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/FieldLayoutDesigner.js
  resources/js/cp.ts
  resources/js/modules/field-layout-designer/CardViewDesigner.ts
  resources/js/modules/field-layout-designer/Element.ts
  resources/js/modules/field-layout-designer/FieldLayoutDesigner.ts
  resources/js/modules/field-layout-designer/README.md
  resources/js/modules/field-layout-designer/Tab.ts
  resources/js/modules/field-layout-designer/drags.ts
  resources/js/modules/field-layout-designer/index.ts
  resources/js/modules/field-layout-designer/support.ts
  resources/js/modules/field-layout-designer/types.ts
Due: none

Get FLD up and running
  packages/craftcms-garnish/src/hud.ts
  packages/craftcms-garnish/tests/hud.test.ts
  packages/craftcms-legacy/cp/src/css/craft.scss
  resources/js/legacy.ts
  resources/js/modules/field-layout-designer/Tab.ts
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Update docs
  packages/craftcms-garnish/docs/13-hud-design.md
  packages/craftcms-garnish/docs/14-hud-impl-notes.md
Due: none

Cleanup Overtype overrides
  package-lock.json
  package.json
  resources/js/modules/markdown-field/MarkdownField.ts
  resources/js/modules/markdown-field/behaviors/shortcuts.ts
  resources/js/modules/markdown-field/behaviors/toolbar/active-states.ts
  resources/js/modules/markdown-field/behaviors/toolbar/index.ts
  resources/js/modules/markdown-field/behaviors/toolbar/items.ts
  resources/js/modules/markdown-field/behaviors/toolbar/keyboard.ts
Due: prettier --ignore-unknown --write

apply map to data + tweaks
  resources/templates/import/configs/_map.twig
  resources/templates/import/configs/index.twig
  src/Field/Addresses.php
  src/Field/ContentBlock.php
  src/Field/Matrix.php
  src/FieldLayout/Concerns/ImportableFieldLayoutElement.php
  src/FieldLayout/LayoutElements/Addresses/AddressField.php
  src/FieldLayout/LayoutElements/Addresses/LatLongField.php
  src/FieldLayout/LayoutElements/CustomField.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Import/Import.php
  src/Support/ImportHelper.php
  tests/Feature/Import/ImportHelperTest.php
  tests/Feature/Import/ImportMatrixValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use current map for slideouts if different
  resources/templates/import/configs/_map.twig
  resources/templates/import/configs/index.twig
  src/Http/Controllers/Import/ImportConfigController.php
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update build artifacts
  resources/build/assets/MarkdownField-Cij93lXa.js
  resources/build/assets/MarkdownField-D3AqcC3W.js
  resources/build/assets/legacy-CkdSmSVu.js
  resources/build/assets/legacy-s8Wpfe97.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

cpTrigger can be null
  resources/js/common/composables/useCraftData.ts
Due: none

Make the updater's fallback returnUrl dynamic
  resources/js/pages/updater/Index.vue
Due: none

Pass legacy route params as query params instead of post
  yii2-adapter/legacy/web/Application.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

DeprecatedTable class
  yii2-adapter/src/Database/DeprecatedTable.php
  yii2-adapter/src/DeprecatedConcepts.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update composable to use new FLD
  resources/js/common/composables/useFieldLayoutDesigner.ts
  resources/js/modules/field-layout-designer/index.ts
Due: none

Capitalize first word in deletion blocker messages
  src/elements/deletionblockers/RelationDeletionBlocker.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adds missing "Delete {type}" static translation string to CpAsset
  src/web/assets/cp/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adds the plural "Delete {types}" string, too
  src/web/assets/cp/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Default $withStructure to true for entry queries
  CHANGELOG.md
  src/Element/Queries/Concerns/QueriesStructures.php
  src/Element/Queries/EntryQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed structure repositioning bug
  CHANGELOG.md
  src/Element/Concerns/Structurable.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1481
  CHANGELOG.md
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Laravel-based element query classes for deprecated elements
  yii2-adapter/legacy/elements/Category.php
  yii2-adapter/legacy/elements/GlobalSet.php
  yii2-adapter/legacy/elements/Tag.php
  yii2-adapter/src/Element/Queries/CategoryQuery.php
  yii2-adapter/src/Element/Queries/Concerns/Category/QueriesCategoryGroups.php
  yii2-adapter/src/Element/Queries/Concerns/Category/QueriesRef.php
  yii2-adapter/src/Element/Queries/Concerns/Tag/QueriesTagGroups.php
  yii2-adapter/src/Element/Queries/GlobalSetQuery.php
  yii2-adapter/src/Element/Queries/TagQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1479
  CHANGELOG.md
  src/elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed redirect after creating a new category
  packages/craftcms-legacy/cp/src/js/CategoryIndex.js
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
Due: none

Fix PhpStan issues
  src/Element/Queries/Concerns/QueriesStructures.php
  yii2-adapter/legacy/console/controllers/EntrifyController.php
  yii2-adapter/legacy/elements/Category.php
  yii2-adapter/src/Element/Queries/CategoryQuery.php
  yii2-adapter/src/Mixins/CraftVariableMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update a couple more references to the old query classes
  yii2-adapter/legacy/elements/conditions/categories/GroupConditionRule.php
  yii2-adapter/legacy/elements/conditions/tags/GroupConditionRule.php
  yii2-adapter/legacy/fields/Categories.php
  yii2-adapter/legacy/fields/Tags.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
