Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

no need to check the input sources count
  src/fields/Categories.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add some tests
  cms/tests/Addresses/AddressesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace AddressesController
  cms/routes/actions.php
  cms/src/Http/Controllers/AddressesController.php
  src/controllers/AddressesController.php
  src/services/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a way to render views
  cms/routes/cp.php
  cms/src/Providers/CraftServiceProvider.php
  cms/src/Twig/Engine.php
  cms/src/Twig/TwigServiceProvider.php
  src/config/cproutes/common.php
  src/templates/settings/addresses/_fields.twig
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add controller test
  cms/tests/Http/Controllers/AddressesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

@packageRoot -> @craftcms
  src/Http/Controllers/InstallController.php
  src/Providers/AppServiceProvider.php
  src/Providers/IconServiceProvider.php
  yii2-adapter/legacy/console/controllers/EntryTypesController.php
  yii2-adapter/legacy/console/controllers/FieldsController.php
  yii2-adapter/legacy/controllers/AppController.php
  yii2-adapter/legacy/fields/Icon.php
  yii2-adapter/legacy/helpers/Cp.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run pint on full repo except adapter
  ecs.php
  pint.json
  rector.php
  scripts/copyicons.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Get Laravel tests running
  composer.json
  composer.lock
  phpunit.xml.dist
  tests/TestCase.php
  yii2-adapter/composer.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix lint-staged to run ecs on adapter
  .lintstagedrc.json
  composer.json
  composer.lock
  yii2-adapter/lib/ar-softdelete/src/SoftDeleteQueryBehavior.php
  yii2-adapter/tests/Legacy/helpers/StringHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add yii2-adapter to export-ignore
  .gitattributes
Due: none

Move ecs to adapter
  .lintstagedrc.json
  composer.json
  composer.lock
  yii2-adapter/composer.lock
  yii2-adapter/ecs.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix adapter tests running
  composer.json
Due: prettier --ignore-unknown --write

Run rector only on cms and not adapter
  rector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

only get entry type select input for non-nested entries
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Prettier
  .lintstagedrc.json
  pint.json
Due: prettier --ignore-unknown --write

ensure overrides are visible in entry type chips even after editing global entry type
  src/controllers/AppController.php
  src/models/EntryType.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CpScreenSlideout.js
  src/web/assets/cp/src/js/Craft.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Get codeception tests running
  yii2-adapter/codeception.yml
  yii2-adapter/composer.json
  yii2-adapter/composer.lock
  yii2-adapter/legacy-tests/functional.suite.yml
  yii2-adapter/legacy-tests/unit.suite.yml
  yii2-adapter/legacy/test/TestSetup.php
  yii2-adapter/phpunit.xml.dist
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix pint workflow
  .github/workflows/laravel-ci.yml
Due: none

Add example env files
  tests/.env.example.mysql
  tests/.env.example.pgsql
Due: none

Fix phpstan
  phpstan.neon
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow copy action for static matrix blocks
  src/templates/_components/fieldtypes/Matrix/block.twig
Due: none

when max entries reached, hide the duplicate action
  src/web/assets/matrix/src/MatrixInput.js
Due: none

fixes an issue with matrix field's canDuplicateAsDraft
  src/controllers/MatrixController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
Due: none

Move focus to logical element when deleting non-structure elements
  src/web/assets/cp/src/js/BaseElementSelectInput.js
Due: none

Make sure negative indices are not used when getting prev element
  src/web/assets/cp/src/js/BaseElementSelectInput.js
Due: none

More refactoring to grab element target
  src/web/assets/cp/src/js/BaseElementSelectInput.js
Due: none

Build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementSelectInput.js
Due: none

Make `new` a reserved FS handle
  CHANGELOG.md
  src/base/Fs.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Typo
  src/console/controllers/FieldsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #17858
  CHANGELOG.md
  src/gql/base/ElementArguments.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #17740
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Write out YAML after each field merge
  CHANGELOG.md
  src/console/controllers/FieldsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Fabric to latest
  package-lock.json
  package.json
  src/web/assets/fabric/dist/fabric.js
  src/web/assets/fabric/dist/fabric.js.LICENSE.txt
  src/web/assets/fabric/webpack.config.js
Due: prettier --ignore-unknown --write

Update AssetImageEditor
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Cleanup
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
