Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Mount the Vue element index inside the selector modal
  resources/js/modules/element-select-input/base-element-select-input.ts
  resources/js/modules/element-selector-modal/ModalElementIndex.vue
  resources/js/modules/element-selector-modal/asset-selector-modal.ts
  resources/js/modules/element-selector-modal/base-element-selector-modal.ts
  resources/js/modules/element-selector-modal/volume-folder-selector-modal.ts
Due: none

Give modal index rows the metadata a relation field needs
  src/Http/ViewModels/ModalIndexViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Load the selector modal's stack only when one opens
  resources/js/modules/element-select-input/base-element-select-input.ts
  resources/js/modules/element-selector-modal/base-element-selector-modal.ts
Due: none

Ignore Lion's initialization event in CheckboxGroup
  resources/js/common/form/CheckboxGroup.vue
Due: none

Add sortable and allowAll options to the Choice Control
  resources/js/modules/forms/ChoiceControl.test.ts
  resources/js/modules/forms/ChoiceControl.vue
  src/Form/Controls/Choice.php
  tests/Unit/Form/ScalarControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Let a ConditionBuilder Control override its add-rule label
  src/Form/Controls/ConditionBuilder.php
  src/Http/Controllers/FieldsController.php
  tests/Unit/Form/ConditionBuilderFieldLayoutsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Return element index sources as Form payloads
  routes/actions.php
  src/Element/ElementSourceForm.php
  src/Http/Controllers/Elements/ElementSourcesController.php
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Correct the modal submit variant and sidebar stacking
  resources/js/common/components/CpSidebar.vue
  resources/js/common/components/ModalForm.vue
Due: none

Let a modal be resized by a corner handle
  resources/js/common/components/Modal.vue
  resources/js/common/components/ModalForm.vue
Due: none

Rebuild the customize-sources modal in Vue
  packages/craftcms-legacy/cp/src/js/BaseElementIndex.js
  resources/js/common/types/globals.d.ts
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/customize-sources-modal/customize-sources-modal.ts
  resources/js/modules/customize-sources-modal/index.ts
  resources/js/modules/elements/components/ElementIndexPage.vue
  resources/js/modules/elements/components/customize-sources/CustomizeSourcesModal.vue
  resources/js/modules/elements/components/customize-sources/PageIcon.vue
  resources/js/modules/elements/components/customize-sources/PageSettingsModal.vue
  resources/js/modules/elements/components/customize-sources/PagesSidebar.vue
  resources/js/modules/elements/components/customize-sources/SourcesSidebar.vue
  resources/js/modules/elements/components/customize-sources/types.ts
  resources/js/modules/elements/composables/useElementIndexPage.ts
Due: none

Render Choice button icons through craft-icon
  resources/js/modules/forms/ChoiceControl.test.ts
  resources/js/modules/forms/ChoiceControl.vue
  src/Element/ElementSourceForm.php
  src/Form/Controls/Choice.php
  tests/Unit/Form/ScalarControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

adjust craft-field-group
  packages/craftcms-ui/src/components/field-group/field-group.ts
  resources/js/modules/elements/components/customize-sources/CustomizeSourcesModal.vue
Due: none

Extract the customize-sources row list into CustomSourceList
  resources/js/modules/elements/components/customize-sources/CustomSourceList.vue
  resources/js/modules/elements/components/customize-sources/PagesSidebar.vue
  resources/js/modules/elements/components/customize-sources/SourcesSidebar.vue
Due: none

Take row actions as a prop on CustomSourceList
  resources/js/modules/elements/components/customize-sources/CustomSourceList.vue
  resources/js/modules/elements/components/customize-sources/PagesSidebar.vue
  resources/js/modules/elements/components/customize-sources/SourcesSidebar.vue
Due: none

Move row label rendering into CustomSourceList
  resources/js/modules/elements/components/customize-sources/CustomSourceList.vue
  resources/js/modules/elements/components/customize-sources/CustomizeSourcesModal.vue
  resources/js/modules/elements/components/customize-sources/PagesSidebar.vue
  resources/js/modules/elements/components/customize-sources/SourcesSidebar.vue
Due: none

Add selected hints and disabled combobox options
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
  packages/craftcms-ui/src/components/combobox/combobox.ts
  resources/js/modules/forms/ComboboxControl.vue
  src/Cp/Components/Combobox.php
  src/Form/Controls/Combobox.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Show all combobox options on reopen
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
  packages/craftcms-ui/src/components/combobox/combobox.ts
Due: none

Add filesystem select form control
  resources/js/modules/forms/FilesystemSelectControl.vue
  resources/js/modules/forms/filesystem-select.test.ts
  resources/js/modules/forms/filesystem-select.ts
  resources/js/modules/forms/register.ts
  src/Cp/Components/FilesystemSelect.php
  src/Form/Controls/Combobox.php
  src/Form/Controls/FilesystemSelect.php
  src/Form/FormControlTypes.php
  tests/Unit/Form/FormExtensionTypesTest.php
  workbench/app/Forms/FormKitchenSink.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use Inertia links for control panel navigation
  resources/js/common/components/CpLink.test.ts
  resources/js/common/components/CpLink.vue
  resources/js/common/components/MainNav.test.ts
  resources/js/common/components/MainNav.vue
  resources/js/common/components/SecondaryNav.vue
  resources/js/pages/settings/assets/Index.vue
Due: none

Port volume settings form to Inertia
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
  resources/js/common/components/CpLink.test.ts
  resources/js/common/components/MainNav.test.ts
  resources/js/modules/forms/filesystem-select.test.ts
  resources/js/modules/forms/filesystem-select.ts
  resources/js/pages/settings/assets/Index.vue
  resources/templates/settings/assets/volumes/_edit.twig
  routes/cp.php
  src/Http/Controllers/Settings/VolumesController.php
  src/Http/ViewModels/VolumeEditViewModel.php
  tests/Feature/Http/Controllers/Settings/VolumesControllerTest.php
  tests/Unit/Form/FormExtensionTypesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Address volume form review feedback
  packages/craftcms-ui/src/components/combobox/combobox.ts
  resources/js/modules/forms/filesystem-select.test.ts
  resources/js/modules/forms/filesystem-select.ts
  src/Http/Controllers/Settings/VolumesController.php
  tests/Feature/Http/Controllers/Settings/VolumesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Stop the page scrolling behind an open modal
  resources/css/cp.css
  resources/js/common/components/Modal.vue
  resources/js/common/composables/useBodyScrollLock.test.ts
  resources/js/common/composables/useBodyScrollLock.ts
Due: prettier --ignore-unknown --write

Keep an open modal from collapsing when its content shrinks
  resources/js/common/components/Modal.vue
Due: none

Fix Vue component fallback props
  resources/js/common/types/shims-vue.d.ts
Due: none

Fill the modal when its height floor holds the box open
  resources/js/common/components/Modal.vue
  resources/js/common/components/ModalForm.vue
Due: none

Always call parent::setEagerLoadedElements()
  src/base/NestedElementTrait.php
  src/elements/Asset.php
  src/elements/Entry.php
  src/elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Preserve volume text expanders after merge
  src/Http/ViewModels/VolumeEditViewModel.php
  tests/Feature/Http/Controllers/Settings/VolumesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Tests
  tests/unit/elements/EagerLoadedElementConsistencyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove resolved nav merge note
  resources/js/common/components/MainNav.vue
Due: none

Reintroduces focus outlines for selects and inputs, adds inset focus outlines to table fields
  packages/craftcms-ui/src/components/input-color/input-color.styles.ts
  packages/craftcms-ui/src/components/select-rich/select-invoker.styles.ts
  packages/craftcms-ui/src/components/textarea/textarea.styles.ts
  packages/craftcms-ui/src/styles/form.styles.ts
  packages/craftcms-ui/src/styles/shared/base.css
  packages/craftcms-ui/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Prevent concurrent sync-cms-assets runs and fail fast on an incomplete FontAwesome kit
  .github/workflows/sync-cms-assets.yml
  scripts/copyicons.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Storybook stories for CustomSourceList
  .storybook/main.ts
  resources/js/modules/elements/components/customize-sources/CustomSourceList.stories.ts
Due: none

Reflect craft-action-item's active state, and slot a prefix
  packages/craftcms-ui/src/components/action-item/action-item.ts
Due: none

Give craft-pane's header a divider and even padding
  packages/craftcms-ui/src/components/pane/pane.styles.ts
Due: none

Add a close button to the modal header
  resources/js/common/components/ModalForm.vue
Due: none

Build source rows on craft-action-item, and carry the row's kind
  resources/js/modules/elements/components/customize-sources/CustomSourceList.vue
  resources/js/modules/elements/components/customize-sources/CustomizeSourcesModal.vue
  resources/js/modules/elements/components/customize-sources/PagesSidebar.vue
  resources/js/modules/elements/components/customize-sources/SourcesSidebar.vue
Due: none

Stop loading the legacy customize-sources stylesheet
  packages/craftcms-legacy/cp/src/css/craft.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Ensure addresses are memoized when eager loading (similar to authors)
  src/elements/User.php
  tests/unit/elements/EagerLoadedElementConsistencyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix cs
  tests/unit/elements/EagerLoadedElementConsistencyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
