Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Make insert idempotent
  src/Element/Drafts.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Entry events
  src/Element/Drafts.php
  src/Entry/Elements/Entry.php
  src/Entry/Events/DefineEntryTypes.php
  src/Entry/Events/DefineMetaFields.php
  src/Entry/Events/DefineParentSelectionCriteria.php
  yii2-adapter/legacy/elements/Entry.php
  yii2-adapter/legacy/events/DefineEntryTypesEvent.php
  yii2-adapter/legacy/events/DefineMetaFields.php
  yii2-adapter/legacy/events/ElementCriteriaEvent.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace last Yii event in src/
  src/Cp/Events/RegisterCpNavItems.php
  src/Cp/Navigation.php
  yii2-adapter/legacy/events/RegisterCpNavItemsEvent.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecation errors
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/bootstrap/craft.ts
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/utilities/DeprecationErrors/DeleteLogButton.vue
  resources/js/components/utilities/DeprecationErrors/DeprecationErrors.vue
  resources/js/components/utilities/DeprecationErrors/StackTrace.vue
  resources/js/components/utilities/DeprecationErrors/StackTraceButton.vue
  resources/templates/_components/utilities/DeprecationErrors/traces_modal.twig
  resources/views/utilities/deprecation-errors/content.blade.php
  resources/views/utilities/deprecation-errors/toolbar.blade.php
  src/Deprecator/Models/DeprecationError.php
  src/Http/Controllers/Utilities/DeprecationErrorsController.php
  src/Utility/Utilities/DeprecationErrors.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Adjust PHP Info
  resources/templates/_components/utilities/PhpInfo.twig
Due: none

Output FooterHtml too
  resources/js/pages/UtilitiesShowPage.vue
Due: none

Adjust system report
  resources/templates/_components/utilities/SystemReport.twig
Due: none

Add variant to badge indicator
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.stories.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.styles.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.ts
Due: none

Correction
  src/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed `draftOf: false` bug
  CHANGELOG.md
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only duplicate ownership data for newly-created nested elements
  CHANGELOG.md
  src/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Install workbench
  composer.json
  src/Http/Middleware/HandleInertiaRequests.php
  testbench.yaml
  workbench/.gitignore
  workbench/app/Models/.gitkeep
  workbench/app/Providers/WorkbenchServiceProvider.php
  workbench/bootstrap/app.php
  workbench/bootstrap/providers.php
  workbench/config/app.php
  workbench/database/factories/.gitkeep
  workbench/database/factories/UserFactory.php
  workbench/database/migrations/.gitkeep
  workbench/database/seeders/DatabaseSeeder.php
  workbench/resources/views/.gitkeep
  workbench/routes/console.php
  workbench/routes/web.php
  yii2-adapter/src/Web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Cleanup
  workbench/database/factories/UserFactory.php
  workbench/database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Rector to the Laravel GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/laravel-ci.yml
Due: none

Need to set version
  .github/workflows/laravel-ci.yml
Due: none

Fix test
  yii2-adapter/tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix another test
  yii2-adapter/tests/unit/web/ControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run install automatically, log in automatically
  testbench.yaml
  workbench/.gitignore
  workbench/database/seeders/DatabaseSeeder.php
  workbench/routes/web.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Create a basic seeder
  src/Database/Migrations/Install.php
  src/Translation/I18N.php
  workbench/database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Redirect legacy entry URLs
  CHANGELOG.md
  src/templates/entries/index.twig
Due: none

Hyperlink ancestor breadcrumbs
  CHANGELOG.md
  src/elements/Category.php
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18379
  CHANGELOG.md
  src/models/Volume.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow passing helpers classes to create()
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

`alt` argument for asset GraphQL mutations
  CHANGELOG.md
  src/gql/arguments/mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-fvwq-45qv-xvhv
  CHANGELOG.md
  src/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18382
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
Due: none

Add `on booted` support for JS registration
  yii2-adapter/legacy/web/View.php
  yii2-adapter/legacy/web/twig/nodes/RegisterResourceNode.php
  yii2-adapter/legacy/web/twig/tokenparsers/RegisterResourceTokenParser.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

BridgeAssetBundles middleware
  resources/js/composables/useBridgedAssets.ts
  src/Http/Middleware/BridgeAssetBundles.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Bridge the project config utility
  package-lock.json
  packages/craftcms-cp/package.json
  packages/craftcms-cp/scripts/build.js
  packages/craftcms-cp/src/bridge/downloadFromUrl.ts
  packages/craftcms-cp/src/bridge/index.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/js/bootstrap/craft.ts
  resources/js/cp.ts
  resources/js/pages/UtilitiesShowPage.vue
  resources/templates/_components/utilities/ProjectConfig.twig
  resources/views/app.blade.php
  routes/cp.php
  src/Cms.php
  src/Config/ConfigServiceProvider.php
  src/Cp/Cp.php
  src/Utility/Utilities/ProjectConfig.php
  yii2-adapter/legacy/web/assets/cpbridge/CpBridgeAsset.php
  yii2-adapter/legacy/web/assets/cpbridge/dist/cp-bridge.js
  yii2-adapter/legacy/web/assets/cpbridge/dist/cp-bridge.js.map
  yii2-adapter/legacy/web/assets/cpbridge/dist/css/cp-bridge.css
  yii2-adapter/legacy/web/assets/cpbridge/dist/css/cp-bridge.css.map
  yii2-adapter/legacy/web/assets/cpbridge/src/cp-bridge.js
  yii2-adapter/legacy/web/assets/cpbridge/src/css/_btn.scss
  yii2-adapter/legacy/web/assets/cpbridge/src/css/_project-config.scss
  yii2-adapter/legacy/web/assets/cpbridge/src/css/cp-bridge.scss
  yii2-adapter/legacy/web/assets/cpbridge/webpack.config.js
  yii2-adapter/package-lock.json
  yii2-adapter/package.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add conditional registration for Twig SandboxExtension
  src/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  yii2-adapter/legacy/elements/NestedElementManager.php
  yii2-adapter/legacy/models/FieldLayout.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Modify controls to exclude inapplicable; separate altText and badgeTextSuffix; only add img role when there is an altText passed in
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.stories.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.styles.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.ts
Due: none

Add project specific AGENTS.md and testing skill
  .agents/skills/testing-guidelines/SKILL.md
  .agents/skills/testing-guidelines/references/testing-guidelines.md
  AGENTS.md
  CLAUDE.md
Due: none

Port caches utility
  packages/craftcms-cp/src/components/checkbox-group/checkbox-group.ts
  packages/craftcms-cp/src/components/checkbox-indeterminate/checkbox-indeterminate.ts
  packages/craftcms-cp/src/components/checkbox/checkbox.ts
  packages/craftcms-cp/src/index.ts
  resources/js/bootstrap/craft.ts
  resources/js/components/LiveRegion.vue
  resources/js/components/form/CheckboxGroup.vue
  resources/js/components/utilities/ClearCaches/ClearCaches.vue
  resources/js/composables/useAnnouncer.ts
  resources/js/layout/AppLayout.vue
  resources/views/app.blade.php
  resources/views/utilities/clear-caches/content.blade.php
  src/Http/Controllers/Utilities/ClearCachesController.php
  src/Utility/Utilities/ClearCaches.php
  yii2-adapter/legacy/web/assets/clearcaches/ClearCachesAsset.php
  yii2-adapter/legacy/web/assets/clearcaches/dist/ClearCachesUtility.js
  yii2-adapter/legacy/web/assets/clearcaches/dist/ClearCachesUtility.js.map
  yii2-adapter/legacy/web/assets/clearcaches/src/ClearCachesUtility.js
  yii2-adapter/legacy/web/assets/clearcaches/webpack.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port Find and Replace
  resources/js/bootstrap/craft.ts
  resources/js/components/form/Input.vue
  resources/js/components/utilities/FindReplace/FindReplace.vue
  resources/views/utilities/find-replace/content.blade.php
  src/Http/Controllers/Utilities/FindAndReplaceController.php
  src/Utility/Utilities/FindAndReplace.php
  yii2-adapter/legacy/web/assets/findreplace/FindReplaceAsset.php
  yii2-adapter/legacy/web/assets/findreplace/dist/FindAndReplaceUtility.js
  yii2-adapter/legacy/web/assets/findreplace/dist/FindAndReplaceUtility.js.map
  yii2-adapter/legacy/web/assets/findreplace/src/FindAndReplaceUtility.js
  yii2-adapter/legacy/web/assets/findreplace/webpack.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port database utility
  resources/js/bootstrap/craft.ts
  resources/js/components/utilities/DatabaseBackup.vue
  resources/views/utilities/db-backup/content.blade.php
  src/Http/Controllers/Utilities/DbBackupController.php
  src/Utility/Utilities/DbBackup.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed dashboard column refreshing on window resize
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Grid.js
Due: none

refreshCols() only has one argument
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Grid.js
Due: none

Initial port to trait + stub generation
  src/Config/GeneralConfig.php
  src/Console/Commands/IdeHelper/GenerateCustomFieldsCommand.php
  src/Console/ConsoleServiceProvider.php
  src/Field/FieldsServiceProvider.php
  src/Field/IdeHelper/CustomFieldIdeHelperGenerator.php
  src/Utility/Utilities/ClearCaches.php
  tests/Element/Concerns/HasCustomFieldsTest.php
  tests/Field/IdeHelper/CustomFieldIdeHelperGeneratorTest.php
  yii2-adapter/legacy/Craft.php
  yii2-adapter/legacy/behaviors/CustomFieldBehavior.php
  yii2-adapter/lib/craft/behaviors/CustomFieldBehavior.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor to project config listeners
  src/Field/FieldsServiceProvider.php
  src/Field/IdeHelper/CustomFieldIdeHelperGenerator.php
  tests/Field/IdeHelper/CustomFieldIdeHelperGeneratorTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
