Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Fix formatting
  resources/js/modules/auth-method-setup/auth.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Install pnpm for Storybook deployments with Wrangler
  .github/workflows/storybook.yml
Due: none

Isolate Wrangler installation from cached workspace dependencies
  .github/workflows/storybook.yml
Due: none

Import Storybook preview APIs from the declared Vue framework package
  .storybook/preview.ts
Due: none

Preserve raw reference tags in Markdown test fixtures
  tests/Feature/Element/Jobs/ReplaceReferencesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Larastan and use table constants in migrations
  composer.json
  composer.lock
  src/Database/Migrations/0000_00_00_000005_rename_tokens_to_routetokens.php
  src/Database/Migrations/0000_00_00_000007_migrate_to_laravel_queue.php
  src/Database/Migrations/0000_00_00_000008_remove_field_version.php
  src/Database/Migrations/0000_00_00_000009_remove_maintenance_from_info.php
  src/Database/Migrations/2026_08_18_165555_add_date_columns_to_jobprogress.php
  src/Database/Migrations/2026_09_01_160000_replace_announcements_with_notifications.php
  src/Database/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Update adapter Larastan and synchronize locked CMS dependencies
  yii2-adapter/composer.json
  yii2-adapter/composer.lock
Due: prettier --ignore-unknown --write

[6.x] Update Larastan and use table constants in migrations (#19596)
  composer.json
  composer.lock
  src/Database/Migrations/0000_00_00_000005_rename_tokens_to_routetokens.php
  src/Database/Migrations/0000_00_00_000007_migrate_to_laravel_queue.php
  src/Database/Migrations/0000_00_00_000008_remove_field_version.php
  src/Database/Migrations/0000_00_00_000009_remove_maintenance_from_info.php
  src/Database/Migrations/2026_08_18_165555_add_date_columns_to_jobprogress.php
  src/Database/Migrations/2026_09_01_160000_replace_announcements_with_notifications.php
  src/Database/Migrations/Install.php
  yii2-adapter/composer.json
  yii2-adapter/composer.lock
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

bug fixes
  src/Asset/Elements/Asset.php
  src/Component/Concerns/Importable.php
  src/Component/Contracts/ImportableInterface.php
  src/Entry/Elements/Entry.php
  src/Field/Matrix.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Http/ViewModels/ImportRunEditViewModel.php
  src/Import/Commands/Element.php
  src/Import/Data/ImportRun.php
  src/Import/Import.php
  src/Import/Importers/ElementImporter.php
  src/Import/Transformers/EntryTransformer.php
  src/Support/ImportHelper.php
  tests/Feature/Import/ImportAssetTest.php
  tests/Feature/Import/ImportConfigValidationTest.php
  tests/Feature/Import/ImportEntryTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

matrix in matrix fix
  src/Support/ImportHelper.php
  tests/Unit/Import/ImportHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Undo all navigate-event changes and get back to previous version
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
  packages/craftcms-ui/src/utilities/navigate-event.test.ts
  packages/craftcms-ui/src/utilities/navigate-event.ts
  resources/js/common/components/CpLink.test.ts
  resources/js/common/components/CpLink.vue
  resources/js/common/components/MainNav.vue
  resources/js/common/components/NavListItem.vue
Due: none

Remove temp changes
  resources/js/common/components/MainNav.vue
  resources/js/common/components/NavListItem.vue
Due: none

Fix type error
  resources/js/modules/sections/components/SiteSettingsTable.vue
Due: none

Flash a Matrix block that has just appeared
  resources/css/matrix.css
  resources/js/modules/forms/MatrixControl.test.ts
  resources/js/modules/forms/MatrixControl.vue
  resources/js/modules/matrix/matrix-input.ts
  resources/js/modules/matrix/new-block.ts
Due: prettier --ignore-unknown --write

Keep the page where it was when a block goes
  resources/js/modules/forms/MatrixControl.vue
Due: none

Survive a date whose value hasn't arrived
  resources/js/modules/forms/DateTimeControl.test.ts
  resources/js/modules/forms/DateTimeControl.vue
Due: none

Give every control one way to survive a missing value
  resources/js/modules/forms/AddressControl.vue
  resources/js/modules/forms/ConditionBuilderControl.vue
  resources/js/modules/forms/ContentBlockControl.vue
  resources/js/modules/forms/DateTimeControl.test.ts
  resources/js/modules/forms/DateTimeControl.vue
  resources/js/modules/forms/ElementSelectControl.vue
  resources/js/modules/forms/FieldLayoutDesignerControl.vue
  resources/js/modules/forms/GroupedEntryTypeManagerControl.vue
  resources/js/modules/forms/LinkControl.vue
  resources/js/modules/forms/MatrixControl.vue
  resources/js/modules/forms/TableControl.vue
  resources/js/modules/forms/missing-value.test.ts
  resources/js/modules/forms/runtime.ts
Due: none

Styling tweaks
  packages/craftcms-ui/src/components/pane/pane.styles.ts
  resources/js/modules/conditions/ConditionGroup.vue
  resources/js/modules/conditions/ConditionRule.vue
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

Control CSS tweaks
  packages/craftcms-ui/src/components/select-rich/select-rich.styles.ts
  packages/craftcms-ui/src/components/select/select.styles.ts
  packages/craftcms-ui/src/components/switch-button/switch-button.ts
  packages/craftcms-ui/src/styles/form.styles.ts
Due: none

Let a Control say what empty looks like, once
  resources/js/modules/forms/ActionNode.vue
  resources/js/modules/forms/AddressControl.vue
  resources/js/modules/forms/ConditionBuilderControl.vue
  resources/js/modules/forms/DateTimeControl.test.ts
  resources/js/modules/forms/DateTimeControl.vue
  resources/js/modules/forms/ElementSelectControl.test.ts
  resources/js/modules/forms/ElementSelectControl.vue
  resources/js/modules/forms/FieldLayoutDesignerControl.vue
  resources/js/modules/forms/FieldNode.vue
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/GroupedEntryTypeManagerControl.vue
  resources/js/modules/forms/LinkControl.vue
  resources/js/modules/forms/MatrixControl.test.ts
  resources/js/modules/forms/MatrixControl.vue
  resources/js/modules/forms/TableControl.vue
  resources/js/modules/forms/missing-value.test.ts
  resources/js/modules/forms/runtime.ts
  resources/js/modules/forms/types.ts
  src/Form/Contracts/Control.php
  src/Form/ControlPayload.php
  src/Form/Controls/Address.php
  src/Form/Controls/ConditionBuilder.php
  src/Form/Controls/Control.php
  src/Form/Controls/DateTime.php
  src/Form/Controls/ElementSelect.php
  src/Form/Controls/FieldLayoutDesigner.php
  src/Form/Controls/GroupedEntryTypeManager.php
  src/Form/Controls/Link.php
  src/Form/Controls/Matrix.php
  src/Form/Controls/Table.php
  src/Form/FormResolver.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Let a craft-dialog dismissal be refused
  packages/craftcms-ui/src/components/dialog/dialog.test.ts
  packages/craftcms-ui/src/components/dialog/dialog.ts
Due: none

Land zero under craft-slide-rule's cursor
  packages/craftcms-ui/src/components/slide-rule/slide-rule.stories.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.styles.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.test.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.ts
Due: none

Add a toggle mode to craft-button
  packages/craftcms-ui/src/components/button/button.styles.ts
  packages/craftcms-ui/src/components/button/button.test.ts
  packages/craftcms-ui/src/components/button/button.ts
Due: none

Frame the image the same whether or not cropping
  resources/js/modules/image-editor/useEditorState.test.ts
  resources/js/modules/image-editor/useEditorState.ts
Due: none

Re-derive the cropper and focal point instead of nudging them
  resources/js/modules/image-editor/useCropper.ts
  resources/js/modules/image-editor/useFocalPoint.ts
Due: none

Fill out the image editor's chrome and controls
  resources/js/modules/image-editor/components/ImageEditorDialog.vue
Due: none

Add reset, and settle the layout before moving the image
  resources/js/modules/image-editor/useImageEditor.ts
Due: none

More style tweaks
  resources/js/modules/conditions/ConditionGroup.vue
  resources/js/modules/conditions/ConditionRulePicker.vue
Due: none

Use craft-visually-hidden for a field's screen-reader text
  packages/craftcms-ui/src/components/field/field.ts
Due: none

Lower the element editor's sticky header stacking order
  resources/js/modules/elements/components/ElementEditScreen.vue
Due: none

Fixed an error with "File Type" rules
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/HiddenControl.vue
  resources/js/modules/forms/register.ts
Due: none

Let a subtree carry its own theme
  packages/craftcms-ui/scripts/generate-colors.js
  packages/craftcms-ui/src/components/dialog/dialog.stories.ts
  packages/craftcms-ui/src/styles/shared/base.css
  packages/craftcms-ui/src/styles/shared/colorable.css
  packages/craftcms-ui/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Fold the details column away again when the editor gets narrow
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/modules/elements/components/ElementEditScreen.vue
Due: none

Let ?editing open the image editor on load
  resources/js/pages/assets/Edit.vue
  src/Http/ViewModels/AssetEditViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep the editing parameter in step with the editor
  resources/js/pages/assets/Edit.vue
Due: none

Start the crop orientation on the image's own
  resources/js/modules/image-editor/components/ImageEditorDialog.vue
  resources/js/pages/assets/Edit.vue
  src/Http/ViewModels/AssetEditViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add HasSlotController for tracking slot content
  packages/craftcms-ui/src/utilities/slot.test.ts
  packages/craftcms-ui/src/utilities/slot.ts
Due: none

Space craft-field heading and instructions with gap
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  packages/craftcms-ui/src/components/field/field.styles.ts
Due: none

Skip empty label and help text in craft-field
  packages/craftcms-ui/src/components/field/field.test.ts
  packages/craftcms-ui/src/components/field/field.ts
Due: none

Support label-sr-only on craft-field
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  packages/craftcms-ui/src/components/field/field.test.ts
  packages/craftcms-ui/src/components/field/field.ts
Due: none
