Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Refactor onMounted and watch for better focus handling
  resources/js/modules/install/components/InstallingScreen.vue
Due: none

Reserve the structure toggle column even when empty
  resources/js/modules/elements/components/DataTable.vue
Due: none

Enhance accessibility for Widget Settings section
  resources/js/modules/dashboard/WidgetManager.vue
Due: none

Remove merge-review notes from the sidebar focus fix
  resources/js/common/components/CpSidebar.test.ts
  resources/js/common/components/CpSidebar.vue
Due: none

Cleanup footers
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/common/layouts/screens/page/ContentFooter.vue
  resources/js/modules/elements/components/BaseElementIndex.vue
Due: none

Structure updates
  resources/js/modules/elements/components/ElementIndexPage.vue
Due: none

Cleanup "dbupdate" template
  resources/templates/_special/dbupdate.twig
Due: none

Scope the element index to the requested site
  src/Cp/RequestedSite.php
  src/Element/ElementIndexState.php
  src/Element/ElementSources.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Http/ViewModels/ContentIndexViewModel.php
  src/Support/Facades/ElementSources.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

matching table styling
  resources/js/modules/forms/AdminTableNode.vue
  resources/js/pages/Form.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a site menu to the element selector modal toolbar
  resources/js/modules/element-selector-modal/ModalElementIndex.vue
  resources/js/modules/elements/components/ElementIndexToolbar.test.ts
  resources/js/modules/elements/components/ElementIndexToolbar.vue
  resources/js/modules/elements/composables/useContentIndexData.ts
  resources/js/modules/elements/types/sites.ts
  src/Http/ViewModels/ContentIndexViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Record CP site resolution rules
  .ai/rules/src.md
  .ai/rules/tests.md
Due: none

Release note
  CHANGELOG.md
Due: none

Restore Ed256 non-standard algorithm acknowledgement
  src/Auth/Passkeys/WebauthnServer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Register package aliases in workbench
  workbench/app/Providers/WorkbenchServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

account for showFirstAndLastNameFields
  src/FieldLayout/LayoutElements/FullNameField.php
  src/Import/Importers/BaseImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore Yii widget bridge handles for cards
  packages/craftcms-legacy/dashboard/src/Dashboard.js
  resources/js/modules/dashboard/Widget.vue
  yii2-adapter/resources/js/dashboard.test.ts
Due: none

Keep widget settings open during saves and restore focus
  resources/js/modules/dashboard/Widget.vue
  resources/js/modules/dashboard/WidgetSettings.vue
  yii2-adapter/resources/js/dashboard.test.ts
Due: none

fix test on pgsql
  tests/unit/services/UsersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move combobox creation into reusable options
  packages/craftcms-ui/scripts/generate-vue-wrappers.js
  packages/craftcms-ui/src/components/combobox/combobox.ts
  resources/js/modules/forms/ComboboxControl.vue
  resources/js/modules/forms/ComboboxCreateControl.vue
  resources/js/modules/forms/ComboboxCreateOption.test.ts
  resources/js/modules/forms/combobox-create-option.ts
  resources/js/modules/forms/combobox-create.ts
  resources/js/modules/forms/register.ts
  resources/js/pages/settings/users/Settings.test.ts
  resources/js/pages/settings/users/Settings.vue
  src/Form/Controls/Combobox.php
  src/Form/Controls/Combobox/CreateOption.php
  src/Form/Controls/ComboboxCreate.php
  src/Form/FormControlTypes.php
  src/Http/ViewModels/UserSettingsViewModel.php
  tests/Feature/Http/Controllers/Settings/UserSettingsControllerTest.php
  tests/Unit/Form/ScalarControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix a bug that would persist edit screens when navigating
  resources/js/pages/Form.vue
Due: none

import => import plan
  resources/js/modules/import/steps/StepList.test.ts
  resources/js/pages/import/Index.vue
  routes/actions.php
  routes/cp.php
  src/Cp/Navigation.php
  src/Database/Migrations/0000_00_00_000009_create_import_tables.php
  src/Database/Migrations/Install.php
  src/Database/Table.php
  src/Http/Controllers/Import/ImportPlansController.php
  src/Http/ViewModels/ImportPlanEditViewModel.php
  src/Http/ViewModels/ImportPlanMapViewModel.php
  src/Http/ViewModels/ImportPlanStepFormViewModel.php
  src/Import/Commands/Import.php
  src/Import/Data/ImportPlan.php
  src/Import/Events/ImportDispatched.php
  src/Import/Events/ImportDispatching.php
  src/Import/Events/ImportPlanSaved.php
  src/Import/Events/ImportPlanSaving.php
  src/Import/Events/ImportSaved.php
  src/Import/Events/ImportSaving.php
  src/Import/Import.php
  src/Import/ImportPlan.php
  src/Import/Imports.php
  src/Import/Jobs/Import.php
  src/Import/Jobs/ImportPipeline.php
  src/Import/Models/ImportPlan.php
  src/Support/Facades/Import.php
  src/Support/Facades/ImportPlan.php
  src/Support/Facades/Imports.php
  src/User/UserPermissions.php
  tests/Feature/Http/Controllers/ImportPlansControllerTest.php
  tests/Feature/Import/ImportDestinationColumnsTest.php
  tests/Feature/Import/ImportMapSuggestionTest.php
  tests/Feature/Import/ImportValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

more renaming
  src/Import/Commands/Import.php
  src/Import/Data/ImportPlan.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup Claude's overly verbose comments
  packages/craftcms-ui/src/components/callout/callout.styles.ts
  packages/craftcms-ui/src/components/select-color/select-color.ts
  resources/js/common/types/index.ts
  resources/js/modules/admin-table/components/MoveToPageButton.vue
  resources/js/modules/editable-table/editable-table.ts
  resources/js/modules/forms/AdminTableNode.vue
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

clean up
  src/Element/Import/ElementImporter.php
  src/Import/Commands/Import.php
  src/Import/Importers/BaseImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Trim remaining verbose comments
  packages/craftcms-ui/src/components/callout/callout.ts
  packages/craftcms-ui/src/components/select-color/select-color.ts
  resources/js/bootstrap/cp.ts
  resources/js/modules/editable-table/types.ts
  resources/js/modules/forms/AdminTableNode.vue
  resources/js/modules/forms/ColorSelectControl.vue
  resources/js/modules/forms/ConditionBuilderControl.vue
  resources/js/modules/forms/GroupNode.vue
  resources/js/modules/forms/TableControl.vue
  resources/js/modules/settings/composables/useSettingsSave.ts
  resources/js/pages/Form.vue
  src/Cp/Components/SelectColor.php
  src/Form/Controls/ColorSelect.php
  src/Form/Controls/Combobox.php
  src/Form/Controls/Table.php
  src/Form/Controls/Text.php
  src/Form/Nodes/Callout.php
  src/Form/Nodes/Field.php
  src/Form/Nodes/Group.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

updated importing.md
  docs/importing.md
Due: none

clear out defaultSourcePath if it doesn't match the current sourceKey
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

when setting the source param in the URL use current URL, not the one the site was last loaded with
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

Couple more Craft Pro checks
  routes/cp.php
  src/Http/Controllers/Settings/SectionsController.php
  src/Workflow/Workflows.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update breadcrumb component to require underlines on links
  .github/instructions/a11y.instructions.md
  packages/craftcms-legacy/cp/src/css/_cp.scss
  packages/craftcms-ui/src/components/breadcrumb-item/breadcrumb-item.a11y.md
  packages/craftcms-ui/src/components/breadcrumb-item/breadcrumb-item.browser.test.ts
  packages/craftcms-ui/src/components/breadcrumb-item/breadcrumb-item.ts
  resources/js/common/components/Breadcrumbs.test.ts
  resources/js/common/components/Breadcrumbs.vue
  resources/js/common/components/CpLink.vue
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Keep the site crumb's menu from being replaced by the nav
  resources/js/common/composables/subnavCrumbs.test.ts
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Stop Form comboboxes rendering a second label
  resources/js/modules/forms/ComboboxControl.vue
Due: none

Put the site switcher in every screen's breadcrumbs and scope the nav to it
  resources/js/common/composables/useCraftData.ts
  resources/js/common/layouts/screens/PageScreen.vue
  src/Cp/Navigation.php
  src/Cp/SiteSwitcher.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Name combobox listboxes after the wrapping field label
  packages/craftcms-ui/src/components/combobox/combobox.ts
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  resources/js/modules/conditions/ConditionRule.vue
Due: none

Wrap all page content in landmarks
  resources/js/common/components/CpTopBar.vue
Due: none

Fix focus outline of search box
  resources/js/modules/elements/components/BaseElementIndex.vue
Due: none

Cleanup site indicators a bit
  packages/craftcms-ui/src/components/indicator/indicator.ts
  resources/js/pages/settings/sites/Edit.vue
  resources/js/pages/settings/sites/Index.vue
Due: none

Restore details area for fields and entry types
  resources/js/common/components/DetailsTabs.vue
  resources/js/common/components/MetadataDetails.test.ts
  resources/js/common/components/MetadataDetails.vue
  resources/js/modules/elements/components/ElementDetailsTabs.vue
  resources/js/pages/settings/entry-types/Edit.vue
  resources/js/pages/settings/fields/Edit.test.ts
  resources/js/pages/settings/fields/Edit.vue
Due: none

Only show structure columns when using structure view mode
  resources/js/modules/elements/composables/useElementIndexPage.ts
  resources/js/modules/elements/composables/useElementIndexStructure.test.ts
  resources/js/modules/elements/composables/useElementIndexStructure.ts
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
