Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Slovak)
  src/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Swedish)
  src/translations/sv/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish)
  src/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Ukrainian)
  src/translations/uk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Chinese Simplified)
  src/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Icelandic)
  src/translations/is/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

WIP: Inertia element index bulk actions
  resources/js/modules/admin-table/components/AdminTable.vue
  resources/js/modules/elements/components/BulkActionsBar.vue
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/types/actions.ts
  resources/js/pages/content/Index.vue
  src/Element/ElementActions.php
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow OptionData::$icon and $color in sandbox
  src/fields/data/OptionData.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update `@since`
  src/web/twig/AllowableInSandbox.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More member-based AllowedInSandbox attributes
  src/fields/data/IconData.php
  src/fields/data/JsonData.php
  src/fields/data/LinkData.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More member-based AllowedInSandbox attributes
  src/Field/Data/MarkdownData.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Reference #19108
  CHANGELOG.md
Due: none

Fixed #19110
  CHANGELOG.md
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update build artifacts
  resources/build/assets/SitesEdit-BHUSIuAW.js
  resources/build/assets/SitesEdit-CwjFQK4p.js
  resources/build/assets/cp-B4njnZKO.js
  resources/build/assets/cp-BEg3V9Ka.js
  resources/build/assets/cp-BUA5gqb3.js
  resources/build/assets/cp-CuYX4ryO.js
  resources/build/assets/cp-D4sRhMYp.js
  resources/build/assets/cp-nQDMSRjM.js
  resources/build/assets/legacy-CMke7gFN.js
  resources/build/assets/legacy-v7nogWAv.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Finish 4.18.3
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.10.7
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed various bugs with category/tag/global settings pages
  yii2-adapter/legacy/web/twig/variables/Cp.php
  yii2-adapter/resources/templates/settings/categories/_edit.twig
  yii2-adapter/resources/templates/settings/categories/index.twig
  yii2-adapter/resources/templates/settings/globals/_edit.twig
  yii2-adapter/resources/templates/settings/tags/_edit.twig
  yii2-adapter/resources/templates/settings/tags/index.twig
  yii2-adapter/src/DeprecatedConcepts.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set Craft.editableCategoryGroups in JS
  src/Cp/Cp.php
  src/Cp/Events/CpDataResolving.php
  yii2-adapter/src/DeprecatedConcepts.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add auth policies for categories/tags/globals
  yii2-adapter/src/DeprecatedConcepts.php
  yii2-adapter/src/Policies/CategoryPolicy.php
  yii2-adapter/src/Policies/GlobalSetPolicy.php
  yii2-adapter/src/Policies/TagPolicy.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 6.0.0-alpha.8
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove broken test
  yii2-adapter/tests-laravel/Behavior/LegacyBehaviorCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Twig string template exception reporting
  src/Twig/TwigExceptionMapper.php
  tests/Unit/Twig/TwigExceptionMapperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

mapping via UI for matrix fields
  resources/templates/import/_importer-types/base-importer.twig
  resources/templates/import/_importer-types/element-importer.twig
  resources/templates/import/configs/_map.twig
  routes/actions.php
  src/Field/Concerns/ImportableElementContainerField.php
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Field/Matrix.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Import/DataTypes/Json.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
  src/Support/ImportHelper.php
  tests/Feature/Import/ImportHelperTest.php
  tests/Feature/Import/ImportMatrixFieldTest.php
  tests/Feature/Import/ImportMatrixValidationTest.php
  tests/Unit/Import/JsonDataTypeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add drag foundation: BaseDrag + DragMove, wire Modal drag/resize
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/06-api-reference.md
  packages/craftcms-garnish/docs/07-drag-foundation-design.md
  packages/craftcms-garnish/docs/08-drag-impl-notes.md
  packages/craftcms-garnish/playground/index.html
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/playground/styles.css
  packages/craftcms-garnish/src/drag-move.ts
  packages/craftcms-garnish/src/drag/base-drag.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/src/modal.ts
  packages/craftcms-garnish/src/utils/animation.ts
  packages/craftcms-garnish/src/utils/dom.ts
  packages/craftcms-garnish/src/utils/index.ts
  packages/craftcms-garnish/src/utils/scroll.ts
  packages/craftcms-garnish/tests/drag.test.ts
  packages/craftcms-garnish/tests/modal.test.ts
Due: prettier --ignore-unknown --write

Add Drag + DragDrop on the drag foundation (jQuery-free)
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/06-api-reference.md
  packages/craftcms-garnish/docs/09-drag-dragdrop-design.md
  packages/craftcms-garnish/docs/10-drag-dragdrop-impl-notes.md
  packages/craftcms-garnish/playground/index.html
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/playground/styles.css
  packages/craftcms-garnish/src/drag/base-drag.ts
  packages/craftcms-garnish/src/drag/drag-drop.ts
  packages/craftcms-garnish/src/drag/drag.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/src/utils/index.ts
  packages/craftcms-garnish/src/utils/misc.ts
  packages/craftcms-garnish/tests/drag-drop.test.ts
Due: prettier --ignore-unknown --write

adds ImportableFieldLayoutElementInterface
  resources/templates/import/configs/_map.twig
  src/Field/Concerns/ImportableElementContainerField.php
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Field/Matrix.php
  src/FieldLayout/Concerns/ImportableFieldLayoutElement.php
  src/FieldLayout/Contracts/ImportableFieldLayoutElementInterface.php
  src/FieldLayout/LayoutElements/Addresses/AddressField.php
  src/FieldLayout/LayoutElements/Addresses/CountryCodeField.php
  src/FieldLayout/LayoutElements/Addresses/LatLongField.php
  src/FieldLayout/LayoutElements/Addresses/OrganizationField.php
  src/FieldLayout/LayoutElements/Addresses/OrganizationTaxIdField.php
  src/FieldLayout/LayoutElements/Assets/AltField.php
  src/FieldLayout/LayoutElements/CustomField.php
  src/FieldLayout/LayoutElements/FullNameField.php
  src/FieldLayout/LayoutElements/TitleField.php
  src/FieldLayout/LayoutElements/Users/AffiliatedSiteField.php
  src/FieldLayout/LayoutElements/Users/EmailField.php
  src/FieldLayout/LayoutElements/Users/UsernameField.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Http/Controllers/Import/ImportRunController.php
  src/Import/DataTypes/Json.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

doh
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix DragMove positioning for elements in a positioned container
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/src/drag-move.ts
Due: none

isMultisite -> isMultiSite
  resources/js/modules/sections/components/SiteSettingsTable.vue
  resources/js/modules/sites/components/SiteFields.vue
  tests/Feature/Site/SitesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port DragSort to the modern jQuery-free Garnish package
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/06-api-reference.md
  packages/craftcms-garnish/docs/11-dragsort-design.md
  packages/craftcms-garnish/docs/12-dragsort-impl-notes.md
  packages/craftcms-garnish/playground/index.html
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/playground/styles.css
  packages/craftcms-garnish/src/drag/drag-sort.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/tests/drag-sort.test.ts
Due: prettier --ignore-unknown --write

tweaks
  resources/templates/import/configs/_map.twig
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

dirty tweaks
  resources/templates/import/configs/_map.twig
  src/Import/Importers/ModelImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port HUD to the modern jQuery-free Garnish package
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/06-api-reference.md
  packages/craftcms-garnish/docs/13-hud-design.md
  packages/craftcms-garnish/docs/14-hud-impl-notes.md
  packages/craftcms-garnish/playground/index.html
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/playground/styles.css
  packages/craftcms-garnish/src/hud.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/tests/hud.test.ts
Due: prettier --ignore-unknown --write

Fix DragMove jump for position:fixed elements (draggable Modal)
  packages/craftcms-garnish/src/drag-move.ts
  packages/craftcms-garnish/tests/drag.test.ts
Due: none

Port DisclosureMenu to the modern Garnish package (jQuery-free TS)
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/06-api-reference.md
  packages/craftcms-garnish/docs/15-disclosuremenu-design.md
  packages/craftcms-garnish/docs/16-disclosuremenu-impl-notes.md
  packages/craftcms-garnish/playground/index.html
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/playground/styles.css
  packages/craftcms-garnish/src/disclosure-menu.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/tests/disclosure-menu.test.ts
Due: prettier --ignore-unknown --write

Fixed Bcrypt login error
  CHANGELOG.md
  src/User/Elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Migrate Garnish playground to Storybook (html-vite)
  packages/craftcms-garnish/.gitignore
  packages/craftcms-garnish/.storybook/main.ts
  packages/craftcms-garnish/.storybook/preview.css
  packages/craftcms-garnish/.storybook/preview.ts
  packages/craftcms-garnish/README.md
  packages/craftcms-garnish/docs/17-storybook-notes.md
  packages/craftcms-garnish/package.json
  packages/craftcms-garnish/playground/index.html
  packages/craftcms-garnish/playground/main.ts
  packages/craftcms-garnish/playground/tsconfig.json
  packages/craftcms-garnish/stories/_helpers.ts
  packages/craftcms-garnish/stories/_log.ts
  packages/craftcms-garnish/stories/base-drag.stories.ts
  packages/craftcms-garnish/stories/compat.stories.ts
  packages/craftcms-garnish/stories/disclosure-menu.stories.ts
  packages/craftcms-garnish/stories/drag-drop.stories.ts
  packages/craftcms-garnish/stories/drag-sort.stories.ts
  packages/craftcms-garnish/stories/drag.stories.ts
  packages/craftcms-garnish/stories/focus.stories.ts
  packages/craftcms-garnish/stories/hud.stories.ts
  packages/craftcms-garnish/stories/modal.stories.ts
  packages/craftcms-garnish/stories/utilities.stories.ts
  packages/craftcms-garnish/tsconfig.json
  packages/craftcms-garnish/vite.config.ts
Due: prettier --ignore-unknown --write
