Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Fix adapter response bridge for streamed responses
  yii2-adapter/src/Web/Response.php
  yii2-adapter/tests/unit/web/ResponseTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove dump statement
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Updates queue to respect runQueueAutomatically
  package-lock.json
  packages/craftcms-cp/.storybook/main.ts
  packages/craftcms-cp/package.json
  packages/craftcms-cp/src/services/Queue.test.ts
  packages/craftcms-cp/src/services/Queue.ts
  packages/craftcms-cp/src/types/queue.ts
  packages/craftcms-cp/vitest.config.ts
  resources/js/bootstrap/cp.ts
  src/Cp/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Start migrating styles to use button color variables
  packages/craftcms-cp/src/components/button/button.stories.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CraftCombobox.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue.ts.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/cp3.js
  resources/build/decorate-C0XgwKvM.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-C4wA1e_M.js
  resources/build/nav-item.ts.js
Due: prettier --ignore-unknown --write

Make the active query instance available statically for queryCondition() instead
  src/elements/db/ElementQuery.php
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG-WIP.md
Due: none

Call trim() from beforeValidate()
  src/models/Site.php
  src/services/Sites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG.md
Due: none

Fixed GHSA-xrqc-p465-2xvg
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementTableSorter.js
Due: none

Fixed GHSA-24x4-j6x9-rfw5
  CHANGELOG.md
  src/web/assets/craftsupport/dist/CraftSupportWidget.js
  src/web/assets/craftsupport/dist/CraftSupportWidget.js.map
  src/web/assets/craftsupport/src/CraftSupportWidget.js
Due: none

Release note
  CHANGELOG.md
Due: none

Changelog whitespace cleanup
  CHANGELOG-WIP.md
  CHANGELOG.md
Due: none

Reference general config settings w/o the class name
  CHANGELOG-WIP.md
  CHANGELOG.md
Due: none

Release notes
  CHANGELOG-WIP.md
  CHANGELOG.md
Due: none

Release note
  CHANGELOG-WIP.md
  CHANGELOG.md
Due: none

Update facade docblocks
  src/Support/Facades/HtmlSanitizers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note for #18809
  CHANGELOG.md
Due: none

Stop logging warnings from |attr, |parseAttr, and |removeClass
  CHANGELOG-WIP.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note for #18815
  CHANGELOG.md
Due: none

Release note for #18816
  CHANGELOG.md
Due: none

Fix browser tab refresh bug
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/NestedElementManager.js
Due: none

Fix an issue with Typecast
  src/Support/Typecast.php
  tests/Unit/Support/TypecastTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

Add windows to unit and feature tests
  .github/workflows/laravel-ci.yml
Due: none

Add os to job name
  .github/workflows/laravel-ci.yml
Due: none

Fix #18804 - TwigEngine not correctly removing Windows paths
  CHANGELOG.md
  src/View/TwigEngine.php
  tests/Unit/Support/FileTest.php
  tests/Unit/Twig/TemplateLoaderTest.php
  tests/Unit/Twig/TemplateResolverTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only specify specific images for ubuntu
  .github/workflows/laravel-ci.yml
Due: none

Better reorder fix
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditor.js
  src/web/assets/cp/src/js/NestedElementManager.js
Due: none

Fix unit test
  tests/Unit/Support/DiffTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix feature tests on Windows
  src/Http/Controllers/Users/SaveUserController.php
  src/License/License.php
  src/Plugin/Plugins.php
  src/Support/Composer.php
  src/Support/Path.php
  tests/Feature/Database/BackupsTest.php
  tests/Feature/Database/Commands/BackupCommandTest.php
  tests/Feature/ProjectConfig/ProjectConfigHelperTest.php
  tests/Feature/Support/ComposerTest.php
  tests/Feature/Support/PathTest.php
  tests/Helpers/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Increase test coverage
  tests/Feature/Console/Commands/Install/InstallCommandTest.php
  tests/Feature/Http/Controllers/InstallControllerTest.php
  tests/Feature/Http/Controllers/Settings/GeneralSettingsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix EnvValueRule incorrectly parsing booleans
  src/Validation/Rules/EnvValueRule.php
  tests/Feature/Http/Controllers/Settings/GeneralSettingsControllerTest.php
  tests/Unit/Validation/Rules/EnvValueRuleTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18751
  CHANGELOG.md
  src/base/NestedElementTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Normalize cp templates/translations paths in Path service
  src/Support/Path.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog tweak
  CHANGELOG.md
Due: none
