Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

More icons
  CHANGELOG-WIP.md
  scripts/copyicons.php
  src/icons/index.php
  src/icons/solid/camera-retro.svg
  src/icons/solid/chevron-down.svg
  src/icons/solid/chevron-left.svg
  src/icons/solid/chevron-right.svg
  src/icons/solid/chevron-up.svg
  src/icons/solid/chevrons-down.svg
  src/icons/solid/chevrons-left.svg
  src/icons/solid/chevrons-right.svg
  src/icons/solid/chevrons-up.svg
  src/icons/solid/image-landscape.svg
  src/icons/solid/image-portrait.svg
  src/icons/solid/panorama.svg
  src/icons/solid/pen-clip.svg
  src/icons/solid/pen-fancy.svg
  src/icons/solid/pen-field.svg
  src/icons/solid/pen-line.svg
  src/icons/solid/pen-nib.svg
  src/icons/solid/pen-paintbrush.svg
  src/icons/solid/pencil-mechanical.svg
  src/icons/solid/photo-film-music.svg
  src/icons/solid/photo-film.svg
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More brand icons
  CHANGELOG-WIP.md
  bootstrap/bootstrap.php
  scripts/copyicons.php
  src/icons/brands/codepen.svg
  src/icons/brands/discord.svg
  src/icons/brands/dribbble.svg
  src/icons/brands/facebook.svg
  src/icons/brands/instagram.svg
  src/icons/brands/kickstarter.svg
  src/icons/brands/linkedin.svg
  src/icons/brands/pinterest.svg
  src/icons/brands/product-hunt.svg
  src/icons/brands/rebel.svg
  src/icons/brands/shopify.svg
  src/icons/brands/threads.svg
  src/icons/brands/tiktok.svg
  src/icons/brands/vimeo.svg
  src/icons/brands/whatsapp.svg
  src/icons/brands/x-twitter.svg
  src/icons/brands/youtube.svg
  src/icons/index.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

button CSS fixes
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

One more
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_cp.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed #15915
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run setup/welcome from install if there's no DB connection
  CHANGELOG.md
  src/console/controllers/InstallController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Wrong `Entries` class
  CHANGELOG.md
  src/console/controllers/EntrifyController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #15935
  CHANGELOG.md
  src/console/controllers/EntrifyController.php
  src/console/controllers/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Finish 4.12.8
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.4.9
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Be consistent
  src/models/CategoryGroup.php
  src/models/Section.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Respect existing category and tag group UUIDs
  CHANGELOG.md
  src/services/Categories.php
  src/services/Tags.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Share conditional action execution via trait
  src/filters/ConditionalFilterTrait.php
  src/filters/SiteFilterTrait.php
  src/filters/UtilityAccess.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fixes for copy all accessibility issues
  src/web/assets/cp/src/js/ElementEditor.js
Due: none

change aria-role to role
  src/helpers/Cp.php
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

trigger field copy dialogue via keyboard
  src/web/assets/cp/src/js/ElementEditor.js
Due: none

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/js/BaseElementIndex.js
  src/web/assets/cp/src/js/ElementEditor.js
Due: prettier --ignore-unknown --write

only create provisional draft first if we're about to copy field with nested entries
  src/base/Field.php
  src/fieldlayoutelements/BaseField.php
  src/fieldlayoutelements/CustomField.php
  src/fields/Matrix.php
  src/helpers/Cp.php
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

New translations app.php (Hungarian) [ci skip]
  src/translations/hu/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use callable
  src/filters/ConditionalFilterTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

No more SitefilterTrait::$enabled
  CHANGELOG-WIP.md
Due: none

Language condition rule
  CHANGELOG-WIP.md
  src/elements/conditions/ElementCondition.php
  src/elements/conditions/LanguageConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed docblock
  src/elements/conditions/LanguageConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add comments and docs
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Users::getMaxUsers()
  CHANGELOG-WIP.md
  src/services/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a styling bug
  CHANGELOG.md
  packages/craftcms-sass/_mixins.scss
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Click to pick up focal point; TODO fix cropper and handle dragging when focal point is picked up
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Error output cleanup
  src/console/Controller.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

announce loading/complete for filter hud
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

adds support for static display of addresses (e.g. in revisions)
  src/fieldlayoutelements/addresses/AddressField.php
  src/fieldlayoutelements/addresses/CountryCodeField.php
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fixes revert to revision issues for addresses
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

disallow sorting and selecting when in static mode (e.g. revisions)
  src/base/Element.php
  src/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

no inline editing in static mode
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/TableElementIndexView.js
Due: none

Move copy button to right side of field
  src/base/Element.php
  src/helpers/Cp.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CraftTooltip.js
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Handle `aria-expanded` for HUD
  src/helpers/Cp.php
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/HUD.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
