Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Release notes
  CHANGELOG.md
Due: none

Port BaseElementSelectorModal, AssetSelectorModal, and VolumeFolderSelectorModal to TypeScript
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/AssetSelectorModal.js
  packages/craftcms-legacy/cp/src/js/BaseElementSelectorModal.js
  packages/craftcms-legacy/cp/src/js/VolumeFolderSelectorModal.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/element-selector-modal/asset-selector-modal.ts
  resources/js/modules/element-selector-modal/base-element-selector-modal.ts
  resources/js/modules/element-selector-modal/index.ts
  resources/js/modules/element-selector-modal/volume-folder-selector-modal.ts
Due: none

Port BaseElementSelectInput, EntrySelectInput, TagSelectInput to TypeScript modules
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/BaseElementSelectInput.js
  packages/craftcms-legacy/cp/src/js/EntrySelectInput.js
  packages/craftcms-legacy/cp/src/js/TagSelectInput.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/element-select-input/base-element-select-input.ts
  resources/js/modules/element-select-input/entry-select-input.ts
  resources/js/modules/element-select-input/index.ts
  resources/js/modules/element-select-input/tag-select-input.ts
Due: none

Port PreviewFileModal, AssetSelectInput, CustomizeSourcesModal to TypeScript modules
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/AssetSelectInput.js
  packages/craftcms-legacy/cp/src/js/CustomizeSourcesModal.js
  packages/craftcms-legacy/cp/src/js/PreviewFileModal.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/asset-select-input/asset-select-input.ts
  resources/js/modules/asset-select-input/index.ts
  resources/js/modules/customize-sources-modal/customize-sources-modal.ts
  resources/js/modules/customize-sources-modal/index.ts
  resources/js/modules/preview-file-modal/index.ts
  resources/js/modules/preview-file-modal/preview-file-modal.ts
Due: none

Remove PasswordInput reference
  packages/craftcms-legacy/cp/src/Craft.js
Due: none

format
  resources/js/common/components/UserMenu.vue
Due: none

Avoid jQuery
  resources/js/modules/slideout/slideout.ts
Due: none

Type new upstream APIs
  src/Cp/Components/Button.php
  src/Cp/FormFields.php
  src/Cp/Html/ElementHtml.php
  src/Element/NestedElementManager.php
  src/Http/Controllers/BaseUpdaterController.php
  src/Twig/Variables/Cp.php
  src/Update/Data/UpdaterOption.php
  src/Update/Data/UpdaterState.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Accept stringable
  src/Cp/Components/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ensure we cast entry type ids to int
  src/Entry/EntryTypes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CI type checks
  phpstan.neon
  src/Cp/Components/Button.php
  src/Cp/FormFields.php
  src/Cp/Html/ElementHtml.php
  src/Database/Commands/MigrateCommand.php
  src/Element/ElementCollection.php
  src/Element/NestedElementManager.php
  src/Route/Data/Route.php
  src/Twig/Variables/Cp.php
  src/Update/Data/UpdaterOption.php
  src/Update/Data/UpdaterState.php
  src/User/Elements/User.php
  yii2-adapter/legacy/helpers/Template.php
  yii2-adapter/legacy/services/Fields.php
  yii2-adapter/legacy/services/Utilities.php
  yii2-adapter/phpstan.neon
  yii2-adapter/stubs/laravel-ruleset-validation.stub
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Type filesystem suggestions
  src/Http/ViewModels/FilesystemsEditViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bug fixes
  src/Entry/Elements/Entry.php
  src/Import/Importers/ElementImporter.php
  src/Import/Jobs/Import.php
  src/Import/Transformers/EntryTransformer.php
  tests/Feature/Import/ImportHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move volume routes
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/VolumesController.php
  tests/Feature/Http/Controllers/Settings/VolumesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Support Inertia slideouts
  resources/js/modules/slideout/cp-screen-slideout.ts
  resources/js/pages/settings/entry-types/Edit.vue
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/Responses/CpScreenResponse.php
  tests/Feature/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move entry type routes
  resources/js/modules/entry-types/components/EntryTypeSelect.vue
  resources/js/modules/grouped-entry-type-manager/entry-type-override-settings.ts
  resources/js/modules/matrix/matrix-entry.ts
  resources/js/pages/settings/entry-types/Index.vue
  routes/actions.php
  routes/cp.php
  src/Entry/Data/EntryType.php
  src/Entry/Elements/Entry.php
  src/Http/Controllers/Settings/EntryTypesController.php
  tests/Feature/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move remaining sections routes
  resources/js/pages/settings/sections/Index.vue
  routes/actions.php
  src/Http/Controllers/Settings/SectionsController.php
  tests/Feature/Http/Controllers/Settings/SectionsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move inertia field routes
  resources/js/modules/field-layout-designer/element.ts
  resources/js/modules/field-layout-designer/field-layout-designer.ts
  resources/js/pages/settings/fields/Edit.vue
  resources/templates/_includes/forms/fieldSelect.twig
  routes/actions.php
  routes/cp.php
  src/Address/Elements/Address.php
  src/Entry/Elements/Entry.php
  src/Field/Field.php
  src/Http/Controllers/FieldsController.php
  tests/Feature/Http/Controllers/FieldsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

cleanup
  resources/js/modules/grouped-entry-type-manager/entry-type-override-settings.ts
  resources/js/pages/settings/fields/Edit.vue
  routes/actions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use table constants in install migration
  src/Database/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert "Use table constants in install migration"
  src/Database/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

improve searching for existing root elements
  resources/templates/import/configs/_map.twig
  src/Asset/Elements/Asset.php
  src/Component/Contracts/Importable.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Import/Importers/ElementImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up todos
  src/Database/Migrations/Install.php
  src/Element/Element.php
  src/Element/Queries/ElementQuery.php
  src/Entry/EntryTypes.php
  src/Field/Field.php
  src/FieldLayout/LayoutElements/Users/UsernameField.php
  src/Validation/Concerns/Validates.php
  src/Validation/Contracts/Validatable.php
  tests/Feature/Entry/EntryTypesTest.php
  yii2-adapter/constants/Field/Concerns/LegacyFieldConstants.php
  yii2-adapter/legacy/base/FieldTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow Vite+ CI dependencies
  .npmrc
  package.json
Due: prettier --ignore-unknown --write

Add nav-item group option and render hrefless items as spans
  packages/craftcms-ui/src/components/nav-item/nav-item.stories.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
  packages/craftcms-ui/src/components/nav-list/nav-list.stories.ts
  resources/js/common/components/SecondaryNav.vue
  resources/js/modules/elements/ElementSources.vue
  src/Cp/Data/NavItem.php
  src/Http/Controllers/Users/EditUserTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Craft global registration for P3 modal/select ports
  packages/craftcms-legacy/cp/src/js/AssetSelectInput.js
  packages/craftcms-legacy/cp/src/js/AssetSelectorModal.js
  packages/craftcms-legacy/cp/src/js/BaseElementSelectInput.js
  packages/craftcms-legacy/cp/src/js/BaseElementSelectorModal.js
  packages/craftcms-legacy/cp/src/js/CustomizeSourcesModal.js
  packages/craftcms-legacy/cp/src/js/EntrySelectInput.js
  packages/craftcms-legacy/cp/src/js/PreviewFileModal.js
  packages/craftcms-legacy/cp/src/js/TagSelectInput.js
  packages/craftcms-legacy/cp/src/js/VolumeFolderSelectorModal.js
  resources/js/modules/asset-select-input/asset-select-input.ts
  resources/js/modules/asset-select-input/index.ts
  resources/js/modules/customize-sources-modal/customize-sources-modal.ts
  resources/js/modules/customize-sources-modal/index.ts
  resources/js/modules/element-select-input/base-element-select-input.ts
  resources/js/modules/element-select-input/tag-select-input.ts
  resources/js/modules/element-selector-modal/asset-selector-modal.ts
  resources/js/modules/element-selector-modal/base-element-selector-modal.ts
  resources/js/modules/element-selector-modal/volume-folder-selector-modal.ts
  resources/js/modules/preview-file-modal/index.ts
  resources/js/modules/preview-file-modal/preview-file-modal.ts
Due: none

Click entire row to select
  resources/js/common/utils/dom.test.ts
  resources/js/common/utils/dom.ts
  resources/js/modules/elements/components/DataTable.vue
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/composables/useElementIndexSelection.test.ts
  resources/js/modules/elements/composables/useElementIndexSelection.ts
Due: none

bug fixes
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Import/Importers/ElementImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

clearable per-attribute/field mechanism
  resources/templates/import/configs/_map.twig
  src/FieldLayout/Concerns/ImportableFieldLayoutElement.php
  src/FieldLayout/Contracts/ImportableFieldLayoutElementInterface.php
  src/FieldLayout/LayoutElements/Addresses/AddressField.php
  src/FieldLayout/LayoutElements/Addresses/LatLongField.php
  src/FieldLayout/LayoutElements/CustomField.php
  src/FieldLayout/LayoutElements/TitleField.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
  src/Support/Attributes/Importable.php
  src/Support/ImportHelper.php
  tests/Feature/Import/ImportClearableItemsTest.php
  tests/Feature/Import/ImportHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Images.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Cleanup console errors
  packages/craftcms-legacy/cp/src/js/BaseElementSelectInput.js
  packages/craftcms-legacy/cp/src/js/UI.js
  packages/craftcms-legacy/garnish/webpack.config.js
  packages/craftcms-legacy/prismjs/src/prism.css
  packages/craftcms-legacy/prismjs/src/prism.js
  packages/craftcms-legacy/prismjs/webpack.config.js
  packages/craftcms-ui/src/factory/create-copy-text-prompt.ts
  packages/craftcms-ui/src/factory/create-input-color.ts
  packages/craftcms-ui/src/factory/create-input-password.ts
  packages/craftcms-ui/src/factory/create-slide-picker.ts
  packages/craftcms-ui/src/factory/create-switch.ts
  packages/craftcms-ui/src/factory/index.ts
  packages/craftcms-ui/src/utilities/icons.test.ts
  packages/craftcms-ui/src/utilities/icons.ts
  resources/js/bootstrap/icons.ts
  resources/templates/_includes/forms/editableTable.twig
Due: prettier --ignore-unknown --write

Fix some linting issues
  packages/craftcms-ui/scripts/build.js
  resources/js/modules/entry-types/components/EntryTypeSelect.vue
Due: none

Delete empty files
  resources/js/modules/auth/components/recovery-codes/recovery-codes-setup.ts
  resources/js/modules/auth/components/totp/totp-setup.ts
Due: none

Fix storybook CI
  .github/workflows/storybook.yml
  vite.config.js
Due: none

Fixed GHSA-5jmw-g85v-7jv2
  CHANGELOG.md
  src/controllers/ElementIndexesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Harden the selectize target
  package-lock.json
  packages/craftcms-legacy/package.json
Due: prettier --ignore-unknown --write

format
  resources/js/modules/entry-types/components/EntryTypeSelect.vue
Due: none
