Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Slideout component + storybook
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  packages/craftcms-cp/src/components/slideout/slideout.stories.ts
  resources/js/components/Entry/EntryTypeChip.vue
  resources/js/components/ModalForm.vue
  resources/js/components/Pane/Pane.stories.ts
  resources/js/components/Pane/Pane.vue
  resources/js/components/Slideout/Slideout.mdx
  resources/js/components/Slideout/Slideout.stories.ts
  resources/js/components/Slideout/Slideout.vue
  resources/js/components/form/EntryTypeSelect.vue
  resources/js/components/install/InstallingScreen.vue
  resources/js/components/sections/PreviewTargetsTable.vue
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/components/utilities/DeprecationErrors/StackTrace.vue
  resources/js/components/utilities/ProjectConfig/ProjectConfig.vue
  resources/js/components/utilities/ProjectConfig/ProjectConfigDiff.vue
  resources/js/components/utilities/QueueManager/QueueManagerIndex.vue
  resources/js/components/utilities/SystemMessages/SystemMessages.vue
  resources/js/composables/useUiLayerManager.ts
  resources/js/pages/Install.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
Due: prettier --ignore-unknown --write

Changelog cleanup
  CHANGELOG-WIP.md
Due: none

Use UI labels as preview text for collapsed Matrix blocks
  CHANGELOG-WIP.md
  src/controllers/ElementsController.php
  src/templates/_components/fieldtypes/Matrix/block.twig
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
  src/web/assets/matrix/src/MatrixInput.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial work
  README.md
  composer.json
  composer.lock
  docs/socialite.md
  resources/templates/_special/login.twig
  routes/web.php
  src/Auth/Auth.php
  src/Auth/OAuth/Events/PopulatingUser.php
  src/Auth/OAuth/Events/PopulatingUserGroups.php
  src/Auth/OAuth/Exceptions/OAuthException.php
  src/Auth/OAuth/Exceptions/SocialiteProviderNotFoundException.php
  src/Auth/OAuth/OAuth.php
  src/Auth/OAuth/OAuthRepository.php
  src/Auth/OAuth/OAuthUserResolver.php
  src/Auth/OAuth/Profile.php
  src/Auth/OAuth/ProviderDefinition.php
  src/Config/ConfigServiceProvider.php
  src/Config/GeneralConfig.php
  src/Edition.php
  src/Http/Controllers/Auth/OAuthController.php
  src/User/Elements/User.php
  tests/Feature/Http/Controllers/Auth/SocialiteControllerTest.php
  tests/Feature/Http/Controllers/User/PasswordControllerTest.php
  tests/Feature/User/Policies/UserPolicyTest.php
  tests/TestCase.php
  tests/TestClasses/Auth/FakeSocialiteProvider.php
  tests/TestClasses/Auth/MarketingProviderDefinition.php
  tests/Unit/Config/GeneralConfigTest.php
  tests/Unit/EditionTest.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/services/Sso.php
  yii2-adapter/src/Socialite/DuplicateSocialiteDriverException.php
  yii2-adapter/src/Socialite/LegacySsoDriverGuard.php
  yii2-adapter/tests-laravel/Pest.php
  yii2-adapter/tests-laravel/Socialite/LegacySsoDriverGuardTest.php
  yii2-adapter/tests-laravel/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Refactors
  docs/socialite.md
  resources/templates/_special/login.twig
  routes/web.php
  src/Auth/Auth.php
  src/Auth/OAuth/Events/PopulatingUser.php
  src/Auth/OAuth/Events/PopulatingUserGroups.php
  src/Auth/OAuth/OAuth.php
  src/Auth/OAuth/OAuthRepository.php
  src/Auth/OAuth/OAuthUserResolver.php
  src/Auth/OAuth/Provider.php
  src/Auth/OAuth/ProviderDefinition.php
  src/Auth/OAuth/ProviderProfile.php
  src/Component/Component.php
  src/Config/GeneralConfig.php
  src/Edition.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/OAuthController.php
  src/Http/RespondsWithFlash.php
  src/User/Elements/User.php
  src/User/UserGroups.php
  testbench.yaml
  tests/Feature/Http/Controllers/Auth/OAuthControllerTest.php
  tests/TestCase.php
  tests/TestClasses/Auth/MarketingProvider.php
  tests/Unit/Config/GeneralConfigTest.php
  yii2-adapter/legacy/services/Sso.php
  yii2-adapter/src/OAuth/DuplicateSocialiteDriverException.php
  yii2-adapter/src/OAuth/LegacySsoDriverGuard.php
  yii2-adapter/testbench.yaml
  yii2-adapter/tests-laravel/Socialite/LegacySsoDriverGuardTest.php
  yii2-adapter/tests-laravel/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  composer.json
  resources/templates/_special/login.twig
  src/Auth/Auth.php
  src/Auth/OAuth/OAuth.php
  src/Auth/OAuth/OAuthUserResolver.php
  src/Auth/OAuth/Provider.php
  src/Component/Component.php
  src/Edition.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/User/Elements/User.php
  tests/Feature/Http/Controllers/Auth/OAuthControllerTest.php
  tests/Feature/User/Policies/UserPolicyTest.php
  tests/TestClasses/Auth/FakeSocialiteProvider.php
  yii2-adapter/composer.json
  yii2-adapter/composer.lock
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/services/Sso.php
  yii2-adapter/src/OAuth/LegacySsoProvider.php
  yii2-adapter/src/OAuth/LegacySsoProviderRegistrar.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Socialite/LegacySsoProviderRegistrarTest.php
  yii2-adapter/tests-laravel/TestClasses/Auth/LegacyMarketingSsoProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Update doc
  docs/oauth.md
Due: none

Fix unit test
  tests/Unit/EditionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a way to configure the system message email template
  src/Config/GeneralConfig.php
  src/SystemMessage/Actions/FormatSystemMessageMailAction.php
  src/SystemMessage/Actions/RenderSystemMessageAction.php
  src/SystemMessage/Data/FormattedSystemMessageMail.php
  src/SystemMessage/Data/RenderedSystemMessage.php
  src/SystemMessage/Mailables/SystemMessageMailable.php
  src/SystemMessage/SystemMessageRenderContext.php
  tests/Feature/SystemMessage/SystemMessageMailableTest.php
  tests/Support/templates/mail/custom-system-message.twig
  yii2-adapter/legacy/mail/Mailer.php
  yii2-adapter/tests/unit/mail/MailerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  tests/Feature/SystemMessage/SystemMessageMailableTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a LinkData::getUrl() bug
  CHANGELOG.md
  src/fields/data/LinkData.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CanSelect trait
  src/Cp/Contracts/CanSelect.php
  src/Element/Enums/PropagationMethod.php
  src/Http/Controllers/Settings/SectionsController.php
  src/Section/Enums/DefaultPlacement.php
  src/Section/Enums/SectionType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

$anyStatus arg
  CHANGELOG-WIP.md
  src/fields/data/LinkData.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Introduce SectionResource
  resources/js/components/sections/SiteSettingsTable.vue
  resources/js/pages/SettingsSectionsEditPage.vue
  src/Http/Controllers/Settings/SectionsController.php
  src/Section/Resources/SectionResource.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Include OPERATOR_NE in BaseTextConditionRule::operators()
  CHANGELOG-WIP.md
  src/base/conditions/BaseTextConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update AGENTS.md
  AGENTS.md
Due: none

Update packages/craftcms-cp/scripts/generate-vue-wrappers.js
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
Due: none

Update packages/craftcms-cp/src/components/input/input.stories.ts
  packages/craftcms-cp/src/components/input/input.stories.ts
Due: none

Nullsafe
  src/Section/Resources/SectionResource.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update `CanSelect` namespace
  src/Cp/Concerns/CanSelect.php
  src/Element/Enums/PropagationMethod.php
  src/Section/Enums/DefaultPlacement.php
  src/Section/Enums/SectionType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Final build
  packages/craftcms-cp/src/components/input/input.stories.ts
Due: none

Copilot is a liar
  src/Section/Resources/SectionResource.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rebuild
  packages/craftcms-cp/src/components/nav-item/nav-item.ts
  packages/craftcms-cp/src/stories/tokens/Docs.mdx
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/assets/AppLayout.css
  resources/build/assets/IndexLayout.css
  resources/build/assets/InputCombobox.css
  resources/build/assets/Install.css
  resources/build/assets/SettingsGeneralPage.css
  resources/build/assets/SettingsIndexPage.css
  resources/build/assets/SettingsSectionsEditPage.css
  resources/build/assets/SettingsSitesIndex.css
  resources/build/assets/Updater.css
  resources/build/assets/cp.css
  resources/build/assets/cp2.css
  resources/build/cp3.js
Due: prettier --ignore-unknown --write

Address copilot notes
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/components/button/button.stories.ts
  packages/craftcms-cp/src/components/drawer/drawer.ts
  packages/craftcms-cp/src/stories/tokens/colorable.stories.ts
  packages/craftcms-cp/src/stories/tokens/helpers.ts
  resources/js/components/CpLink.vue
Due: none

Build assets
  resources/build/assets/cp2.css
  resources/build/cp3.js
Due: prettier --ignore-unknown --write

Resizable slideouts
  resources/js/components/Slideout/Slideout.stories.ts
  resources/js/components/Slideout/Slideout.vue
  resources/js/composables/useResizable.ts
  resources/js/composables/useUiLayerManager.ts
Due: none

Add focus trap and stories
  package-lock.json
  package.json
  resources/js/components/Slideout/Slideout.stories.ts
  resources/js/components/Slideout/Slideout.vue
Due: prettier --ignore-unknown --write

Refactor modals a bit to share Shade component
  .storybook/main.ts
  .storybook/vitest.setup.ts
  package-lock.json
  package.json
  packages/craftcms-cp/src/components/slideout/slideout.stories.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/js/components/Modal/Modal.stories.ts
  resources/js/components/Modal/Modal.vue
  resources/js/components/Modal/ModalForm.vue
  resources/js/components/Shade.vue
  resources/js/components/Slideout/Slideout.stories.ts
  resources/js/components/Slideout/Slideout.vue
  resources/js/components/sites/DeleteSiteModal.vue
  resources/js/components/utilities/AssetIndexes/ReviewSessionModal.vue
  resources/js/components/utilities/DeprecationErrors/StackTraceButton.vue
  resources/js/components/utilities/SystemMessages/SystemMessageEditModal.vue
  resources/js/composables/useUiLayerManager.ts
  resources/js/pages/Install.vue
  resources/js/pages/SettingsSitesIndex.vue
  vitest.config.ts
Due: prettier --ignore-unknown --write

Fix potential crumbs error
  src/Http/Responses/CpScreenResponse.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Sort template suggestions properly
  src/Cp/SelectOptions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix potential error
  src/Cp/SelectOptions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a bug where the Plugin Store would not load if you setup Craft to use remote Craft Cloud assets locally
  CHANGELOG.md
  phpstan.neon
  src/helpers/Api.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pint
  src/Auth/OAuth/OAuth.php
  tests/Feature/Auth/OAuth/OAuthManagerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Import users service in controller
  src/Http/Controllers/Auth/OAuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Just catch Throwable
  src/Http/Controllers/Auth/OAuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

update to webauthn 5.2.x and simplewebauthn/browser 13.2+
  composer.json
  composer.lock
  package-lock.json
  package.json
  src/auth/passkeys/CredentialRepository.php
  src/auth/passkeys/WebauthnServer.php
  src/controllers/AuthController.php
  src/controllers/UsersController.php
  src/elements/User.php
  src/services/Auth.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/LoginForm.js
  src/web/assets/passkeysetup/dist/PasskeySetup.js
  src/web/assets/passkeysetup/dist/PasskeySetup.js.map
  src/web/assets/passkeysetup/src/PasskeySetup.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add deprecations to legacy SSO implementation
  yii2-adapter/legacy/auth/sso/BaseExternalProvider.php
  yii2-adapter/legacy/auth/sso/BaseProvider.php
  yii2-adapter/legacy/auth/sso/CraftProvider.php
  yii2-adapter/legacy/auth/sso/ProviderInterface.php
  yii2-adapter/legacy/auth/sso/ProviderTrait.php
  yii2-adapter/legacy/auth/sso/mapper/ExplicitUserMapper.php
  yii2-adapter/legacy/auth/sso/mapper/IdpAttributeUserMapper.php
  yii2-adapter/legacy/auth/sso/mapper/MapFactory.php
  yii2-adapter/legacy/auth/sso/mapper/SetUserValueTrait.php
  yii2-adapter/legacy/auth/sso/mapper/TemplateValueUserMapper.php
  yii2-adapter/legacy/auth/sso/mapper/UserAttributesMapper.php
  yii2-adapter/legacy/auth/sso/mapper/UserMapInterface.php
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/errors/AuthProviderNotFoundException.php
  yii2-adapter/legacy/errors/SsoFailedException.php
  yii2-adapter/legacy/services/Sso.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update resources/templates/login.twig
  resources/templates/login.twig
Due: none
