Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix Matrix block draft owner preparation
  CHANGELOG.md
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/composables/useElementEditor.ts
  resources/js/modules/elements/nested-owner.ts
  resources/js/modules/forms/FormRenderer.vue
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.test.ts
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.vue
  resources/js/modules/forms/useInertiaFormRenderer.ts
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference Matrix draft owner fix in changelog
  CHANGELOG.md
Due: none

Fix owner-specific Matrix entry type choices
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.test.ts
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.vue
  src/Field/Matrix.php
  src/Form/Controls/NestedElementBlocks.php
  src/Http/Controllers/MatrixController.php
  tests/Feature/Http/Controllers/MatrixControllerTest.php
  tests/Unit/Form/NestedControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document Matrix entry type fix
  CHANGELOG.md
Due: none

[6.x] Fix Matrix block draft owner preparation (#19818)
  CHANGELOG.md
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/composables/useElementEditor.ts
  resources/js/modules/elements/nested-owner.ts
  resources/js/modules/forms/FormRenderer.vue
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.test.ts
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.vue
  resources/js/modules/forms/useInertiaFormRenderer.ts
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Validate entry types in the save service
  src/Entry/Commands/MergeEntryTypesCommand.php
  src/Entry/Data/EntryType.php
  src/Entry/EntryTypes.php
  src/Entry/Validation/EntryTypeRules.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Support/Facades/EntryTypes.php
  tests/Feature/Entry/EntryTypesTest.php
  workbench/database/seeders/DatabaseSeeder.php
  yii2-adapter/legacy/services/Entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add entry type validation changelog entry
  CHANGELOG.md
Due: none

[6.x] Validate entry types in the save service (#19821)
  CHANGELOG.md
  src/Entry/Commands/MergeEntryTypesCommand.php
  src/Entry/Data/EntryType.php
  src/Entry/EntryTypes.php
  src/Entry/Validation/EntryTypeRules.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Support/Facades/EntryTypes.php
  tests/Feature/Entry/EntryTypesTest.php
  workbench/database/seeders/DatabaseSeeder.php
  yii2-adapter/legacy/services/Entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Fix owner-specific Matrix entry type choices (#19819)
  CHANGELOG.md
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.test.ts
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.vue
  src/Field/Matrix.php
  src/Form/Controls/NestedElementBlocks.php
  src/Http/Controllers/MatrixController.php
  tests/Feature/Http/Controllers/MatrixControllerTest.php
  tests/Unit/Form/NestedControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix user group save validation
  src/Http/Controllers/Settings/Users/UserGroupsController.php
  src/Support/Facades/UserGroups.php
  src/User/UserGroups.php
  tests/Feature/User/UserGroupsTest.php
  yii2-adapter/legacy/services/UserGroups.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add user group validation changelog entry
  CHANGELOG.md
Due: none

Use valid user group handles in OAuth tests
  tests/Feature/Auth/OAuth/OAuthManagerTest.php
  tests/Feature/Http/Controllers/Auth/OAuthControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Limit Rector, Pint and Pest to four parallel workers
  composer.json
  rector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add transport-independent asset ingest workflow
  src/Asset/AssetUploadHandler.php
  src/Asset/Data/AssetIngest.php
  src/Asset/Data/AssetIngestResult.php
  src/Asset/Enums/AssetIngestStatus.php
  src/Element/Elements.php
  tests/Feature/Asset/AssetUploadHandlerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Validate user groups in saveGroup() (#19820)
  CHANGELOG.md
  src/Http/Controllers/Settings/Users/UserGroupsController.php
  src/Support/Facades/UserGroups.php
  src/User/UserGroups.php
  tests/Feature/Auth/OAuth/OAuthManagerTest.php
  tests/Feature/Http/Controllers/Auth/OAuthControllerTest.php
  tests/Feature/User/UserGroupsTest.php
  yii2-adapter/legacy/services/UserGroups.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Add user-initiated element save workflow
  src/Element/Data/UserInitiatedElementSaveResult.php
  src/Element/UserInitiatedElementSave.php
  src/Http/Controllers/Elements/SaveElementController.php
  src/Http/Controllers/Entries/StoreEntryController.php
  tests/Feature/Element/UserInitiatedElementSaveTest.php
  tests/Feature/Http/Controllers/Elements/SaveElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/StoreEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Add changelog entry for #19822
  CHANGELOG.md
Due: none

Validate routes before saving
  src/Http/Controllers/Settings/RoutesController.php
  src/Http/Requests/RouteRequest.php
  src/Route/Data/Route.php
  src/Route/Exceptions/InvalidRouteException.php
  src/Route/Routes.php
  tests/Feature/Http/Controllers/Settings/RoutesControllerTest.php
  tests/Feature/Route/RoutesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add asset ingest changelog entry
  CHANGELOG.md
Due: none

Add route validation changelog entry
  CHANGELOG.md
Due: none

Refactor named image transform validation
  src/Http/Controllers/Settings/ImageTransformsController.php
  src/Image/Data/ImageTransform.php
  src/Image/ImageTransforms.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
  tests/Feature/Image/Data/ImageTransformTest.php
  tests/Feature/Image/ImageTransformsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add image transform validation changelog entry
  CHANGELOG.md
Due: none

[6.x] Add shared user-initiated element save workflow (#19822)
  CHANGELOG.md
  src/Element/Data/UserInitiatedElementSaveResult.php
  src/Element/UserInitiatedElementSave.php
  src/Http/Controllers/Elements/SaveElementController.php
  src/Http/Controllers/Entries/StoreEntryController.php
  tests/Feature/Element/UserInitiatedElementSaveTest.php
  tests/Feature/Http/Controllers/Elements/SaveElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/StoreEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Validate routes before saving (#19824)
  CHANGELOG.md
  src/Http/Controllers/Settings/RoutesController.php
  src/Http/Requests/RouteRequest.php
  src/Route/Data/Route.php
  src/Route/Exceptions/InvalidRouteException.php
  src/Route/Routes.php
  tests/Feature/Http/Controllers/Settings/RoutesControllerTest.php
  tests/Feature/Route/RoutesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Refactor named image transform validation (#19826)
  CHANGELOG.md
  src/Http/Controllers/Settings/ImageTransformsController.php
  src/Image/Data/ImageTransform.php
  src/Image/ImageTransforms.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
  tests/Feature/Image/Data/ImageTransformTest.php
  tests/Feature/Image/ImageTransformsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Enforce site save and delete invariants
  src/Http/Controllers/Settings/SitesController.php
  src/Site/Sites.php
  src/Site/Validation/SiteRules.php
  tests/Feature/Site/SitesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference site invariants PR in changelog
  CHANGELOG.md
Due: none

[6.x] Add transport-independent asset ingest workflow (#19823)
  CHANGELOG.md
  src/Asset/AssetUploadHandler.php
  src/Asset/Data/AssetIngest.php
  src/Asset/Data/AssetIngestResult.php
  src/Asset/Enums/AssetIngestStatus.php
  src/Element/Elements.php
  tests/Feature/Asset/AssetUploadHandlerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Enforce site save and delete invariants (#19825)
  CHANGELOG.md
  src/Http/Controllers/Settings/SitesController.php
  src/Site/Sites.php
  src/Site/Validation/SiteRules.php
  tests/Feature/Site/SitesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow prepared assets during ingest
  src/Asset/AssetUploadHandler.php
  src/Asset/Data/AssetIngest.php
  tests/Feature/Asset/AssetUploadHandlerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Allow prepared assets during ingest (#19827)
  CHANGELOG.md
  src/Asset/AssetUploadHandler.php
  src/Asset/Data/AssetIngest.php
  tests/Feature/Asset/AssetUploadHandlerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

switch source col to craft-select-rich
  resources/js/modules/import/mapping/MappingRow.vue
Due: none

Fix HTML5 apostrophe decoding
  src/Support/Html.php
  tests/Unit/Support/HtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fixes after the update to TanStack Table v9
  resources/js/pages/import/Index.vue
Due: none

Document lightswitch apostrophe fix
  CHANGELOG.md
Due: none

Use native nested element controls in HTML forms
  .github/workflows/js-ci.yml
  CHANGELOG.md
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/elements/html-nested-owner.ts
  resources/js/modules/forms/entry-field-layout-form-host.ts
  resources/js/modules/forms/nested-elements/nested-elements-control-host.test.ts
  resources/js/modules/forms/nested-elements/nested-elements-control-host.ts
  resources/js/modules/forms/nested-elements/nested-elements.ts
  src/Element/NestedElementManager.php
  src/Field/Addresses.php
  src/Field/Matrix.php
  src/Form/Controls/NestedElements.php
  src/Form/FormHtmlRenderer.php
  tests/Feature/Element/NestedElementManagerTest.php
  tests/Feature/Field/MatrixEntryTypesForFieldTest.php
  yii2-adapter/constants/Element/Concerns/LegacyNestedElementManager.php
  yii2-adapter/legacy/fields/Addresses.php
  yii2-adapter/legacy/fields/Matrix.php
  yii2-adapter/src/CompatibilityMixins.php
  yii2-adapter/src/Event/EventCompatibility.php
  yii2-adapter/src/Event/NestedElementManagerEventCompatibility.php
  yii2-adapter/src/Mixins/NestedElementManagerMixin.php
  yii2-adapter/tests-laravel/Integration/MatrixFormControlTest.php
  yii2-adapter/tests-laravel/Integration/NestedElementHtmlCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use a bundled SVG fixture in legacy manager tests
  yii2-adapter/tests-laravel/Integration/NestedElementHtmlCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

fix tests
  composer.json
  src/Import/Commands/Import.php
  src/Import/Data/ImportPlan.php
  src/Import/DataTypes/Xml.php
  src/Support/ImportHelper.php
  tests/Unit/Import/ImportLogTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
