Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (German) [ci skip]
  src/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hebrew) [ci skip]
  src/translations/he/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hungarian) [ci skip]
  src/translations/hu/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Italian) [ci skip]
  src/translations/it/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Japanese) [ci skip]
  src/translations/ja/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Korean) [ci skip]
  src/translations/ko/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Dutch) [ci skip]
  src/translations/nl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Polish) [ci skip]
  src/translations/pl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Portuguese) [ci skip]
  src/translations/pt/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Russian) [ci skip]
  src/translations/ru/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Slovak) [ci skip]
  src/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Swedish) [ci skip]
  src/translations/sv/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish) [ci skip]
  src/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Ukrainian) [ci skip]
  src/translations/uk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Chinese Simplified) [ci skip]
  src/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Persian) [ci skip]
  src/translations/fa/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Thai) [ci skip]
  src/translations/th/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom) [ci skip]
  src/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada) [ci skip]
  src/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Norwegian Bokmal) [ci skip]
  src/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland) [ci skip]
  src/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

address label is not translatable
  src/fieldlayoutelements/addresses/LabelField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweak to hard delete structures not linked to revisions
  src/services/Gc.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bring back missing var
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

bump twig version
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Ability to limit the countries available for selection when edting an address
  CHANGELOG-WIP.md
  src/elements/conditions/addresses/AdministrativeAreaConditionRule.php
  src/elements/conditions/addresses/CountryConditionRule.php
  src/events/DefineAddressCountriesEvent.php
  src/fieldlayoutelements/addresses/CountryCodeField.php
  src/fields/Country.php
  src/fields/conditions/CountryFieldConditionRule.php
  src/services/Addresses.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Include “Country” columns in address indexes
  CHANGELOG-WIP.md
  src/elements/Address.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

constrain the width so we don't get a huge layout shift
  src/web/assets/cp/src/js/BaseElementSelectInput.js
Due: none

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

cleanup
  src/base/Field.php
  src/base/PreviewableFieldInterface.php
  src/fields/Assets.php
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

basic styles
  src/helpers/Cp.php
  src/web/assets/cp/src/css/_fld.scss
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Twig 3.14
  CHANGELOG-WIP.md
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Fixed an RCE vulnerability
  CHANGELOG.md
  src/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

attributes in card preview (WIP)
  src/base/Element.php
  src/helpers/Cp.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
