Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Prepare project config before running migrations
  src/Database/Commands/MigrateCommand.php
  tests/Feature/Database/Commands/MigrateCommandTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note for #19726
  CHANGELOG.md
Due: none

Don't set `readOnly = false`
  src/Database/Migrations/2026_09_27_000000_migrate_field_layout_element_types.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

data file + settings form reactivity
  resources/js/modules/import/steps/StepSlideout.test.ts
  resources/js/modules/import/steps/StepSlideout.vue
Due: none

Don't set `readOnly = false`
  src/Database/Migrations/2026_09_27_065350_migrate_stored_condition_types.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

only show "dirty" dialogue when something changed
  resources/js/modules/import/mapping/paths.test.ts
  resources/js/modules/import/mapping/paths.ts
  resources/js/modules/import/mapping/useMappingPanel.ts
  resources/js/modules/import/steps/StepMapping.test.ts
  resources/js/modules/import/steps/StepSlideout.test.ts
  resources/js/modules/import/steps/StepSlideout.vue
Due: none

Fixed #19721
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/BaseDrag.js
  src/web/assets/garnish/src/Drag.js
  src/web/assets/garnish/src/DragSort.js
Due: none

Fix Shift-selection range contraction
  CHANGELOG.md
  resources/js/common/composables/useSelectable.test.ts
  resources/js/common/composables/useSelectable.ts
Due: none

Reference Shift-selection pull request in changelog
  CHANGELOG.md
Due: none

Style tweaks
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/forms/nested-elements/NestedEntriesCards.vue
Due: none

Fix select inputs with delayed options
  CHANGELOG.md
  resources/js/common/form/Select.test.ts
  resources/js/common/form/Select.vue
Due: none

Reference select fix pull request in changelog
  CHANGELOG.md
Due: none

Fix table reorder registration lifecycle
  CHANGELOG.md
  resources/js/modules/admin-table/composables/useReorderableRows.test.ts
  resources/js/modules/admin-table/composables/useReorderableRows.ts
Due: none

Fix download element action serialization
  CHANGELOG.md
  src/Element/ElementActions.php
  tests/Feature/Element/Actions/ElementActionsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference reorder fix pull request in changelog
  CHANGELOG.md
Due: none

Reference download fix pull request in changelog
  CHANGELOG.md
Due: none

Fix element index sort history
  CHANGELOG.md
  resources/js/modules/elements/components/ElementIndexToolbar.test.ts
  resources/js/modules/elements/components/ElementIndexToolbar.vue
  resources/js/modules/elements/components/IndexViewSettings.vue
  resources/js/modules/elements/composables/useElementIndexSort.test.ts
  resources/js/modules/elements/composables/useElementIndexSort.ts
Due: none

Reference sorting fix pull request in changelog
  CHANGELOG.md
Due: none

Fixed #19610, part 2
  CHANGELOG.md
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Public registration tests
  tests/unit/controllers/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

rector
  tests/unit/controllers/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only proceed with auto conflict resolution if the PR still has conflicts
  .github/workflows/resolve-conflicts.yml
Due: none

Add disabled styles for craft-button
  packages/craftcms-ui/src/components/button/button.a11y.md
  packages/craftcms-ui/src/components/button/button.browser.test.ts
  packages/craftcms-ui/src/components/button/button.stories.ts
  packages/craftcms-ui/src/components/button/button.styles.ts
Due: none

Fix issue of select checkboxes not specifying element title
  .gitignore
  resources/js/common/components/SelectableCardList.test.ts
  resources/js/common/components/SelectableCardList.vue
  resources/js/modules/elements/components/DataTable.test.ts
  resources/js/modules/elements/components/DataTable.vue
  resources/js/modules/elements/components/ElementCards.test.ts
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/components/ElementChips.test.ts
  resources/js/modules/elements/components/ElementThumbs.test.ts
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/elements/fixtures/elements.ts
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a "path is not iterable" error
  CHANGELOG.md
  resources/js/modules/forms/runtime.test.ts
  resources/js/modules/forms/runtime.ts
Due: none

Element select/chip style tweaks
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  resources/js/modules/elements/components/ElementChips.vue
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

GHSA-hvp5-pwxx-2752 was fixed in 5.11.2
  CHANGELOG.md
Due: none

Fixed GHSA-q2rx-mr36-8rh5
  CHANGELOG.md
  src/controllers/AppController.php
  src/helpers/Api.php
  src/helpers/App.php
  tests/unit/controllers/AppControllerTest.php
  tests/unit/helpers/ApiHelperTest.php
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-hq78-cm2m-h24h
  CHANGELOG.md
  src/Craft.php
  src/helpers/ImageTransforms.php
  tests/unit/CraftTest.php
  tests/unit/helpers/ImageTransformsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Get the checkboxes to line up perfectly
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

x → xmark-large
  packages/craftcms-ui/src/components/action-menu/action-menu.stories.ts
  packages/craftcms-ui/src/components/button/button.stories.ts
  packages/craftcms-ui/src/components/button/button.test.ts
  packages/craftcms-ui/src/components/copy-button/copy-button.ts
  packages/craftcms-ui/src/components/input-file/selected-file-list.ts
  resources/js/common/components/CpSidebar.vue
  resources/js/common/components/DebugPanel.vue
  resources/js/common/components/DetailsTabs.vue
  resources/js/common/components/ModalForm.vue
  resources/js/modules/activity/components/ActivityTimelineChanges.vue
  resources/js/modules/admin-table/components/DeleteButton.vue
  resources/js/modules/dashboard/Widget.vue
  resources/js/modules/editable-table/editable-table.ts
  resources/js/modules/elements/components/ElementIndexToolbar.vue
  resources/js/modules/entry-types/components/EntryTypeSelect.vue
  resources/js/modules/forms/DateTimeControl.vue
  resources/js/modules/sections/components/DeleteSectionButton.vue
  resources/js/modules/sites/components/DeleteSiteButton.vue
  resources/js/modules/user/components/UserGroupSelect.vue
  resources/js/modules/utilities/components/asset-indexes/SessionActions.vue
  resources/templates/_includes/forms/editableTable.twig
Due: none

xmark → xmark-large
  packages/craftcms-legacy/cp/src/js/CP.js
  packages/craftcms-ui/src/components/action-item/action-item.ts
  packages/craftcms-ui/src/components/combobox/combobox.ts
  packages/craftcms-ui/src/components/dialog/dialog.ts
  packages/craftcms-ui/src/components/element-selector-modal/element-selector-modal.ts
  packages/craftcms-ui/src/components/input-money/input-money.ts
  resources/js/bootstrap/icons.ts
  resources/js/common/layouts/screens/SlideoutScreen.vue
  resources/js/modules/conditions/ConditionGroup.vue
  resources/js/modules/conditions/ConditionRule.vue
  resources/js/modules/field-layout-designer/element.ts
  resources/js/modules/field-layout-designer/tab.ts
  resources/js/modules/forms/CalloutNode.vue
  resources/js/modules/link-field/link-input.ts
  resources/js/modules/plugin-manager/components/PluginActionMenu.vue
  resources/js/modules/ui/index.test.ts
  resources/js/modules/workflows/components/WorkflowReviewPanel.test.ts
  src/Cp/Icons.php
  src/Element/DeletionBlockers/FieldReferencesDeletionBlocker.php
  src/Element/DeletionBlockers/RelationDeletionBlocker.php
  src/Field/Lightswitch.php
  src/Field/Matrix.php
  src/User/Elements/User.php
  src/View/LegacyAssets/CpAsset.php
  src/Workflow/Data/WorkflowRunStageData.php
  src/Workflow/Workflows.php
  tests/Feature/Workflow/WorkflowsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix stale ElementSelectControl tests
  resources/js/modules/forms/ElementSelectControl.test.ts
Due: none

Fix deeply nested slideouts
  resources/js/common/slideouts/SlideoutHost.vue
  resources/js/common/slideouts/panel-stack.css
  resources/js/common/slideouts/panel-stack.ts
  resources/js/common/slideouts/slideouts.test.ts
  resources/js/common/slideouts/store.ts
Due: prettier --ignore-unknown --write

Formatting
  packages/craftcms-ui/src/components/chip/chip.styles.ts
Due: none

Make label required
  resources/js/modules/elements/components/ElementChips.test.ts
  resources/js/modules/elements/components/ElementChips.vue
  resources/js/modules/elements/components/ElementList.vue
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/elements/composables/useContentIndexData.test.ts
  resources/js/modules/elements/composables/useContentIndexData.ts
Due: none

Add test for untitled elements
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update sample data to use label derived from entry title
  resources/js/modules/elements/fixtures/elements.ts
Due: none

Format ElementCards.vue
  resources/js/modules/elements/components/ElementCards.vue
Due: none
