Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Lighten up the global header
  resources/css/cp.css
  resources/js/common/components/CpTopBar.vue
  resources/js/common/components/SystemInfo.vue
  resources/js/common/layouts/screens/PageScreen.vue
Due: prettier --ignore-unknown --write

Update changelog with GHSA links
  CHANGELOG.md
Due: none

Tighten up vertical tabs and fix tests
  packages/craftcms-ui/src/components/tab/tab.styles.ts
  packages/craftcms-ui/src/components/tab/tab.ts
  packages/craftcms-ui/src/components/tabs/tabs.stories.ts
  packages/craftcms-ui/src/components/tabs/tabs.styles.ts
  packages/craftcms-ui/src/components/tabs/tabs.ts
Due: none

Rename variables a bit
  packages/craftcms-ui/src/styles/shared/base.css
  resources/css/cp.css
  resources/js/common/components/CpHeaderBar.test.ts
  resources/js/common/components/CpHeaderBar.vue
  resources/js/common/layouts/screens/PageScreen.vue
Due: prettier --ignore-unknown --write

gap-2 -> gap-md
  resources/js/common/components/CpHeaderBar.vue
Due: none

Fixed the gap size between view modes and “View” button
  resources/js/modules/elements/index/components/ElementIndexToolbar.vue
Due: none

Cleanup additional names, go back to dark mode
  resources/js/common/components/CpHeaderBar.test.ts
  resources/js/common/components/CpHeaderBar.vue
Due: none

Remove secondary nav padding
  resources/js/common/components/SecondaryNav.vue
Due: none

Notification border color
  resources/js/common/components/CpHeaderBar.vue
Due: none

Header styling tweaks
  resources/js/common/components/CpHeaderBar.vue
Due: none

Release note
  CHANGELOG.md
Due: none

No tab shift
  packages/craftcms-ui/src/components/tab/tab.styles.ts
  packages/craftcms-ui/src/components/tab/tab.test.ts
  packages/craftcms-ui/src/components/tab/tab.ts
Due: none

Fix accessible name applied to lightswitches in editable tables
  resources/js/modules/admin-table/composables/useEditableTable.ts
  resources/js/modules/sections/components/PreviewTargetsTable.test.ts
  resources/js/modules/sections/components/SiteSettingsTable.vue
Due: none

Fix legacy CP assets and form host on Vue-shell screens
  packages/craftcms-legacy/cp/src/js/ElementEditor.js
  src/Http/Middleware/HandleInertiaRequests.php
  src/View/HtmlStack.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

reduce the slideout/modal border radius a bit
  packages/craftcms-ui/src/components/dialog/dialog.styles.ts
  resources/js/common/slideouts/SlideoutPanel.vue
Due: none

Release notes for #19835 and #19836
  CHANGELOG.md
Due: none

Make the content footer span the full content pane width on constrained screens
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/common/layouts/screens/page/ContentFooter.vue
Due: none

Move the release notes to CHANGELOG.md
  CHANGELOG-WIP.md
  CHANGELOG.md
Due: none

Release notes
  CHANGELOG.md
Due: none

Fix bug caused by columns having clashing IDs
  resources/js/common/components/DataTable.vue
  resources/js/modules/admin-table/composables/useEditableTable.ts
  resources/js/modules/admin-table/craftTable.ts
  resources/js/modules/elements/index/components/ElementTable.test.ts
Due: none

Breadcrumb spacing cleanup
  packages/craftcms-ui/src/components/breadcrumb-item/breadcrumb-item.ts
  packages/craftcms-ui/src/components/breadcrumbs/breadcrumbs.styles.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  resources/js/common/components/Breadcrumbs.vue
  resources/js/common/components/CpHeaderBar.vue
Due: none

Badge and status indicator tweaks
  packages/craftcms-ui/src/components/badge/badge.styles.ts
  packages/craftcms-ui/src/components/badge/badge.test.ts
  packages/craftcms-ui/src/components/badge/badge.ts
  packages/craftcms-ui/src/components/indicator/Indicator.mdx
  packages/craftcms-ui/src/components/indicator/indicator.ts
  resources/js/modules/elements/ElementStatus.vue
  resources/js/pages/settings/sites/Index.vue
  src/Cp/Html/StatusHtml.php
  tests/Unit/Cp/StatusHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog for badge and status indicator tweaks
  CHANGELOG.md
Due: none

Fixed test
  yii2-adapter/tests-laravel/Legacy/LegacyHtmlFormTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bug fixes
  resources/translations/en/app.php
  src/Asset/AssetsHelper.php
  src/Asset/Import/AssetImporter.php
  src/Asset/Import/AssetsFieldImportHandler.php
  src/Http/Controllers/Import/ImportPlansController.php
  src/Import/Commands/ImportCommand.php
  src/Import/ImportPlan.php
  src/Support/Facades/ImportPlan.php
  tests/Feature/Http/Controllers/ImportPlansControllerTest.php
  tests/Feature/Import/ImportAssetTest.php
  tests/Feature/Import/ImportPlanDataTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

adds ImportableContainerPropertiesInterface
  docs/importing.md
  src/Element/Contracts/ImportableContainerPropertiesInterface.php
  src/Element/Import/ElementImporter.php
  src/Element/Import/ElementTransformer.php
  src/Http/Controllers/Import/ImportPlansController.php
  src/User/Elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ignored the pnpm store directory
  .gitignore
Due: none

Added form modal and slideout actions to Table node cells
  resources/js/modules/forms/AdminTableNode.vue
  src/Form/Nodes/Table.php
  tests/Feature/Form/TableNodeMenuModalTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed PHPStan errors in the Table node
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add PHP MCP SDK
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Register MCP permission
  src/Mcp/McpServiceProvider.php
  src/Providers/CraftServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add MCP server factory
  src/Mcp/ServerFactory.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add MCP HTTP transport
  composer.json
  composer.lock
  src/Mcp/Http/Controllers/McpController.php
  src/Mcp/HttpTransportMiddleware.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add MCP configuration
  src/Config/GeneralConfig.php
  src/Config/McpConfig.php
  tests/Unit/Config/ConfigServiceProviderTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add MCP asset folder capabilities
  src/Mcp/Capabilities/AssetFolders.php
  tests/Feature/Mcp/AssetFoldersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add MCP section capabilities
  src/Mcp/Capabilities/ImageTransforms.php
  src/Mcp/Capabilities/Routes.php
  src/Mcp/Capabilities/Sections.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Laravel Passport
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write
