Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Port the entry edit page to Inertia
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementEditPage.ts
  resources/js/pages/content/Edit.vue
  routes/cp.php
  src/Http/Controllers/Entries/EditEntryController.php
  src/Http/ViewModels/ElementEditViewModel.php
  src/Http/ViewModels/EntryEditViewModel.php
  tests/Feature/Http/Controllers/Elements/EditElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render element editor meta fields as a Form
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementEditPage.ts
  resources/js/modules/forms/useInertiaFormRenderer.test.ts
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Contracts/ElementInterface.php
  src/Entry/Elements/Entry.php
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Elements/EditElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add multi-site controls to the Inertia element editor
  resources/js/modules/elements/composables/useElementEditPage.ts
  resources/js/modules/elements/composables/useSiteStatuses.test.ts
  resources/js/modules/elements/composables/useSiteStatuses.ts
  src/Element/Concerns/HasControlPanelUI.php
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Entries/EditEntryMultiSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render provisional drafts and autosave in the Inertia editor
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementAutosave.test.ts
  resources/js/modules/elements/composables/useElementAutosave.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
  src/Entry/Elements/Entry.php
  src/Http/Controllers/Entries/EditEntryController.php
  src/Http/ViewModels/ElementEditViewModel.php
  src/Http/ViewModels/EntryEditViewModel.php
  tests/Feature/Http/Controllers/Elements/EditElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add header and alternate save actions to the Inertia editor
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementEditPage.ts
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render named drafts and revisions in the Inertia editor
  resources/js/common/components/FormActions.vue
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/common/layouts/screens/SlideoutScreen.vue
  resources/js/common/layouts/screens/types.ts
  resources/js/modules/elements/components/ElementContextMenu.vue
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementAutosave.test.ts
  resources/js/modules/elements/composables/useElementAutosave.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
  src/Http/Controllers/Entries/EditEntryController.php
  src/Http/ViewModels/ElementEditViewModel.php
  src/Http/ViewModels/EntryEditViewModel.php
  tests/Feature/Http/Controllers/Elements/EditElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render the element action menu in the Inertia editor
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
  src/Element/Concerns/HasControlPanelUI.php
  src/Entry/Elements/Entry.php
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add preview target links to the Inertia editor
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementEditPage.ts
  src/Http/Controllers/Entries/EditEntryController.php
  src/Http/Controllers/PreviewController.php
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
  tests/Feature/Http/Controllers/PreviewControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Poll for element activity and upstream changes in the Inertia editor
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementActivity.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add dismissible tips and additional-site statuses to the Inertia editor
  resources/js/modules/forms/CalloutNode.vue
  resources/js/modules/forms/dismissedTips.test.ts
  resources/js/modules/forms/dismissedTips.ts
  src/Element/Concerns/HasControlPanelUI.php
  tests/Feature/Http/Controllers/Entries/EditEntryMultiSiteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port the asset edit page to Inertia
  resources/js/common/types/globals.d.ts
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/modules/elements/composables/useElementActivity.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
  resources/js/pages/assets/Edit.vue
  routes/cp.php
  src/Asset/Elements/Asset.php
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Contracts/ElementInterface.php
  src/Http/Controllers/Assets/EditAssetController.php
  src/Http/Responses/ElementResponse.php
  src/Http/ViewModels/AssetEditViewModel.php
  src/Http/ViewModels/ElementEditViewModel.php
  tests/Feature/Http/Controllers/Assets/EditAssetControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep the editor metadata working for unsaved user drafts
  src/User/Elements/User.php
  tests/Feature/Http/Controllers/User/UsersControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore the subnav on the account screens
  src/Http/Responses/CpScreenResponse.php
  src/Http/ViewModels/UserEditViewModel.php
  src/User/EditUserScreens.php
  tests/Feature/Http/Controllers/User/AddressesControllerTest.php
  tests/Feature/Http/Controllers/User/PermissionsControllerTest.php
  tests/Feature/User/EditUserScreensTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port the user edit page to Inertia
  resources/js/common/types/globals.d.ts
  resources/js/modules/elements/composables/useElementActionMenu.test.ts
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/pages/users/Edit.vue
  src/Http/Controllers/Users/AddressesController.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/Controllers/Users/PasskeysController.php
  src/Http/Controllers/Users/PasswordController.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Http/Controllers/Users/PreferencesController.php
  src/Http/Controllers/Users/SignInProvidersController.php
  src/Http/Controllers/Users/UsersController.php
  src/Http/ViewModels/UserEditViewModel.php
  src/Http/ViewModels/UserProfileViewModel.php
  src/User/EditUserScreens.php
  src/User/Elements/User.php
  tests/Feature/Http/Controllers/User/SaveUserController/ProfileEditTest.php
  tests/Feature/Http/Controllers/User/UsersControllerTest.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Read the element editor's payload from its own screen
  resources/js/modules/elements/composables/useElementEditPage.test.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
Due: none

Lingering Pane reference
  resources/js/modules/elements/components/ElementEditPage.vue
Due: none

Migrate site settings to Form
  resources/js/modules/sites/components/SiteFields.vue
  resources/js/pages/Form.test.ts
  resources/js/pages/settings/sites/Edit.test.ts
  resources/js/pages/settings/sites/Edit.vue
  routes/cp.php
  src/Http/Controllers/Settings/SitesController.php
  tests/Feature/Http/Controllers/Settings/SitesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial port of the entry edit page to Inertia
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementEditPage.ts
  resources/js/pages/content/Edit.vue
  routes/cp.php
  src/Http/Controllers/Entries/EditEntryController.php
  src/Http/ViewModels/ElementEditViewModel.php
  src/Http/ViewModels/EntryEditViewModel.php
  tests/Feature/Http/Controllers/Elements/EditElementControllerTest.php
  tests/Feature/Http/Controllers/Entries/EditEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port the user edit page to Inertia
  resources/js/common/types/globals.d.ts
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/composables/useElementActionMenu.test.ts
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/modules/elements/composables/useElementEditPage.test.ts
  resources/js/modules/elements/composables/useElementEditPage.ts
  resources/js/pages/users/Edit.vue
  resources/js/pages/users/Profile.vue
  src/Http/Controllers/Users/AddressesController.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/Controllers/Users/PasskeysController.php
  src/Http/Controllers/Users/PasswordController.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Http/Controllers/Users/PreferencesController.php
  src/Http/Controllers/Users/SignInProvidersController.php
  src/Http/Controllers/Users/UsersController.php
  src/Http/Responses/CpScreenResponse.php
  src/Http/ViewModels/UserEditViewModel.php
  src/Http/ViewModels/UserProfileViewModel.php
  src/User/EditUserScreens.php
  src/User/Elements/User.php
  tests/Feature/Http/Controllers/User/AddressesControllerTest.php
  tests/Feature/Http/Controllers/User/PermissionsControllerTest.php
  tests/Feature/Http/Controllers/User/SaveUserController/ProfileEditTest.php
  tests/Feature/Http/Controllers/User/UsersControllerTest.php
  tests/Feature/User/EditUserScreensTest.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Resizable details sidebar
  resources/css/cp.css
  resources/js/common/components/ResizeHandle.vue
  resources/js/common/composables/useResizable.ts
  resources/js/common/layouts/screens/PageScreen.vue
Due: prettier --ignore-unknown --write

Make every CP page full width
  resources/js/common/composables/useAppLayout.ts
  resources/js/common/layouts/AppLayout.stories.ts
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/common/layouts/screens/types.ts
  resources/js/modules/elements/components/ElementIndexPage.vue
  resources/js/pages/assets/Index.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  resources/js/pages/settings/sites/Index.vue
  resources/js/pages/settings/users/Settings.vue
  resources/js/pages/settings/users/groups/Index.vue
  resources/js/pages/utilities/Show.vue
Due: none

Drop the trailing separator from the last breadcrumb
  packages/craftcms-ui/src/components/breadcrumbs/breadcrumbs.ts
Due: none

Include the current screen in user breadcrumbs
  src/Http/Controllers/Users/EditUserTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Style metadata list terms with utility classes
  resources/css/cp.css
  src/Cp/Html/ContentHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Move legacy spacing utilities into the cpcompat bundle
  packages/craftcms-legacy/cp/src/css/_main.scss
  packages/craftcms-legacy/cpcompat/src/cp-compat.css
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Request a plain chip appearance for owner breadcrumbs
  src/Element/Concerns/HasControlPanelUI.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reduce the size of breadcrumb text
  resources/js/common/components/Breadcrumbs.vue
Due: none

Only apply padding to interior suffix elements
  packages/craftcms-ui/src/components/chip/chip.styles.ts
Due: none

Render breadcrumb as plain chip
  src/Http/Controllers/Users/EditUserTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render the details column on every user screen
  resources/js/modules/user/components/UserScreen.vue
  resources/js/pages/users/Addresses.vue
  resources/js/pages/users/Passkeys.vue
  resources/js/pages/users/Password.vue
  resources/js/pages/users/Permissions.vue
  resources/js/pages/users/Preferences.vue
  resources/js/pages/users/SignInProviders.vue
Due: none
