Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Render link type when action.href is provided
  resources/js/common/components/ActionList.vue
Due: none

Formatting
  resources/js/modules/conditions/ConditionRule.vue
  resources/js/modules/updater/components/Update.vue
  resources/js/pages/graphql/schemas/Index.vue
  resources/js/pages/graphql/tokens/Index.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  resources/js/pages/settings/entry-types/Index.vue
  resources/js/pages/settings/routes/Index.vue
  resources/js/pages/settings/sections/Index.vue
  resources/js/pages/settings/users/groups/Index.vue
Due: none

Fix ActionList typecheck for href on button items
  resources/js/common/components/ActionList.vue
Due: none

Test that ActionMenu's invoker gets craft-action-menu's ARIA wiring
  resources/js/common/components/ActionMenu.test.ts
Due: none

Fix the @craftcms/ui tests failing on CI
  packages/craftcms-ui/src/components/dialog/dialog.stories.ts
  packages/craftcms-ui/src/components/shortcut/shortcut.test.ts
  packages/craftcms-ui/src/components/tabs/tabs.stories.ts
Due: none

Stub animate() in the copy button tests
  packages/craftcms-ui/src/components/copy-button/copy-button.test.ts
Due: none

Build the manifest with @craftcms/ui's dependencies in the Unit jobs
  .github/workflows/laravel-ci.yml
Due: none

Skip the lockfile supply-chain pass for the Unit jobs' manifest build
  .github/workflows/laravel-ci.yml
Due: none

Emit equal-width from Tabs
  src/Cp/Components/Tabs.php
  tests/Unit/Cp/Components/TabsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert "Build the manifest with @craftcms/ui's dependencies in the Unit jobs"
  .github/workflows/laravel-ci.yml
Due: none

Revert "Skip the lockfile supply-chain pass for the Unit jobs' manifest build"
  .github/workflows/laravel-ci.yml
Due: none

Revert "Fix the @craftcms/ui tests failing on CI"
  packages/craftcms-ui/src/components/dialog/dialog.stories.ts
  packages/craftcms-ui/src/components/shortcut/shortcut.test.ts
  packages/craftcms-ui/src/components/tabs/tabs.stories.ts
Due: none

Revert "Stub animate() in the copy button tests"
  packages/craftcms-ui/src/components/copy-button/copy-button.test.ts
Due: none

Emit heading-level from Pane
  src/Cp/Components/Pane.php
  tests/Unit/Cp/Components/PaneTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Pane heading-level drift and icon-only choice button names
  src/Cp/Components/Pane.php
  src/Form/Controls/Choice.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run the full supply-chain check for the Unit jobs' manifest build
  .github/workflows/laravel-ci.yml
Due: none

removed non-standard algorithm
  src/auth/passkeys/WebauthnServer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Formatting
  packages/craftcms-legacy/cp/src/js/ImageUpload.js
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.browser.test.ts
  packages/craftcms-ui/src/styles/shared/colorable.css
  resources/js/modules/conditions/ConditionRule.vue
  resources/js/modules/updater/components/Update.vue
  resources/js/pages/graphql/schemas/Index.vue
  resources/js/pages/graphql/tokens/Index.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  resources/js/pages/settings/entry-types/Index.vue
  resources/js/pages/settings/routes/Index.vue
  resources/js/pages/settings/sections/Index.vue
  resources/js/pages/settings/users/groups/Index.vue
Due: prettier --ignore-unknown --write

Improve grouped field presentation
  packages/craftcms-ui/src/components/field-group/field-group.ts
  packages/craftcms-ui/src/components/field/field.styles.ts
  packages/craftcms-ui/src/styles/form.styles.ts
  resources/js/modules/forms/FormRenderer.test.ts
  src/Field/Markdown.php
  src/Field/PlainText.php
  src/Workflow/UserReview/UserReviewStage.php
  tests/Fixtures/Form/plain-text-settings.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

formatting (standardise later)
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.browser.test.ts
  packages/craftcms-ui/src/components/select-color/select-color.ts
  resources/js/modules/conditions/ConditionRule.vue
  resources/js/modules/elements/components/BaseElementIndex.vue
  resources/js/modules/elements/components/BulkActionsBar.vue
  resources/js/modules/forms/AdminTableNode.vue
  resources/js/modules/forms/CalloutNode.vue
  resources/js/modules/updater/components/Update.vue
  resources/js/pages/graphql/schemas/Index.vue
  resources/js/pages/graphql/tokens/Index.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  resources/js/pages/settings/entry-types/Index.vue
  resources/js/pages/settings/routes/Index.vue
  resources/js/pages/settings/sections/Index.vue
  resources/js/pages/settings/users/groups/Index.vue
Due: none

Select the most specific control panel navigation item
  resources/js/common/composables/navSelection.test.ts
  resources/js/common/composables/navSelection.ts
  src/Cp/Navigation.php
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Scope navigation item slots to their own row
  packages/craftcms-ui/src/components/nav-item/nav-item.a11y.md
  packages/craftcms-ui/src/components/nav-item/nav-item.browser.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Remove unnecessary nav item accessibility checklist
  packages/craftcms-ui/src/components/nav-item/nav-item.a11y.md
Due: none

Trim plugin navigation regression tests
  packages/craftcms-ui/src/components/nav-item/nav-item.browser.test.ts
  resources/js/common/composables/navSelection.test.ts
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make sure status actions can have a fill colour
  resources/js/modules/forms/AdminTableNode.vue
  src/Form/Nodes/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Avoid redundant saves from pending autosave timers
  resources/js/modules/elements/composables/useElementAutosave.test.ts
  resources/js/modules/elements/composables/useElementAutosave.ts
Due: none

Document the autosave request fix
  CHANGELOG.md
Due: none

Limit the save shortcut to the topmost slideout
  resources/js/modules/settings/composables/useSettingsSave.test.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
Due: none

Document the slideout save shortcut fix
  CHANGELOG.md
Due: none

Fix move to page styling
  resources/js/modules/admin-table/components/MoveToPageButton.vue
Due: none

Make “+ New X” buttons consistent with the rest of the system
  resources/js/modules/forms/AdminTableNode.vue
  resources/js/pages/settings/workflows/Index.vue
Due: none

Show required indicator on grouped field label
  packages/craftcms-ui/src/components/field-group/field-group.ts
  resources/js/modules/forms/GroupNode.vue
  src/Form/Nodes/Group.php
  src/Workflow/UserReview/UserReviewStage.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

rename two events
  docs/importing.md
  src/Import/Events/ItemImported.php
  src/Import/Events/ItemImporting.php
  src/Import/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

removed method that was now only used in tests
  src/Import/Import.php
  src/Support/Facades/Import.php
  tests/Feature/Import/Commands/ImportEntryCommandTest.php
  tests/Feature/Import/ImportFromFileTest.php
  tests/Feature/Import/ImportMatrixFieldTest.php
  tests/Support/ImportFixtures.php
  tests/Unit/Import/XmlDataTypeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Fix icon picker field
  resources/js/common/components/Modal.vue
  resources/js/common/form/IconPicker.vue
Due: none
