Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Update types
  resources/js/composables/useCraftData.ts
Due: none

Fix error display
  resources/js/components/Auth/login/login-form.ts
Due: none

Uncommit vite change
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Build
  resources/build/assets/LoginPage-C1fRs35D.js
  resources/build/assets/LoginPage-gMGM6kLA.js
  resources/build/assets/cp-BSUq4smM.js
  resources/build/assets/cp-Ck-lTAGP.js
  resources/build/assets/cp-DYjfYtBi.js
  resources/build/assets/cp-UvjVCVOI.js
  resources/build/assets/legacy-Bd8EkLwN.js
  resources/build/assets/legacy-CHJIbRuu.js
  resources/build/assets/login-form-Caefk0Gj.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Remove unused button color tokens, adjust switch checked bg color
  packages/craftcms-cp/src/components/switch-button/switch-button.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Fix dev mode stripe color
  resources/js/components/DevModeIndicator.vue
Due: none

Restore leagcy asset bundles to yii2-adapter
  yii2-adapter/legacy/web/assets/recoverycodes/RecoveryCodesAsset.php
  yii2-adapter/legacy/web/assets/recoverycodes/dist/recoverycodes.js
  yii2-adapter/legacy/web/assets/recoverycodes/dist/recoverycodes.js.map
  yii2-adapter/legacy/web/assets/recoverycodes/src/RecoveryCodeForm.js
  yii2-adapter/legacy/web/assets/recoverycodes/webpack.config.js
  yii2-adapter/legacy/web/assets/totp/TotpAsset.php
  yii2-adapter/legacy/web/assets/totp/dist/totp.js
  yii2-adapter/legacy/web/assets/totp/dist/totp.js.map
  yii2-adapter/legacy/web/assets/totp/src/TotpForm.js
  yii2-adapter/legacy/web/assets/totp/webpack.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove obsolete test
  tests/Feature/Http/Controllers/Auth/LoginControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update all instances of buttons from primary to accent and default/secondary to neutral
  resources/js/components/CpLink.vue
  resources/js/components/ModalForm.vue
  resources/js/components/utilities/AssetIndexes/AssetIndexes.vue
  resources/js/components/utilities/DatabaseBackup.vue
  resources/js/components/utilities/FindReplace/FindReplace.vue
  resources/js/components/utilities/Migrations.vue
  resources/js/components/utilities/ProjectConfig/ProjectConfig.vue
  resources/js/components/utilities/ProjectConfig/SyncConfigButton.vue
  resources/js/components/utilities/Updates/Update.vue
  resources/js/components/utilities/Updates/Updates.vue
  resources/js/pages/Install.vue
  resources/js/pages/SettingsEmailPage.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/pages/SettingsSectionsEditPage.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
  resources/js/pages/Updater.vue
Due: none

update default button to neutral'
  resources/js/components/utilities/ProjectConfig/ProjectConfig.vue
Due: none

Bind loading arg
  packages/craftcms-cp/src/components/button/button.stories.ts
Due: none

Update matrices in storybook docs
  packages/craftcms-cp/src/stories/tokens/Docs.mdx
  packages/craftcms-cp/src/stories/tokens/variants.stories.ts
Due: none

Fix legacy exception redirects
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Http/LegacyErrorHandlerCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't generate loginUrl and logoutUrl if the config is set to false - fix #18894
  CHANGELOG.md
  src/View/TemplateGlobals.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix https://github.com/craftcms/cms/issues/18895
  src/templates/_includes/forms/editableTable.twig
Due: none

Add "Elements" tab to laravel-debugbar when installed
  composer.json
  composer.lock
  src/Debug/DebugServiceProvider.php
  src/Debug/Element/ElementCollector.php
  src/Debug/Element/ElementCollectorProvider.php
  src/Providers/CraftServiceProvider.php
  tests/Unit/Debug/Element/ElementCollectorTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add deprecations
  src/Debug/DebugServiceProvider.php
  src/Debug/Deprecation/DeprecationCollector.php
  src/Debug/Deprecation/DeprecationCollectorProvider.php
  tests/Unit/Debug/Deprecation/DeprecationCollectorTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix: normalize imagetransformindex dateIndexed for mysql datetime
  src/Image/ImageTransformer.php
  tests/Feature/Image/ImageTransformerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Streamline variant/appearance names
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/components/action-item/action-item.ts
  packages/craftcms-cp/src/components/button/Docs.mdx
  packages/craftcms-cp/src/components/button/button.stories.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
  packages/craftcms-cp/src/components/callout/callout.styles.ts
  packages/craftcms-cp/src/components/callout/callout.ts
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/stories/tokens/Docs.mdx
  packages/craftcms-cp/src/stories/tokens/variants.stories.ts
  packages/craftcms-cp/src/styles/shared/colorable.css
  packages/craftcms-cp/src/styles/static-variants.styles.ts
  packages/craftcms-cp/src/types/index.ts
  resources/build/AppLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue.ts.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/AppLayout.css
  resources/build/assets/Install.css
  resources/build/assets/SettingsGeneralPage.css
  resources/build/assets/SettingsSitesIndex.css
  resources/build/assets/Updater.css
  resources/build/assets/cp.css
  resources/build/assets/cp2.css
  resources/build/assets/useAnnouncer.css
  resources/build/cp3.js
  resources/build/useAnnouncer.js
  resources/js/components/utilities/DatabaseBackup.vue
Due: prettier --ignore-unknown --write

Fix a couple parts of stories, update filled button
  packages/craftcms-cp/src/components/button/button.stories.ts
  packages/craftcms-cp/src/stories/tokens/Docs.mdx
  resources/build/SettingsSectionsEditPage.js
  resources/build/assets/SettingsSectionsEditPage.css
  resources/js/components/form/EntryTypeSelect.vue
Due: prettier --ignore-unknown --write

A couple more references I missed
  packages/craftcms-cp/src/stories/tokens/Docs.mdx
Due: none

Normalize image transform index data for DB
  src/Image/ImageTransformer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

Pint
  tests/Feature/Image/ImageTransformerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove stray dump - fixes #18902
  CHANGELOG.md
  resources/templates/_includes/forms/editableTable.twig
Due: none

Fix changelog order
  CHANGELOG.md
Due: none

Fix plugin Twig variable registration
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/View/CraftVariableCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy cache not accepting new DependencyCache objects
  yii2-adapter/src/Cache.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy tests
  resources/templates/_includes/forms/autosuggest.twig
  resources/templates/_includes/forms/selectize.twig
  src/Twig/Extensions/CpExtension.php
  yii2-adapter/legacy/test/Craft.php
  yii2-adapter/legacy/test/CraftConnector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Catch setup issues in legacy tests
  yii2-adapter/codeception.yml
  yii2-adapter/tests/_support/Extension/FailOnIncompleteRun.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix formatting of ol and ul
  src/Support/Html.php
  tests/Unit/Support/HtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix original url not rendering when a legacy controller returns null
  yii2-adapter/legacy/web/Application.php
  yii2-adapter/src/Http/CaptureOriginalActionRequestUri.php
  yii2-adapter/src/Web/Request.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Http/LegacyActionRoutingTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix return type on ul and ol methods
  src/Support/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  tests/Unit/Support/HtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix flaky test + use snapshot for html test
  tests/.pest/snapshots/Unit/Support/HtmlTest/Ol.snap
  tests/.pest/snapshots/Unit/Support/HtmlTest/Ul.snap
  tests/Feature/Asset/Policies/AssetPolicyTest.php
  tests/Unit/Support/HtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy filesystem bridging
  yii2-adapter/src/Filesystem/FilesystemCompatibility.php
  yii2-adapter/tests-laravel/Filesystem/FilesystemCompatibilityTest.php
  yii2-adapter/tests-laravel/Pest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
