Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed tests
  src/Cp/Navigation.php
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update references to tabId
  resources/js/common/components/DetailsPanels.test.ts
  resources/js/modules/workflows/components/WorkflowDetailsActions.test.ts
  resources/js/modules/workflows/components/WorkflowDetailsPanel.test.ts
  src/Http/ViewModels/ElementEditViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep a chip's thumbnail corners concentric with the chip's
  packages/craftcms-ui/src/components/chip/chip.browser.test.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
Due: none

Fix stories without labels
  packages/craftcms-ui/src/components/tabs/tabs.ts
Due: none

Release notes
  CHANGELOG.md
Due: none

Release note
  CHANGELOG.md
Due: none

Normalize invalid external selections and removed tabs
  packages/craftcms-ui/src/components/tabs/tabs.a11y.md
  packages/craftcms-ui/src/components/tabs/tabs.browser.test.ts
  packages/craftcms-ui/src/components/tabs/tabs.test.ts
  packages/craftcms-ui/src/components/tabs/tabs.ts
Due: none

Fixed test
  resources/js/common/components/DetailsPanels.vue
Due: none

Underline blue links on hover, and follow the "Underline links" preference
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/styles/shared/base.css
  packages/craftcms-ui/src/styles/shared/tokens.css
  resources/js/bootstrap/cp-app.ts
  resources/js/common/components/CpHeaderBar.vue
  resources/js/common/components/CpLink.vue
  resources/js/common/composables/useCraftData.ts
  resources/js/common/composables/useUnderlineLinks.test.ts
  resources/js/common/composables/useUnderlineLinks.ts
  resources/js/modules/dashboard/Feed.vue
  src/Http/Middleware/HandleInertiaRequests.php
  tests/Feature/Http/Controllers/User/PreferencesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add changelog entries for #19905
  CHANGELOG.md
Due: none

Color chips inside links as links
  packages/craftcms-ui/src/components/chip/chip-link.browser.test.ts
  packages/craftcms-ui/src/styles/shared/base.css
Due: prettier --ignore-unknown --write

Flush element index and admin table row edges with their containers
  packages/craftcms-ui/src/styles/shared/base.css
  resources/js/common/components/DataTable.vue
  resources/js/modules/admin-table/components/AdminTable.test.ts
  resources/js/modules/admin-table/components/AdminTable.vue
  resources/js/modules/elements/index/components/ElementTable.test.ts
  resources/js/modules/elements/index/components/ElementTable.vue
  resources/js/pages/graphql/schemas/Index.vue
  resources/js/pages/graphql/tokens/Index.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transformers/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  resources/js/pages/settings/entry-types/Index.vue
  resources/js/pages/settings/fields/Index.vue
  resources/js/pages/settings/sections/Index.vue
  resources/js/pages/settings/sites/Index.vue
  resources/js/pages/settings/users/groups/Index.vue
  resources/js/pages/settings/workflows/Index.vue
Due: prettier --ignore-unknown --write

Changelog for #19906
  CHANGELOG.md
Due: none

Double-click element chips to edit them in a slideout
  resources/js/modules/elements/composables/useElementQuickEdit.test.ts
  resources/js/modules/elements/composables/useElementQuickEdit.ts
  resources/js/modules/elements/index/components/ElementIndex.vue
  resources/js/modules/elements/index/components/ElementIndexPage.vue
Due: none

Changelog for #19907
  CHANGELOG.md
Due: none

Fixed #19901
  CHANGELOG.md
  src/console/controllers/FieldsController.php
  tests/unit/console/controllers/FieldsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

"Open in a new tab" buttons for section edit slideouts
  CHANGELOG.md
  src/Http/Controllers/Settings/SectionsController.php
  tests/Feature/Http/Controllers/Settings/SectionsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19904
  CHANGELOG.md
  src/helpers/FileHelper.php
  tests/unit/helpers/FileHelper/FileHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Content heading
  CHANGELOG.md
  src/Cp/Navigation.php
  yii2-adapter/src/DeprecatedConcepts.php
  yii2-adapter/tests-laravel/Legacy/DeprecatedConceptRegistrationCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop top-level group headings from the collapsed nav rail
  resources/js/common/components/MainNav.test.ts
  resources/js/common/components/MainNav.vue
Due: none

Drop the dots
  packages/craftcms-ui/src/components/timeline-item/timeline-item.styles.ts
  packages/craftcms-ui/src/components/timeline-item/timeline-item.test.ts
  packages/craftcms-ui/src/components/timeline-item/timeline-item.ts
Due: none

Allow trusted template content in element sidebars
  CHANGELOG.md
  resources/js/modules/ui/TemplateContentNode.browser.test.ts
  resources/js/modules/ui/TemplateContentNode.vue
  src/Ui/Nodes/TemplateContent.php
  tests/Unit/Ui/TemplateContentNodeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference PR in trusted template content changelog entry
  CHANGELOG.md
Due: none

Remove obsolete Yii field merge test from core suite
  tests/unit/console/controllers/FieldsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update navigation tests for the Content group
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
  tests/Feature/Http/Middleware/HandleInertiaRequestsTest.php
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add scoped containers to the UI API
  CHANGELOG.md
  docs/ui.md
  resources/js/modules/ui/ScopeNode.vue
  resources/js/modules/ui/UiRenderer.test.ts
  resources/js/modules/ui/register.ts
  src/Field/Concerns/ProvidesLinkField.php
  src/Http/ViewModels/AssetTransformerEditViewModel.php
  src/Http/ViewModels/FieldEditViewModel.php
  src/Http/ViewModels/ImageTransformEditViewModel.php
  src/Ui/Nodes/Scope.php
  src/Ui/UiNodeTypes.php
  src/Ui/UiResolver.php
  tests/Feature/Field/BuiltInFieldSettingsUiTest.php
  tests/Feature/Http/Controllers/FieldsControllerTest.php
  tests/Feature/Http/Controllers/Settings/AssetTransformersControllerTest.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
  tests/Unit/Ui/ReplacementUiContractsTest.php
  tests/Unit/Ui/ScopeNodeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference the Scope pull request in the changelog
  CHANGELOG.md
Due: none

Use the Craft JSON helper for Scope identifiers
  src/Ui/Nodes/Scope.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Support field presentation options in the UI builder
  CHANGELOG.md
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  packages/craftcms-ui/src/components/field/field.test.ts
  packages/craftcms-ui/src/components/field/field.ts
  packages/craftcms-ui/src/components/tooltip/tooltip.a11y.md
  resources/js/modules/ui/FieldNode.vue
  resources/js/modules/ui/UiRenderer.test.ts
  src/FieldLayout/LayoutElements/BaseField.php
  src/FieldLayout/LayoutElements/FullNameField.php
  src/Ui/Nodes/Field.php
  tests/Feature/Http/Controllers/Elements/CopyElementValuesControllerTest.php
  tests/Unit/FieldLayout/LayoutElements/TextFieldTest.php
  tests/Unit/Ui/FieldAppearanceTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Allow trusted template content in element sidebars (#19913)
  CHANGELOG.md
  resources/js/modules/ui/TemplateContentNode.browser.test.ts
  resources/js/modules/ui/TemplateContentNode.vue
  src/Ui/Nodes/TemplateContent.php
  tests/Unit/Ui/TemplateContentNodeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Provide site metadata in legacy title rendering tests
  yii2-adapter/tests-laravel/Legacy/LegacyCoreFormHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference the field presentation PR in the changelog
  CHANGELOG.md
Due: none

[6.x] Add scoped containers to the UI API (#19914)
  CHANGELOG.md
  docs/ui.md
  resources/js/modules/ui/ScopeNode.vue
  resources/js/modules/ui/UiRenderer.test.ts
  resources/js/modules/ui/register.ts
  src/Field/Concerns/ProvidesLinkField.php
  src/Http/ViewModels/AssetTransformerEditViewModel.php
  src/Http/ViewModels/FieldEditViewModel.php
  src/Http/ViewModels/ImageTransformEditViewModel.php
  src/Ui/Nodes/Scope.php
  src/Ui/UiNodeTypes.php
  src/Ui/UiResolver.php
  tests/Feature/Field/BuiltInFieldSettingsUiTest.php
  tests/Feature/Http/Controllers/FieldsControllerTest.php
  tests/Feature/Http/Controllers/Settings/AssetTransformersControllerTest.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
  tests/Unit/Ui/ReplacementUiContractsTest.php
  tests/Unit/Ui/ScopeNodeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Support field presentation options in the UI builder (#19915)
  CHANGELOG.md
  packages/craftcms-ui/src/components/field/field.browser.test.ts
  packages/craftcms-ui/src/components/field/field.test.ts
  packages/craftcms-ui/src/components/field/field.ts
  packages/craftcms-ui/src/components/tooltip/tooltip.a11y.md
  resources/js/modules/ui/FieldNode.vue
  resources/js/modules/ui/UiRenderer.test.ts
  src/FieldLayout/LayoutElements/BaseField.php
  src/FieldLayout/LayoutElements/FullNameField.php
  src/Ui/Nodes/Field.php
  tests/Feature/Http/Controllers/Elements/CopyElementValuesControllerTest.php
  tests/Unit/FieldLayout/LayoutElements/TextFieldTest.php
  tests/Unit/Ui/FieldAppearanceTest.php
  yii2-adapter/tests-laravel/Legacy/LegacyCoreFormHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy installer asset URLs in Yii adapter
  CHANGELOG.md
  yii2-adapter/legacy/web/AssetManager.php
  yii2-adapter/tests-laravel/View/InstallerAssetUrlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add PR reference
  CHANGELOG.md
Due: none

[6.x] Fix legacy installer asset URLs in the Yii adapter (#19917)
  CHANGELOG.md
  yii2-adapter/legacy/web/AssetManager.php
  yii2-adapter/tests-laravel/View/InstallerAssetUrlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

handle structure's parent
  src/Asset/Import/AssetImporter.php
  src/Element/Import/ElementImporter.php
  src/Entry/Import/EntryImporter.php
  src/Support/ImportHelper.php
  tests/Feature/Import/ImportEntryAttributesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

align with recent changes on 6.x
  docs/importing.md
  resources/js/modules/import/mapping/MappingRow.vue
  resources/js/modules/import/mapping/NestedMapping.vue
  resources/js/modules/import/steps/StepSlideout.test.ts
  resources/js/modules/import/steps/StepSlideout.vue
  resources/js/modules/import/steps/step-slideout.ts
  resources/js/pages/import/Edit.vue
  resources/js/pages/import/Index.vue
  src/Asset/Import/AssetImporter.php
  src/Element/Import/ElementImporter.php
  src/Entry/Import/EntryImporter.php
  src/Http/Controllers/Import/ImportPlansController.php
  src/Http/ViewModels/ImportPlanEditViewModel.php
  src/Http/ViewModels/ImportPlanStepUiViewModel.php
  src/Import/Data/StepUiPayload.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ModelImporter.php
  src/Support/ImportHelper.php
  tests/Feature/Http/Controllers/ImportPlansControllerTest.php
  tests/Feature/Import/ImportAssetTest.php
  tests/Support/Import/TestImporter.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
