Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Update names
  .github/workflows/tia-baseline.yml
Due: none

Add tia baseline generation
  .github/actions/run-tests/action.yml
  .github/workflows/tia-baseline.yml
  composer.json
Due: prettier --ignore-unknown --write

Need --fresh
  .github/workflows/tia-baseline.yml
Due: none

Use pcov
  .github/workflows/tia-baseline.yml
Due: none

Remove skip
  tests/Arch/ArchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Skip arch during baseline
  .github/workflows/tia-baseline.yml
  tests/Arch/ArchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run TIA baseline in parallel
  .github/workflows/tia-baseline.yml
  composer.json
Due: prettier --ignore-unknown --write

Remove feature branch
  .github/workflows/tia-baseline.yml
Due: none

Document activity logging
  docs/activity-logging.md
Due: none

Update DataTable stories to react to arg changes
  resources/js/modules/elements/components/DataTable.stories.ts
Due: none

Remove activity event validation rules
  docs/activity-logging.md
  src/Activity/ActivityEventRecorder.php
  src/Activity/ActivityEventType.php
  src/Activity/Contracts/ActivityEventTypeInterface.php
  src/Activity/EventTypes/AssetFileReplaced.php
  src/Activity/EventTypes/ElementDuplicated.php
  src/Activity/EventTypes/ElementMerged.php
  src/Activity/EventTypes/ElementMoved.php
  src/Activity/EventTypes/ElementStatusChanged.php
  src/Activity/EventTypes/RevisionRestored.php
  tests/Feature/Activity/ActivitiesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove activity payload validation
  docs/activity-logging.md
  src/Activity/ActivityEventRecorder.php
  tests/Feature/Activity/ActivitiesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document craft-slide-picker
  packages/craftcms-ui/src/components/slide-picker/SlidePicker.mdx
  packages/craftcms-ui/src/components/slide-picker/slide-picker.ts
Due: none

Document craft-slide-rule
  packages/craftcms-ui/src/components/slide-rule/SlideRule.mdx
Due: none

Document craft-reorder-button
  packages/craftcms-ui/src/components/reorder-button/ReorderButton.mdx
Due: none

Document craft-truncate
  packages/craftcms-ui/src/components/truncate/Truncate.mdx
Due: none

Document craft-text-expander
  packages/craftcms-ui/src/components/text-expander/TextExpander.mdx
Due: none

Document craft-shortcut
  packages/craftcms-ui/src/components/shortcut/Shortcut.mdx
  packages/craftcms-ui/src/components/shortcut/shortcut.ts
Due: none

Document craft-copy-button
  packages/craftcms-ui/src/components/copy-button/CopyButton.mdx
  packages/craftcms-ui/src/components/copy-button/copy-button.ts
Due: none

Document craft-copy-attribute
  packages/craftcms-ui/src/components/copy-attribute/CopyAttribute.mdx
Due: none

Document craft-button-group
  packages/craftcms-ui/src/components/button-group/ButtonGroup.mdx
Due: none

Document craft-textarea
  packages/craftcms-ui/src/components/textarea/Textarea.mdx
  packages/craftcms-ui/src/components/textarea/textarea.ts
Due: none

Document craft-permission-tree
  packages/craftcms-ui/src/components/permission-tree/PermissionTree.mdx
Due: none

Document craft-missing-component
  packages/craftcms-ui/src/components/missing-component/MissingComponent.mdx
  packages/craftcms-ui/src/components/missing-component/missing-component.ts
Due: none

Check that docs pages import stories that exist
  packages/craftcms-ui/src/components/docs-references.test.ts
Due: none

Move craft-indicator's API docs into its annotations
  packages/craftcms-ui/src/components/indicator/Indicator.mdx
  packages/craftcms-ui/src/components/indicator/indicator.ts
Due: none

svg-sanitize 1.0.0
  composer.json
  composer.lock
  tests/unit/helpers/HtmlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Release note
  CHANGELOG-5.11.md
Due: none

Update with GHSA links.
  CHANGELOG.md
Due: none

Update GHSA link
  CHANGELOG.md
Due: none

Release note
  CHANGELOG.md
Due: none

Set header ID to null after loading changes
  resources/js/modules/elements/components/DataTable.vue
Due: none

Remove activity change type and ID
  docs/activity-logging.md
  src/Activity/Data/ActivityChange.php
  src/Activity/EntryActivity.php
  tests/Feature/Activity/ActivitiesTest.php
  tests/Feature/Activity/EntryActivityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix support for webauthn v4 passkeys
  CHANGELOG.md
  src/auth/passkeys/CredentialRepository.php
  src/elements/User.php
  src/services/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clarify test
  resources/js/modules/elements/components/DataTable.test.ts
Due: none

Updates a bunch of `@deprecated` tags’ recommended 6.x event class names [ci skip]
  yii2-adapter/constants/Asset/Concerns/LegacyConstants.php
  yii2-adapter/constants/Shared/Concerns/LegacyEventConstants.php
  yii2-adapter/legacy/base/ElementEventConstants.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

composer update + fixed PHPStan issue
  composer.lock
  src/Console/CraftCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run CI on all *-internal branches
  .github/workflows/ci.yml
Due: none

Fixed test
  yii2-adapter/tests/unit/helpers/GqlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
