Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Remove obsolete PHPStan ignores
  src/Element/Operations/ElementWrites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add cursor compatibility for legacy element queries
  yii2-adapter/legacy/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use cursors for remaining mutating element queries
  src/Element/Jobs/UpdateElementSlugsAndUris.php
  src/Element/Operations/ElementDeletions.php
  src/Element/Operations/ElementUris.php
  src/Entry/Entries.php
  src/Section/Sections.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Sections.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

High to low
  CHANGELOG.md
Due: none

Fixed HR-1418
  CHANGELOG.md
  src/elements/Category.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1413
  CHANGELOG.md
  src/fs/Local.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1369
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only one
  CHANGELOG.md
Due: none

Respect source columns
  resources/js/modules/elements/composables/useElementIndexColumns.ts
  resources/js/modules/elements/composables/useElementIndexViewState.ts
  resources/js/modules/elements/types/sources.ts
  resources/js/modules/elements/types/view-state.ts
  resources/js/pages/content/Index.vue
Due: none

Use sort from source
  resources/js/modules/elements/composables/useElementIndexColumns.ts
  resources/js/modules/elements/composables/useElementIndexFilters.ts
  resources/js/modules/elements/composables/useElementIndexSort.ts
  resources/js/modules/elements/composables/useElementIndexViewState.ts
  resources/js/modules/elements/types/view-state.ts
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix viewMode selection
  resources/js/modules/elements/components/ElementIndexToolbar.vue
  resources/js/modules/elements/composables/useElementIndexViewMode.ts
  resources/js/modules/elements/types/sources.ts
  resources/js/pages/content/Index.vue
Due: none

Fix rich select height
  packages/craftcms-cp/src/components/select-rich/select-invoker.styles.ts
Due: none

Use craftcms/url-validator for asset mutation URL validation
  composer.json
  composer.lock
  src/gql/resolvers/mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix plugin resources/templates not being loaded
  CHANGELOG.md
  src/Plugin/Concerns/HasViews.php
  src/View/TwigEngine.php
  tests/TestClasses/TestPlugin/resources/templates/tokens/index.twig
  tests/Unit/Plugin/Concerns/HasViewsTest.php
  tests/Unit/View/TwigEngineTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't register query params as Twig variables
  CHANGELOG.md
  src/Route/DynamicRoute.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix typescript errors
  packages/craftcms-cp/src/components/auth-challenge-form/auth-challenge-form.ts
  packages/craftcms-cp/src/components/callout/callout.ts
  packages/craftcms-cp/src/components/checkbox/checkbox.ts
  packages/craftcms-cp/src/components/indicator/indicator.stories.ts
  packages/craftcms-cp/src/types/globals.ts
  packages/craftcms-cp/src/utilities/dom.test.ts
  packages/craftcms-cp/src/utilities/dom.ts
Due: none

First pass at cards view
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/composables/useElementIndexViewMode.ts
  resources/js/pages/content/Index.vue
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19092
  CHANGELOG.md
  src/Site/Data/Site.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19093
  CHANGELOG.md
  src/fieldlayoutelements/addresses/LatLongField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port ElementThumbLoader
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/utilities/string.ts
  packages/craftcms-cp/src/utilities/thumbnail-loader.ts
  packages/craftcms-legacy/cp/src/js/ElementThumbLoader.js
Due: none

link GHSA-24x4-j6x9-rfw5
  CHANGELOG.md
Due: none

link GHSA-287w-mxq6-x2cp
  CHANGELOG.md
Due: none

link GHSA-xrqc-p465-2xvg
  CHANGELOG.md
Due: none

link GHSA-f74w-488g-8x5r
  CHANGELOG.md
Due: none

link GHSA-c55v-343g-5xff
  CHANGELOG.md
Due: none

Show the same error message for all invalid URLs
  src/gql/resolvers/mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  src/services/Gql.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19084
  CHANGELOG.md
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
  src/web/assets/matrix/src/MatrixInput.js
Due: none

updated comment
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add one-time-code autocomplete to TOTP form
  src/templates/_components/auth/methods/TOTP/form.twig
Due: none

Fix wa-icon import issue
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/ElementThumbLoader.js
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
Due: none

Release note
  CHANGELOG.md
Due: none

Cleanup styling a bit
  packages/craftcms-cp/src/components/chip/chip.stories.ts
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  packages/craftcms-cp/src/components/chip/chip.ts
  packages/craftcms-cp/src/components/thumbnail/thumbnail.stories.ts
  packages/craftcms-cp/src/components/thumbnail/thumbnail.styles.ts
  packages/craftcms-cp/src/components/thumbnail/thumbnail.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/pages/content/Index.vue
  src/Cp/Html/ElementHtml.php
  src/Element/Concerns/HasThumbnails.php
  src/View/LegacyAssets/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

UrlHelper::removeParams(), removeAllParams()
  src/helpers/UrlHelper.php
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG-5.11.md
Due: none

Cleanup card view a bit
  packages/craftcms-cp/src/components/card/card.styles.ts
  packages/craftcms-cp/src/components/card/card.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/styles/shared/base.css
  packages/craftcms-cp/src/utilities/attrs.test.ts
  packages/craftcms-cp/src/utilities/attrs.ts
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/pages/content/Index.vue
  src/Cp/Html/ElementHtml.php
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fixed #19101
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

Finish 4.18.2
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.10.6
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
