Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Move image transform validation tests to feature suite
  tests/Feature/Image/Data/ImageTransformTest.php
  tests/Unit/Image/Data/ImageTransformTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cache key should be different when workbench (Typescript transformer) has changes
  .github/workflows/js-ci.yml
Due: none

Refactor to enums
  ide.json
  resources/js/pages/settings/assets/transforms/Edit.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  src/Cp/Concerns/CanSelect.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  src/Image/Data/ImageTransform.php
  src/Image/Enums/ImageTransformFormat.php
  src/Image/Enums/ImageTransformInterlace.php
  src/Image/Enums/ImageTransformMode.php
  src/Image/Enums/ImageTransformPosition.php
  src/Image/Enums/ImageTransformQuality.php
  tests/Unit/Image/Data/ImageTransformTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix test
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
  tests/Feature/Integration/PagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix TOTP merge issues
  src/auth/methods/TOTP.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

craft\web\DbSession
  CHANGELOG-5.11.md
  src/web/DbSession.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

User settings inertia
  CHANGELOG-WIP.md
  CHANGELOG.md
  eslint.config.ts
  resources/js/common/form/CraftCombobox.vue
  resources/js/common/form/InputCombobox.vue
  resources/js/common/form/InputComboboxOption.vue
  resources/js/common/layouts/AppLayout.vue
  resources/js/common/layouts/IndexLayout.vue
  resources/js/common/types/globals.d.ts
  resources/js/pages/settings/Sites.vue
  resources/js/pages/settings/users/Settings.vue
  resources/js/pages/settings/users/groups/Edit.vue
  resources/js/pages/settings/users/groups/Index.vue
  resources/templates/_layouts/components/global-sidebar.twig
  resources/templates/settings/users/_settings.twig
  routes/actions.php
  routes/cp.php
  src/Component/Component.php
  src/Cp/Data/NavItem.php
  src/Cp/Events/CpNavItemsResolving.php
  src/Cp/Navigation.php
  src/Edition.php
  src/Http/Controllers/Settings/SitesController.php
  src/Http/Controllers/Settings/UserSettingsController.php
  src/Http/Controllers/Settings/Users/BaseUserSettingsController.php
  src/Http/Controllers/Settings/Users/UserGroupsController.php
  src/Http/Controllers/Settings/Users/UserSettingsController.php
  src/Http/Requests/UserSettingsRequest.php
  src/Plugin/Concerns/InteractsWithCp.php
  src/Plugin/Contracts/PluginInterface.php
  src/User/Data/UserSettings.php
  tests/Feature/Http/Controllers/Settings/UserGroupsControllerTest.php
  tests/Feature/Http/Controllers/Settings/UserSettingsControllerTest.php
  tests/Feature/Integration/PagesTest.php
  tests/Unit/Cp/NavigationTest.php
  tests/Unit/Plugin/Concerns/InteractsWithCpTest.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix PagesTest
  tests/Feature/Integration/PagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix merging of collection
  src/Cp/Navigation.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix unnecessary wrapping of NavItem
  src/Cp/Data/NavItem.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Tighten validation on defaultGroup
  src/Http/Requests/UserSettingsRequest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reindex options
  src/Http/Controllers/Settings/Users/UserSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix missing closing bracket
  src/Http/Controllers/Settings/Users/UserSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  tests/Feature/Http/Controllers/Settings/UserSettingsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixes money field
  src/web/assets/money/src/Money.js
Due: none

Build
  src/web/assets/money/dist/Money.js
  src/web/assets/money/dist/Money.js.map
Due: none

Feedback changes
  resources/js/pages/settings/users/Settings.vue
  src/Http/Controllers/Settings/Users/UserSettingsController.php
  src/Http/Requests/UserSettingsRequest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Add create tag workflow
  .gitattributes
  .github/workflows/build-artifacts.yml
  .github/workflows/create-tag.yml
Due: none

move some styles from ui-timepicker-list to ui-timepicker-wrapper
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Clean up workflow
  .github/workflows/create-tag.yml
Due: none

Fixed case sensitivity bugs on Postgres
  CHANGELOG.md
  src/elements/db/AssetQuery.php
  src/services/Entries.php
  src/services/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add cms-assets package
  .gitattributes
  .gitignore
  cms-assets/.gitattributes
  cms-assets/composer.json
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Add sync workflow
  .github/workflows/build-artifacts.yml
  .github/workflows/sync-cms-assets.yml
Due: none

Add feature branch for testing
  .github/workflows/sync-cms-assets.yml
Due: none

Add cms-assets to local adapter
  yii2-adapter/composer.json
  yii2-adapter/composer.lock
Due: prettier --ignore-unknown --write

Update build artifacts
  resources/build/assets/cp-Cfgo3F8c.css
  resources/build/assets/cp-dytUeZA1.css
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

use ramsey/composer-install
  .github/workflows/sync-cms-assets.yml
Due: none

respect & restrict type when importing entries
  src/Component/Contracts/Importable.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Import/Importers/ElementImporter.php
  src/Import/Transformers/ElementTransformer.php
  src/Import/Transformers/EntryTransformer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweaks
  resources/templates/import/_importer-types/base-importer.twig
  resources/templates/import/_importer-types/element-importer.twig
  resources/templates/import/configs/_field-layout-provider.twig
  src/Import/Importers/ElementImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Handle FLD updates
  resources/js/common/composables/useFieldLayoutDesigner.ts
  resources/js/common/composables/useGeneratedFieldsTable.ts
  resources/js/modules/field-layout-designer/CardViewDesigner.ts
  resources/js/modules/field-layout-designer/FieldLayoutDesigner.ts
  resources/js/modules/field-layout-designer/Tab.ts
  resources/js/modules/generated-fields/GeneratedFieldsTable.wc.ts
  resources/js/modules/sortable-checkbox-select/SortableCheckboxSelect.ts
  resources/js/pages/settings/EntryTypesEdit.vue
Due: none

Render sidebar content
  packages/craftcms-cp/src/styles/shared/base.css
  resources/css/cp.css
  resources/js/pages/settings/EntryTypesEdit.vue
  src/Cp/Html/ContentHtml.php
  src/Entry/Data/EntryType.php
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Remove text-muted tailwind class
  packages/craftcms-cp/tailwind.css
  resources/js/common/components/EditionInfo.vue
Due: prettier --ignore-unknown --write

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
