Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Support distance calculation and limits in address queries
  src/elements/Address.php
  src/elements/db/AddressQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CSRF validation now works
  cms/routes/web.php
  src/config/GeneralConfig.php
  tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix typo
  cms/src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate the class
  src/helpers/StringHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More replacements
  cms/src/Support/Str.php
  src/auth/sso/BaseExternalProvider.php
  src/base/Element.php
  src/base/Field.php
  src/console/controllers/utils/PruneRevisionsController.php
  src/elements/NestedElementManager.php
  src/fieldlayoutelements/BaseField.php
  src/fieldlayoutelements/CustomField.php
  src/fieldlayoutelements/TitleField.php
  src/fs/Local.php
  src/helpers/Cp.php
  src/helpers/Search.php
  src/helpers/StringHelper.php
  src/models/Volume.php
  src/web/assets/cp/CpAsset.php
  src/web/twig/variables/Cp.php
  tests/unit/db/ActiveRecordTest.php
  tests/unit/helpers/StringHelperTest.php
  tests/unit/services/RoutesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use PP for yii2-adapter and laravel-aliases
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Define Packagist secrets
  .github/workflows/ci.yml
Due: none

Port Install migration to Laravel Schema (#68)
  cms/phpunit.xml.dist
  cms/src/Craft.php
  cms/src/Migrations/Install.php
  cms/src/Migrations/Migration.php
  cms/tests/TestCase.php
  composer.json
  lib/yii2/Yii.php
  src/config/app.php
  src/console/controllers/InstallController.php
  src/controllers/InstallController.php
  src/db/MigrationManager.php
  src/db/Table.php
  src/errors/MigrationException.php
  src/migrations/Install.php
  src/test/TestSetup.php
  tests/_bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

More string helper
  cms/src/Support/Str.php
  src/fieldlayoutelements/TitleField.php
  src/fields/Email.php
  src/fields/PlainText.php
  src/fields/Table.php
  src/helpers/StringHelper.php
  src/services/ProjectConfig.php
  src/services/TemplateCaches.php
  src/validators/StringValidator.php
  tests/unit/db/ActiveRecordTest.php
  tests/unit/elements/UserElementTest.php
  tests/unit/gql/DirectiveTest.php
  tests/unit/gql/ElementFieldResolverTest.php
  tests/unit/gql/ElementResolverTest.php
  tests/unit/gql/PrepareQueryTest.php
  tests/unit/gql/TypeResolverTest.php
  tests/unit/gql/mutations/GeneralMutationResolverTest.php
  tests/unit/helpers/FileHelper/FileHelperTest.php
  tests/unit/helpers/ProjectConfigHelperTest.php
  tests/unit/helpers/StringHelperTest.php
  tests/unit/services/GlobalsTest.php
  tests/unit/services/GqlTest.php
  tests/unit/services/ProjectConfigTest.php
  tests/unit/services/UsersTest.php
  tests/unit/services/images/ImagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update adapter
  composer.lock
Due: none

Fix ecs
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan issues
  cms/src/Migrations/Install.php
  cms/tests/TestCase.php
  phpstan.neon
  src/elements/ElementCollection.php
  src/test/TestSetup.php
  src/web/Application.php
  tests/_bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cannot be nullable
  cms/src/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix install migration for MySQL
  cms/src/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Craft request & response should extend the Yii2 adapter ones, not the other way around
  composer.lock
  src/helpers/App.php
  src/web/Application.php
  src/web/Request.php
  src/web/Response.php
  src/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix app helper test
  composer.lock
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Testing only works with localhost due to Laravel request
  src/test/TestSetup.php
  tests/unit/helpers/UrlHelperTest.php
  tests/unit/web/ControllerTest.php
  tests/unit/web/RequestTest.php
  tests/unit/web/ResponseTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Test fixes
  codeception.yml
  tests/unit/web/ResponseTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

update yii2-adapter
  composer.lock
Due: none

Fix phpstan issues
  src/web/Controller.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

It was PHPUnit all along
  tests/unit/gql/ArgumentHandlerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Get functional tests working
  composer.lock
  src/test/CraftConnector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan & ecs
  src/test/CraftConnector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests regarding url
  tests/unit/web/ControllerTest.php
  tests/unit/web/ResponseTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Looks like we need more memory
  codeception.yml
  composer.lock
Due: none

Url issue
  tests/unit/web/ResponseTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add CI for Laravel part of the package
  .github/workflows/laravel-ci.yml
Due: none

Fix concurrency
  .github/workflows/laravel-ci.yml
Due: none

pint
  cms/src/Migrations/Install.php
  cms/src/Migrations/Migration.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use example env files for tests
  .github/workflows/laravel-ci.yml
  cms/.env.example.mysql
  cms/.env.example.pgsql
  cms/phpunit.xml.dist
  cms/src/Migrations/Install.php
  cms/tests/TestCase.php
  src/helpers/App.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix typo
  .github/workflows/laravel-ci.yml
Due: none

Run pint
  cms/tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Again
  .github/workflows/laravel-ci.yml
Due: none

Add missing password
  cms/.env.example.mysql
  cms/.env.example.pgsql
Due: none
