Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Rename dialog to modal
  packages/craftcms-cp/src/components/dialog/dialog-content.styles.ts
  packages/craftcms-cp/src/components/dialog/dialog-content.ts
  packages/craftcms-cp/src/components/dialog/dialog.styles.ts
  packages/craftcms-cp/src/components/dialog/dialog.ts
  packages/craftcms-cp/src/components/modal/modal.stories.ts
  packages/craftcms-cp/src/components/modal/modal.styles.ts
  packages/craftcms-cp/src/components/modal/modal.ts
  packages/craftcms-cp/src/index.ts
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/cp2.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/useInputGenerator.js
Due: prettier --ignore-unknown --write

Use app()->terminating to delete files after request
  src/Image/ImageTransformHelper.php
  src/Support/File.php
  yii2-adapter/legacy/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up directory methods
  src/Database/Commands/RestoreCommand.php
  src/Support/File.php
  yii2-adapter/legacy/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

clearDirectory and copyDirectory simplifications
  src/Http/Controllers/Utilities/ClearCachesController.php
  src/ProjectConfig/ProjectConfig.php
  src/Support/File.php
  yii2-adapter/legacy/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace usages
  src/Asset/Elements/Asset.php
  src/Database/Backups.php
  src/Database/Commands/BackupCommand.php
  src/Filesystem/Filesystems/Local.php
  src/Http/Controllers/Assets/TransformController.php
  src/Http/Controllers/Settings/VolumesController.php
  src/Plugin/Plugins.php
  src/ProjectConfig/Commands/ExportCommand.php
  src/Providers/AppServiceProvider.php
  src/Support/File.php
  src/Support/Html.php
  src/Support/PHP.php
  src/Support/Path.php
  src/Support/Security.php
  src/Twig/TemplateResolver.php
  src/Utility/Utilities/ClearCaches.php
  src/View/TwigEngine.php
  tests/Feature/Support/PathTest.php
  yii2-adapter/legacy/console/controllers/TestsController.php
  yii2-adapter/legacy/db/mysql/Schema.php
  yii2-adapter/legacy/helpers/Assets.php
  yii2-adapter/legacy/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

No need for isWritable
  src/Field/IdeHelper/CustomFieldIdeHelperGenerator.php
  src/Support/File.php
  yii2-adapter/legacy/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests
  tests/Unit/Support/FileTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add deprecated useFileLocks to legacy GeneralConfig to prevent crashes
  yii2-adapter/legacy/config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deleted a bit too much
  src/Field/IdeHelper/CustomFieldIdeHelperGenerator.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy test
  yii2-adapter/legacy/helpers/FileHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

Move AssetsHelper
  src/Asset/AssetIndexer.php
  src/Asset/Assets.php
  src/Asset/AssetsHelper.php
  src/Asset/Conditions/FileTypeConditionRule.php
  src/Asset/Elements/Asset.php
  src/Asset/Events/RegisterFileKinds.php
  src/Asset/Events/SetAssetFilename.php
  src/Asset/Folders.php
  src/Asset/Policies/AssetPolicy.php
  src/Asset/Validation/Rules/AssetLocationRule.php
  src/Cp/SelectOptions.php
  src/Element/Queries/Concerns/Asset/QueriesAssetProperties.php
  src/Field/Assets.php
  src/Field/LinkTypes/Asset.php
  src/Gql/Resolvers/Mutations/Asset.php
  src/Http/Controllers/Assets/ActionController.php
  src/Http/Controllers/Assets/FolderController.php
  src/Http/Controllers/Assets/IconController.php
  src/Http/Controllers/Assets/UploadController.php
  src/Http/Controllers/Settings/GeneralSettingsController.php
  src/Http/Controllers/Users/PhotoController.php
  src/Http/Controllers/Users/SaveUserController.php
  src/Image/FallbackTransformer.php
  src/Image/ImageTransformHelper.php
  src/Image/ImageTransformer.php
  src/Image/ImageTransforms.php
  src/Shared/Enums/TimePeriod.php
  src/Twig/Variables/Io.php
  src/User/Users.php
  tests/Feature/Asset/VolumeFilesystemResolutionTest.php
  tests/Feature/Cp/SelectOptionsTest.php
  yii2-adapter/legacy/elements/db/AssetQuery.php
  yii2-adapter/legacy/helpers/Assets.php
  yii2-adapter/legacy/services/Assets.php
  yii2-adapter/legacy/validators/AssetLocationValidator.php
  yii2-adapter/src/Event/EventCompatibility.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Test coverage
  tests/Unit/Asset/AssetsHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port Chart helper
  src/Dashboard/Chart.php
  src/Http/Controllers/Dashboard/Widgets/NewUsersController.php
  yii2-adapter/legacy/helpers/ChartHelper.php
  yii2-adapter/legacy/web/assets/d3/D3Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate AdminTable - we'll replace it with calls to Laravel's Pagination
  yii2-adapter/legacy/helpers/AdminTable.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update skill because Claude can't stop itself from adding stupid section comments
  .agents/skills/testing-guidelines/SKILL.md
  .agents/skills/testing-guidelines/references/testing-guidelines.md
Due: none

Port ComponentHelper
  src/Component/ComponentHelper.php
  src/Dashboard/Widgets/Widget.php
  src/Field/Fields.php
  src/Field/Link.php
  src/Filesystem/Filesystems.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  tests/Unit/Component/ComponentHelperTest.php
  yii2-adapter/legacy/base/MissingComponentTrait.php
  yii2-adapter/legacy/console/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/AppController.php
  yii2-adapter/legacy/controllers/ConditionsController.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/legacy/controllers/ElementSearchController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/elements/exporters/Expanded.php
  yii2-adapter/legacy/helpers/Component.php
  yii2-adapter/legacy/helpers/MailerHelper.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/legacy/test/fixtures/FieldLayoutFixture.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate Console helper
  yii2-adapter/legacy/helpers/Console.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename dialog to modal for clarity, refactor to extend overlay mixin
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
  packages/craftcms-cp/src/components/modal/modal.styles.ts
  packages/craftcms-cp/src/components/modal/modal.ts
  resources/build/cp3.js
  resources/js/components/Modal.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Tests for Cp classes
  tests/Feature/Cp/AlertsTest.php
  tests/Feature/Cp/ElementHtmlTest.php
  tests/Feature/Cp/ElementIndexHtmlTest.php
  tests/Feature/Cp/PreviewHtmlTest.php
  tests/Feature/Cp/RequestedSiteTest.php
  tests/Unit/Cp/ContentHtmlTest.php
  tests/Unit/Cp/FormFieldsTest.php
  tests/Unit/Cp/IconsTest.php
  tests/Unit/Cp/MenuHtmlTest.php
  tests/Unit/Cp/StatusHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Start refactoring SettingsSitesIndex to use craft-modal component, and begin refactoring the ModalForm via ModalFormNew
  packages/craftcms-cp/src/components/modal/modal.ts
  resources/js/components/Modal.vue
  resources/js/components/ModalFormNew.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Run build
  resources/build/InputCombobox.js
  resources/build/SettingsSitesIndex.js
  resources/build/assets/SettingsSitesIndex.css
  resources/build/assets/cp2.css
  resources/build/cp3.js
  resources/js/components/ModalFormNew.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

Update node + npm packages
  .nvmrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Use node 22 instead
  .nvmrc
Due: none

Update node and packages
  .nvmrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Better resolution
  src/web/assets/vue/webpack.config.js
Due: none

Replace DateRange helper with dedicated Enums
  CHANGELOG-WIP.md
  src/Condition/BaseDateRangeConditionRule.php
  src/Shared/Enums/DateRangePeriod.php
  src/Shared/Enums/DateRangeType.php
  tests/Feature/Condition/BaseDateRangeConditionRuleTest.php
  tests/Feature/Condition/ConditionRuleHtmlTest.php
  tests/Feature/Entry/Conditions/EntryConditionRulesTest.php
  tests/Feature/Entry/Conditions/EntryConditionTest.php
  tests/Unit/Shared/Enums/DateRangePeriodTest.php
  tests/Unit/Shared/Enums/DateRangeTypeTest.php
  yii2-adapter/legacy/helpers/DateRange.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix login form not sending correct remember me
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/src/js/LoginForm.js
Due: none

Continue refactor of action-menu
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
Due: none

Fix the nesting
  resources/build/SettingsSitesIndex.js
  resources/build/assets/SettingsSitesIndex.css
  resources/build/cp3.js
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

Fix legacy test
  yii2-adapter/legacy/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add support for typecasting setters
  src/Support/Typecast.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

namespace additional aria attributes
  src/helpers/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix a compatibility issue
  yii2-adapter/legacy/base/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use the base field's method to decide if the relation field is translatable
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
