Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Decouple Craft.IconPicker from the ported BaseInputGenerator
  packages/craftcms-legacy/cp/src/js/IconPicker.js
Due: none

Match import spacing style
  resources/js/modules/auth/components/login/login-form.ts
  resources/js/modules/auth/components/login/login-reset-password.ts
Due: none

Replace legacy Craft.IconPicker with a Vue-mount <craft-icon-picker>
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/CustomizeSourcesModal.js
  packages/craftcms-legacy/cp/src/js/IconPicker.js
  packages/craftcms-legacy/cp/src/js/UI.js
  resources/js/common/form/IconPicker.vue
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/icon-picker/README.md
  resources/js/modules/icon-picker/icon-picker.ce.ts
  resources/js/modules/icon-picker/index.ts
  resources/templates/_includes/forms/iconPicker.twig
  src/Cp/FormFields.php
  yii2-adapter/legacy/web/assets/cpcompat/cp-compat.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Default legacy element template vars for strict mode
  resources/templates/_elements/sources.twig
  resources/templates/_elements/toolbar.twig
Due: none

Support PHPStan literal types in TS transpilation
  workbench/app/TypeScript/ClassListClassTransformer.php
  workbench/app/TypeScript/LiteralAwareTranspileAction.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render account addresses from nested-element data
  packages/craftcms-legacy/cp/src/js/CraftElementLabel.js
  packages/craftcms-ui/src/actions/index.ts
  packages/craftcms-ui/src/components/action-item/action-item.ts
  packages/craftcms-ui/src/components/button/button.test.ts
  packages/craftcms-ui/src/components/button/button.ts
  packages/craftcms-ui/src/components/card/card.stories.ts
  packages/craftcms-ui/src/components/card/card.styles.ts
  packages/craftcms-ui/src/components/card/card.test.ts
  packages/craftcms-ui/src/components/card/card.ts
  packages/craftcms-ui/src/components/empty/empty.ts
  resources/js/common/types/globals.d.ts
  resources/js/modules/nested-element-manager/nested-element-manager.ts
  resources/js/modules/slideout/index.ts
  resources/js/pages/users/Addresses.vue
  src/Cp/Components/Button.php
  src/Cp/Html/ElementHtml.php
  src/Element/NestedElementManager.php
  src/Http/ViewModels/UserAddressesViewModel.php
  tests-playwright/tests/account/addresses.test.js
  tests/Feature/Element/NestedElementManagerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace legacy Craft.SlidePicker with the craft-slide-picker component
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/css/_main.scss
  packages/craftcms-legacy/cp/src/js/SlidePicker.js
  packages/craftcms-legacy/cp/src/js/UI.js
  packages/craftcms-legacy/dashboard/src/Dashboard.js
  packages/craftcms-ui/src/components/slide-picker/slide-picker.stories.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.styles.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.test.ts
  packages/craftcms-ui/src/components/slide-picker/slide-picker.ts
  packages/craftcms-ui/src/index.ts
  resources/js/cp.ts
  resources/js/modules/field-layout-designer/README.md
  resources/js/modules/field-layout-designer/element.ts
  yii2-adapter/legacy/web/assets/cpcompat/cp-compat.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add playwright tests
  playwright.config.js
  tests-playwright/package.json
  tests-playwright/tests/account/addresses.test.js
Due: prettier --ignore-unknown --write

Replace legacy Craft.SlideRuleInput with the craft-slide-rule component
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/css/_image_editor.scss
  packages/craftcms-legacy/cp/src/js/AssetImageEditor.js
  packages/craftcms-legacy/cp/src/js/SlideRuleInput.js
  packages/craftcms-ui/src/components/slide-rule/slide-rule.stories.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.styles.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.test.ts
  packages/craftcms-ui/src/components/slide-rule/slide-rule.ts
  packages/craftcms-ui/src/index.ts
  resources/templates/_special/image_editor.twig
  yii2-adapter/legacy/web/assets/cpcompat/cp-compat.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Move loading check to its own conditional block
  packages/craftcms-ui/src/components/button/button.ts
Due: none

Trim both visual and SR-only message
  resources/js/modules/auth/components/login/login-reset-password.ts
Due: none

Port Craft.FieldToggle out of the legacy jQuery bundle
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/FieldToggle.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/field-toggle/README.md
  resources/js/modules/field-toggle/field-toggle.ts
  resources/js/modules/field-toggle/index.ts
  resources/js/modules/field-toggle/support.ts
Due: none

Use trimmed message for live region
  resources/js/modules/auth/components/login/login-form.ts
Due: none

Remove timeout in disconnected callback
  packages/craftcms-ui/src/components/button/button.ts
Due: none

Replace legacy Craft.Tooltip with the craft-tooltip element
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/ElementEditor.js
  packages/craftcms-legacy/cp/src/js/Tooltip.js
  yii2-adapter/legacy/web/assets/cpcompat/cp-compat.js
Due: none

Move the web-component factories from Craft.ui into @craftcms/ui/factory
  packages/craftcms-legacy/cp/src/js/UI.js
  packages/craftcms-ui/package.json
  packages/craftcms-ui/scripts/build.js
  packages/craftcms-ui/src/factory/create-input-color.ts
  packages/craftcms-ui/src/factory/create-input-password.ts
  packages/craftcms-ui/src/factory/create-slide-picker.ts
  packages/craftcms-ui/src/factory/create-switch.ts
  packages/craftcms-ui/src/factory/factory.test.ts
  packages/craftcms-ui/src/factory/index.ts
  packages/craftcms-ui/src/factory/internal/slotted-input.ts
  packages/craftcms-ui/vitest.config.ts
Due: prettier --ignore-unknown --write

Set test auth model
  phpunit.xml.dist
Due: none

Fix Blade view composer names
  CHANGELOG.md
  src/Blade/BladeRenderer.php
  tests/Unit/View/BladeRendererTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Normalize Blade test paths
  tests/Unit/View/BladeRendererTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

move the downloadUrl method from gql mutation to asset helper
  src/Asset/AssetsHelper.php
  src/Gql/Resolvers/Mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

importing Asset elements
  src/Asset/Elements/Asset.php
  src/Component/Contracts/Importable.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Import/Importers/ElementImporter.php
  src/Import/Transformers/AssetTransformer.php
  src/Import/Transformers/ElementTransformer.php
  src/Import/Transformers/EntryTransformer.php
  src/Support/Path.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move updater workflows to CP routes
  resources/js/modules/updater/components/Update.vue
  resources/js/modules/updater/components/Updates.vue
  resources/js/modules/updater/composables/useUpdater.ts
  resources/js/pages/updater/Index.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/BaseUpdaterController.php
  src/Http/Controllers/ConfigSyncController.php
  src/Http/Controllers/PluginStore/InstallController.php
  src/Http/Controllers/PluginStore/RemoveController.php
  src/Http/Controllers/Updates/UpdaterController.php
  src/Http/Middleware/CheckForUpdates.php
  src/Update/Data/UpdaterOption.php
  src/Update/Data/UpdaterState.php
  tests/Feature/Http/Controllers/ConfigSyncControllerTest.php
  tests/Feature/Http/Controllers/PluginStore/InstallControllerTest.php
  tests/Feature/Http/Controllers/PluginStore/RemoveControllerTest.php
  tests/Feature/Http/Controllers/Updates/UpdaterControllerTest.php
  tests/Feature/Http/Middleware/CheckForUpdatesTest.php
  tests/Feature/Http/Middleware/MaintenanceModeExceptionsTest.php
  tests/Unit/Update/Data/UpdaterStateTest.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep updater entry route accessible
  resources/templates/_special/dbupdate.twig
  routes/cp.php
  tests/Feature/Http/Controllers/Updates/UpdaterControllerTest.php
  tests/Feature/Http/Middleware/CheckForUpdatesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add PHP Copilot instructions
  .github/instructions/php.instructions.md
Due: none

fix: Avoid entry author insert deadlocks
  src/elements/Entry.php
  tests/unit/services/EntriesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move installer routes
  routes/actions.php
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move plugin routes
  packages/craftcms-legacy/plugins/src/PluginManager.js
  packages/craftcms-legacy/pluginstore/src/js/api/craft.js
  packages/craftcms-legacy/pluginstore/src/js/components/PluginActions.vue
  resources/js/modules/plugin-manager/components/PluginActionMenu.vue
  resources/js/modules/plugin-manager/components/PluginLicenseIssues.vue
  resources/templates/_special/missing-component.twig
  resources/templates/settings/plugins/_settings.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/PluginsController.php
  tests/Feature/Http/Controllers/PluginsControllerTest.php
  yii2-adapter/routes/web.php
  yii2-adapter/src/Http/SavePluginSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finishing up
  CHANGELOG-WIP.md
  resources/js/common/components/UserMenu.vue
  resources/js/cp.ts
Due: none

Move project config routes
  resources/js/modules/utilities/components/project-config/ProjectConfig.vue
  resources/js/modules/utilities/composables/useProjectConfig.ts
  routes/actions.php
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Wire duplicate/delete actions for data-path nested cards
  AGENTS.md
  resources/js/pages/users/Addresses.vue
  src/Cp/Html/ElementHtml.php
  src/Element/NestedElementManager.php
  tests/Feature/Element/NestedElementManagerTest.php
  tests/Feature/Http/Controllers/User/AddressesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make sure to render something for 50+ addresses
  resources/js/pages/users/Addresses.vue
Due: none

Remove json_encode
  src/Cp/Components/InputColor.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Relocate Craft.ComponentSelectInput to a yii2-adapter compat asset
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/ComponentSelectInput.js
  resources/js/modules/component-select/README.md
  resources/js/modules/component-select/index.ts
  yii2-adapter/legacy/web/assets/cpcompat/component-select-input.js
  yii2-adapter/src/View/LegacyAssets/CpCompatAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port craft-proxy-scrollbar and craft-element-label out of the legacy bundle
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/CraftElementLabel.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/element-label/element-label.ts
  resources/js/modules/element-label/index.ts
  resources/js/modules/proxy-scrollbar/index.ts
  resources/js/modules/proxy-scrollbar/proxy-scrollbar.ts
Due: none

Drop the jQuery seam from craft-element-label via ResizeObserver
  resources/js/modules/element-label/element-label.ts
Due: none

Initial port
  resources/js/pages/users/Password.vue
  resources/templates/users/_password.twig
  src/Http/Controllers/Users/PasswordController.php
  src/Http/ViewModels/UserPasswordViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port Craft.ui.createTextInput into @craftcms/ui/factory
  packages/craftcms-legacy/cp/src/js/UI.js
  packages/craftcms-ui/src/factory/create-text-input.ts
  packages/craftcms-ui/src/factory/factory.test.ts
  packages/craftcms-ui/src/factory/index.ts
Due: none

Port Craft.FormObserver out of the legacy jQuery bundle
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/FormObserver.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/form-observer/form-observer.ts
  resources/js/modules/form-observer/index.ts
Due: none

Support workbench for playwright tests
  package.json
  packages/craftcms-playwright/README.md
  packages/craftcms-playwright/src/cli.js
  packages/craftcms-playwright/src/index.js
  packages/craftcms-playwright/src/playwright/config/workbench.js
  playwright.config.js
  playwright.config.ts
  playwright.ddev.config.cjs
  src/Http/Mixins/RequestMixin.php
  tests-playwright/.gitignore
  tests-playwright/README.md
  tests-playwright/package.json
  tests-playwright/tests/account/index.test.js
  tests-playwright/tests/smoke.test.ts
  tests-playwright/workbench.setup.ts
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Port Craft.IntervalManager out of the legacy jQuery bundle
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/IntervalManager.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/interval-manager/index.ts
  resources/js/modules/interval-manager/interval-manager.ts
Due: none
