Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix undefined constant
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Always make sure we're using Craft's User model
  cms/src/Providers/AppServiceProvider.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

revert previous change
  src/helpers/Db.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

query for empty/notempty and array and empty string notations
  src/base/Field.php
  src/db/mysql/QueryBuilder.php
  src/db/pgsql/QueryBuilder.php
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move OperationAbortedException
  cms/src/Plugin/PluginServiceProvider.php
  cms/src/Plugin/Testing/PluginTestCase.php
  cms/src/Providers/CraftServiceProvider.php
  cms/src/Shared/Exceptions/OperationAbortedException.php
  src/console/controllers/InstallController.php
  src/console/controllers/UpController.php
  src/db/Migration.php
  src/errors/OperationAbortedException.php
  src/helpers/ElementHelper.php
  src/queue/jobs/UpdateElementSlugsAndUris.php
  src/services/Elements.php
  src/services/ProjectConfig.php
  src/validators/ElementUriValidator.php
  tests/unit/helpers/ElementHelperTest.php
  yii2-adapter/legacy/errors/OperationAbortedException.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve install migration output
  cms/src/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use correct OperationAbortedException
  cms/src/Migrations/Install.php
  src/controllers/InstallController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use task component for console commands
  cms/src/Plugin/Commands/DisableCommand.php
  cms/src/Plugin/Commands/EnableCommand.php
  cms/src/Plugin/Commands/InstallCommand.php
  cms/src/Plugin/Commands/UninstallCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move migrations namespace
  cms/src/Database/Migrations/0000_00_00_000001_add_remember_token_to_users.php
  cms/src/Database/Migrations/0000_00_00_000002_migrate_widget_types.php
  cms/src/Database/Migrations/Install.php
  cms/src/Database/Migrations/Migration.php
  cms/src/Plugin/Testing/PluginTestCase.php
  cms/tests/TestCase.php
  src/config/app.php
  src/console/controllers/InstallController.php
  src/controllers/InstallController.php
  src/test/TestSetup.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move task to base migration
  cms/src/Database/Migrations/Install.php
  cms/src/Database/Migrations/Migration.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove yii placeholder from table
  src/helpers/Db.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bump the year range from +/- 10 to +/- 100
  src/web/assets/cp/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan & cs
  cms/src/Database/Migrations/Migration.php
  cms/src/Plugin/Commands/DisableCommand.php
  cms/src/Plugin/Commands/EnableCommand.php
  cms/src/Plugin/Commands/InstallCommand.php
  cms/src/Plugin/Commands/UninstallCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Env commands
  CHANGELOG-WIP.md
  cms/src/Console/Commands/Env/EnvRemoveCommand.php
  cms/src/Console/Commands/Env/EnvSetCommand.php
  cms/src/Console/Commands/Env/EnvShowCommand.php
  cms/src/Console/Commands/Twig/TwigCacheCommand.php
  cms/src/Console/Commands/Twig/TwigClearCommand.php
  cms/src/Console/ConsoleServiceProvider.php
  src/console/controllers/EnvController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #17768
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

initializing an editor in a hidden DOM node
  src/fields/Json.php
  src/web/assets/codemirror/CodeMirrorAsset.php
  src/web/assets/codemirror/dist/autorefresh.js
  src/web/assets/codemirror/webpack.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #17772
  CHANGELOG.md
  src/fields/Json.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Allow structure view when a filter is applied
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

Port asset indexing commands
  CHANGELOG-WIP.md
  cms/src/Asset/AssetServiceProvider.php
  cms/src/Asset/Commands/CleanupAssetIndexesCommand.php
  cms/src/Asset/Commands/Concerns/IndexesAssets.php
  cms/src/Asset/Commands/IndexAllAssetsCommand.php
  cms/src/Asset/Commands/IndexOneAssetCommand.php
  cms/src/Providers/CraftServiceProvider.php
  src/console/controllers/IndexAssetsController.php
  src/services/AssetIndexer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Correct databaseMigrationsPath for phpstan
  phpstan.neon
Due: none

Release note
  CHANGELOG-WIP.md
Due: none

Fixed #17781
  CHANGELOG.md
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_preview.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

move dashboard fixture to the craftcms-playwright package
  packages/craftcms-playwright/playwright/fixtures/dashboard.js
  tests-playwright/navigation/index.test.js
Due: none

New translations app.php (Norwegian Bokmal) [ci skip]
  src/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

move entries helper into entry fixture
  packages/craftcms-playwright/playwright/fixtures/entry.js
  packages/craftcms-playwright/playwright/helpers/entries.js
  tests-playwright/elements/inituielements.test.js
  tests-playwright/matrix/blocks.test.js
  tests-playwright/matrix/cards.test.js
  tests-playwright/matrix/elementindex.test.js
Due: none

New translations app.php (Greek) [ci skip]
  src/translations/el/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Translate error
  src/elements/User.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

switch to ddev
  packages/craftcms-playwright/cli.js
  packages/craftcms-playwright/ddev/ddev-config/config.yaml
  packages/craftcms-playwright/ddev/ddev-config/docker-compose.playwright.yaml
  packages/craftcms-playwright/ddev/init-craft.sh
  packages/craftcms-playwright/ddev/setup.sh
  packages/craftcms-playwright/ddev/teardown.sh
  packages/craftcms-playwright/php/app.php
  packages/craftcms-playwright/playwright/config/_config.js
  packages/craftcms-playwright/playwright/fixtures/setup.js
  tests-playwright/.env.example
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use env vars instead of hardcoded values
  packages/craftcms-playwright/ddev/init-craft.sh
Due: none

Fix tests
  tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unused code
  yii2-adapter/legacy/helpers/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German) [ci skip]
  src/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish) [ci skip]
  src/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French) [ci skip]
  src/translations/fr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
