Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Require signed private transform URLs
  src/Http/Controllers/Assets/TransformController.php
  tests/Feature/Http/Controllers/Assets/TransformControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Preserve transform override settings
  src/Image/ImageTransformHelper.php
  tests/Unit/Image/ImageTransformHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Eager load volume default transformers
  src/Asset/AssetTransforms.php
  tests/Feature/Image/ImageTransformerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Wait for cached data
  resources/js/components/utilities/Updates/Updates.vue
Due: none

Remove `viteAsset` twig function
  src/Twig/Extensions/CpExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clone vite
  src/Cp/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove leading slash
  src/Cp/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Guard against `realpath` returning false
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Return types
  src/Cp/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add composerInstall to the maintenance mode exceptions
  src/Route/RouteServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set isLoading = false *before* calling handleStateUpdate()
  resources/build/assets/Updater-B02nXby1.js
  resources/build/assets/cp-AGaKJcwu.js
  resources/build/assets/cp-B2nHYN4N.css
  resources/build/assets/cp-CNA-1zA1.js
  resources/build/assets/cp-DbkDHRKy.css
  resources/build/assets/cp-iTzc5SAK.js
  resources/build/assets/cp-mZE4Y89J.js
  resources/build/assets/legacy-BK607Z62.js
  resources/build/assets/legacy-DEDXZ-TW.js
  resources/build/manifest.json
  resources/js/composables/useUpdater.ts
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Fixed #18886
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop the phpstan automated check
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

Finish 4.18.0.1
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More button styles fixes
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Reorder rules to simplify diff
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Comment and remove space
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Finish 6.0.0-alpha.3
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Create AuthChallengeForm component
  packages/craftcms-cp/src/components/auth-challenge-form/auth-challenge-form.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-legacy/cp/src/js/Craft.js
  resources/js/components/Auth/login/login-challenge.ts
  resources/js/components/Auth/recovery-codes/recovery-code-form.ts
  resources/js/components/Auth/totp/totp-form.ts
  resources/templates/_components/auth/methods/TOTP/setup.twig
Due: none

Ensure challenge is recent
  routes/actions.php
  routes/cp.php
  src/Http/Middleware/EnsureTwoFactorChallengeIsRecent.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests
  tests/Feature/Http/Controllers/Auth/TwoFactorAuthenticationControllerTest.php
  tests/Feature/Http/Middleware/EnsureTwoFactorChallengeIsRecentTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

PHPStan fixes
  src/Cp/Cp.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  CHANGELOG-WIP.md
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/LoginForm.js
  yii2-adapter/legacy/web/assets/recoverycodes/RecoveryCodesAsset.php
  yii2-adapter/legacy/web/assets/totp/TotpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Facade workflow back to Laravel
  .github/workflows/facades.yml
  src/Element/Elements.php
  src/Support/Facades/AssetIndexer.php
  src/Support/Facades/AuthMethods.php
  src/Support/Facades/Conditions.php
  src/Support/Facades/DeltaRegistry.php
  src/Support/Facades/Drafts.php
  src/Support/Facades/ElementActions.php
  src/Support/Facades/ElementActivity.php
  src/Support/Facades/ElementCaches.php
  src/Support/Facades/ElementExporters.php
  src/Support/Facades/ElementSources.php
  src/Support/Facades/Elements.php
  src/Support/Facades/Entries.php
  src/Support/Facades/EntryTypes.php
  src/Support/Facades/Fields.php
  src/Support/Facades/Filesystems.php
  src/Support/Facades/Folders.php
  src/Support/Facades/Gql.php
  src/Support/Facades/HtmlSanitizers.php
  src/Support/Facades/HtmlStack.php
  src/Support/Facades/I18N.php
  src/Support/Facades/ImageTransforms.php
  src/Support/Facades/JobProgress.php
  src/Support/Facades/OAuth.php
  src/Support/Facades/Plugins.php
  src/Support/Facades/Search.php
  src/Support/Facades/Sections.php
  src/Support/Facades/SiteGroups.php
  src/Support/Facades/Sites.php
  src/Support/Facades/TemplateHooks.php
  src/Support/Facades/UserGroups.php
  src/Support/Facades/UserPermissions.php
  src/Support/Facades/Volumes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finalize button hover/active styles
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Add return type
  src/Auth/Methods/AuthMethodInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update selector
  resources/templates/_components/auth/methods/TOTP/setup.twig
Due: none

Remove VarDump component
  resources/js/components/ActionMenu.vue
Due: none

Cleanup logo styles a bit
  resources/js/layout/AuthBase.vue
Due: none

Uncomment prefers-reduced-motion media query
  resources/js/components/TransitionShake.vue
Due: none

Remove unnecessary macro impor
  resources/templates/_special/login.twig
Due: none

Add static color variants and incorporate into indicator colors
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/src/styles/static-variants.styles.ts
Due: prettier --ignore-unknown --write

Finalize button docs and updates
  packages/craftcms-cp/src/components/button/Docs.mdx
  packages/craftcms-cp/src/components/button/button.stories.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CraftCombobox.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue.ts.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/AppLayout.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-EVKP5RjP.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-9g3ebwBJ.js
  resources/build/nav-item.ts.js
Due: prettier --ignore-unknown --write

Smooth some rough edges
  resources/js/legacy.ts
  resources/templates/_components/auth/methods/TOTP/setup.twig
  resources/templates/_special/login.twig
  resources/templates/login.twig
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Users/AuthMethodController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Build
  resources/build/assets/AppLayout-CGDcuCua.js
  resources/build/assets/AppLayout-DOxUiWWa.css
  resources/build/assets/AppLayout-D_gs2g28.css
  resources/build/assets/AppLayout-DcLKlEqg.js
  resources/build/assets/IndexLayout-bPMSWaBw.js
  resources/build/assets/IndexLayout-lZBGdx7M.js
  resources/build/assets/LoginPage-9Ooya_V8.js
  resources/build/assets/LoginPage-Cny_m1WF.css
  resources/build/assets/LoginPage-gMGM6kLA.js
  resources/build/assets/LoginPage-yFcZxxXp.css
  resources/build/assets/SettingsEmailPage-CnwkNyka.js
  resources/build/assets/SettingsEmailPage-Lrz6eZvE.js
  resources/build/assets/SettingsGeneralPage-CarptCbr.js
  resources/build/assets/SettingsGeneralPage-Ci4DtWuY.js
  resources/build/assets/SettingsIndexPage-Bkd5F6Q2.js
  resources/build/assets/SettingsIndexPage-DZ3RR3P7.js
  resources/build/assets/SettingsSectionsEditPage-CBtZSDF7.js
  resources/build/assets/SettingsSectionsEditPage-DLgbx-fV.js
  resources/build/assets/SettingsSectionsIndexPage-Bi4KQvCR.js
  resources/build/assets/SettingsSectionsIndexPage-DcqREJwr.js
  resources/build/assets/SettingsSitesEdit-ChhhHITb.js
  resources/build/assets/SettingsSitesEdit-DoZAjZH0.js
  resources/build/assets/SettingsSitesIndex-CywAUNxh.js
  resources/build/assets/SettingsSitesIndex-PN0sjm0Y.js
  resources/build/assets/UtilitiesShowPage-BPYOwac8.js
  resources/build/assets/UtilitiesShowPage-Cv5Xiz94.js
  resources/build/assets/cp-Bt9oyk0E.css
  resources/build/assets/cp-BxxAq-TO.css
  resources/build/assets/cp-C75BQL16.js
  resources/build/assets/cp-CKTuIuHb.js
  resources/build/assets/cp-Ck-lTAGP.js
  resources/build/assets/cp-UvjVCVOI.js
  resources/build/assets/legacy-Bd8EkLwN.js
  resources/build/assets/legacy-C7Wva82Y.js
  resources/build/assets/login-form-cb2l6hTH.js
  resources/build/assets/recovery-code-form-jfN4bCig.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Update test
  tests/Feature/Console/Commands/User/Remove2faCommandTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
