Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Remove stray debug text from the Image Transforms index
  resources/js/pages/settings/assets/transforms/Index.vue
Due: none

Fix the delete site button's accessible label
  resources/js/modules/sites/components/DeleteSiteButton.vue
Due: none

Hide the site group ID input
  resources/js/pages/settings/sites/Index.vue
Due: none

Add hidden form control
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/HiddenFieldNode.vue
  resources/js/modules/forms/register.ts
  src/Form/Controls/Hidden.php
  src/Form/FormControlTypes.php
  src/Form/FormNodeTypes.php
  src/Form/Nodes/HiddenField.php
  tests/Unit/Form/ScalarControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix combobox values and field notices
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
  packages/craftcms-ui/src/components/combobox/combobox.ts
  resources/js/modules/forms/FieldNode.vue
  resources/js/modules/forms/FormRenderer.test.ts
  src/Form/Nodes/Field.php
  tests/Unit/Form/ScalarControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add generic form page
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Add Form value change interface
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/FormRenderer.vue
  resources/js/modules/forms/useInertiaFormRenderer.test.ts
  resources/js/modules/forms/useInertiaFormRenderer.ts
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Support Form refresh endpoints
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Limit Form values to rendered controls
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/FormRenderer.vue
Due: none

Support elevated Form fields
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Fix Form control label associations
  packages/craftcms-ui/src/components/field/field.test.ts
  packages/craftcms-ui/src/components/field/field.ts
  resources/js/common/form/IconPicker.vue
  resources/js/modules/forms/ChoiceControl.vue
  resources/js/modules/forms/ColorControl.vue
  resources/js/modules/forms/ComboboxControl.vue
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/HandleControl.vue
  resources/js/modules/forms/IconPickerControl.test.ts
  resources/js/modules/forms/IconPickerControl.vue
  resources/js/modules/forms/LightswitchControl.vue
  resources/js/modules/forms/TextControl.vue
  resources/js/modules/forms/TextareaControl.vue
Due: none

Fix modern CP compatibility initialization
  resources/js/cp.ts
  resources/js/modules/editable-table/editable-table.test.ts
  resources/js/modules/editable-table/editable-table.ts
  resources/js/modules/element-selector-modal/asset-selector-modal.ts
  resources/js/modules/element-selector-modal/index.test.ts
  resources/js/modules/element-selector-modal/index.ts
  resources/js/modules/ui/index.test.ts
  resources/js/modules/ui/index.ts
Due: none

Hide initial rows for single-line fields
  src/Field/PlainText.php
  tests/Unit/Form/PlainTextSettingsFormTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix FormRenderer cloning reactive values
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/FormRenderer.vue
Due: none

Centralize CP Vue app setup
  resources/js/bootstrap/components.ts
  resources/js/bootstrap/cp-app.test.ts
  resources/js/bootstrap/cp-app.ts
  resources/js/bootstrap/cp.ts
  resources/js/modules/slideout/cp-screen-slideout.ts
Due: none

Extend Form field layout designer control
  resources/js/modules/field-layout-designer/card-view-designer.ts
  resources/js/modules/field-layout-designer/field-layout-designer.test.ts
  resources/js/modules/forms/FieldLayoutDesignerControl.vue
  src/Field/Fields.php
  src/Form/Controls/Control.php
  src/Form/Controls/FieldLayoutDesigner.php
  src/Http/Controllers/FieldsController.php
  tests/Feature/Http/Controllers/FieldsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Support responsive field group widths
  packages/craftcms-ui/src/components/field-group/field-group.test.ts
  packages/craftcms-ui/src/components/field-group/field-group.ts
Due: none

Select newly created entry types
  resources/js/common/components/SlideoutButton.vue
  resources/js/modules/entry-types/components/EntryTypeSelect.test.ts
  resources/js/modules/entry-types/components/EntryTypeSelect.vue
Due: none

Fix CP logout route resolution
  resources/js/common/components/UserMenu.vue
Due: none

Add descriptions to form headings
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/HeadingNode.vue
  src/Form/Nodes/Heading.php
  tests/Unit/Form/HeadingNodeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Form control overrides
  resources/js/modules/forms/FieldNode.vue
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/FormRenderer.vue
  resources/js/modules/forms/runtime.ts
  resources/js/modules/forms/types.ts
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Fix nested CP slideout behavior
  resources/js/common/slideouts/SlideoutHost.vue
  resources/js/common/slideouts/slideouts.test.ts
  resources/js/modules/field-layout-designer/element.ts
  resources/js/modules/field-layout-designer/field-layout-designer.test.ts
  resources/js/modules/field-layout-designer/field-layout-designer.ts
  resources/js/modules/forms/FieldNode.vue
  resources/js/modules/forms/FormNode.vue
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/runtime.ts
  src/Field/Field.php
  src/Http/Responses/CpScreenResponse.php
  tests/Feature/Http/Responses/CpScreenSlideoutTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Extend generic Form page controls
  resources/js/pages/Form.vue
  src/Form/Nodes/HiddenField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix editable table value handling
  resources/js/modules/editable-table/editable-table.test.ts
  resources/js/modules/editable-table/editable-table.ts
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/TableControl.vue
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Use Pro edition in workbench seeder
  workbench/database/seeders/DatabaseSeeder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Type-check test plugin frontend sources
  tsconfig.json
Due: prettier --ignore-unknown --write

Update Form behavior tests
  tests/Feature/FieldLayout/FieldLayoutCompilerTest.php
  tests/Unit/Form/FormExtensionTypesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix generated logout route usage
  .github/workflows/js-ci.yml
  .github/workflows/storybook.yml
  resources/js/common/components/UserMenu.vue
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a PHP Pane component for <craft-pane>
  src/Cp/Components/ComponentRegistry.php
  src/Cp/Components/Pane.php
  src/Cp/Enums/PaneAppearance.php
  src/Cp/Enums/PaneVariant.php
  tests/Unit/Cp/Components/PaneTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Migrate general settings to form page
  resources/js/pages/settings/General.vue
  src/Cp/SelectOptions.php
  src/Http/Controllers/Settings/GeneralSettingsController.php
  tests/Feature/Http/Controllers/Settings/GeneralSettingsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add `jasonmccreary/double` dependency
  composer.json
Due: prettier --ignore-unknown --write

Expand expectation shorthand
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Convert argument matchers
  tests/Feature/Auth/Auth/AuthPasskeyTest.php
  tests/Feature/Console/Commands/User/Remove2faCommandTest.php
  tests/Feature/Element/DeletionBlockersTest.php
  tests/Feature/User/Elements/UserValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Avoid backticks
  .github/workflows/resolve-conflicts.yml
Due: none

issue/PR IDs too
  .github/workflows/resolve-conflicts.yml
Due: none

Release note
  CHANGELOG.md
Due: none

Remove a couple remaining <Pane> usages
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
