Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Move isStopping and isLoadingReview into composable
  resources/js/components/utilities/AssetIndexes/SessionActions.vue
  resources/js/composables/useAssetIndexer.ts
Due: none

Cleanup console.log
  resources/js/components/utilities/AssetIndexes/AssetIndexes.vue
Due: none

Fix parseBooleanEnv value
  src/helpers/App.php
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify the service a bit
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/services/AssetIndexer.ts
  resources/js/components/utilities/AssetIndexes/IndexingSessions.vue
  resources/js/components/utilities/AssetIndexes/SessionActions.vue
  resources/js/composables/useAssetIndexer.ts
Due: none

Build assets
  resources/build/AppLayout.js
  resources/build/Badge.vue_vue_type_script_setup_true_lang.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/Modal.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/TransitionFade.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/AppLayout.css
  resources/build/assets/CalloutReadOnly.css
  resources/build/assets/DeleteSiteModal.css
  resources/build/assets/IndexLayout.css
  resources/build/assets/Modal.css
  resources/build/assets/SettingsSitesIndex.css
  resources/build/assets/TransitionFade.css
  resources/build/assets/Updater.css
  resources/build/assets/cp.css
  resources/build/assets/cp2.css
  resources/build/cp2.js
  resources/build/index.js
  resources/build/index2.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item.ts.js
  resources/build/preload-helper.js
  resources/build/progress-CM21Jrvu.js
  resources/js/components/ModalForm.vue
  resources/js/components/Pane.vue
  resources/js/components/utilities/AssetIndexes/IndexingSessions.vue
  resources/js/components/utilities/AssetIndexes/ReviewSessionModal.vue
  resources/js/composables/useBridgedAssets.ts
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Sort lines
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a SQL typecast bug for DECIMAL values with `0` precision
  CHANGELOG.md
  src/base/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Resolve `slug` to `elements_sites.slug`
  CHANGELOG.md
  src/elements/db/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.9.10
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Twig 3.23
  CHANGELOG-WIP.md
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Update the db/convert-charset collation argument docs
  src/console/controllers/DbController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Conditions fixes
  src/Condition/Conditions.php
  src/Field/BaseRelationField.php
  src/Support/Html.php
  tests/Condition/ConditionBuilderHtmlTest.php
  yii2-adapter/legacy/controllers/ConditionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix structure query params not being applied correctly
  src/Element/Queries/Concerns/QueriesStructures.php
  src/Element/Queries/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix typehint
  src/Field/Assets.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Plan Craft core save optimization
  src/elements/NestedElementManager.php
  src/services/ElementSaveOptimizationContext.php
  src/services/Elements.php
  src/services/Search.php
  tests/unit/services/SearchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Optimize Craft core save path
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  tests/unit/services/SearchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve typecast performance
  src/helpers/Typecast.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rector
  src/helpers/Typecast.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve docblocks
  src/services/ElementSaveOptimizationContext.php
  src/services/Elements.php
  src/services/Search.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup linting
  .lintstagedrc.json
  yii2-adapter/.stylelintrc.json
  yii2-adapter/package.json
Due: prettier --ignore-unknown --write

Separate .lintstagedrc for yii2-adapter
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

Revert stylint changes
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/cp/src/css/_main.scss
  yii2-adapter/legacy/web/assets/cp/src/css/_preview.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Reverting a few more unintentional changes
  yii2-adapter/legacy/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Build
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

Fix config caching
  src/Config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Minor tweaks
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.styles.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.ts
Due: none

phpstan fixes
  src/Cp/SelectOptions.php
  src/Element/ElementCollection.php
  src/Entry/Commands/MergeEntryTypesCommand.php
  src/Section/Commands/DeleteCommand.php
  src/Structure/Commands/RepairSectionStructureCommand.php
  src/User/Commands/PromptsForMissingUser.php
  src/User/UserPermissions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

replace {handle} placeholder with the relevant data
  src/Validation/Rules/HandleRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove CP Bridge code
  resources/js/composables/useBridgedAssets.ts
  resources/js/pages/UtilitiesShowPage.vue
  routes/cp.php
  src/Http/Middleware/BridgeAssetBundles.php
  yii2-adapter/legacy/web/assets/cpbridge/CpBridgeAsset.php
  yii2-adapter/legacy/web/assets/cpbridge/dist/cp-bridge.js
  yii2-adapter/legacy/web/assets/cpbridge/dist/cp-bridge.js.map
  yii2-adapter/legacy/web/assets/cpbridge/dist/css/cp-bridge.css
  yii2-adapter/legacy/web/assets/cpbridge/dist/css/cp-bridge.css.map
  yii2-adapter/legacy/web/assets/cpbridge/src/cp-bridge.js
  yii2-adapter/legacy/web/assets/cpbridge/src/css/_btn.scss
  yii2-adapter/legacy/web/assets/cpbridge/src/css/_project-config.scss
  yii2-adapter/legacy/web/assets/cpbridge/src/css/cp-bridge.scss
  yii2-adapter/legacy/web/assets/cpbridge/webpack.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add NonInertiaPage system for rendering legacy CP pages in the Inertia shell
  resources/js/bootstrap/craft.ts
  resources/views/app.blade.php
  resources/views/legacy.blade.php
  src/Cp/Cp.php
  src/Cp/NonInertiaResponse.php
  yii2-adapter/legacy/web/twig/CpExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Manage focus when opening/closing sidebar
  resources/js/components/CpSidebar.vue
  resources/js/layout/AppLayout.vue
Due: none

Extract TemplateMode & tracking into an Enum
  src/Auth/Methods/TOTP.php
  src/Console/Commands/Twig/TwigCacheCommand.php
  src/Element/Concerns/Renderable.php
  src/FieldLayout/LayoutElements/Template.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
  src/Http/Controllers/Users/AuthMethodController.php
  src/Http/Controllers/Users/PasskeysController.php
  src/Http/Controllers/Users/PhotoController.php
  src/Http/Middleware/Enforce2fa.php
  src/Http/Responses/CpModalResponse.php
  src/Http/Responses/CpScreenResponse.php
  src/Support/Html.php
  src/Twig/Engine.php
  src/View/TemplateMode.php
  yii2-adapter/legacy/auth/sso/CraftProvider.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/TemplatesController.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/helpers/Cp.php
  yii2-adapter/legacy/mail/Mailer.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/services/Categories.php
  yii2-adapter/legacy/validators/TemplateValidator.php
  yii2-adapter/legacy/web/CpModalResponseBehavior.php
  yii2-adapter/legacy/web/CpScreenResponseBehavior.php
  yii2-adapter/legacy/web/CpScreenResponseFormatter.php
  yii2-adapter/legacy/web/View.php
  yii2-adapter/tests/unit/web/ControllerTest.php
  yii2-adapter/tests/unit/web/ViewTest.php
  yii2-adapter/tests/unit/web/twig/ExtensionTest.php
  yii2-adapter/tests/unit/web/twig/FieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

template roots + tests
  src/View/Events/RegisterCpTemplateRoots.php
  src/View/Events/RegisterSiteTemplateRoots.php
  src/View/TemplateMode.php
  tests/View/TemplateModeTest.php
  yii2-adapter/legacy/events/RegisterTemplateRootsEvent.php
  yii2-adapter/legacy/web/View.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

Fix phpstan
  yii2-adapter/.gitignore
  yii2-adapter/legacy/web/View.php
  yii2-adapter/phpstan.neon
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests + default based on cp request
  src/View/TemplateMode.php
  tests/View/TemplateModeTest.php
  yii2-adapter/legacy/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
