Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Handle Vue props in HTML helper
  src/Support/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup queue component
  packages/craftcms-cp/src/services/Queue.ts
  resources/js/components/MainNav.vue
  yii2-adapter/legacy/queue/QueueComponent.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add extension to existing environment if it is set
  src/Twig/Twig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use container for instantiating
  src/Twig/Twig.php
  src/Twig/TwigServiceProvider.php
  tests/Unit/Twig/TwigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make sure job shows when pushed onto the queue
  packages/craftcms-cp/src/services/Config.ts
  packages/craftcms-cp/src/services/Queue.ts
  resources/js/components/CpQueueIndicator.ts
  resources/js/components/MainNav.vue
  resources/js/layout/IndexLayout.vue
  src/Cp/Cp.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Support/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18438
  CHANGELOG.md
  src/web/ErrorHandler.php
  src/web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial System messages port
  resources/js/bootstrap/cp.ts
  resources/js/components/Modal.vue
  resources/js/components/ModalForm.vue
  resources/js/components/Pane.vue
  resources/js/components/utilities/SystemMessages/SystemMessageEditModal.vue
  resources/js/components/utilities/SystemMessages/SystemMessages.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/templates/_components/utilities/SystemMessages/index.twig
  resources/templates/_components/utilities/SystemMessages/message-modal.twig
  src/Http/Controllers/Utilities/SystemMessagesController.php
  src/Utility/Utilities/SystemMessages.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow monospace text area
  packages/craftcms-cp/src/components/textarea/textarea.styles.ts
  packages/craftcms-cp/src/components/textarea/textarea.ts
Due: none

Cleanup
  resources/js/components/utilities/SystemMessages/SystemMessageEditModal.vue
  resources/js/components/utilities/SystemMessages/SystemMessages.vue
Due: none

Fix misc. sites error
  src/Http/Controllers/Settings/SitesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

App::normalizeBooleanValue()
  src/helpers/App.php
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Call normalizeBooleanValue() + env() rather than parseBooleanEnv()
  bootstrap/bootstrap.php
  src/helpers/App.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Normalize all boolean env vars consistently
  bootstrap/bootstrap.php
  src/base/ApplicationTrait.php
  src/console/Application.php
  src/console/ControllerTrait.php
  src/db/Connection.php
  src/helpers/Typecast.php
  src/log/Dispatcher.php
  tests/unit/helpers/TypecastHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests
  src/helpers/Typecast.php
  tests/unit/base/ModelTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed CP request detection
  src/helpers/App.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ExecuteGqlQueryEvent::$cacheTags + $cacheDuration
  CHANGELOG.md
  src/events/ExecuteGqlQueryEvent.php
  src/services/Gql.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes for #18441
  CHANGELOG.md
Due: none

Finish 4.17.5
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.9.11
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rebuild assets
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/AppLayout.css
  resources/build/assets/IndexLayout.css
  resources/build/assets/cp.css
  resources/build/assets/cp2.css
  resources/build/cp.js
  resources/build/cp2.js
  resources/build/cp3.js
  resources/build/custom-element.js
  resources/build/legacy.js
  resources/build/lit-element.js
  resources/build/manifest.json
  resources/build/nav-item.ts.js
  resources/build/nav-list.ts.js
  resources/build/preload-helper.js
  resources/build/property.js
  resources/build/state.js
  yii2-adapter/legacy/web/assets/admintable/dist/js/app.js
  yii2-adapter/legacy/web/assets/admintable/dist/js/app.js.map
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/pluginstore/dist/js/app.js
  yii2-adapter/legacy/web/assets/pluginstore/dist/js/app.js.map
Due: prettier --ignore-unknown --write

Remove bridge asset
  packages/craftcms-cp/package.json
Due: prettier --ignore-unknown --write

Add announcer docs
  resources/js/composables/useAnnouncer.ts
Due: none

More docs
  resources/js/composables/useAnnouncer.ts
  resources/js/composables/useFlashMessages.ts
Due: none

Fixed a JS error
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CpScreenSlideout.js
Due: none

Remove unnecessary middleware
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Back to standard inertia config
  resources/js/bootstrap/cp.ts
  src/Config/ConfigServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

TemplateRenderer
  resources/templates/_layouts/base.twig
  src/Twig/Events/BeginPage.php
  src/Twig/Events/EndPage.php
  src/Twig/Events/PageTemplateRendered.php
  src/Twig/Events/RenderingPageTemplate.php
  src/Twig/Events/RenderingTemplate.php
  src/Twig/Events/TemplateRendered.php
  src/Twig/TemplateRenderer.php
  src/Twig/Twig.php
  src/View/AssetRegistry.php
  src/View/Enums/Position.php
  tests/Unit/View/AssetRegistryTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/helpers/Template.php
  yii2-adapter/legacy/services/TemplateCaches.php
  yii2-adapter/legacy/web/View.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/legacy/web/twig/nodevisitors/EventTagAdder.php
  yii2-adapter/tests/unit/web/ViewTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace more usages
  src/Console/Commands/Twig/TwigCacheCommand.php
  src/Console/Commands/Twig/TwigClearCommand.php
  src/FieldLayout/LayoutElements/Template.php
  src/Http/Controllers/Users/AuthMethodController.php
  src/Support/Facades/Twig.php
  src/Twig/TemplateRenderer.php
  src/Twig/TwigExceptionMapper.php
  yii2-adapter/legacy/helpers/Cp.php
  yii2-adapter/legacy/helpers/Template.php
  yii2-adapter/legacy/mail/Mailer.php
  yii2-adapter/legacy/web/TemplateResponseFormatter.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests
  tests/Unit/Twig/TemplateRendererTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Facade docblock
  .github/workflows/facades.yml
  src/Support/Facades/Twig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix failing tests
  tests/Unit/Twig/TemplateResolverTest.php
  yii2-adapter/legacy/web/TemplateResponseFormatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Extract PageLifecycle
  src/Support/Facades/Twig.php
  src/Twig/Events/EndPage.php
  src/Twig/PageLifecycle.php
  src/Twig/TemplateRenderer.php
  src/Twig/Twig.php
  tests/Unit/Twig/PageLifecycleTest.php
  tests/Unit/Twig/TemplateRendererTest.php
  yii2-adapter/legacy/web/View.php
  yii2-adapter/legacy/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup + test fixes
  src/Twig/Twig.php
  tests/Unit/View/TemplateModeTest.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/legacy/web/twig/nodevisitors/EventTagAdder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup TemplateRenderer
  src/Twig/TemplateRenderer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix ExtensionTest
  yii2-adapter/tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

Singleton -> Scoped where applicable
  src/Deprecator/Deprecator.php
  src/Element/ElementSources.php
  src/Entry/Entries.php
  src/Route/Routes.php
  src/Section/Sections.php
  src/Site/Sites.php
  src/Translation/Formatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactored too hard
  src/Twig/TemplateRenderer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
