Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix routing
  resources/templates/_special/login.twig
  routes/web.php
  src/Providers/AppServiceProvider.php
  src/Support/Facades/Auth.php
  src/Support/Facades/OAuth.php
  src/Twig/Extensions/FacadesExtension.php
  tests/Feature/Http/Middleware/HandleTemplateRequestTest.php
  tests/Unit/Http/SessionMixinTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy phpstan issues
  yii2-adapter/composer.lock
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/helpers/ElementHelper.php
  yii2-adapter/src/Mixins/CraftVariableMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix rector messing something up
  rector.php
  src/Http/Mixins/SessionMixin.php
  src/Support/Template.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix 2 calls to craft.app
  resources/templates/_includes/disclosure-toggle.twig
  resources/templates/_layouts/cp.twig
Due: none

Add migration for element types
  src/Database/Migrations/0000_00_00_000010_migrate_entry_types.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pint on rector file
  rector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unnecessary legacy tests
  yii2-adapter/src/Mixins/VolumeMixin.php
  yii2-adapter/tests-laravel/Legacy/web/twig/variables/CpTest.php
  yii2-adapter/tests-laravel/Mixins/VolumeMixinTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean templates
  src/Twig/Nodes/RedirectNode.php
  tests/UnitTestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix snapshots
  tests/.pest/snapshots/Unit/Twig/Nodes/RedirectNodeTest/it_compiles_with_both_flash_error_and_notice.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RedirectNodeTest/it_compiles_with_flash_error.snap
Due: none

Missed a Craft:: call
  tests/Feature/Element/Elements/ElementValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Load facades from composer.json aliases
  composer.json
  composer.lock
  src/Twig/Extensions/FacadesExtension.php
  tests/Unit/Twig/FacadesExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Test for sandbox facades
  tests/Unit/Twig/TemplateRendererTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Register aliases in tests
  tests/Support/RegistersPackageAliases.php
  tests/TestCase.php
  tests/Unit/Twig/FacadesExtensionTest.php
  tests/UnitTestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Laravel methods into separate extension
  resources/templates/_components/fieldtypes/Matrix/block.twig
  resources/templates/_components/fieldtypes/PlainText/settings.twig
  resources/templates/_includes/field.twig
  resources/templates/_includes/forms/editableTable.twig
  resources/templates/_includes/forms/entry-type-select/selection-settings.twig
  resources/templates/entries/index.twig
  resources/templates/settings/entry-types/_edit.twig
  resources/templates/settings/fields/_edit.twig
  resources/templates/settings/filesystems/_edit.twig
  resources/templates/settings/sections/_edit.twig
  resources/templates/settings/users/groups/_edit.twig
  resources/templates/users/_password.twig
  src/Twig/Extensions/CoreTwigExtension.php
  src/Twig/Extensions/FacadesExtension.php
  src/Twig/Extensions/LaravelExtension.php
  src/Twig/Twig.php
  src/View/TemplateGlobals.php
  tests/Unit/Twig/FacadesExtensionTest.php
  yii2-adapter/resources/templates/settings/categories/_edit.twig
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Legacy test fixes
  src/Cp/FormFields.php
  src/View/TemplateGlobals.php
  yii2-adapter/legacy/test/fixtures/elements/BaseElementFixture.php
  yii2-adapter/src/Behavior/LegacyBehaviorCatalog.php
  yii2-adapter/src/Behavior/LegacyBehaviorCompatibility.php
  yii2-adapter/src/Validation/LegacyYiiRules.php
  yii2-adapter/tests-laravel/Behavior/LegacyBehaviorCompatibilityTest.php
  yii2-adapter/tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add craftPath()
  src/Cp/Events/RegisterFormActions.php
  src/Cp/Html/MenuHtml.php
  src/Cp/Navigation.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Middleware/HandleTemplateRequest.php
  src/Http/Mixins/RequestMixin.php
  src/Twig/Variables/Cp.php
  src/Twig/Variables/Paginate.php
  src/View/LegacyAssets/CpAsset.php
  src/View/TemplateCaches.php
  tests/Feature/Http/Controllers/Assets/IndexControllerTest.php
  tests/Unit/Http/RequestMixinTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

link GHSAs
  CHANGELOG.md
Due: none

link GHSA
  CHANGELOG.md
Due: none

Override `|default` and `is empty` with special case for models
  CHANGELOG-WIP.md
  src/web/twig/Extension.php
  tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Round out the plugin page functionality
  .storybook/inertia-mock.js
  .storybook/inertia-mock.ts
  .storybook/main.ts
  .storybook/preview.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
  packages/craftcms-legacy/cp/src/css/_compat.scss
  resources/js/components/Plugins/PluginDetails.stories.ts
  resources/js/components/Plugins/PluginDetails.vue
  resources/js/components/Plugins/PluginLicenseInput.vue
  resources/js/components/Plugins/PluginLicenseIssues.vue
  resources/js/components/Plugins/PluginLinks.vue
  resources/js/components/Plugins/PluginStatus.vue
  resources/js/components/Text.vue
  resources/js/pages/SettingsPluginsIndexPage.vue
  resources/js/types/element.ts
  resources/js/types/plugins.ts
  resources/legacy/cp/dist/css/cp.css
  resources/legacy/cp/dist/css/cp.css.map
  src/Http/Controllers/App/PluginsController.php
  src/Plugin/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Cleanup
  packages/craftcms-cp/src/actions/index.ts
  packages/craftcms-cp/src/components/action-item/action-item.ts
Due: none

Changelog tweaks
  CHANGELOG-WIP.md
Due: none

Clean up CpExtension
  src/Twig/Extensions/CpExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add missing queue endpoints
  routes/actions.php
  src/Http/Controllers/QueueController.php
  yii2-adapter/legacy/controllers/QueueController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Retire usePathInfo, pathParam and omitScriptNameInUrls config settings
  src/Config/GeneralConfig.php
  src/Http/Controllers/Elements/EditElementController.php
  src/Http/Controllers/QueueController.php
  src/Image/FallbackTransformer.php
  src/Image/ImageTransformer.php
  src/Support/Url.php
  src/View/LegacyAssets/CpAsset.php
  tests/Feature/Support/URLTest.php
  yii2-adapter/legacy/config/GeneralConfig.php
  yii2-adapter/legacy/web/Request.php
  yii2-adapter/legacy/web/UrlManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy phpstan
  yii2-adapter/legacy/auth/sso/BaseExternalProvider.php
  yii2-adapter/legacy/queue/Queue.php
  yii2-adapter/legacy/web/Request.php
  yii2-adapter/legacy/web/UrlManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed blockers not being a sequentially keyed array when filering out a blocker
  src/controllers/DeleteElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use new task() from Laravel prompts for Install migration
  src/Console/Commands/Install/InstallCommand.php
  src/Console/CraftCommand.php
  src/Database/Migrations/Install.php
  tests/Feature/Http/Controllers/InstallControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix silent
  src/Database/Migration.php
  src/Database/Migrations/Install.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Silence install migration in codeception
  yii2-adapter/legacy/test/TestSetup.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use File::normalizePath
  tests/Unit/Plugin/Concerns/HasConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Normalize in trait as well
  src/Plugin/Concerns/HasConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/AuthMethods.php
  src/Support/Facades/JobProgress.php
  src/Support/Facades/OAuth.php
  src/Support/Facades/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed release note order
  CHANGELOG-WIP.md
Due: none

Fix legacy asset registration
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update composer.phar to 2.9.7
  CHANGELOG-WIP.md
  lib/composer.phar
Due: none

Fix element chip reordering
  resources/js/components/form/EntryTypeSelect.vue
  tests/Feature/Http/Controllers/App/PluginsControllerTest.php
  tests/Feature/Http/Controllers/PluginStore/RemoveControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
