Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Set db2 connection on database credentials command
  cms/src/Console/Commands/Setup/DatabaseCredentialsCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add withoutYiiPlaceholder to legacy DB helper
  src/helpers/Db.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

$APP_URL
  cms/src/Console/Commands/Install/InstallCommand.php
  cms/src/Http/Controllers/InstallController.php
  cms/src/Site/Concerns/SiteDefaults.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Start renaming things; introduced bug with active styles still visible after moving focus away
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Add resetEditState method; TODO incorporate dropping all fabric elements
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Fix active outline not disappearing
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Rename more things for clarity
  src/templates/_special/image_editor.twig
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Make sure trigger redraw is called on rectangle edit button blur if new target is not a rectangle edit button
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Fix rectangle focus being set to true due to not considering focal point as an edit button
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Remove repeated code for resetting editor state
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Only override config values if the config files don't exist
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Facades are not available in config
  cms/src/Config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove position message from handle drop
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Remove unused property
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Bring back focal point button on first tab panel and ensure we are checking for clipper before redrawing
  src/templates/_special/image_editor.twig
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Require new laravel-aliases package
  cms/resources/icons/aliases.php
  cms/src/Announcement/Announcements.php
  cms/src/Config/ConfigServiceProvider.php
  cms/src/Database/DatabaseServiceProvider.php
  cms/src/Database/Migrator.php
  cms/src/Http/Controllers/InstallController.php
  cms/src/License/License.php
  cms/src/Plugin/Plugins.php
  cms/src/Providers/AppServiceProvider.php
  cms/src/Providers/IconServiceProvider.php
  cms/src/Site/Concerns/SiteDefaults.php
  cms/src/Support/Composer.php
  cms/src/Support/Env.php
  cms/src/Support/Html.php
  cms/src/Support/Json.php
  cms/src/Utility/Utilities/SystemReport.php
  cms/tests/Support/ComposerTest.php
  cms/tests/Support/EnvTest.php
  cms/tests/Support/JsonTest.php
  cms/tests/TestCase.php
  composer.json
  composer.lock
  lib/yii2/Yii.php
  scripts/copyicons.php
  src/console/controllers/EntryTypesController.php
  src/console/controllers/FieldsController.php
  src/web/twig/variables/Cp.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Use hidden context where applicable
  cms/src/Edition.php
  cms/src/Shared/Models/Info.php
  cms/tests/EditionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Support Eloquent models in Twig
  cms/src/Deprecator/Models/DeprecationError.php
  src/helpers/Template.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix session when using cookie store
  yii2-adapter/src/Web/Session.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update workflows
  .github/workflows/ci.yml
  .github/workflows/laravel-ci.yml
Due: none

Set session
  yii2-adapter/src/Web/Session.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't do anything if the directory doesn't exist
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Support deprecated multi environment config in yii2-adapter
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Typo
  src/console/controllers/FieldsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set _updateYaml back to false after writing it
  src/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Write out YAML after each field merge
  CHANGELOG.md
  src/console/controllers/FieldsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a Facade for the Updates service
  cms/src/Support/Facades/Updates.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update workflow
  .github/workflows/facades.yml
Due: none

Update facade docblocks
  cms/src/Support/Facades/Updates.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix bug of the focus outline not disappearing for bottom right handle when moving focus outside of the fabric element buttons
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Fixed #17740
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

= true
  src/config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #17858
  CHANGELOG.md
  src/gql/base/ElementArguments.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix backwards compatibility with old project config service
  yii2-adapter/legacy/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Another handler wrapper
  yii2-adapter/legacy/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

show search input for categories field
  src/fields/Categories.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial move of addresses service
  cms/src/Addresses/Addresses.php
  cms/src/Addresses/Events/DefineAddressCountries.php
  cms/src/Addresses/Events/DefineAddressFieldLabel.php
  cms/src/Addresses/Events/DefineAddressFields.php
  cms/src/Addresses/Events/DefineAddressSubdivisions.php
  cms/src/Addresses/Events/DefineAddressUsedFields.php
  cms/src/Addresses/Events/DefineAddressUsedSubdivisionFields.php
  cms/src/Addresses/Models/Address.php
  cms/src/Addresses/Repositories/SubdivisionRepository.php
  cms/src/Addresses/Repositories/data/GB.json
  cms/src/Database/Migrations/Install.php
  src/base/ApplicationTrait.php
  src/elements/Address.php
  yii2-adapter/legacy/addresses/SubdivisionRepository.php
  yii2-adapter/legacy/events/DefineAddressCountriesEvent.php
  yii2-adapter/legacy/events/DefineAddressFieldLabelEvent.php
  yii2-adapter/legacy/events/DefineAddressFieldsEvent.php
  yii2-adapter/legacy/events/DefineAddressSubdivisionsEvent.php
  yii2-adapter/legacy/records/Address.php
  yii2-adapter/legacy/services/Addresses.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Update calls to Craft::$app->getAddresses()
  src/console/controllers/ResaveController.php
  src/controllers/AddressesController.php
  src/elements/Address.php
  src/elements/conditions/addresses/AdministrativeAreaConditionRule.php
  src/elements/conditions/addresses/CountryConditionRule.php
  src/elements/db/AddressQuery.php
  src/fieldlayoutelements/addresses/AddressField.php
  src/fieldlayoutelements/addresses/CountryCodeField.php
  src/fields/Addresses.php
  src/fields/Country.php
  src/fields/conditions/CountryFieldConditionRule.php
  src/gql/types/input/Addresses.php
  src/helpers/Cp.php
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
