Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Update EntryTypeSelect.vue
  resources/js/components/form/EntryTypeSelect.vue
  resources/js/pages/SettingsSectionsEditPage.vue
Due: none

Release note
  CHANGELOG-WIP.md
Due: none

Move craft-modal into the ModalFormNew component
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/assets/SettingsSitesIndex.css
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/useInputGenerator.js
  resources/js/components/ModalFormNew.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: prettier --ignore-unknown --write

Don't truncate generated field values within cards
  CHANGELOG-WIP.md
  src/models/FieldLayout.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Drafts.php
  src/Support/Facades/ElementSources.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make `handle` available to translation strings
  yii2-adapter/legacy/validators/HandleValidator.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

…and the same for new rule
  src/Validation/Rules/HandleRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix check to avoid false positives when `handle` is sent empty
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix exec controller not working with adapter wrapping
  yii2-adapter/legacy/console/controllers/ExecController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bulk duplicate and delete shouldn't be available if field is static
  src/fields/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Create new service
  AGENTS.md
  src/Element/BulkOps.php
  src/Element/Events/AfterBulkOp.php
  src/Element/Events/BeforeBulkOp.php
  tests/Feature/Element/BulkOpsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Inject connection into service
  src/Database/DatabaseServiceProvider.php
  src/Element/BulkOps.php
  tests/Feature/Element/BulkOpsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't rely on Craft::$app to determine persistence skip
  src/Element/BulkOps.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

BulkOpDeferrals + move into src/Element/BulkOp
  src/Database/DatabaseServiceProvider.php
  src/Element/BulkOp/BulkOpDeferrals.php
  src/Element/BulkOp/BulkOps.php
  src/Element/BulkOp/Events/AfterBulkOp.php
  src/Element/BulkOp/Events/BeforeBulkOp.php
  src/Element/BulkOp/Events/DeferredBulkOpReplay.php
  src/Element/ElementServiceProvider.php
  tests/Feature/Element/BulkOp/BulkOpDeferralsTest.php
  tests/Feature/Element/BulkOp/BulkOpsTest.php
  tests/TestCase.php
  yii2-adapter/src/Event/BulkOpDeferralBridge.php
  yii2-adapter/src/Event/EventCompatibility.php
  yii2-adapter/tests-laravel/Bridge/BulkOpDeferralBridgeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace elements service implementation with new BulkOps service
  src/Element/BulkOp/BulkOpDeferrals.php
  yii2-adapter/legacy/events/BulkOpEvent.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/src/Event/BulkOpDeferralBridge.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

search through trashed elements too if we have revision ID
  src/controllers/AppController.php
  src/web/assets/cp/src/js/CP.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deferrals should be a singleton
  src/Element/BulkOp/BulkOpDeferrals.php
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

safeguard as apparently sometimes data can be null
  src/web/assets/matrix/src/MatrixInput.js
Due: none

Add Facade
  src/Element/BulkOp/BulkOpDeferrals.php
  src/Support/Facades/BulkOps.php
  tests/TestCase.php
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add more test coverage
  tests/Feature/Element/BulkOp/BulkOpDeferralsTest.php
  tests/Feature/Element/BulkOp/BulkOpsTest.php
  yii2-adapter/tests-laravel/Bridge/BulkOpDeferralBridgeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add defer method to BulkOps that forwards to BulkOpsDeferrals (internal)
  src/Element/BulkOp/BulkOpDeferrals.php
  src/Element/BulkOp/BulkOps.php
  src/Support/Facades/BulkOps.php
  yii2-adapter/legacy/events/BulkOpEvent.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

duplicating soft-deleted revision element
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace usages of legacy service with new service
  src/Entry/Entries.php
  src/Queue/BatchedElementJob.php
  tests/Feature/Element/BulkOp/BulkOpsTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/queue/BaseBatchedElementJob.php
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Implement watchKey fix
  src/Element/BulkOp/BulkOpDeferrals.php
  tests/Feature/Element/BulkOp/BulkOpDeferralsTest.php
  yii2-adapter/tests-laravel/Bridge/BulkOpDeferralBridgeTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

separate revision and soft delete attributes
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
Due: none

Element activity service
  src/Element/Data/ElementActivity.php
  src/Element/ElementActivity.php
  src/Element/Enums/ElementActivityType.php
  src/Support/Facades/ElementActivity.php
  tests/Feature/Element/ElementActivityTest.php
  yii2-adapter/legacy/models/ElementActivity.php
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace usages of activity calls with new service
  src/Element/Data/ElementActivity.php
  tests/Feature/Element/ElementActivityTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix review comments
  src/Element/Data/ElementActivity.php
  src/Support/Facades/ElementActivity.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Woops wrong one
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

createElement
  src/Element/Elements.php
  src/Field/ContentBlock.php
  src/Gql/Resolvers/Mutations/Asset.php
  src/Gql/Resolvers/Mutations/Entry.php
  src/Support/Facades/Elements.php
  yii2-adapter/legacy/gql/resolvers/mutations/Category.php
  yii2-adapter/legacy/gql/resolvers/mutations/Tag.php
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

createElementQuery
  src/Element/Elements.php
  src/Gql/Gql.php
  src/Gql/Handlers/RelationArgumentHandler.php
  src/Gql/Resolvers/Mutations/Asset.php
  src/Gql/Resolvers/Mutations/Entry.php
  yii2-adapter/legacy/gql/resolvers/mutations/Category.php
  yii2-adapter/legacy/gql/resolvers/mutations/Tag.php
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Element lookup
  src/Asset/Assets.php
  src/Element/Commands/Concerns/ResolvesElementById.php
  src/Element/Commands/Resave/ResaveCommand.php
  src/Element/ElementHelper.php
  src/Element/Elements.php
  src/Element/Jobs/PropagateElements.php
  src/Element/Queries/Concerns/QueriesStructures.php
  src/Entry/Entries.php
  src/Gql/Concerns/PerformsStructureMutations.php
  src/Gql/Resolvers/Mutations/Asset.php
  src/Gql/Resolvers/Mutations/Entry.php
  src/Http/Controllers/Assets/UploadController.php
  src/Http/Controllers/StructuresController.php
  src/Http/Middleware/HandleMatchedElementRoute.php
  src/User/Users.php
  tests/Feature/Element/ElementHelperTest.php
  tests/Feature/Element/Queries/Concerns/Entry/QueriesRefTest.php
  tests/Feature/Element/Queries/Concerns/OverridesResultsTest.php
  tests/Feature/Element/Queries/Concerns/QueriesDraftsAndRevisionsTest.php
  tests/Feature/Element/Queries/Concerns/QueriesNestedElementsTest.php
  tests/Feature/Element/Queries/Concerns/QueriesPlaceholderElementsTest.php
  tests/Feature/Element/Queries/Concerns/SearchesElementsTest.php
  tests/Feature/Element/Queries/Concerns/User/QueriesAuthorsTest.php
  tests/Feature/Element/RevisionsTest.php
  tests/Feature/Http/Controllers/PreviewControllerTest.php
  tests/Feature/Search/SearchTest.php
  yii2-adapter/legacy/base/NestedElementTrait.php
  yii2-adapter/legacy/controllers/BaseElementsController.php
  yii2-adapter/legacy/controllers/ElementSearchController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/MatrixController.php
  yii2-adapter/legacy/controllers/NestedElementsController.php
  yii2-adapter/legacy/elements/NestedElementManager.php
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/gql/resolvers/mutations/Category.php
  yii2-adapter/legacy/gql/resolvers/mutations/Tag.php
  yii2-adapter/legacy/services/Categories.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/legacy/services/Tags.php
  yii2-adapter/legacy/services/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Undo changes to action-menu
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.vue_vue_type_script_setup_true_lang.js
  resources/build/IndexLayout.js
  resources/build/InputCombobox.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/UtilitiesShowPage.js
  resources/build/cp3.js
  resources/build/legacy.js
  resources/build/useInputGenerator.js
Due: none

Pass label to InputCombobox
  resources/js/components/form/CraftCombobox.vue
  resources/js/components/form/InputCombobox.vue
Due: none

Fixed copying all Matrix entries in blocks view
  src/fields/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
