Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Change order
  .github/workflows/sync-cms-assets.yml
Due: none

Don't delete the full resources folder
  .github/workflows/sync-cms-assets.yml
Due: none

Only load if it exists
  .github/workflows/sync-cms-assets.yml
  src/Providers/IconServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

IconServiceProvider already publishes
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Install the kit explicitly
  .github/workflows/sync-cms-assets.yml
Due: none

Explicitly add token
  .github/workflows/sync-cms-assets.yml
Due: none

Fix awesome.me registry in npmrc
  .npmrc
  package-lock.json
Due: prettier --ignore-unknown --write

Handle directory creation in copyicons script
  scripts/copyicons.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Omit optional from JS CI
  .github/workflows/js-ci.yml
Due: none

Env
  .github/workflows/js-ci.yml
Due: none

IconsControllerTest shouldn't rely on icons being present
  tests/Feature/Http/Controllers/IconControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't crash on announcements
  src/Announcement/Announcements.php
  tests/Feature/Http/Controllers/IconControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove redundant test
  tests/Feature/Http/Controllers/IconControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

custom icons should stay
  .gitignore
  cms-assets/resources/icons/custom-icons/asterisk-slash.svg
  cms-assets/resources/icons/custom-icons/c-debug.svg
  cms-assets/resources/icons/custom-icons/c-outline.svg
  cms-assets/resources/icons/custom-icons/clone-dashed.svg
  cms-assets/resources/icons/custom-icons/craft-cms.svg
  cms-assets/resources/icons/custom-icons/craft-partners.svg
  cms-assets/resources/icons/custom-icons/craft-stack-exchange.svg
  cms-assets/resources/icons/custom-icons/default-plugin.svg
  cms-assets/resources/icons/custom-icons/diamond-slash.svg
  cms-assets/resources/icons/custom-icons/duplicate.svg
  cms-assets/resources/icons/custom-icons/element-card-slash.svg
  cms-assets/resources/icons/custom-icons/element-card.svg
  cms-assets/resources/icons/custom-icons/element-cards.svg
  cms-assets/resources/icons/custom-icons/gear-slash.svg
  cms-assets/resources/icons/custom-icons/graphql.svg
  cms-assets/resources/icons/custom-icons/grip-dots.svg
  cms-assets/resources/icons/custom-icons/image-slash.svg
  cms-assets/resources/icons/custom-icons/language.svg
  cms-assets/resources/icons/custom-icons/list-flip.svg
  cms-assets/resources/icons/custom-icons/list-tree-flip.svg
  cms-assets/resources/icons/custom-icons/notification-bottom-left.svg
  cms-assets/resources/icons/custom-icons/notification-bottom-right.svg
  cms-assets/resources/icons/custom-icons/notification-top-left.svg
  cms-assets/resources/icons/custom-icons/notification-top-right.svg
  cms-assets/resources/icons/custom-icons/share-flip.svg
  cms-assets/resources/icons/custom-icons/slideout-left.svg
  cms-assets/resources/icons/custom-icons/slideout-right.svg
  cms-assets/resources/icons/custom-icons/thumb-left.svg
  cms-assets/resources/icons/custom-icons/thumb-right.svg
Due: none

Replace button group component
  packages/craftcms-cp/src/components/button-group/button-group.styles.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-garnish/src/compat.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/tests/compat.test.ts
  packages/craftcms-garnish/tests/listbox.test.ts
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/Listbox.js
  resources/css/cp.css
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/field-layout-designer/CardViewDesigner.ts
  resources/js/modules/listbox/Listbox.ts
  resources/js/modules/listbox/Listbox.wc.ts
  resources/js/modules/listbox/README.md
  resources/js/modules/listbox/index.ts
  resources/js/modules/listbox/support.ts
  resources/templates/_includes/forms/buttonGroup.twig
  src/Cp/FieldLayoutDesigner/CardDesigner.php
  src/Entry/Data/EntryType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Standardize file name casing
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/editable-table/README.md
  resources/js/modules/editable-table/editable-table.ts
  resources/js/modules/editable-table/index.ts
  resources/js/modules/editable-table/support.ts
  resources/js/modules/field-layout-designer/README.md
  resources/js/modules/field-layout-designer/card-view-designer.ts
  resources/js/modules/field-layout-designer/drags.ts
  resources/js/modules/field-layout-designer/element.ts
  resources/js/modules/field-layout-designer/field-layout-designer.ce.ts
  resources/js/modules/field-layout-designer/field-layout-designer.ts
  resources/js/modules/field-layout-designer/index.ts
  resources/js/modules/field-layout-designer/support.ts
  resources/js/modules/field-layout-designer/tab.ts
  resources/js/modules/field-layout-designer/types.ts
  resources/js/modules/generated-fields/generated-fields-table.ce.ts
  resources/js/modules/generated-fields/generated-fields-table.ts
  resources/js/modules/generated-fields/index.ts
  resources/js/modules/link-field/craft-link-field.ts
  resources/js/modules/listbox/README.md
  resources/js/modules/listbox/index.ts
  resources/js/modules/listbox/listbox.ce.ts
  resources/js/modules/listbox/listbox.ts
  resources/js/modules/listbox/support.ts
  resources/js/modules/markdown-field/behaviors/link-popover.ts
  resources/js/modules/markdown-field/markdown-field.css
  resources/js/modules/markdown-field/markdown-field.ts
  resources/js/modules/navigation/components/cp-global-sidebar.ts
  resources/js/modules/navigation/components/cp-queue-indicator.ts
  resources/js/modules/sortable-checkbox-select/README.md
  resources/js/modules/sortable-checkbox-select/index.ts
  resources/js/modules/sortable-checkbox-select/sortable-checkbox-select.ce.ts
  resources/js/modules/sortable-checkbox-select/sortable-checkbox-select.ts
  resources/js/modules/sortable-checkbox-select/support.ts
Due: prettier --ignore-unknown --write

Prefetch inertia links on click
  resources/js/common/components/CpLink.vue
Due: none

Fix breadcrumb
  src/Http/Controllers/Settings/Users/BaseUserSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restructure settings pages
  resources/js/bootstrap/inertia-pages.test.ts
  resources/js/modules/sections/components/DeleteSectionButton.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/entry-types/Index.vue
  resources/js/pages/settings/fields/Index.vue
  resources/js/pages/settings/filesystems/Index.vue
  resources/js/pages/settings/sections/Edit.vue
  resources/js/pages/settings/sections/Index.vue
  resources/js/pages/settings/sites/Edit.vue
  resources/js/pages/settings/sites/Index.vue
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/Controllers/Settings/FilesystemsController.php
  src/Http/Controllers/Settings/SectionsController.php
  src/Http/Controllers/Settings/SitesController.php
  src/Http/Controllers/Settings/VolumesController.php
  tests/Feature/Http/Controllers/FieldsControllerTest.php
  tests/Feature/Http/Controllers/Settings/SitesControllerTest.php
  tests/Feature/Integration/PagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up empty styles & debug statements
  resources/js/pages/auth/Login.vue
  resources/js/pages/graphql/schemas/Index.vue
  resources/js/pages/graphql/tokens/Index.vue
  resources/js/pages/settings/General.vue
  resources/js/pages/settings/Plugins.vue
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  resources/js/pages/settings/entry-types/Index.vue
  resources/js/pages/settings/fields/Index.vue
  resources/js/pages/settings/filesystems/Index.vue
  resources/js/pages/settings/sections/Edit.vue
  resources/js/pages/settings/sections/Index.vue
  resources/js/pages/settings/sites/Edit.vue
  resources/js/pages/settings/sites/Index.vue
  resources/js/pages/settings/users/groups/Edit.vue
  resources/js/pages/settings/users/groups/Index.vue
  resources/js/pages/utilities/Show.vue
Due: none

Move subnavs to backend
  resources/js/pages/settings/assets/Index.vue
  resources/js/pages/settings/assets/transforms/Index.vue
  src/Http/Controllers/Settings/ImageTransformsController.php
  src/Http/Controllers/Settings/VolumesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use additionalActions for route delete
  resources/js/pages/settings/routes/Edit.vue
  resources/js/pages/settings/routes/types.ts
  src/Http/Controllers/Settings/RoutesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More cleanup
  resources/js/pages/settings/assets/transforms/Edit.vue
  resources/js/pages/settings/sites/Edit.vue
  resources/js/pages/settings/users/groups/Index.vue
Due: none

Refactor brittle test
  tests/Feature/Http/Controllers/Settings/RoutesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Support redirects after action
  packages/craftcms-cp/src/actions/index.ts
  resources/js/bootstrap/cp.ts
  resources/js/common/components/ActionMenu.vue
  resources/js/common/composables/useActionRedirect.ts
  resources/js/common/form/IconPicker.vue
  resources/js/common/layouts/AppLayout.vue
  resources/js/modules/field-layout-designer/card-view-designer.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
  resources/js/pages/settings/EntryTypesEdit.vue
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/RespondsWithFlash.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify icon color
  packages/craftcms-cp/src/components/action-item/action-item.ts
Due: none

Fix CEM error from typescript version incompatibility
  packages/craftcms-cp/custom-elements-manifest.config.mjs
Due: none

Update comment
  resources/js/common/composables/useActionRedirect.ts
Due: none

Bring in line with new organization
  resources/js/pages/settings/entry-types/Edit.vue
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update package-lock
  package-lock.json
Due: prettier --ignore-unknown --write

Add @craftcms-garnish
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Use View::make() for Blade dynamic route rendering to preserve logical view names for composers
  src/Route/DynamicRoute.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

FIx EntryTypesControllerTest.php
  tests/Feature/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix ContentHtmlTest.php
  tests/Unit/Cp/ContentHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix CI
  .github/workflows/js-ci.yml
  package.json
Due: prettier --ignore-unknown --write

adds isRestrictedDir method
  src/helpers/Html.php
  src/services/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix build
  resources/js/legacy.ts
  resources/js/pages/settings/entry-types/Edit.vue
Due: none

Use generated EntryType - adjust vue-wrappers to also allow null
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
  resources/js/pages/settings/entry-types/Edit.vue
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add type for EntryType index data
  resources/js/pages/settings/entry-types/Index.vue
  src/Entry/Data/EntryTypeIndexData.php
  src/Entry/EntryTypes.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix source table attribute normalization
  src/Http/Controllers/Elements/ElementSourcesController.php
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
