Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

style sortable headers like in element index tables
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

use v4 styles
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Finish clickToMove function for focal point
  src/web/assets/focalpoint/dist/FocalPoint.js
  src/web/assets/focalpoint/dist/FocalPoint.js.map
  src/web/assets/focalpoint/src/FocalPoint.ts
Due: none

New translations app.php (Slovak) [ci skip]
  src/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow scrolling in entry mover modal
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

have draft addresses show too - consistent with cards mode
  src/elements/NestedElementManager.php
  src/fields/Addresses.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Persian) [ci skip]
  src/translations/fa/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix uninstalled/missing plugin status icons
  CHANGELOG.md
  src/templates/settings/plugins/index.twig
  src/web/assets/plugins/dist/PluginManager.js
  src/web/assets/plugins/dist/PluginManager.js.map
  src/web/assets/plugins/src/PluginManager.js
Due: none

getOwner() already returns the primary owner if it's the same as the current owner
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use the NestedElementInterface methods
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

NestedElementQueryInterface + cleanup + fix more errors
  src/base/Element.php
  src/controllers/AppController.php
  src/controllers/ElementsController.php
  src/elements/db/AddressQuery.php
  src/elements/db/EntryQuery.php
  src/elements/db/NestedElementQueryInterface.php
  src/helpers/Cp.php
  src/helpers/ElementHelper.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Craft.js
  src/web/assets/cp/src/js/ElementEditor.js
  src/web/assets/cp/src/js/ElementEditorSlideout.js
  src/web/assets/cp/src/js/NestedElementManager.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop the fieldId stuff, and fix provisional draft deletion
  src/base/Element.php
  src/controllers/AppController.php
  src/controllers/ElementsController.php
  src/helpers/Cp.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Craft.js
  src/web/assets/cp/src/js/ElementEditor.js
  src/web/assets/cp/src/js/ElementEditorSlideout.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG.md
Due: none

Release note
  CHANGELOG.md
Due: none

Support for '<operator> <values>' syntax
  CHANGELOG.md
  src/db/QueryParam.php
  tests/unit/db/QueryParamTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a PHP error
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Respect predefined section UUIDs
  CHANGELOG.md
  src/services/Entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Gc::$silent
  CHANGELOG.md
  src/services/Gc.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Respect predefined volume UUIDs
  CHANGELOG.md
  src/services/Volumes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Undo changes in Preview modal
  src/web/assets/focalpoint/dist/FocalPoint.js
  src/web/assets/focalpoint/dist/FocalPoint.js.map
  src/web/assets/focalpoint/src/FocalPoint.ts
Due: none

Add conditional to ensure cropper is not being dragged to prevent focal point moving as a result of dragging
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Support appending subpaths to environment variable names
  CHANGELOG-WIP.md
  src/helpers/App.php
  src/helpers/Cp.php
  src/templates/_includes/forms.twig
  src/translations/en/app.php
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French) [ci skip]
  src/translations/fr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Spanish) [ci skip]
  src/translations/es/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Arabic) [ci skip]
  src/translations/ar/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Czech) [ci skip]
  src/translations/cs/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Danish) [ci skip]
  src/translations/da/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German) [ci skip]
  src/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
