Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Cleanup Address
  src/Address/Elements/Address.php
  yii2-adapter/legacy/elements/Address.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up element concerns
  CHANGELOG-WIP.md
  src/Element/Concerns/Cacheable.php
  src/Element/Concerns/DisplayedInIndex.php
  src/Element/Concerns/Draftable.php
  src/Element/Concerns/Eagerloadable.php
  src/Element/Concerns/Exportable.php
  src/Element/Concerns/HasActions.php
  src/Element/Concerns/HasCanonical.php
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Concerns/HasGqlType.php
  src/Element/Concerns/HasPreviewTargets.php
  src/Element/Concerns/HasRoutesAndUrls.php
  src/Element/Concerns/HasSources.php
  src/Element/Concerns/HasStatuses.php
  src/Element/Concerns/HasThumbnails.php
  src/Element/Concerns/Localizable.php
  src/Element/Concerns/Queryable.php
  src/Element/Concerns/Renderable.php
  src/Element/Concerns/Revisionable.php
  src/Element/Concerns/Searchable.php
  src/Element/Concerns/Structurable.php
  src/Element/Enums/ElementIndexViewMode.php
  src/Element/Events/AuthorizeCreateDrafts.php
  src/Field/Addresses.php
  src/Field/Enums/ElementIndexViewMode.php
  src/Field/Matrix.php
  tests/Feature/Element/Concerns/RenderableTest.php
  yii2-adapter/legacy/base/ElementInterface.php
  yii2-adapter/legacy/enums/ElementIndexViewMode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add deprecated ElementInterface
  src/Element/Contracts/ElementInterface.php
  yii2-adapter/legacy/base/ElementInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up ElementInterface
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Concerns/HasRoutesAndUrls.php
  src/Element/Contracts/ElementInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan fixes
  src/Element/Element.php
  src/Validation/Concerns/InteractsWithValidator.php
  src/Validation/Concerns/Validates.php
  src/Validation/Contracts/Validatable.php
  tests/Feature/Asset/Elements/AssetValidationTest.php
  tests/Feature/Element/Concerns/HasRoutesAndUrlsTest.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/base/Field.php
  yii2-adapter/legacy/behaviors/BaseRevisionBehavior.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/elements/Category.php
  yii2-adapter/legacy/elements/GlobalSet.php
  yii2-adapter/legacy/elements/Tag.php
  yii2-adapter/legacy/validators/AssetLocationValidator.php
  yii2-adapter/legacy/web/Controller.php
  yii2-adapter/src/Mixins/ValidateMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

remember the invalid nested element ids too
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up Asset element
  src/Asset/AssetIndexer.php
  src/Asset/Assets.php
  src/Asset/AssetsHelper.php
  src/Asset/Elements/Asset.php
  src/Asset/Enums/FileKind.php
  src/Asset/PreviewHandlers/Text.php
  src/Database/Migrations/Install.php
  src/Element/Concerns/HasCanonical.php
  src/Field/Conditions/EmptyFieldConditionRule.php
  src/FieldLayout/LayoutElements/Html.php
  src/Http/Controllers/Assets/ImageEditorController.php
  src/Image/ImageTransformHelper.php
  src/Image/ImageTransformer.php
  src/ProjectConfig/ProjectConfig.php
  src/Shared/Exceptions/NotSupportedException.php
  tests/Feature/Asset/AssetsTest.php
  tests/Feature/Asset/Elements/AssetValidationTest.php
  tests/Feature/Element/Concerns/HasCanonicalTest.php
  tests/Unit/Asset/AssetsHelperTest.php
  yii2-adapter/legacy/base/AssetPreviewHandlerInterface.php
  yii2-adapter/legacy/cache/DbCache.php
  yii2-adapter/legacy/db/Connection.php
  yii2-adapter/legacy/db/ExpressionBuilder.php
  yii2-adapter/legacy/db/MigrationManager.php
  yii2-adapter/legacy/db/Query.php
  yii2-adapter/legacy/db/mysql/QueryBuilder.php
  yii2-adapter/legacy/db/mysql/Schema.php
  yii2-adapter/legacy/elements/Asset.php
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/helpers/Db.php
  yii2-adapter/legacy/services/ProjectConfig.php
  yii2-adapter/legacy/services/Sites.php
  yii2-adapter/legacy/test/fixtures/FieldLayoutFixture.php
  yii2-adapter/legacy/web/View.php
  yii2-adapter/src/IdentityWrapper.php
  yii2-adapter/src/Mixins/ElementQueryMixin.php
  yii2-adapter/tests/unit/helpers/dbhelper/MysqlDbHelperTest.php
  yii2-adapter/tests/unit/helpers/dbhelper/PgsqlDbHelperTest.php
  yii2-adapter/tests/unit/validators/UsernameValidatorTest.php
  yii2-adapter/tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup Entry
  src/Element/ElementActions.php
  src/Entry/Elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move NestedElementInterface
  resources/templates/_components/fieldtypes/Assets/input.twig
  resources/templates/_includes/forms/elementSelect.twig
  src/Address/Elements/Address.php
  src/Cp/Html/ElementHtml.php
  src/Element/Actions/Delete.php
  src/Element/Actions/Duplicate.php
  src/Element/Concerns/DisplayedInIndex.php
  src/Element/Concerns/HasCanonical.php
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Concerns/HasRoutesAndUrls.php
  src/Element/Concerns/Localizable.php
  src/Element/Contracts/NestedElementInterface.php
  src/Element/Drafts.php
  src/Element/ElementCaches.php
  src/Element/ElementHelper.php
  src/Element/NestedElementManager.php
  src/Element/Operations/ElementWrites.php
  src/Element/Policies/ElementPolicy.php
  src/Field/Addresses.php
  src/Field/BaseRelationField.php
  src/Field/ContentBlock.php
  src/Field/Contracts/ElementContainerFieldInterface.php
  src/Field/Elements/ContentBlock.php
  src/Field/Matrix.php
  src/GarbageCollection/Actions/HardDeleteElements.php
  src/Http/Controllers/NestedElementsController.php
  tests/Feature/Element/Concerns/LocalizableTest.php
  tests/Feature/Element/ElementCachesTest.php
  tests/Feature/Element/Policies/ElementPolicyTest.php
  tests/Unit/Element/ElementWrites/ResaveElementsTest.php
  yii2-adapter/legacy/base/NestedElementTrait.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move NestedElementTrait
  src/Element/Concerns/NestedElement.php
  src/Element/Contracts/NestedElementInterface.php
  src/Entry/Elements/Entry.php
  yii2-adapter/legacy/base/NestedElementInterface.php
  yii2-adapter/legacy/base/NestedElementTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup user element
  src/User/Elements/User.php
  yii2-adapter/legacy/elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Small fixes
  src/Element/Concerns/DisplayedInIndex.php
  src/Element/Concerns/HasControlPanelUI.php
  src/Entry/Elements/Entry.php
  src/Field/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fieldLayouts and defaultTableColumns are needed in static mode too
  src/fields/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweak the comment
  src/fields/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix unique querying bug
  src/Element/Queries/Concerns/QueriesSites.php
  src/Element/Queries/Concerns/QueriesUniqueElements.php
  tests/Feature/Element/Queries/Concerns/QueriesUniqueElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix queue issue with sync queue
  src/Queue/Job.php
  tests/Feature/Queue/JobTest.php
  tests/Feature/Search/Jobs/UpdateSearchIndexTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Convert the image transforms page
  packages/craftcms-cp/src/utilities/string.ts
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsImageTransformsIndexPage.vue
  resources/js/pages/SettingsVolumesIndexPage.vue
  resources/templates/settings/assets/transforms/_index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Filesystems
  resources/js/pages/SettingsFilesystemsIndexPage.vue
  routes/actions.php
  routes/cp.php
  src/Filesystem/Resources/FsResource.php
  src/Http/Controllers/Settings/FilesystemsController.php
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove the old template
  resources/templates/settings/filesystems/_index.twig
Due: none

Port ElementSearchController
  database/Factories/EntryFactory.php
  routes/actions.php
  src/Http/Controllers/Elements/SearchController.php
  src/Search/Search.php
  tests/Feature/Element/Queries/Concerns/SearchesElementsTest.php
  tests/Feature/Http/Controllers/Elements/SearchControllerTest.php
  tests/Feature/Search/SearchTest.php
  yii2-adapter/legacy/controllers/ElementSearchController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

GHSA links
  CHANGELOG.md
Due: none

typo
  CHANGELOG.md
Due: none

Port ElementSelectorModalsController
  routes/actions.php
  src/Http/Controllers/Elements/BaseElementsController.php
  src/Http/Controllers/Elements/ElementSelectorModalController.php
  src/Http/Controllers/Elements/SearchController.php
  tests/Feature/Http/Controllers/Elements/ElementSelectorModalControllerTest.php
  tests/Feature/Http/Controllers/Elements/SearchControllerTest.php
  yii2-adapter/legacy/controllers/ElementSelectorModalsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Craft js
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port ElementIndexSettingsController as ElementSourcesController
  routes/actions.php
  src/Http/Controllers/Elements/ElementSourcesController.php
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

get nested elements for all localised owners
  src/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

map criteria needs to take priority over plan's default criteria
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

json field normalisation - try to decode if value is a string
  src/fields/Json.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

updated webonyx/graphql-php
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Build
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-C2kVe8rA.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-EBysIGtV.js
  resources/build/keys.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-ChCEIDF_.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-Cg7ivPRt.js
  resources/build/nav-list.ts.js
  resources/build/useFetch.js
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Enforce sync JS
  src/web/assets/cp/src/js/Craft.js
Due: none

Remove resource JS proxy
  src/controllers/AppController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate resource JS proxy
  src/controllers/AppController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
