Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Make the modal responsive
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix HR hiding bug
  CHANGELOG.md
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/DisclosureMenu.js
Due: none

take 2
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/DisclosureMenu.js
Due: none

"Move to [page]" actions
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix bug
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: none

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Auto-generate the slug
  src/fieldlayoutelements/TitleField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Revert a5ffaed54dcad4cd1ab4551952844c4948d540e7
  CHANGELOG.md
  src/elements/db/ElementQuery.php
  src/elements/db/EntryQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

remove accidentally committed file
  tests-playwright/tests/matrix/elementindex2.test.js
Due: none

bring back tests/_craft/storage/runtime/.gitignore
  tests/_craft/.gitignore
  tests/_craft/storage/runtime/.gitignore
Due: none

Port Formatter
  src/Field/Date.php
  src/Field/Number.php
  src/Field/Range.php
  src/Field/Time.php
  src/Http/Controllers/Updates/UpdatesController.php
  src/ProjectConfig/Commands/ExportCommand.php
  src/Shared/Rules/TimeRule.php
  src/Translation/Formatter.php
  src/Translation/I18N.php
  src/Translation/Locale.php
  tests/Translation/FormatterTest.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/config/app.php
  yii2-adapter/legacy/console/controllers/DbController.php
  yii2-adapter/legacy/controllers/AppController.php
  yii2-adapter/legacy/controllers/AssetsController.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/elements/Asset.php
  yii2-adapter/legacy/elements/Entry.php
  yii2-adapter/legacy/elements/User.php
  yii2-adapter/legacy/gql/directives/FormatDateTime.php
  yii2-adapter/legacy/helpers/Cp.php
  yii2-adapter/legacy/helpers/ElementHelper.php
  yii2-adapter/legacy/i18n/Formatter.php
  yii2-adapter/legacy/i18n/Locale.php
  yii2-adapter/legacy/queue/Queue.php
  yii2-adapter/legacy/validators/DateCompareValidator.php
  yii2-adapter/legacy/validators/DateTimeValidator.php
  yii2-adapter/legacy/validators/TimeValidator.php
  yii2-adapter/legacy/views/debug/deprecated/traces.php
  yii2-adapter/legacy/web/assets/d3/D3Asset.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/tests/unit/i18n/FormatterTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix formats
  src/Translation/Formatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix passing null as currency
  src/Translation/Formatter.php
  tests/Translation/FormatterTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix default parameters
  src/Translation/Formatter.php
  tests/Translation/FormatterTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace Twig calls to i18n
  resources/templates/_components/fieldtypes/Money/settings.twig
  resources/templates/_components/fieldtypes/Number/input.twig
  resources/templates/_components/fieldtypes/Number/settings.twig
  resources/templates/_components/fieldtypes/Range/settings.twig
  resources/templates/_elements/tableview/elements.twig
  resources/templates/_includes/forms/date.twig
  resources/templates/_includes/forms/money.twig
  resources/templates/_includes/forms/range.twig
  resources/templates/_includes/forms/text.twig
  resources/templates/_includes/forms/time.twig
  resources/templates/_layouts/base.twig
  resources/templates/_layouts/basecp.twig
  resources/templates/_layouts/components/global-sidebar.twig
  resources/templates/_layouts/components/skip-links.twig
  resources/templates/_special/image_editor.twig
  resources/templates/_special/login.twig
  resources/templates/users/_preferences.twig
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/web/twig/variables/CraftVariable.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  src/Translation/I18N.php
  tests/Http/Controllers/InstallControllerTest.php
  yii2-adapter/tests/unit/gql/ScalarTypesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Returns old Locale class
  yii2-adapter/legacy/base/ApplicationTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy tests
  yii2-adapter/legacy/test/TestSetup.php
  yii2-adapter/tests-laravel/Legacy/helpers/StringHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

when uploading directly into assets field, use the showActionMenu setting
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetSelectInput.js
Due: none

Set test timezone
  yii2-adapter/legacy/test/Craft.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Set language & timezone
  yii2-adapter/legacy/base/ApplicationTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  src/Translation/I18N.php
  yii2-adapter/tests/unit/helpers/MoneyHelperTest.php
  yii2-adapter/tests/unit/mail/MailerTest.php
  yii2-adapter/tests/unit/web/ViewTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix-cs
  yii2-adapter/tests/unit/helpers/MoneyHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  yii2-adapter/legacy/i18n/I18N.php
  yii2-adapter/legacy/i18n/Translation.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove usages of Inflector
  src/Providers/AppServiceProvider.php
  yii2-adapter/legacy/console/Controller.php
  yii2-adapter/legacy/console/controllers/GraphqlController.php
  yii2-adapter/legacy/console/controllers/HelpController.php
  yii2-adapter/legacy/console/controllers/ResaveController.php
  yii2-adapter/legacy/console/controllers/SectionsController.php
  yii2-adapter/legacy/fieldlayoutelements/CustomField.php
  yii2-adapter/legacy/helpers/Inflector.php
  yii2-adapter/legacy/models/EntryType.php
  yii2-adapter/legacy/services/Security.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move GeneralSettings to Laravel controller
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/GeneralSettingsController.php
  tests/Http/Controllers/Settings/GeneralSettingsController.php
  yii2-adapter/legacy/controllers/SystemSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

Fix sensitive words in Security
  src/Support/Str.php
  yii2-adapter/legacy/services/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow for non-ascii chars in whole email
  src/config/GeneralConfig.php
  src/elements/User.php
  src/fields/Email.php
  src/helpers/StringHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add deprecation to Craft::t
  yii2-adapter/legacy/Craft.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup tests
  tests/Translation/FormatterTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate general config timezone
  src/Config/GeneralConfig.php
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

add link to idna-nontransitional-to-unicode
  src/config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port SiteGroups to SiteGroups service
  src/Site/Data/SiteGroup.php
  src/Site/Events/ApplyingSiteGroupDelete.php
  src/Site/Events/DeletedSiteGroup.php
  src/Site/Events/DeletingSiteGroup.php
  src/Site/Events/SavedSiteGroup.php
  src/Site/Events/SavingSiteGroup.php
  src/Site/Models/Site.php
  src/Site/Models/SiteGroup.php
  src/Site/SiteGroups.php
  src/Site/Sites.php
  yii2-adapter/legacy/controllers/SitesController.php
  yii2-adapter/legacy/services/Sites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  src/Http/Controllers/PluginStore/PluginStoreController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
