Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

[skip ci] Add changelog + deprecation
  CHANGELOG-WIP.md
  yii2-adapter/legacy/events/EntryTypeEvent.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove phpstan from lint staged
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

fix custom select hide animation completion handling
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/CustomSelect.js
Due: none

Initial inertia rendering
  composer.json
  composer.lock
  package-lock.json
  package.json
  resources/css/compat.css
  resources/css/cp.css
  resources/css/forms.css
  resources/icons/custom-icons/c-outline.svg
  resources/js/components/CpSidebar.vue
  resources/js/components/DevModeIndicator.vue
  resources/js/components/EditionInfo.vue
  resources/js/components/MainNav.vue
  resources/js/components/SystemInfo.vue
  resources/js/components/VarDump.vue
  resources/js/composables/useCraftData.ts
  resources/js/cp.ts
  resources/js/layout/AppLayout.vue
  resources/js/pages/Dashboard.vue
  resources/templates/_layouts/base.twig
  resources/views/app.blade.php
  routes/cp.php
  src/CP/Navigation.php
  src/Http/Controllers/Dashboard/DashboardController.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Providers/AppServiceProvider.php
  vite.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

A lot of foot work for rendering the dashboard
  package-lock.json
  package.json
  resources/css/compat.css
  resources/js/components/DynamicHtmlRenderer.vue
  resources/js/composables/useUpdatesService.ts
  resources/js/cp.ts
  resources/js/pages/Dashboard.vue
  resources/js/widgets/UpdatesWidget.vue
  resources/templates/_components/widgets/Updates/body.twig
  src/Dashboard/Widgets/Updates.php
  vite.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Make the CP non-scrollable when a menu is expanded
  CHANGELOG-WIP.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/CustomSelect.js
  src/web/assets/garnish/src/DisclosureMenu.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Don't show site selection menus when not necessary
  CHANGELOG-WIP.md
  src/templates/_elements/sitemenu.twig
  src/templates/_layouts/elementindex.twig
  src/templates/globals/_edit.twig
  src/web/CpScreenResponseFormatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Use the existing translation
  src/web/assets/authmethodsetup/AuthMethodSetupAsset.php
  src/web/assets/authmethodsetup/dist/auth.js
  src/web/assets/authmethodsetup/dist/auth.js.map
  src/web/assets/authmethodsetup/src/AuthMethodSetup.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

for f&r job, each batch should have offset set to zero
  src/queue/jobs/FindAndReplace.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests + type issues
  src/Component/Concerns/SavableComponent.php
  src/Field/Data/ColorData.php
  src/Field/Field.php
  src/Field/LinkTypes/Url.php
  src/Field/Money.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/FilesystemsController.php
  src/Http/Controllers/InstallController.php
  src/Http/Controllers/PluginsController.php
  src/Http/Controllers/Settings/SitesController.php
  src/ProjectConfig/Data/ProjectConfigData.php
  src/Section/Sections.php
  src/Site/Data/Site.php
  src/Site/Sites.php
  src/Support/Config.php
  src/Support/Html.php
  src/Support/PHP.php
  src/Translation/Formatter.php
  src/Updates/Data/Update.php
  tests/Support/HtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix rector
  .lintstagedrc.json
  src/Field/PlainText.php
  src/Field/Table.php
  src/License/License.php
  src/Translation/Formatter.php
  src/Updates/Data/Update.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Typecast site properties
  src/Site/Sites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

When toggling between views, hide the sidebar
  resources/js/layout/AppLayout.vue
Due: none

Implement the Craft Support widget
  package.json
  resources/js/Pages/Dashboard.vue
  resources/js/composables/useAxios.ts
  resources/js/cp.ts
  resources/js/widgets/SupportWidget.vue
  resources/js/widgets/support/DeveloperSupportScreen.vue
  resources/js/widgets/support/FeedbackScreen.vue
  resources/js/widgets/support/HelpScreen.vue
  resources/js/widgets/support/SimilarItem.vue
  resources/js/widgets/support/SimilarItems.vue
  resources/js/widgets/support/SupportResources.vue
  resources/templates/_components/widgets/CraftSupport/body.twig
  src/Dashboard/Widgets/CraftSupport.php
  src/Http/Controllers/Dashboard/Widgets/CraftSupportController.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Providers/CraftServiceProvider.php
  tests/Http/Controllers/Dashboard/DashboardControllerTest.php
  tests/Http/Controllers/Dashboard/Widgets/CraftSupportControllerTest.php
  tests/TestCase.php
  tsconfig.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Remove widgetId
  resources/js/Pages/Dashboard.vue
  resources/js/widgets/support/DeveloperSupportScreen.vue
  src/Http/Controllers/Dashboard/Widgets/CraftSupportController.php
  tests/Http/Controllers/Dashboard/Widgets/CraftSupportControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unused variable
  resources/js/widgets/support/DeveloperSupportScreen.vue
Due: none

Update axios to 1.12.2
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Allow address labels to be made optional
  CHANGELOG-WIP.md
  src/elements/Address.php
  src/fieldlayoutelements/addresses/LabelField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Update facade docblocks
  src/Support/Facades/EntryTypes.php
  src/Support/Facades/Sections.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/axios/dist/axios.js
  src/web/assets/axios/dist/axios.js.LICENSE.txt
Due: none

Rector
  src/Component/Contracts/Indicative.php
  src/EntryType/Commands/MergeCommand.php
  src/EntryType/Data/EntryType.php
  src/EntryType/EntryTypeServiceProvider.php
  src/EntryType/EntryTypes.php
  src/EntryType/Events/ApplyingDeleteEntryType.php
  src/EntryType/Events/DeletingEntryType.php
  src/EntryType/Events/EntryTypeDeleted.php
  src/EntryType/Events/EntryTypeSaved.php
  src/EntryType/Events/SavingEntryType.php
  src/EntryType/Models/EntryType.php
  src/Field/Enums/TranslationMethod.php
  src/FieldLayout/Concerns/HasFieldLayout.php
  src/FieldLayout/Models/FieldLayout.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Support/Facades/EntryTypes.php
  tests/EntryType/EntryTypesTest.php
  tests/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup ApplicationTrait
  src/Cms.php
  src/Providers/AppServiceProvider.php
  yii2-adapter/legacy/auth/methods/TOTP.php
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/db/Connection.php
  yii2-adapter/legacy/filters/BasicHttpAuthLogin.php
  yii2-adapter/legacy/filters/BasicHttpAuthStatic.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ignore applicationTrait in ecs as it messes up property hooks
  yii2-adapter/ecs.php
  yii2-adapter/legacy/base/ApplicationTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan
  src/Console/Commands/ClearCachesCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

kebab -> slug
  yii2-adapter/legacy/controllers/EntriesController.php
  yii2-adapter/legacy/elements/Entry.php
  yii2-adapter/legacy/services/ElementSources.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
  yii2-adapter/phpstan.neon
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update PagesTest
  tests/Integration/PagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add deprecations
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/services/Entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move tests
  tests/Entry/EntryTypesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace base entry routes with Laravel routes
  routes/cp.php
  src/Http/Controllers/Entries/EntriesController.php
  yii2-adapter/legacy/config/cproutes/common.php
  yii2-adapter/legacy/controllers/EntriesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
