Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Preserve append HTML ordering
  src/web/assets/cp/src/js/Craft.js
Due: none

Release note
  CHANGELOG.md
Due: none

Add a comment
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore controller and deprecate
  src/controllers/AppController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Updated build CP
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

Inital craft-info-icon
  packages/craftcms-cp/src/components/info-icon/info-icon.stories.ts
  packages/craftcms-cp/src/components/info-icon/info-icon.ts
  packages/craftcms-cp/src/components/visually-hidden/visually-hidden.ts
  packages/craftcms-cp/src/index.ts
  src/Cp/Html/ElementHtml.php
  yii2-adapter/legacy/web/assets/cp/src/js/InfoIcon.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace AdminTable info icon
  resources/js/components/AdminTable/AdminTable.vue
Due: none

Deprecation warning
  yii2-adapter/legacy/web/assets/cp/src/js/InfoIcon.js
Due: none

Only one info-icon at a time
  packages/craftcms-cp/src/components/info-icon/info-icon.stories.ts
  packages/craftcms-cp/src/components/info-icon/info-icon.ts
Due: none

Update link field instructions with new icon
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/src/js/Craft.js
  yii2-adapter/legacy/web/assets/cp/src/js/InfoIcon.js
Due: none

Port Entry Type and Fields index page
  packages/craftcms-cp/src/components/button/button.ts
  packages/craftcms-cp/src/components/spinner/spinner.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/CpLink.vue
  resources/js/composables/useServerPagination.ts
  resources/js/composables/useServerSort.ts
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
  resources/js/types/globals.d.ts
  resources/js/types/index.ts
  routes/cp.php
  src/Cp/Html/ElementHtml.php
  src/Entry/EntryTypes.php
  src/Field/Fields.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  yii2-adapter/legacy/web/assets/cp/src/Craft.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Make things more consistent
  resources/js/components/AdminTable/SearchForm.vue
  resources/js/composables/useServerPagination.ts
  resources/js/composables/useServerSort.ts
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Style "new" buttons
  resources/js/components/CpLink.vue
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
Due: none

Deprecation messages
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Empty state
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
Due: none

Delete entry types
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/EntryTypesController.php
  tests/Feature/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove extra prop
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

CSS grid cp-table
  packages/craftcms-cp/src/styles/shared/base.css
  resources/icons/custom-icons/language.svg
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/types/globals.d.ts
  resources/templates/settings/entry-types/index.twig
Due: prettier --ignore-unknown --write

Minor styling updates
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  src/Entry/EntryTypes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Translation and search icon badges
  packages/craftcms-cp/src/components/icon/icon.ts
  resources/icons/custom-icons/language.svg
  resources/js/pages/SettingsFieldsIndexPage.vue
  src/Http/Controllers/FieldsController.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve styling of usages
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  src/Cp/Html/PreviewHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

A bit more table cleanup
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/AdminTable/AdminTable.vue
Due: prettier --ignore-unknown --write

Initial port of volumes
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/createCraftColumnHelper.ts
  resources/js/composables/useEditableTable.ts
  resources/js/pages/SettingsVolumesIndexPage.vue
  resources/templates/settings/assets/volumes/_index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/VolumesController.php
  tests/Feature/Http/Controllers/Settings/VolumesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reorder volumes
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/createCraftColumnHelper.ts
  resources/js/components/CpLink.vue
  resources/js/components/DropIndicator.vue
  resources/js/components/ReorderButton.vue
  resources/js/composables/useDragAndDrop.ts
  resources/js/composables/useServerSort.ts
  resources/js/pages/SettingsSitesIndex.vue
  resources/js/pages/SettingsVolumesIndexPage.vue
  src/Http/Controllers/Settings/VolumesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Switching out columnHelper for our custom one
  resources/js/components/Empty.vue
  resources/js/components/ReorderButton.vue
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Convert the image transforms page
  packages/craftcms-cp/src/utilities/string.ts
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsImageTransformsIndexPage.vue
  resources/js/pages/SettingsVolumesIndexPage.vue
  resources/templates/settings/assets/transforms/_index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  tests/Feature/Http/Controllers/Settings/ImageTransformsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Filesystems
  resources/js/pages/SettingsFilesystemsIndexPage.vue
  routes/actions.php
  routes/cp.php
  src/Filesystem/Resources/FsResource.php
  src/Http/Controllers/Settings/FilesystemsController.php
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove the old template
  resources/templates/settings/filesystems/_index.twig
Due: none

composer update
  composer.lock
Due: none

pixelandtonic/graphql-php
  CHANGELOG.md
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Finish 4.17.13.1
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.9.20
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port GraphQL Schemas
  resources/js/components/AdminTable/createCraftColumnHelper.ts
  resources/js/pages/GraphQlSchemasPage.vue
  resources/templates/graphql/schemas/_index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Gql/SchemasController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port GraphQL Tokens
  resources/js/components/AdminTable/createCraftColumnHelper.ts
  resources/js/components/Date.vue
  resources/js/pages/GraphQlTokensPage.vue
  routes/actions.php
  routes/cp.php
  src/Cp/Navigation.php
  src/Gql/Resources/GqlTokenResource.php
  src/Http/Controllers/Gql/TokensController.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Automatically cast datetime properties on Component to iso8601 when serializing
  src/Component/Component.php
  src/Support/Typecast.php
  tests/Unit/Component/ComponentTest.php
  tests/Unit/Support/TypecastTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port user groups
  resources/js/pages/SettingsUserGroupsIndexPage.vue
  resources/templates/settings/fields/index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/UserGroupsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  resources/js/types/shims-vue.d.ts
  resources/templates/graphql/tokens/_index.twig
  resources/templates/settings/sections/_index.twig
  resources/templates/settings/users/groups/_index.twig
  src/Cp/Settings.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add `whereNumber` for fields
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup comment
  src/Http/Controllers/Settings/VolumesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
