Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Slovak)
  resources/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Swedish)
  resources/translations/sv/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish)
  resources/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Ukrainian)
  resources/translations/uk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Chinese Simplified)
  resources/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Icelandic)
  resources/translations/is/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Persian)
  resources/translations/fa/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Thai)
  resources/translations/th/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom)
  resources/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada)
  resources/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Norwegian Bokmal)
  resources/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland)
  resources/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French)
  resources/translations/fr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests
  tests/Feature/Database/Migrations/AddLayoutElementUidToSearchindexTest.php
  tests/Feature/Search/SearchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

group as field
  resources/js/modules/forms/GroupNode.vue
  src/Form/Nodes/Group.php
  tests/Unit/Form/GroupFieldAppearanceTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop padding/border on plain chips
  packages/craftcms-ui/src/components/chip/chip.a11y.md
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  resources/js/common/components/CpTopBar.vue
Due: none

Thumbnail cleanup
  packages/craftcms-ui/src/components/thumbnail/thumbnail.styles.ts
  resources/js/pages/assets/Edit.vue
Due: none

Use native nested element controls in HTML forms
  .github/workflows/js-ci.yml
  CHANGELOG.md
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/elements/html-nested-owner.ts
  resources/js/modules/forms/entry-field-layout-form-host.ts
  resources/js/modules/forms/nested-elements/nested-elements-control-host.test.ts
  resources/js/modules/forms/nested-elements/nested-elements-control-host.ts
  resources/js/modules/forms/nested-elements/nested-elements.ts
  src/Element/NestedElementManager.php
  src/Field/Addresses.php
  src/Field/Matrix.php
  src/Form/Controls/NestedElements.php
  src/Form/FormHtmlRenderer.php
  tests/Feature/Element/NestedElementManagerTest.php
  tests/Feature/Field/MatrixEntryTypesForFieldTest.php
  yii2-adapter/constants/Element/Concerns/LegacyNestedElementManager.php
  yii2-adapter/legacy/fields/Addresses.php
  yii2-adapter/legacy/fields/Matrix.php
  yii2-adapter/src/CompatibilityMixins.php
  yii2-adapter/src/Event/EventCompatibility.php
  yii2-adapter/src/Event/NestedElementManagerEventCompatibility.php
  yii2-adapter/src/Mixins/NestedElementManagerMixin.php
  yii2-adapter/tests-laravel/Integration/MatrixFormControlTest.php
  yii2-adapter/tests-laravel/Integration/NestedElementHtmlCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

Use a bundled SVG fixture in legacy manager tests
  yii2-adapter/tests-laravel/Integration/NestedElementHtmlCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed missing internal element card padding
  resources/js/modules/forms/nested-elements/NestedElementsIndex.vue
Due: none

Fix control panel navigation URL resolution
  src/Cp/Navigation.php
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add navigation URL fix to changelog
  CHANGELOG.md
Due: none

Fix Link field label visibility
  resources/js/modules/forms/LinkControl.vue
Due: none

Add changelog entry for Link field label fix
  CHANGELOG.md
Due: none

Fix element selector fields in server-rendered forms
  resources/templates/_includes/forms/elementSelect.twig
  tests/Unit/Cp/FormFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add changelog entry for element selector field fix
  CHANGELOG.md
Due: none

Fix legacy plugin settings model compatibility
  src/Plugin/Contracts/PluginInterface.php
  yii2-adapter/legacy/base/Plugin.php
  yii2-adapter/tests-laravel/Legacy/PluginLifecycleCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add changelog entry for legacy plugin settings fix
  CHANGELOG.md
Due: none

Fix long labels overflowing field layout tabs
  resources/css/fld.css
Due: prettier --ignore-unknown --write

Document field layout label overflow fix
  CHANGELOG.md
Due: none

Fix minimum rows in hidden editable tables
  resources/js/modules/editable-table/editable-table.test.ts
  resources/js/modules/editable-table/editable-table.ts
Due: none

Document hidden table minimum rows fix
  CHANGELOG.md
Due: none

Fix nested HTML form tab scopes
  src/Form/FormHtmlRenderer.php
  tests/Unit/Form/NestedControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add changelog entry for nested HTML form scope fix
  CHANGELOG.md
Due: none

Cancel element autosaves when the editor unmounts
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/composables/useElementEditor.ts
Due: none

Document element autosave cancellation fix
  CHANGELOG.md
Due: none

[6.x] Fix nested HTML form tab scopes (#19816)
  CHANGELOG.md
  src/Form/FormHtmlRenderer.php
  tests/Unit/Form/NestedControlsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Cancel element autosaves when the editor closes (#19817)
  CHANGELOG.md
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/composables/useElementEditor.ts
Due: none
