Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Rebuild Garnish + CP
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.LICENSE.txt
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js.LICENSE.txt
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js.map
Due: prettier --ignore-unknown --write

Rebuild Garnish
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js.map
Due: none

Release note
  CHANGELOG.md
Due: none

Allow passing helpers classes to create()
  CHANGELOG.md
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Sections.php
  src/Support/Facades/SiteGroups.php
  src/Support/Facades/Sites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ElementHelper::cleanseQueryCriteria()
  CHANGELOG.md
  src/controllers/ElementIndexesController.php
  src/helpers/ElementHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-g7j6-fmwx-7vp8
  CHANGELOG.md
  src/controllers/ElementSearchController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 4.17.4
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.9.9
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use an isMysql helper instead of directly comparing driver name
  src/Console/Commands/Setup/DatabaseCredentialsCommand.php
  src/Database/DatabaseServiceProvider.php
  src/Database/Migrations/Install.php
  src/Element/Queries/Concerns/QueriesCustomFields.php
  src/Element/Queries/Concerns/QueriesStructures.php
  src/Element/Queries/ElementQuery.php
  src/Entry/Elements/Entry.php
  src/Field/Field.php
  src/Field/Number.php
  src/Http/Controllers/InstallController.php
  src/Plugin/Plugins.php
  src/ProjectConfig/ProjectConfig.php
  src/Support/Query.php
  tests/Http/Controllers/User/SaveUserController/PublicRegistrationTest.php
  tests/Http/Controllers/User/SaveUserController/RegistrationTest.php
  tests/Http/Controllers/User/SaveUserController/UserEditTest.php
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Entry conditions
  src/Entry/Conditions/AuthorConditionRule.php
  src/Entry/Conditions/AuthorGroupConditionRule.php
  src/Entry/Conditions/EntryCondition.php
  src/Entry/Conditions/ExpiryDateConditionRule.php
  src/Entry/Conditions/FieldConditionRule.php
  src/Entry/Conditions/PostDateConditionRule.php
  src/Entry/Conditions/SavableConditionRule.php
  src/Entry/Conditions/SectionConditionRule.php
  src/Entry/Conditions/TypeConditionRule.php
  src/Entry/Conditions/ViewableConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move base conditions
  src/Condition/BaseCondition.php
  src/Condition/BaseConditionRule.php
  src/Condition/BaseDateRangeConditionRule.php
  src/Condition/BaseElementSelectConditionRule.php
  src/Condition/BaseLightswitchConditionRule.php
  src/Condition/BaseMultiSelectConditionRule.php
  src/Condition/BaseNumberConditionRule.php
  src/Condition/BaseSelectConditionRule.php
  src/Condition/BaseTextConditionRule.php
  src/Condition/ConditionInterface.php
  src/Condition/ConditionRuleInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Asset conditions
  src/Asset/Conditions/AssetCondition.php
  src/Asset/Conditions/DateModifiedConditionRule.php
  src/Asset/Conditions/FileSizeConditionRule.php
  src/Asset/Conditions/FileTypeConditionRule.php
  src/Asset/Conditions/FilenameConditionRule.php
  src/Asset/Conditions/HasAltConditionRule.php
  src/Asset/Conditions/HeightConditionRule.php
  src/Asset/Conditions/SavableConditionRule.php
  src/Asset/Conditions/UploaderConditionRule.php
  src/Asset/Conditions/ViewableConditionRule.php
  src/Asset/Conditions/VolumeConditionRule.php
  src/Asset/Conditions/WidthConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Address conditions
  src/Address/Conditions/AddressCondition.php
  src/Address/Conditions/AddressLine1ConditionRule.php
  src/Address/Conditions/AddressLine2ConditionRule.php
  src/Address/Conditions/AddressLine3ConditionRule.php
  src/Address/Conditions/AdministrativeAreaConditionRule.php
  src/Address/Conditions/CountryConditionRule.php
  src/Address/Conditions/DependentLocalityConditionRule.php
  src/Address/Conditions/FieldConditionRule.php
  src/Address/Conditions/FullNameConditionRule.php
  src/Address/Conditions/LocalityConditionRule.php
  src/Address/Conditions/OrganizationConditionRule.php
  src/Address/Conditions/OrganizationTaxIdConditionRule.php
  src/Address/Conditions/PostalCodeConditionRule.php
  src/Address/Conditions/SortingCodeConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Element conditions
  src/Element/Conditions/Contracts/ElementConditionInterface.php
  src/Element/Conditions/Contracts/ElementConditionRuleInterface.php
  src/Element/Conditions/DateCreatedConditionRule.php
  src/Element/Conditions/DateUpdatedConditionRule.php
  src/Element/Conditions/ElementCondition.php
  src/Element/Conditions/HasDescendantsRule.php
  src/Element/Conditions/HasUrlConditionRule.php
  src/Element/Conditions/HintableConditionRuleTrait.php
  src/Element/Conditions/IdConditionRule.php
  src/Element/Conditions/LanguageConditionRule.php
  src/Element/Conditions/LevelConditionRule.php
  src/Element/Conditions/NotRelatedToConditionRule.php
  src/Element/Conditions/RelatedToConditionRule.php
  src/Element/Conditions/SiteConditionRule.php
  src/Element/Conditions/SiteGroupConditionRule.php
  src/Element/Conditions/SlugConditionRule.php
  src/Element/Conditions/StatusConditionRule.php
  src/Element/Conditions/TitleConditionRule.php
  src/Element/Conditions/UriConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move service
  src/Condition/Conditions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move User conditions
  src/User/Conditions/AdminConditionRule.php
  src/User/Conditions/AffiliatedSiteConditionRule.php
  src/User/Conditions/CredentialedConditionRule.php
  src/User/Conditions/EmailConditionRule.php
  src/User/Conditions/FirstNameConditionRule.php
  src/User/Conditions/GroupConditionRule.php
  src/User/Conditions/LastLoginDateConditionRule.php
  src/User/Conditions/LastNameConditionRule.php
  src/User/Conditions/UserCondition.php
  src/User/Conditions/UsernameConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move field conditions
  src/Field/Conditions/CountryFieldConditionRule.php
  src/Field/Conditions/DateFieldConditionRule.php
  src/Field/Conditions/EmptyFieldConditionRule.php
  src/Field/Conditions/FieldConditionRuleInterface.php
  src/Field/Conditions/FieldConditionRuleTrait.php
  src/Field/Conditions/GeneratedFieldConditionRule.php
  src/Field/Conditions/LightswitchFieldConditionRule.php
  src/Field/Conditions/LinkFieldConditionRule.php
  src/Field/Conditions/MoneyFieldConditionRule.php
  src/Field/Conditions/NumberFieldConditionRule.php
  src/Field/Conditions/OptionsFieldConditionRule.php
  src/Field/Conditions/RelationalFieldConditionRule.php
  src/Field/Conditions/TextFieldConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

entry type > show slug field is a boolean
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Phpstan & cleanup
  src/Address/Elements/Address.php
  src/Asset/Elements/Asset.php
  src/Condition/Conditions.php
  src/Element/Concerns/Queryable.php
  src/Element/Conditions/ElementCondition.php
  src/Element/ElementSources.php
  src/Entry/Elements/Entry.php
  src/Field/BaseRelationField.php
  src/FieldLayout/FieldLayoutComponent.php
  src/FieldLayout/LayoutElements/CustomField.php
  src/User/Elements/User.php
  tests/Element/Concerns/QueryableTest.php
  yii2-adapter/legacy/base/ElementInterface.php
  yii2-adapter/legacy/base/conditions/BaseCondition.php
  yii2-adapter/legacy/controllers/BaseElementsController.php
  yii2-adapter/legacy/controllers/ElementIndexSettingsController.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/legacy/controllers/ElementSearchController.php
  yii2-adapter/legacy/controllers/ElementSelectorModalsController.php
  yii2-adapter/legacy/elements/Category.php
  yii2-adapter/legacy/elements/Tag.php
  yii2-adapter/legacy/elements/conditions/ElementCondition.php
  yii2-adapter/legacy/elements/conditions/HintableConditionRuleTrait.php
  yii2-adapter/legacy/elements/conditions/categories/GroupConditionRule.php
  yii2-adapter/legacy/elements/conditions/tags/GroupConditionRule.php
  yii2-adapter/legacy/fields/conditions/FieldConditionRuleTrait.php
  yii2-adapter/legacy/fields/conditions/GeneratedFieldConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

dotenv being weird
  tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rector
  src/Field/Field.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests
  .agents/skills/testing-guidelines/SKILL.md
  .agents/skills/testing-guidelines/references/testing-guidelines.md
  src/Condition/BaseCondition.php
  src/Condition/BaseMultiSelectConditionRule.php
  src/Condition/Conditions.php
  src/Element/Conditions/ElementCondition.php
  tests/Condition/BaseConditionTest.php
  tests/Condition/BaseDateRangeConditionRuleTest.php
  tests/Condition/BaseLightswitchConditionRuleTest.php
  tests/Condition/BaseMultiSelectConditionRuleTest.php
  tests/Condition/BaseNumberConditionRuleTest.php
  tests/Condition/BaseSelectConditionRuleTest.php
  tests/Condition/BaseTextConditionRuleTest.php
  tests/Condition/ConditionBuilderHtmlTest.php
  tests/Condition/ConditionRuleHtmlTest.php
  tests/Condition/ConditionsServiceTest.php
  tests/Element/Conditions/ElementConditionRulesTest.php
  tests/Element/Conditions/ElementConditionTest.php
  tests/Entry/Conditions/EntryConditionRulesTest.php
  tests/Entry/Conditions/EntryConditionTest.php
  tests/User/Conditions/UserConditionRulesTest.php
  yii2-adapter/tests/unit/conditions/EntryConditionTest.php
  yii2-adapter/tests/unit/conditions/rules/BaseNumberConditionRuleTest.php
  yii2-adapter/tests/unit/conditions/rules/DateCreatedConditionRuleTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rector
  tests/Condition/BaseDateRangeConditionRuleTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy test
  yii2-adapter/tests/unit/helpers/ComponentHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

Only render sidebar children if the sidebar is visible
  resources/js/components/CpSidebar.vue
Due: none

Update facade docblocks
  src/Support/Facades/Addresses.php
  src/Support/Facades/Conditions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixes
  resources/templates/_components/fieldtypes/PlainText/input.twig
  src/Field/Models/ContentBlock.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Phpstan fixes
  src/Field/BaseRelationField.php
  yii2-adapter/legacy/controllers/BaseElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18420
  CHANGELOG.md
  src/web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Always render icons a lil' smaller
  packages/craftcms-cp/src/components/icon/icon.styles.ts
  packages/craftcms-cp/src/components/icon/icon.ts
Due: none

<craft-progress-bar> component
  packages/craftcms-cp/src/components/progress-bar/progress-bar.stories.ts
  packages/craftcms-cp/src/components/progress-bar/progress-bar.styles.ts
  packages/craftcms-cp/src/components/progress-bar/progress-bar.ts
  yii2-adapter/legacy/web/assets/cp/src/js/ProgressBar.js
Due: none

Port Asset Indexes to Inertia
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/services/AssetIndexer.ts
  packages/craftcms-cp/src/styles/shared/base.css
  packages/craftcms-cp/src/types/index.ts
  packages/craftcms-cp/src/utilities/escapeHtml.ts
  resources/js/bootstrap/craft.ts
  resources/js/components/Pane.vue
  resources/js/components/form/CheckboxGroup.vue
  resources/js/components/utilities/AssetIndexes/AssetIndexes.vue
  resources/js/components/utilities/AssetIndexes/IndexingSessions.vue
  resources/js/components/utilities/AssetIndexes/ReviewSessionModal.vue
  resources/js/components/utilities/AssetIndexes/SessionActions.vue
  resources/js/components/utilities/AssetIndexes/SessionProgress.vue
  resources/js/components/utilities/ClearCaches/ClearCaches.vue
  resources/js/composables/useAssetIndexer.ts
  resources/js/types/index.ts
  src/Http/Controllers/Utilities/AssetIndexesController.php
  src/Utility/Utilities/AssetIndexes.php
  yii2-adapter/legacy/models/AssetIndexingSession.php
  yii2-adapter/legacy/services/AssetIndexer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Patch some collection issues
  yii2-adapter/legacy/helpers/Cp.php
  yii2-adapter/legacy/web/twig/CpExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
