Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Inital craft-info-icon
  packages/craftcms-cp/src/components/info-icon/info-icon.stories.ts
  packages/craftcms-cp/src/components/info-icon/info-icon.ts
  packages/craftcms-cp/src/components/visually-hidden/visually-hidden.ts
  packages/craftcms-cp/src/index.ts
  src/Cp/Html/ElementHtml.php
  yii2-adapter/legacy/web/assets/cp/src/js/InfoIcon.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace AdminTable info icon
  resources/js/components/AdminTable/AdminTable.vue
Due: none

Only one info-icon at a time
  packages/craftcms-cp/src/components/info-icon/info-icon.stories.ts
  packages/craftcms-cp/src/components/info-icon/info-icon.ts
Due: none

Deprecation warning
  yii2-adapter/legacy/web/assets/cp/src/js/InfoIcon.js
Due: none

Update link field instructions with new icon
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/src/js/Craft.js
  yii2-adapter/legacy/web/assets/cp/src/js/InfoIcon.js
Due: none

Unset button styles and get to span entire cell
  resources/build/AdminTable.js
  resources/build/assets/AdminTable.css
  resources/js/components/AdminTable/ColumnHeaderTitle.vue
Due: prettier --ignore-unknown --write

Port Entry Type and Fields index page
  packages/craftcms-cp/src/components/button/button.ts
  packages/craftcms-cp/src/components/spinner/spinner.ts
  packages/craftcms-cp/src/styles/form.styles.ts
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/CpLink.vue
  resources/js/composables/useServerPagination.ts
  resources/js/composables/useServerSort.ts
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
  resources/js/types/globals.d.ts
  resources/js/types/index.ts
  routes/cp.php
  src/Cp/Html/ElementHtml.php
  src/Entry/EntryTypes.php
  src/Field/Fields.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  yii2-adapter/legacy/web/assets/cp/src/Craft.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

started on importing into element container fields
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Field/Matrix.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

match existing elements amends
  src/Field/Matrix.php
  src/Import/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

importable content block field (untested - bugs with underlying field atm)
  src/Field/ContentBlock.php
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

one normalizeNestedEntryForImport method
  src/Field/Concerns/ImportableElementContainerField.php
  src/Field/ContentBlock.php
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

pass owner around
  src/Field/Concerns/ImportableElementContainerField.php
  src/Field/ContentBlock.php
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Field/Matrix.php
  src/Import/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

importable addresses field
  src/Field/Addresses.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make things more consistent
  resources/js/components/AdminTable/SearchForm.vue
  resources/js/composables/useServerPagination.ts
  resources/js/composables/useServerSort.ts
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove extra prop
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add emit to title button component and make sorting keyboard accessible
  resources/build/AdminTable.js
  resources/build/assets/AdminTable.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/ColumnHeaderTitle.vue
Due: prettier --ignore-unknown --write

Style "new" buttons
  resources/js/components/CpLink.vue
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
Due: none

Empty state
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsFieldsIndexPage.vue
Due: none

Delete entry types
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/EntryTypesController.php
  tests/Feature/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecation messages
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/SectionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Link column title button to sort instructions
  resources/build/AdminTable.js
  resources/build/assets/AdminTable.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/ColumnHeaderTitle.vue
Due: prettier --ignore-unknown --write

CSS grid cp-table
  packages/craftcms-cp/src/styles/shared/base.css
  resources/icons/custom-icons/language.svg
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/types/globals.d.ts
  resources/templates/settings/entry-types/index.twig
Due: prettier --ignore-unknown --write

Translation and search icon badges
  packages/craftcms-cp/src/components/icon/icon.ts
  resources/icons/custom-icons/language.svg
  resources/js/pages/SettingsFieldsIndexPage.vue
  src/Http/Controllers/FieldsController.php
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

A bit more table cleanup
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/AdminTable/AdminTable.vue
Due: prettier --ignore-unknown --write

Improve styling of usages
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  src/Cp/Html/PreviewHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Minor styling updates
  packages/craftcms-cp/src/components/chip/chip.styles.ts
  src/Entry/EntryTypes.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add title prop to AdminTable, append to sr-only caption
  resources/build/AdminTable.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/assets/AdminTable.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
Due: prettier --ignore-unknown --write

Add explicit button type
  resources/build/AdminTable.js
  resources/build/assets/AdminTable.css
  resources/js/components/AdminTable/ColumnHeaderTitle.vue
Due: prettier --ignore-unknown --write

Initial port of volumes
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/createCraftColumnHelper.ts
  resources/js/composables/useEditableTable.ts
  resources/js/pages/SettingsVolumesIndexPage.vue
  resources/templates/settings/assets/volumes/_index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/VolumesController.php
  tests/Feature/Http/Controllers/Settings/VolumesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reorder volumes
  packages/craftcms-cp/src/styles/shared/base.css
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/components/AdminTable/createCraftColumnHelper.ts
  resources/js/components/CpLink.vue
  resources/js/components/DropIndicator.vue
  resources/js/components/ReorderButton.vue
  resources/js/composables/useDragAndDrop.ts
  resources/js/composables/useServerSort.ts
  resources/js/pages/SettingsSitesIndex.vue
  resources/js/pages/SettingsVolumesIndexPage.vue
  src/Http/Controllers/Settings/VolumesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Switching out columnHelper for our custom one
  resources/js/components/Empty.vue
  resources/js/components/ReorderButton.vue
  resources/js/pages/SettingsEntryTypesIndexPage.vue
  resources/js/pages/SettingsSectionsIndexPage.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Clean up factories
  database/Factories/AddressFactory.php
  database/Factories/Concerns/CreatesElement.php
  database/Factories/EntryFactory.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix query on nested elements
  src/Element/Queries/Concerns/QueriesNestedElements.php
  tests/Feature/Element/Queries/Concerns/QueriesNestedElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update semantic colors in light mode to meet min contrast, toggle vitest runner to error
  packages/craftcms-cp/.storybook/preview.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-wGK97jCw.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-DpHfxayW.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-D3exy0bq.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-DezDYLKE.js
  resources/build/nav-list.ts.js
  resources/build/useFetch.js
Due: prettier --ignore-unknown --write

Add text to variant story table headers
  packages/craftcms-cp/src/stories/tokens/variants.stories.ts
Due: none

Update colors again to maintain appearance of solid colors like yellow/green
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/build/assets/cp.css
Due: prettier --ignore-unknown --write

Show exception.message on error pages
  resources/templates/errors/400.twig
  resources/templates/errors/403.twig
  resources/templates/errors/404.twig
  resources/templates/errors/500.twig
  resources/templates/errors/503.twig
Due: none

Fix asset edit route not falling back to Yii
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Element extends new Component class instead of old
  src/Address/Elements/Address.php
  src/Asset/Elements/Asset.php
  src/Component/Component.php
  src/Cp/FormFields.php
  src/Element/Concerns/HasStatuses.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Http/Controllers/Auth/OAuthController.php
  src/User/Commands/CreateCommand.php
  src/User/Elements/User.php
  src/Validation/Concerns/Validates.php
  src/Validation/Contracts/Validatable.php
  tests/Unit/Cp/FormFieldsTest.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/base/ElementInterface.php
  yii2-adapter/legacy/base/Model.php
  yii2-adapter/src/Mixins/ValidateMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
