Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Remove debug styles
  resources/js/components/form/EntryTypeSelect.vue
Due: none

Add legacy styles
  resources/templates/_layouts/base.twig
Due: none

Build assets
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-C2kVe8rA.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/AdminTable.css
  resources/build/assets/AppLayout.css
  resources/build/assets/SettingsSectionsEditPage.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-EBysIGtV.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-ChCEIDF_.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-Cg7ivPRt.js
  resources/build/nav-list.ts.js
  resources/build/useEditableTable.js
  resources/build/useFetch.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

Rebuild cp asset
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/graphiql/dist/graphiql.js
  yii2-adapter/legacy/web/assets/graphiql/dist/graphiql.js.map
  yii2-adapter/legacy/web/assets/pluginstore/dist/js/app.js
  yii2-adapter/legacy/web/assets/pluginstore/dist/js/app.js.LICENSE.txt
  yii2-adapter/legacy/web/assets/pluginstore/dist/js/app.js.map
Due: prettier --ignore-unknown --write

Deprecate controllers
  yii2-adapter/legacy/controllers/QueueController.php
  yii2-adapter/legacy/controllers/SsoController.php
  yii2-adapter/legacy/controllers/SystemSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

RelationalFieldsController
  routes/actions.php
  src/Http/Controllers/RelationalFieldsController.php
  tests/Feature/Http/Controllers/RelationalFieldsControllerTest.php
  yii2-adapter/legacy/controllers/RelationalFieldsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests
  packages/craftcms-cp/src/utilities/dom.test.ts
  src/Cp/Html/ElementHtml.php
  tests/Unit/Cp/IconsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

No need to port the Upgrade utility to 6
  src/Utility/Utilities/Upgrade.php
  yii2-adapter/legacy/controllers/UpgradeController.php
  yii2-adapter/legacy/utilities/Upgrade.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

cp-colorable -> cp-color
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/shared/colorable.css
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Rework color tokens a bit
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/shared/colorable.css
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add dom.ts tests
  packages/craftcms-cp/src/utilities/dom.test.ts
Due: none

NestedElementsController
  database/Factories/AddressFactory.php
  routes/actions.php
  src/Http/Controllers/NestedElementsController.php
  tests/Feature/Http/Controllers/NestedElementsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move menu styles out of the cp-legacy class
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/cp/src/css/craft.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Paint over javascript error for now
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/src/js/FieldLayoutDesigner.js
  yii2-adapter/legacy/web/assets/cp/src/js/SortableCheckboxSelect.js
Due: none

Explicitly set elements’ return URLs when linked from an index
  src/base/Element.php
  src/controllers/ElementIndexesController.php
  src/controllers/ElementsController.php
  src/controllers/EntryTypesController.php
  src/controllers/FieldsController.php
  src/helpers/Cp.php
  src/helpers/UrlHelper.php
  src/templates/_elements/cardsview/elements.twig
  src/templates/_elements/tableview/elements.twig
  src/templates/_elements/thumbsview/elements.twig
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Http/Controllers/Utilities/UtilitiesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  tests/Feature/Http/Controllers/App/HealthCheckControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix the HUD styling
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/cp/src/css/_hud.scss
  yii2-adapter/legacy/web/assets/cp/src/css/_main.scss
  yii2-adapter/legacy/web/assets/cp/src/css/craft.scss
  yii2-adapter/legacy/web/assets/cp/src/js/FieldLayoutDesigner.js
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js
  yii2-adapter/legacy/web/assets/garnish/dist/garnish.js.map
  yii2-adapter/legacy/web/assets/matrix/dist/MatrixInput.js
  yii2-adapter/legacy/web/assets/matrix/dist/MatrixInput.js.map
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix test
  tests/Unit/View/HtmlStackTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

EntryTypeResource cleanup
  resources/js/components/form/EntryTypeSelect.vue
  resources/js/pages/SettingsSectionsEditPage.vue
  src/Entry/Resources/EntryTypeResource.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix icon picker
  resources/js/bootstrap/cp.ts
  resources/js/components/form/EntryTypeSelect.vue
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/cp/src/css/_icon-picker.scss
  yii2-adapter/legacy/web/assets/cp/src/css/_main.scss
  yii2-adapter/legacy/web/assets/cp/src/css/craft.scss
  yii2-adapter/legacy/web/assets/cp/src/js/IconPicker.js
  yii2-adapter/legacy/web/assets/tailwindreset/src/tailwind_reset.css
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Cleanup markup
  src/Cp/Html/ElementHtml.php
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/cp/src/css/_color-palette.scss
  yii2-adapter/legacy/web/assets/cp/src/css/_compat.scss
  yii2-adapter/legacy/web/assets/cp/src/css/_tokens.scss
  yii2-adapter/legacy/web/assets/cp/src/css/_variables.scss
  yii2-adapter/legacy/web/assets/cp/src/css/craft.scss
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Cleanup
  resources/js/bootstrap/cp.ts
  resources/js/components/DragShadow.vue
Due: none

Deleted _variables.scss a bit too early
  yii2-adapter/legacy/web/assets/cp/src/css/_variables.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Build
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
Due: none

Maintain the return URL for alternative Save actions
  src/base/Element.php
  src/controllers/ElementsController.php
  src/web/Controller.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Maintain the return URL for revision revert actions
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

TemplatesController
  src/Config/GeneralConfig.php
  yii2-adapter/legacy/config/GeneralConfig.php
  yii2-adapter/legacy/controllers/TemplatesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix filesystem errors and state not being shown when saving
  resources/templates/settings/filesystems/_edit.twig
  routes/cp.php
  src/Filesystem/Filesystems/Local.php
  src/Http/RespondsWithFlash.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove controller
  yii2-adapter/legacy/config/app.web.php
  yii2-adapter/legacy/controllers/TemplatesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix custom error page rendering when in CP
  resources/templates/errors/400.twig
  resources/templates/errors/403.twig
  resources/templates/errors/404.twig
  resources/templates/errors/500.twig
  resources/templates/errors/503.twig
  src/View/TwigEngine.php
  src/View/ViewServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ensure web middleware for session test
  tests/Feature/Http/RespondsWithFlashTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add locking
  AGENTS.md
  tests/Support/DatabaseLock.php
  tests/TestCase.php
  yii2-adapter/tests-laravel/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make sure web middleware is active
  tests/Feature/Http/RespondsWithFlashTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
Due: none

Fix legacy behavior test
  yii2-adapter/src/Behavior/LegacyBehaviorCatalog.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix review comments
  src/Deprecator/Deprecator.php
  src/Http/Controllers/Assets/UploadController.php
  yii2-adapter/legacy/utilities/Upgrade.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix login
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/dist/cp.js.map
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css
  yii2-adapter/legacy/web/assets/cp/dist/css/cp.css.map
  yii2-adapter/legacy/web/assets/cp/src/css/_login.scss
  yii2-adapter/legacy/web/assets/cp/src/css/craft.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
