Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Extract shared resolveElement/queryAll + jq() helpers
  resources/js/common/utils/dom.ts
  resources/js/common/utils/jquery.ts
  resources/js/modules/auth/elevated-session/elevated-session-form.ts
  resources/js/modules/field-toggle/field-toggle.ts
  resources/js/modules/form-observer/form-observer.ts
  resources/js/modules/matrix/interop.ts
Due: none

Replace per-module Craft-global boilerplate with registerCraftGlobals
  resources/js/common/craft-global.ts
  resources/js/modules/auth-method-setup/index.ts
  resources/js/modules/auth/components/auth-challenge-form.ts
  resources/js/modules/auth/elevated-session/index.ts
  resources/js/modules/editable-table/index.ts
  resources/js/modules/field-layout-designer/index.ts
  resources/js/modules/field-toggle/index.ts
  resources/js/modules/form-observer/index.ts
  resources/js/modules/generated-fields/index.ts
  resources/js/modules/grouped-entry-type-manager/index.ts
  resources/js/modules/input-generators/index.ts
  resources/js/modules/interval-manager/index.ts
  resources/js/modules/listbox/index.ts
  resources/js/modules/matrix/index.ts
  resources/js/modules/queue/index.ts
  resources/js/modules/slideout/index.ts
  resources/js/modules/sortable-checkbox-select/index.ts
Due: none

Port Craft.EntryMover onto the modern garnish Modal (modal-substrate pilot)
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/EntryMover.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/entry-mover/entry-mover.ts
  resources/js/modules/entry-mover/index.ts
Due: none

Add playwright tests pointed at workbench
  packages/craftcms-playwright/src/playwright/config/global-setup.js
  resources/js/common/components/SecondaryNav.vue
  resources/js/common/form/CraftCombobox.vue
  resources/js/pages/settings/General.vue
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/SessionInfoController.php
  tests-playwright/README.md
  tests-playwright/tests/account/index.test.js
  tests-playwright/tests/account/profile.test.js
  tests/Feature/Http/Controllers/Auth/LoginControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port Craft.PromptHandler onto the modern garnish Modal
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/PromptHandler.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/prompt-handler/index.ts
  resources/js/modules/prompt-handler/prompt-handler.ts
Due: none

Use a semantic button if there is no href (nav item)
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Sort lines
  CHANGELOG-5.11.md
Due: none

Move queue routes
  resources/js/modules/utilities/components/queue-manager/QueueManagerToolbar.vue
  resources/js/modules/utilities/components/queue-manager/ReleaseJobButton.vue
  resources/js/modules/utilities/components/queue-manager/RetryJobButton.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/QueueController.php
  tests/Feature/Http/Controllers/QueueControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move last section route
  resources/js/modules/sections/components/DeleteSectionButton.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/SectionsController.php
  tests/Feature/Http/Controllers/Settings/SectionsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

reorderNestedElements()
  CHANGELOG-5.11.md
  src/controllers/NestedElementsController.php
  src/services/Elements.php
  tests/unit/services/ElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move utility routes
  packages/craftcms-legacy/dbbackup/src/DbBackupUtility.js
  packages/craftcms-legacy/dbbackup/webpack.config.js
  packages/craftcms-legacy/deprecationerrors/src/deprecator.js
  packages/craftcms-legacy/deprecationerrors/src/deprecator.scss
  packages/craftcms-legacy/deprecationerrors/src/images/spinner_big.gif
  packages/craftcms-legacy/deprecationerrors/src/images/spinner_big_2x.gif
  packages/craftcms-legacy/deprecationerrors/webpack.config.js
  resources/js/modules/utilities/components/deprecation-errors/DeleteLogButton.vue
  resources/js/modules/utilities/components/deprecation-errors/DeprecationErrorsToolbar.vue
  resources/js/modules/utilities/components/deprecation-errors/StackTrace.vue
  routes/actions.php
  routes/cp.php
  src/View/LegacyAssets/DbBackupAsset.php
  src/View/LegacyAssets/DeprecationErrorsAsset.php
  yii2-adapter/legacy/web/assets/dbbackup/DbBackupAsset.php
  yii2-adapter/legacy/web/assets/deprecationerrors/DeprecationErrorsAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add url support to slideout
  resources/js/modules/slideout/cp-screen-slideout.ts
  resources/js/modules/slideout/slideout.ts
Due: none

Move filesystem routes
  resources/js/pages/settings/filesystems/Edit.vue
  resources/templates/_includes/forms/fs.twig
  routes/actions.php
  routes/cp.php
  src/Asset/Elements/Asset.php
  src/Http/Controllers/Settings/FilesystemsController.php
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port Craft.ui.createCopyTextPrompt onto craft-dialog + craft-copy-button
  packages/craftcms-legacy/cp/src/js/UI.js
  packages/craftcms-ui/src/factory/create-copy-text-prompt.ts
  packages/craftcms-ui/src/factory/factory.test.ts
  packages/craftcms-ui/src/factory/index.ts
Due: none

Make button/link an inner child of nav item rather than parent
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Switch aside to div
  resources/js/common/layouts/AppLayout.vue
Due: none

Add translation for secondary navigation, use as nav label for consistency with skip link label
  resources/js/pages/content/Index.vue
  resources/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port the Craft.LinkField / Craft.LinkInput pair out of the legacy bundle
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/LinkField.js
  packages/craftcms-legacy/cp/src/js/LinkInput.js
  resources/js/common/types/punycode.d.ts
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/link-field/index.ts
  resources/js/modules/link-field/link-field.ts
  resources/js/modules/link-field/link-input.ts
Due: none

fix existing import tests following PR 19247
  tests/Feature/Import/ImportAddressFieldTest.php
  tests/Feature/Import/ImportContentBlockFieldTest.php
  tests/Feature/Import/ImportCustomFieldsTest.php
  tests/Feature/Import/ImportHelperTest.php
  tests/Feature/Import/ImportMatrixFieldTest.php
  tests/Feature/Import/ImportNestedContentTest.php
  tests/Feature/Import/ImportRelationFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bug fixes
  src/Asset/Elements/Asset.php
  src/Import/Transformers/EntryTransformer.php
  src/Support/Path.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

new tests
  tests/Feature/Import/ElementImporterTest.php
  tests/Feature/Import/ImportAssetTest.php
  tests/Feature/Import/ImportEntryTest.php
  tests/Feature/Support/PathTest.php
  tests/Unit/Asset/AssetsHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update to Pest 5
  .github/workflows/laravel-ci.yml
  composer.json
  composer.lock
  tests/Feature/User/UsersTest.php
  yii2-adapter/composer.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

more bug fixes
  resources/templates/import/configs/_map.twig
  src/Asset/Elements/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

prevent filename conflicts
  src/Asset/Elements/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

don't map on non null values
  src/Import/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

import functionality should log to a separate channel
  src/Http/Controllers/Import/ImportRunController.php
  src/Import/Import.php
  src/Import/ImportServiceProvider.php
  src/Import/Importer.php
  src/Import/Jobs/Import.php
  src/Support/Facades/Importer.php
  tests/Unit/Import/ImporterTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

update/action some todos
  src/Asset/Elements/Asset.php
  src/Field/Concerns/ImportableElementContainerField.php
  src/Field/Matrix.php
  src/FieldLayout/LayoutElements/Users/UsernameField.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Http/Controllers/Import/ImportRunController.php
  src/Import/Commands/Element.php
  src/Import/Data/ImportRun.php
  src/Import/DataTypes/Xml.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace Imagine with Intervention Image
  .github/actions/run-tests/action.yml
  .github/workflows/laravel-ci.yml
  CHANGELOG.md
  composer.json
  composer.lock
  src/Asset/Enums/FileKind.php
  src/Config/GeneralConfig.php
  src/Cp/Cp.php
  src/Dashboard/Widgets/CraftSupport.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  src/Image/Enums/ImageDriver.php
  src/Image/Enums/ImageTransformFormat.php
  src/Image/ImageHelper.php
  src/Image/ImageTransformHelper.php
  src/Image/Images.php
  src/Image/Raster.php
  src/Support/Facades/Images.php
  src/Utility/Utilities/SystemReport.php
  tests/Feature/Image/Data/ImageTransformTest.php
  tests/Feature/Image/ImageDriversTest.php
  tests/Feature/Image/ImagesTest.php
  tests/Feature/Image/RasterTest.php
  yii2-adapter/composer.lock
  yii2-adapter/legacy/services/Images.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix Vips driver import
  src/Image/Images.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Verify encoded format output
  src/Image/Images.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Nest the checkbox’s always-post hidden input in the host
  packages/craftcms-ui/src/components/checkbox/checkbox.test.ts
  src/Cp/Components/Checkbox.php
  tests/Unit/Cp/Components/CheckboxTest.php
  tests/Unit/Cp/FormFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

back to forms.checkboxField
  resources/templates/import/configs/_map.twig
Due: none

Type BaseRelationField::getEagerLoadingMap()’s return
  src/Field/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove the dead Craft.DeleteUserModal class
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/DeleteUserModal.js
  yii2-adapter/legacy/web/assets/cpcompat/cp-compat.js
Due: none

Port Craft.CpModal onto the modern garnish Modal (subclass form)
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/CpModal.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/cp-modal/cp-modal.ts
  resources/js/modules/cp-modal/index.ts
Due: none

Fix Utility pages not rendering
  CHANGELOG.md
  resources/js/modules/slideout/slideout.ts
  src/Http/Controllers/Utilities/UtilitiesController.php
  tests/Feature/Integration/UtilityPageAssetsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Link PR in changelog entry
  CHANGELOG.md
Due: none

Build the slideout live region without jQuery
  resources/js/modules/slideout/slideout.ts
Due: none

Port Craft.Tabs out of the legacy jQuery bundle
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/Tabs.js
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/tabs/index.ts
  resources/js/modules/tabs/tabs.ts
Due: none

Fix multi-site action URL resolution in actionClient
  packages/craftcms-ui/src/utilities/api/actionClient.test.ts
  packages/craftcms-ui/src/utilities/api/actionClient.ts
  packages/craftcms-ui/vitest.config.ts
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
