Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Move class
  src/Element/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix failing tests
  src/User/Elements/User.php
  yii2-adapter/legacy/services/Assets.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make loadProvisionalChanges() defensive for non-settable attributes
  CHANGELOG.md
  src/helpers/ElementHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan issues
  src/Database/Queries/AddressQuery.php
  src/Database/Queries/AssetQuery.php
  src/Database/Queries/ElementQuery.php
  src/Http/Controllers/Entries/MoveEntryToSectionController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace Element classes in js files
  yii2-adapter/legacy/web/assets/cp/dist/cp.js
  yii2-adapter/legacy/web/assets/cp/src/js/AssetImageEditor.js
  yii2-adapter/legacy/web/assets/cp/src/js/AssetIndex.js
  yii2-adapter/legacy/web/assets/cp/src/js/AssetSelectInput.js
  yii2-adapter/legacy/web/assets/cp/src/js/AssetSelectorModal.js
  yii2-adapter/legacy/web/assets/cp/src/js/ContentBlockEditor.js
  yii2-adapter/legacy/web/assets/cp/src/js/DeleteUserModal.js
  yii2-adapter/legacy/web/assets/cp/src/js/EntryIndex.js
  yii2-adapter/legacy/web/assets/cp/src/js/EntrySelectInput.js
  yii2-adapter/legacy/web/assets/cp/src/js/UserIndex.js
  yii2-adapter/legacy/web/assets/cp/src/js/VolumeFolderSelectorModal.js
  yii2-adapter/legacy/web/assets/matrix/dist/MatrixInput.js
  yii2-adapter/legacy/web/assets/matrix/src/MatrixInput.js
Due: none

Update facade docblocks
  src/Support/Facades/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ability to delete site from Edit page
  resources/js/components/DeleteSiteButton.vue
  resources/js/components/DeleteSiteModal.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
  src/Http/Controllers/Settings/SitesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix some type errors
  resources/js/components/CpGlobalSidebar.ts
  tsconfig.json
Due: prettier --ignore-unknown --write

Style "New site" button
  resources/js/components/CpLink.vue
  resources/js/pages/SettingsSitesIndex.vue
  routes/cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hungarian) [ci skip]
  src/translations/hu/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add title to modals
  resources/js/components/DeleteSiteButton.vue
  resources/js/components/DeleteSiteModal.vue
  resources/js/components/ModalForm.vue
  resources/js/components/Pane.vue
  resources/js/pages/SettingsSitesEdit.vue
Due: none

Cleanup styles
  packages/craftcms-cp/src/components/switch/switch.ts
  resources/js/components/InputCombobox.vue
  resources/js/components/SiteFields.vue
Due: none

New translations app.php (Dutch) [ci skip]
  src/translations/nl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ElementCollection
  src/Element/ElementCollection.php
  tests/Element/ElementCollectionTest.php
  yii2-adapter/tests/unit/elements/ElementCollectionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix enabled/disable
  resources/js/components/SiteFields.vue
Due: none

Alias ElementCollection
  src/Dashboard/Widgets/RecentEntries.php
  src/Database/Queries/ElementQuery.php
  src/Database/Queries/EntryQuery.php
  src/Element/Element.php
  src/Element/ElementCollection.php
  src/Field/Addresses.php
  src/Field/Assets.php
  src/Field/BaseRelationField.php
  src/Field/ContentBlock.php
  src/Field/Entries.php
  src/Field/Matrix.php
  src/Field/Users.php
  src/User/Elements/User.php
  tests/Database/Queries/Concerns/QueriesEagerlyTest.php
  tests/Database/Queries/ElementQueryTest.php
  yii2-adapter/legacy/base/ElementInterface.php
  yii2-adapter/legacy/controllers/MatrixController.php
  yii2-adapter/legacy/controllers/NestedElementsController.php
  yii2-adapter/legacy/elements/ElementCollection.php
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/elements/db/ElementQueryInterface.php
  yii2-adapter/legacy/fields/BaseRelationField.php
  yii2-adapter/legacy/fields/Categories.php
  yii2-adapter/legacy/fields/Tags.php
  yii2-adapter/legacy/fields/conditions/RelationalFieldConditionRule.php
  yii2-adapter/legacy/gql/base/ElementResolver.php
  yii2-adapter/legacy/gql/resolvers/elements/Asset.php
  yii2-adapter/legacy/gql/resolvers/elements/Category.php
  yii2-adapter/legacy/gql/resolvers/elements/Entry.php
  yii2-adapter/legacy/gql/resolvers/elements/GlobalSet.php
  yii2-adapter/legacy/gql/resolvers/elements/Tag.php
  yii2-adapter/legacy/gql/resolvers/elements/User.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Test fixes & cleanup
  src/Database/Queries/Concerns/LegacyMethods.php
  src/Database/Queries/ElementQuery.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  tests/Element/ElementCollectionTest.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/src/Mixins/ElementQueryMixin.php
  yii2-adapter/src/Mixins/UserMixin.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Mixins/ElementQueryMixinTest.php
  yii2-adapter/tests/unit/elements/db/ElementQueryTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix field values
  resources/js/components/InputCombobox.vue
  resources/js/components/SiteFields.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/types/index.ts
Due: none

phpstan fixes
  src/Asset/Commands/Concerns/IndexesAssets.php
  src/Config/GeneralConfig.php
  src/Dashboard/Widgets/MyDrafts.php
  src/Database/Queries/ElementQuery.php
  src/Element/Element.php
  src/Element/ElementCollection.php
  src/Section/Sections.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/legacy/elements/NestedElementManager.php
  yii2-adapter/src/Mixins/ElementQueryMixin.php
  yii2-adapter/src/Mixins/UserMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Prettier??
  yii2-adapter/legacy/web/assets/cp/src/js/AssetImageEditor.js
  yii2-adapter/legacy/web/assets/cp/src/js/AssetIndex.js
  yii2-adapter/legacy/web/assets/cp/src/js/ContentBlockEditor.js
  yii2-adapter/legacy/web/assets/cp/src/js/EntryIndex.js
  yii2-adapter/legacy/web/assets/cp/src/js/EntrySelectInput.js
  yii2-adapter/legacy/web/assets/cp/src/js/UserIndex.js
  yii2-adapter/legacy/web/assets/matrix/src/MatrixInput.js
Due: none

Visual cleanup and inertia links
  packages/craftcms-cp/src/components/callout/callout.styles.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/js/components/Badge.vue
  resources/js/components/Breadcrumbs.vue
  resources/js/components/CpLink.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
  resources/js/types/globals.d.ts
Due: prettier --ignore-unknown --write

Fix vue warnings
  resources/js/components/CpLink.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Harden UsersController actions
  CHANGELOG-WIP.md
  CHANGELOG.md
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use requireElevatedSession()
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace group rename combobox
  resources/js/components/InputCombobox.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Prettier
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Fixed GHSA-2xfc-g69j-x2mp, part 2
  CHANGELOG.md
  src/controllers/ElementIndexesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update table styles a bit
  resources/js/components/AdminTable/AdminTable.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none

Hook up empty state "new site" button
  resources/js/pages/SettingsSitesIndex.vue
Due: none

changelog
  CHANGELOG-WIP.md
  CHANGELOG.md
Due: none

Fixed an error that occurred if there was orphaned revision data
  CHANGELOG.md
  src/services/Revisions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix for offset without limit
  src/Database/Queries/ElementQuery.php
  tests/Database/Queries/ElementQueryTest.php
  tests/Element/ElementCollectionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Return type & test fixes
  src/Database/Queries/ElementQuery.php
  tests/Database/Queries/Concerns/FormatsResultsTest.php
  tests/Database/Queries/Concerns/User/QueriesUserPropertiesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ElementQueryInterface
  src/Database/Queries/Contracts/ElementQueryInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada) [ci skip]
  src/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More phpstan fixes
  src/Database/Queries/Concerns/HydratesElements.php
  src/Database/Queries/Contracts/ElementQueryInterface.php
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/legacy/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
