Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Cleanup
  src/base/MemoizableArray.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

onlyContains -> every
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make ::merge() more readable
  src/helpers/Arr.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

require laravel/framework
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Updated dutch translation for "Critical", in this context it should not be used as an adjective in dutch.
  src/translations/nl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Corrected French Canadian translations for 'Upload' (fixes #17205)
  src/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  src/gql/types/input/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert twig multisort
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add ->toArray() to Arr helper, remove instances of ArrayHelper::toArray()
  src/db/QueryParam.php
  src/helpers/Arr.php
  src/helpers/Db.php
  src/helpers/ImageTransforms.php
  tests/unit/helpers/ArrTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix: route delete button pointer cursor
  src/web/assets/routes/src/routes.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Move Arr helper to new namespace
  bootstrap/bootstrap.php
  cms/src/Support/Arr.php
  composer.json
  src/Craft.php
  src/auth/sso/BaseExternalProvider.php
  src/auth/sso/mapper/IdpAttributeUserMapper.php
  src/auth/sso/mapper/MapFactory.php
  src/base/Element.php
  src/base/LogTargetTrait.php
  src/base/Plugin.php
  src/base/conditions/BaseCondition.php
  src/base/conditions/BaseElementSelectConditionRule.php
  src/base/conditions/BaseMultiSelectConditionRule.php
  src/console/controllers/EntrifyController.php
  src/console/controllers/EntryTypesController.php
  src/console/controllers/MigrateController.php
  src/console/controllers/SectionsController.php
  src/console/controllers/SetupController.php
  src/console/controllers/UsersController.php
  src/controllers/AppController.php
  src/controllers/AssetsController.php
  src/controllers/ConditionsController.php
  src/controllers/ConfigSyncController.php
  src/controllers/DashboardController.php
  src/controllers/ElementIndexSettingsController.php
  src/controllers/ElementIndexesController.php
  src/controllers/ElementsController.php
  src/controllers/EntryTypesController.php
  src/controllers/FieldsController.php
  src/controllers/FsController.php
  src/controllers/GraphqlController.php
  src/controllers/InstallController.php
  src/controllers/SystemSettingsController.php
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

feat(gql): allow querying of single SectionEntryUnion
  src/gql/queries/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run CI on 6.x-internal
  .github/workflows/ci.yml
Due: none

composer update
  composer.lock
Due: none

Fix `@deprecated` message
  src/helpers/ArrayHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release notes
  CHANGELOG-WIP.md
Due: none

Get tests working
  cms/phpunit.xml.dist
  cms/src/Providers/LegacyCraftServiceProvider.php
  cms/tests/Pest.php
  composer.json
  composer.lock
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Move Arr helper tests
  .gitignore
  cms/phpunit.xml.dist
  cms/src/Providers/LegacyCraftServiceProvider.php
  cms/tests/ExampleTest.php
  cms/tests/Support/ArrTest.php
  composer.json
  tests/unit/helpers/ArrTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Sessions & auth through Laravel
  cms/routes/web.php
  cms/src/Providers/LegacyCraftServiceProvider.php
  cms/src/Yii/Web/Request.php
  cms/src/Yii/Web/Session.php
  cms/src/Yii/Web/User.php
  src/helpers/App.php
  src/web/Session.php
  src/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

csrf doesn't work yet
  cms/routes/web.php
  cms/src/Yii/Web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add missing flash counter update
  cms/src/Yii/Web/Session.php
  src/helpers/App.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Larastan
  composer.json
  composer.lock
  phpstan.neon
Due: prettier --ignore-unknown --write

Add a password reset cooldown to prevent the possibility of exploiting the password reset function
  src/config/GeneralConfig.php
  src/services/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix code format
  src/config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Do not throw an exception when a password reset cooldown is active
  src/services/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup some of the Yii bridge classes
  cms/phpunit.xml.dist
  cms/src/Yii/Container.php
  cms/src/Yii/DatabaseConnection.php
  cms/src/Yii/Web/Request.php
  cms/src/Yii/Web/Session.php
  cms/src/Yii/Web/User.php
  composer.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Test setup fixes
  cms/src/Providers/LegacyCraftServiceProvider.php
  cms/tests/TestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move all alias calls to Aliases facade
  cms/src/Providers/LegacyCraftServiceProvider.php
  cms/src/Yii/LegacyMiddleware.php
  composer.json
  composer.lock
  lib/yii2/Yii.php
  src/Craft.php
  src/utilities/SystemReport.php
  src/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Re-add icon alias transformation
  src/Craft.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix request not recognizing namespace
  cms/routes/web.php
  cms/src/Http/Middleware/ExtractNamespace.php
  cms/src/Providers/AppServiceProvider.php
  cms/src/Yii/Web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move Yii adapter classes to separate package
  bootstrap/bootstrap.php
  cms/routes/web.php
  cms/src/Console/CraftCommand.php
  cms/src/Providers/CraftServiceProvider.php
  cms/src/Providers/LegacyCraftServiceProvider.php
  cms/src/Yii/Cache.php
  cms/src/Yii/Container.php
  cms/src/Yii/DatabaseConnection.php
  cms/src/Yii/LegacyMiddleware.php
  cms/src/Yii/Localization.php
  cms/src/Yii/Log/LogTarget.php
  cms/src/Yii/Log/LogTrait.php
  cms/src/Yii/Log/Logger.php
  cms/src/Yii/Web/DummyResponse.php
  cms/src/Yii/Web/Request.php
  cms/src/Yii/Web/Response.php
  cms/src/Yii/Web/Session.php
  cms/src/Yii/Web/User.php
  cms/tests/TestCase.php
  composer.json
  composer.lock
  src/config/app.php
  src/helpers/App.php
  src/web/Controller.php
  src/web/Session.php
  src/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add extra parameters to DB config for legacy craft
  src/helpers/App.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make installcontroller work with other database connection class
  src/controllers/InstallController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Get phpstan bootstrap working
  phpstan.neon
  src/test/TestSetup.php
  tests/_bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

require_once as Craft can already be loaded when fetched through the Laravel container
  src/test/TestSetup.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run Pint on /cms
  cms/.lintstagedrc.json
  cms/config/general.php
  cms/config/redirects.php
  cms/config/routes.php
  cms/routes/web.php
  cms/src/Craft.php
  cms/src/Providers/AppServiceProvider.php
  cms/src/Support/Arr.php
  cms/tests/Support/ArrTest.php
  cms/tests/TestCase.php
  composer.json
  composer.lock
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add Laravel to version info
  src/utilities/SystemReport.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
