Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Rector wants short closures
  src/Config/ConfigServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove ElementResizeDetectorAsset
  yii2-adapter/legacy/web/assets/elementresizedetector/ElementResizeDetectorAsset.php
  yii2-adapter/legacy/web/assets/garnish/GarnishAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove PicturefillAsset
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/legacy/web/assets/picturefill/PicturefillAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove FocusVisibleAsset
  yii2-adapter/legacy/web/assets/focusvisible/FocusVisibleAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix `getPublishedUrl` calls
  src/Dashboard/Widgets/Widget.php
  yii2-adapter/legacy/base/Widget.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Build
  packages/craftcms-asset-bundles/bundles/d3/webpack.config.js
  packages/craftcms-asset-bundles/bundles/graphiql/dist/graphiql.js
  packages/craftcms-asset-bundles/bundles/graphiql/dist/graphiql.js.map
Due: none

Customizable page icons
  src/controllers/ElementIndexSettingsController.php
  src/services/ElementSources.php
  src/services/ProjectConfig.php
  src/templates/_layouts/components/global-sidebar.twig
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
  src/web/assets/cp/src/js/IconPicker.js
  src/web/assets/cp/src/js/UI.js
  src/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Replace all usages of ->getI18n
  src/Plugin/Concerns/HasTranslations.php
  src/Plugin/Contracts/PluginInterface.php
  src/SystemMessage/SystemMessages.php
  src/Translation/I18N.php
  src/helpers.php
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/base/Plugin.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/elements/conditions/LanguageConditionRule.php
  yii2-adapter/legacy/validators/LanguageValidator.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace Locale
  src/Field/Date.php
  src/Field/Number.php
  src/Field/Time.php
  src/Shared/Rules/TimeRule.php
  src/Translation/I18N.php
  src/Translation/Locale.php
  src/Utility/Utilities/AssetIndexes.php
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/controllers/AssetIndexesController.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/elements/conditions/LanguageConditionRule.php
  yii2-adapter/legacy/gql/directives/FormatDateTime.php
  yii2-adapter/legacy/helpers/App.php
  yii2-adapter/legacy/helpers/DateTimeHelper.php
  yii2-adapter/legacy/helpers/ElementHelper.php
  yii2-adapter/legacy/helpers/Localization.php
  yii2-adapter/legacy/i18n/I18N.php
  yii2-adapter/legacy/i18n/Locale.php
  yii2-adapter/legacy/models/Site.php
  yii2-adapter/legacy/test/TestSetup.php
  yii2-adapter/legacy/validators/DateTimeValidator.php
  yii2-adapter/legacy/validators/TimeValidator.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/legacy/web/assets/d3/D3Asset.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace usage of Translation helper
  src/Announcement/Announcements.php
  src/Field/Matrix.php
  src/Translation/FormatConverter.php
  src/Translation/I18N.php
  src/Translation/Locale.php
  yii2-adapter/legacy/base/Plugin.php
  yii2-adapter/legacy/i18n/FormatConverter.php
  yii2-adapter/legacy/i18n/MessageFormatter.php
  yii2-adapter/legacy/i18n/PhpMessageSource.php
  yii2-adapter/legacy/i18n/Translation.php
  yii2-adapter/legacy/imagetransforms/ImageTransformer.php
  yii2-adapter/legacy/queue/BaseBatchedJob.php
  yii2-adapter/legacy/queue/Queue.php
  yii2-adapter/legacy/queue/jobs/Announcement.php
  yii2-adapter/legacy/queue/jobs/ApplyNewPropagationMethod.php
  yii2-adapter/legacy/queue/jobs/FindAndReplace.php
  yii2-adapter/legacy/queue/jobs/GenerateImageTransform.php
  yii2-adapter/legacy/queue/jobs/GeneratePendingTransforms.php
  yii2-adapter/legacy/queue/jobs/LocalizeRelations.php
  yii2-adapter/legacy/queue/jobs/PropagateElements.php
  yii2-adapter/legacy/queue/jobs/PruneRevisions.php
  yii2-adapter/legacy/queue/jobs/ResaveElements.php
  yii2-adapter/legacy/queue/jobs/UpdateElementSlugsAndUris.php
  yii2-adapter/legacy/queue/jobs/UpdateSearchIndex.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/legacy/services/Entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Formatting, phpstan, ...
  src/Translation/I18N.php
  src/Translation/Locale.php
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/base/Plugin.php
  yii2-adapter/legacy/controllers/AssetIndexesController.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/elements/conditions/LanguageConditionRule.php
  yii2-adapter/legacy/gql/directives/FormatDateTime.php
  yii2-adapter/legacy/helpers/App.php
  yii2-adapter/legacy/helpers/DateTimeHelper.php
  yii2-adapter/legacy/helpers/ElementHelper.php
  yii2-adapter/legacy/helpers/Localization.php
  yii2-adapter/legacy/i18n/I18N.php
  yii2-adapter/legacy/i18n/Translation.php
  yii2-adapter/legacy/models/Site.php
  yii2-adapter/legacy/test/TestSetup.php
  yii2-adapter/legacy/validators/LanguageValidator.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/legacy/web/assets/d3/D3Asset.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate LocalizationHelper
  src/Config/GeneralConfig.php
  src/Console/Commands/Install/InstallCommand.php
  src/Translation/I18N.php
  tests/Translation/I18NTest.php
  yii2-adapter/legacy/helpers/Localization.php
  yii2-adapter/legacy/validators/LanguageValidator.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
  yii2-adapter/tests/unit/helpers/LocalizationHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

clear our the slug when saving as new
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

clear out the slug when saving as new
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

prepare for eager loading only if we have an element
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix construct of Locale
  src/Translation/I18N.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move tests
  tests/Shared/Rules/LanguageRuleTest.php
  yii2-adapter/tests/_bootstrap.php
  yii2-adapter/tests/unit/validators/LanguageValidatorTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

when content block's owner is fresh, propagate content block fields content
  src/fields/ContentBlock.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Disable bypassFinals in bootstrap
  yii2-adapter/tests/_bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix bug when renaming a page
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: none

Make all entry pages top-level
  src/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove right padding from nav items
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Set entrified Tags fields to the Inline List view mode
  src/console/controllers/EntrifyController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't require a handle to be passed to entrify commands
  CHANGELOG-WIP.md
  src/console/controllers/EntrifyController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  CHANGELOG-WIP.md
Due: none

Automatically add categories/tags to their own entry pages
  src/console/controllers/EntrifyController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

delete partial content blocks too
  src/services/Gc.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ensure that the custom field's field exists before adding it to the tab's elements
  src/models/FieldLayoutTab.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Yii base translations to Craft translation files
  resources/translations/ar/app.php
  resources/translations/cs/app.php
  resources/translations/da/app.php
  resources/translations/de-CH/app.php
  resources/translations/de/app.php
  resources/translations/el/app.php
  resources/translations/en-GB/app.php
  resources/translations/en/app.php
  resources/translations/es/app.php
  resources/translations/fa/app.php
  resources/translations/fr-CA/app.php
  resources/translations/fr/app.php
  resources/translations/he/app.php
  resources/translations/hu/app.php
  resources/translations/id/app.php
  resources/translations/it/app.php
  resources/translations/ja/app.php
  resources/translations/ko/app.php
  resources/translations/nb/app.php
  resources/translations/nl/app.php
  resources/translations/pl/app.php
  resources/translations/pt/app.php
  resources/translations/ru/app.php
  resources/translations/sk/app.php
  resources/translations/sv/app.php
  resources/translations/th/app.php
  resources/translations/tr/app.php
  resources/translations/uk/app.php
  resources/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move add buttons into the main sidebar content areas
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Wrap sidebar lists in <ol>s
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Use aria-describedby for action buttons
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Announce “success” when pages/sources are added
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: none

Fix test
  yii2-adapter/legacy/i18n/Formatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pint
  resources/translations/da/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update field classes in the project config data
  src/Database/Migrations/0000_00_00_000004_migrate_field_types.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

cs-
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.cs-body
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/CustomizeSourcesModal.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write
