Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Import function
  yii2-adapter/tests/unit/web/twig/FieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Facade should only go to Twig
  src/Support/Facades/Twig.php
  src/Twig/TemplateRenderer.php
  tests/Unit/Twig/TemplateRendererTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update docblock
  src/Field/Contracts/FieldInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Separate key by templateMode
  src/Twig/TemplateRenderer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add deprecator logs for methods
  yii2-adapter/legacy/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add checkbox-indeterminate stories
  packages/craftcms-cp/src/components/checkbox-indeterminate/checkbox-indeterminate.stories.ts
Due: none

url -> href
  resources/build/Badge.vue_vue_type_script_setup_true_lang.js
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/CpQueueIndicator.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/CalloutReadOnly.css
  resources/build/assets/cp.css
  resources/build/cp2.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item.ts.js
  resources/build/nav-list.ts.js
  resources/build/progress-CM21Jrvu.js
  resources/build/progress-CWLKFiZ5.js
  resources/build/state.js
  resources/js/components/MainNav.vue
Due: prettier --ignore-unknown --write

Replace getBodyHtml and getHeadHtml calls with assetRegistry
  src/Condition/BaseCondition.php
  src/Http/Controllers/AddressesController.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
  src/Http/Controllers/Dashboard/DashboardController.php
  src/Http/Controllers/Dashboard/InteractsWithWidgets.php
  src/Http/Controllers/Dashboard/WidgetsController.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Http/Controllers/Users/AuthMethodController.php
  src/Http/Responses/CpModalResponse.php
  src/Http/Responses/CpScreenResponse.php
  src/Support/Facades/AssetRegistry.php
  src/View/AssetRegistry.php
  src/View/Events/RenderingAssets.php
  yii2-adapter/legacy/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix asset flashes
  yii2-adapter/legacy/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove POS_BOOTED code
  yii2-adapter/legacy/web/View.php
  yii2-adapter/legacy/web/twig/nodes/RegisterResourceNode.php
  yii2-adapter/legacy/web/twig/tokenparsers/RegisterResourceTokenParser.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup more calls to view
  src/Auth/Methods/RecoveryCodes.php
  src/Auth/Methods/TOTP.php
  src/Condition/BaseCondition.php
  src/Dashboard/Widgets/Feed.php
  src/Dashboard/Widgets/NewUsers.php
  src/Dashboard/Widgets/RecentEntries.php
  src/Dashboard/Widgets/Updates.php
  src/Field/Json.php
  src/Field/Matrix.php
  src/Field/Table.php
  src/FieldLayout/LayoutElements/users/PhotoField.php
  src/Http/Controllers/Dashboard/DashboardController.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/Users/PasskeysController.php
  src/Http/Responses/CpModalResponse.php
  src/Http/Responses/CpScreenResponse.php
  src/Support/Html.php
  src/Utility/Utilities/AssetIndexes.php
  src/Utility/Utilities/ClearCaches.php
  src/Utility/Utilities/DbBackup.php
  src/Utility/Utilities/DeprecationErrors.php
  src/Utility/Utilities/FindAndReplace.php
  src/Utility/Utilities/ProjectConfig.php
  src/Utility/Utilities/QueueManager.php
  src/Utility/Utilities/SystemMessages.php
  src/Utility/Utilities/Updates.php
  src/Utility/Utilities/Upgrade.php
  tests/Feature/Condition/ConditionBuilderHtmlTest.php
  yii2-adapter/legacy/controllers/AppController.php
  yii2-adapter/legacy/controllers/ElementIndexSettingsController.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/elements/NestedElementManager.php
  yii2-adapter/legacy/helpers/Cp.php
  yii2-adapter/legacy/helpers/Template.php
  yii2-adapter/legacy/services/Elements.php
  yii2-adapter/legacy/web/CpModalResponseFormatter.php
  yii2-adapter/legacy/web/CpScreenResponseFormatter.php
  yii2-adapter/legacy/web/TemplateResponseFormatter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rebuild assets
  packages/craftcms-cp/src/styles/shared/base.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/progress-CWLKFiZ5.js
Due: prettier --ignore-unknown --write

Fix PHPStan
  src/Http/Controllers/Utilities/AssetIndexesController.php
  src/Queue/JobProgress.php
  src/SystemMessage/Models/SystemMessage.php
  src/Utility/Utilities/AssetIndexes.php
  src/Utility/Utilities/ClearCaches.php
  src/Utility/Utilities/DeprecationErrors.php
  src/Utility/Utilities/Migrations.php
  src/Utility/Utilities/ProjectConfig.php
  src/Utility/Utilities/QueueManager.php
  src/Utility/Utilities/SystemMessages.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix global Craft references
  packages/craftcms-cp/src/utilities/api/actionClient.ts
  packages/craftcms-cp/src/utilities/api/apiClient.ts
  packages/craftcms-cp/src/utilities/cookies.ts
Due: none

Nav item styles
  packages/craftcms-cp/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-cp/src/components/nav-item/nav-item.ts
Due: none

Rebuild assets
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.stories.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.styles.ts
  packages/craftcms-cp/src/components/badge-indicator/badge-indicator.ts
  packages/craftcms-cp/src/utilities/api/actionClient.ts
  resources/build/CpQueueIndicator.js
  resources/build/assets/cp.css
  resources/build/cp3.js
Due: prettier --ignore-unknown --write

Add Override attribute
  src/Queue/Models/JobProgress.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Missed two calls
  yii2-adapter/legacy/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  composer.json
  src/Queue/JobProgress.php
  tests/Feature/Integration/PagesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Port over base Extension + split it into separate classes
  src/Twig/Extensions/ArrayTwigExtension.php
  src/Twig/Extensions/CoreTwigExtension.php
  src/Twig/Extensions/DateTwigExtension.php
  src/Twig/Extensions/HtmlTwigExtension.php
  src/Twig/Extensions/TextTwigExtension.php
  src/Twig/Twig.php
  tests/Unit/Twig/Extensions/ArrayTwigExtensionTest.php
  tests/Unit/Twig/Extensions/CoreTwigExtensionTest.php
  tests/Unit/Twig/Extensions/DateTwigExtensionTest.php
  tests/Unit/Twig/Extensions/HtmlTwigExtensionTest.php
  tests/Unit/Twig/Extensions/LegacyTwigExtensionTest.php
  tests/Unit/Twig/Extensions/TextTwigExtensionTest.php
  tests/Unit/Twig/SplitExtensionsParityTest.php
  tests/Unit/Twig/TwigTest.php
  yii2-adapter/legacy/web/twig/Extension.php
  yii2-adapter/legacy/web/twig/nodes/expressions/binaries/HasEveryBinary.php
  yii2-adapter/legacy/web/twig/nodes/expressions/binaries/HasSomeBinary.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move AllowedInSandbox
  src/Address/Elements/Address.php
  src/Asset/Elements/Asset.php
  src/Auth/Auth.php
  src/Component/Contracts/CpEditable.php
  src/Component/Contracts/Statusable.php
  src/Element/Concerns/HasRoutesAndUrls.php
  src/Element/Concerns/HasStatuses.php
  src/Element/Concerns/Localizable.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Field/Data/ColorData.php
  src/Field/Data/IconData.php
  src/Field/Data/JsonData.php
  src/Field/Data/LinkData.php
  src/Field/Data/MultiOptionsFieldData.php
  src/Field/Data/OptionData.php
  src/Site/Data/Site.php
  src/Translation/Locale.php
  src/Twig/Attributes/AllowedInSandbox.php
  src/User/Data/UserGroup.php
  src/User/Elements/User.php
  yii2-adapter/legacy/base/ElementInterface.php
  yii2-adapter/legacy/base/NestedElementInterface.php
  yii2-adapter/legacy/base/NestedElementTrait.php
  yii2-adapter/legacy/web/twig/AllowedInSandbox.php
  yii2-adapter/legacy/web/twig/SecurityPolicy.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a test for security policy
  tests/Unit/Twig/SecurityPolicyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move more classes
  src/FieldLayout/LayoutElements/Template.php
  src/Twig/Contracts/SafeHtml.php
  src/Twig/Extensions/CpExtension.php
  src/Twig/Extensions/FeExtension.php
  src/Twig/Extensions/SinglePreloaderExtension.php
  src/Twig/SecurityPolicy.php
  src/Twig/Twig.php
  tests/Unit/Twig/SecurityPolicyTest.php
  tests/Unit/Twig/TwigTest.php
  yii2-adapter/legacy/web/twig/CpExtension.php
  yii2-adapter/legacy/web/twig/FeExtension.php
  yii2-adapter/legacy/web/twig/SafeHtml.php
  yii2-adapter/legacy/web/twig/SecurityPolicy.php
  yii2-adapter/legacy/web/twig/SinglePreloaderExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Change GHSA-3x4w-mxpf-fhqq from low-severity to moderate-severity
  CHANGELOG.md
Due: none

Fix PHPInfo table layout
  packages/craftcms-cp/src/components/nav-item/nav-item.ts
  packages/craftcms-cp/src/styles/shared/base.css
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/templates/_components/utilities/PhpInfo.twig
Due: prettier --ignore-unknown --write

Wrap cells
  resources/templates/_components/utilities/PhpInfo.twig
Due: none

Fixed GHSA-cc7p-2j3x-x7xf
  CHANGELOG.md
  src/helpers/UrlHelper.php
  src/services/Tokens.php
  src/web/Controller.php
  src/web/Request.php
  src/web/UrlManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed test
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Addresses.php
  src/Support/Facades/AssetRegistry.php
  src/Support/Facades/Conditions.php
  src/Support/Facades/Deprecator.php
  src/Support/Facades/Entries.php
  src/Support/Facades/EntryTypes.php
  src/Support/Facades/Fields.php
  src/Support/Facades/I18N.php
  src/Support/Facades/ProjectConfig.php
  src/Support/Facades/Sections.php
  src/Support/Facades/SiteGroups.php
  src/Support/Facades/Sites.php
  src/Support/Facades/Structures.php
  src/Support/Facades/Twig.php
  src/Support/Facades/UserGroups.php
  src/Support/Facades/UserPermissions.php
  src/Support/Facades/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 4.17.6
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.9.12
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add breadcrumbs
  src/Http/Controllers/Utilities/UtilitiesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make nodes YieldReady
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_as_global.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_conditions.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_defaults.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_duration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_expiration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_ignore_conditions.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_key.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/HookNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/NamespaceNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/NamespaceNodeTest/it_compiles_with_classes.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/TagNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/TagNodeTest/it_compiles_with_options.snap
  yii2-adapter/legacy/web/twig/nodes/BaseNode.php
  yii2-adapter/legacy/web/twig/nodes/CacheNode.php
  yii2-adapter/legacy/web/twig/nodes/DdNode.php
  yii2-adapter/legacy/web/twig/nodes/DeprecatedNode.php
  yii2-adapter/legacy/web/twig/nodes/DumpNode.php
  yii2-adapter/legacy/web/twig/nodes/ExitNode.php
  yii2-adapter/legacy/web/twig/nodes/ExpiresNode.php
  yii2-adapter/legacy/web/twig/nodes/HeaderNode.php
  yii2-adapter/legacy/web/twig/nodes/HookNode.php
  yii2-adapter/legacy/web/twig/nodes/NamespaceNode.php
  yii2-adapter/legacy/web/twig/nodes/NavItem_Node.php
  yii2-adapter/legacy/web/twig/nodes/NavNode.php
  yii2-adapter/legacy/web/twig/nodes/PaginateNode.php
  yii2-adapter/legacy/web/twig/nodes/PreloadSinglesNode.php
  yii2-adapter/legacy/web/twig/nodes/ProfileNode.php
  yii2-adapter/legacy/web/twig/nodes/RedirectNode.php
  yii2-adapter/legacy/web/twig/nodes/RegisterResourceNode.php
  yii2-adapter/legacy/web/twig/nodes/RequireAdminNode.php
  yii2-adapter/legacy/web/twig/nodes/RequireEditionNode.php
  yii2-adapter/legacy/web/twig/nodes/RequireGuestNode.php
  yii2-adapter/legacy/web/twig/nodes/RequireLoginNode.php
  yii2-adapter/legacy/web/twig/nodes/RequirePermissionNode.php
  yii2-adapter/legacy/web/twig/nodes/SwitchNode.php
  yii2-adapter/legacy/web/twig/nodes/TagNode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup nodes
  src/Providers/AppServiceProvider.php
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_as_global.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_conditions.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_defaults.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_duration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_expiration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_ignore_conditions.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/CacheNodeTest/it_compiles_with_key.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_403_status.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_404_status.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_500_status.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_503_status.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_status_and_message.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_unknown_status_and_message.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_unknown_status_code_falling_back_to_HttpException.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_without_status.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/FallbackNameExpressionTest/it_compiles_as_defined_test_in_non_strict_mode.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/FallbackNameExpressionTest/it_compiles_in_non_strict_mode.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/FallbackNameExpressionTest/it_compiles_in_strict_mode.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/FallbackNameExpressionTest/it_compiles_with_ignore__strict__check.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/PaginateNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RedirectNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RedirectNodeTest/it_compiles_with_both_flash_error_and_notice.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RedirectNodeTest/it_compiles_with_flash_error.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RedirectNodeTest/it_compiles_with_flash_notice.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RequireEditionNodeTest/it_compiles.snap
  yii2-adapter/legacy/helpers/Template.php
  yii2-adapter/legacy/web/twig/nodes/CacheNode.php
  yii2-adapter/legacy/web/twig/nodes/ExitNode.php
  yii2-adapter/legacy/web/twig/nodes/FallbackNameExpression.php
  yii2-adapter/legacy/web/twig/nodes/NavItemNode.php
  yii2-adapter/legacy/web/twig/nodes/NavItem_Node.php
  yii2-adapter/legacy/web/twig/nodes/NavNode.php
  yii2-adapter/legacy/web/twig/nodes/PaginateNode.php
  yii2-adapter/legacy/web/twig/nodes/RedirectNode.php
  yii2-adapter/legacy/web/twig/nodes/RegisterResourceNode.php
  yii2-adapter/legacy/web/twig/nodes/RequireEditionNode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use sprintf so IDEs can discover the symbol usage
  tests/.pest/snapshots/Unit/Twig/Nodes/DeprecatedNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExpiresNodeTest/it_compiles_with_dynamic_expiration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExpiresNodeTest/it_compiles_with_static_duration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/HookNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RequireEditionNodeTest/it_compiles.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/RequirePermissionNodeTest/it_compiles.snap
  yii2-adapter/legacy/web/twig/nodes/DeprecatedNode.php
  yii2-adapter/legacy/web/twig/nodes/ExpiresNode.php
  yii2-adapter/legacy/web/twig/nodes/HookNode.php
  yii2-adapter/legacy/web/twig/nodes/RequireEditionNode.php
  yii2-adapter/legacy/web/twig/nodes/RequirePermissionNode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup SinglePreloader
  yii2-adapter/legacy/web/twig/nodevisitors/SinglePreloader.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add behavioral tests to tags
  tests/Feature/Twig/Tags/CacheTagTest.php
  tests/Feature/Twig/Tags/ExpiresTagTest.php
  tests/Feature/Twig/Tags/HeaderTagTest.php
  tests/Feature/Twig/Tags/NamespaceTagTest.php
  tests/Feature/Twig/Tags/PaginateTagTest.php
  tests/Feature/Twig/Tags/RedirectTagTest.php
  tests/Feature/Twig/Tags/RegisterResourceTagTest.php
  tests/Feature/Twig/Tags/RequireAuthTagTest.php
  tests/Feature/Twig/Tags/RequireLoginGuestTagTest.php
  tests/Unit/Twig/Tags/DeprecatedTagTest.php
  tests/Unit/Twig/Tags/ExitTagTest.php
  tests/Unit/Twig/Tags/HasSomeHasEveryTest.php
  tests/Unit/Twig/Tags/HookTagTest.php
  tests/Unit/Twig/Tags/NavTagTest.php
  tests/Unit/Twig/Tags/RequireEditionTagTest.php
  tests/Unit/Twig/Tags/SwitchTagTest.php
  tests/Unit/Twig/Tags/TagTagTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup docblocks
  src/Twig/Nodes/BaseNode.php
  src/Twig/Nodes/CacheNode.php
  src/Twig/Nodes/DdNode.php
  src/Twig/Nodes/DeprecatedNode.php
  src/Twig/Nodes/DumpNode.php
  src/Twig/Nodes/ExitNode.php
  src/Twig/Nodes/ExpiresNode.php
  src/Twig/Nodes/FallbackNameExpression.php
  src/Twig/Nodes/GetAttrNode.php
  src/Twig/Nodes/HeaderNode.php
  src/Twig/Nodes/HookNode.php
  src/Twig/Nodes/NamespaceNode.php
  src/Twig/Nodes/NavItemNode.php
  src/Twig/Nodes/NavNode.php
  src/Twig/Nodes/PaginateNode.php
  src/Twig/Nodes/PreloadSinglesNode.php
  src/Twig/Nodes/ProfileNode.php
  src/Twig/Nodes/RedirectNode.php
  src/Twig/Nodes/RegisterResourceNode.php
  src/Twig/Nodes/RequireAdminNode.php
  src/Twig/Nodes/RequireEditionNode.php
  src/Twig/Nodes/RequireGuestNode.php
  src/Twig/Nodes/RequireLoginNode.php
  src/Twig/Nodes/RequirePermissionNode.php
  src/Twig/Nodes/SwitchNode.php
  src/Twig/Nodes/TagNode.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
