Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Changelog
  CHANGELOG.md
Due: none

Fix unit test auth setup
  tests/Unit/Cp/NavigationTest.php
  tests/Unit/EditionTest.php
  tests/Unit/Element/ElementWrites/PropagateElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix two-factor boundary test timing
  tests/Feature/Http/Middleware/EnsureTwoFactorChallengeIsRecentTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

match criteria
  resources/templates/import/configs/_map.twig
  src/Field/Addresses.php
  src/Field/ContentBlock.php
  src/Field/Contracts/FieldInterface.php
  src/Field/Field.php
  src/Field/Matrix.php
  src/FieldLayout/Concerns/ImportableFieldLayoutElement.php
  src/FieldLayout/Contracts/ImportableFieldLayoutElementInterface.php
  src/FieldLayout/LayoutElements/Addresses/AddressField.php
  src/FieldLayout/LayoutElements/Addresses/LatLongField.php
  src/FieldLayout/LayoutElements/CustomField.php
  src/FieldLayout/LayoutElements/TitleField.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Import/DataTypes/Json.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
  src/Import/Importers/ModelImporter.php
  src/Import/Transformers/BaseTransformer.php
  src/Support/Arr.php
  src/Support/ImportHelper.php
  tests/Feature/Import/ImportHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update selectors
  resources/js/modules/field-layout-designer/FieldLayoutDesigner.ts
  resources/js/modules/field-layout-designer/Tab.ts
  resources/js/modules/field-layout-designer/drags.ts
  resources/js/pages/settings/EntryTypesEdit.vue
Due: none

Convert disclosure menu to craft-action-menu
  packages/craftcms-cp/src/components/action-item/action-item.ts
  packages/craftcms-cp/src/components/action-menu/action-menu.stories.ts
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  packages/craftcms-cp/src/components/action-menu/action-menu.types.ts
  packages/craftcms-cp/src/types/index.ts
  resources/js/common/components/ActionMenu.vue
  resources/js/modules/field-layout-designer/Element.ts
  resources/js/modules/field-layout-designer/Tab.ts
Due: none

Fixed #19152
  CHANGELOG.md
  src/elements/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.10.8.1
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix install database defaults
  resources/js/modules/install/components/DbFields.vue
  resources/js/pages/install/Install.vue
  src/Http/Controllers/InstallController.php
  tests/Feature/Http/Controllers/InstallControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix SQLite path normalization
  src/Support/File.php
  tests/Unit/Database/ConnectionConfigTest.php
  yii2-adapter/tests/unit/helpers/FileHelper/FileHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix install flow actions
  resources/js/modules/install/components/InstallingScreen.vue
  src/Console/Commands/Install/InstallCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix lowercase Windows path expectation
  tests/Unit/Support/FileTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace legacy listbox
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-garnish/src/compat.ts
  packages/craftcms-garnish/src/constants.ts
  packages/craftcms-garnish/src/hud.ts
  packages/craftcms-garnish/src/index.ts
  packages/craftcms-garnish/src/listbox.ts
  packages/craftcms-garnish/src/modal.ts
  packages/craftcms-garnish/src/types.ts
  packages/craftcms-garnish/tests/compat.test.ts
  packages/craftcms-garnish/tests/listbox.test.ts
  resources/js/modules/field-layout-designer/FieldLayoutDesigner.ts
  resources/views/forms/fld/designer.blade.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix unit tests for installed user state
  tests/Unit/Cp/NavigationTest.php
  tests/Unit/EditionTest.php
  tests/Unit/Element/ElementWrites/PropagateElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix install database review feedback
  resources/js/modules/install/components/DbFields.vue
  src/Http/Controllers/InstallController.php
  tests/Feature/Http/Controllers/InstallControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix SQLite path test expectations on Windows
  tests/Unit/Database/ConnectionConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix unit test setup
  tests/Unit/EditionTest.php
  tests/Unit/Element/ElementWrites/PropagateElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor translationMethodOptions
  src/Field/Enums/TranslationMethod.php
  src/Http/Controllers/Settings/EntryTypesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update search field to web component
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
  resources/js/modules/field-layout-designer/FieldLayoutDesigner.ts
  resources/js/modules/markdown-field/behaviors/toolbar/items.ts
  resources/views/forms/fld/designer.blade.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update component docs
  packages/craftcms-cp/src/components/input-color/input-color.ts
  packages/craftcms-cp/src/components/input/input.ts
  packages/craftcms-cp/src/components/select-color/select-color.stories.ts
  packages/craftcms-cp/src/components/select-color/select-color.ts
  packages/craftcms-cp/src/components/select-rich/select-invoker.ts
  packages/craftcms-cp/src/components/select-rich/select-rich.ts
Due: none

Fixed #18588 part 2
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

#19151 didn’t make it into 6.0.0-alpha.9
  CHANGELOG.md
Due: none

Release notes
  CHANGELOG.md
Due: none

Unreleased
  CHANGELOG.md
Due: none

Update build artifacts
  resources/build/assets/Install-C1X94ipR.js
  resources/build/assets/Install-C3OUEJFf.css
  resources/build/assets/Install-CRcAUM4Q.css
  resources/build/assets/Install-DpjTnv-O.js
  resources/build/assets/Plugins-B3m7xDBU.js
  resources/build/assets/Plugins-CPGXkhc8.js
  resources/build/assets/cp-AidKFjGq.js
  resources/build/assets/cp-CcKWwFR5.js
  resources/build/assets/cp-CeT58QCY.js
  resources/build/assets/cp-CkVxhBAj.js
  resources/build/assets/cp-DDoIAd2Q.css
  resources/build/assets/cp-DF2RDpTB.css
  resources/build/assets/cp-KGRxNWr7.js
  resources/build/assets/cp-lwxktwE_.js
  resources/build/assets/legacy-DDSVXICY.js
  resources/build/assets/legacy-sXjT32-B.js
  resources/build/assets/useFetch-C9Gzyk4p.js
  resources/build/assets/useFetch-W184eXlL.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

added arr tests
  src/Support/Arr.php
  tests/Unit/Support/ArrTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Migrations should run with --force when running craft up
  src/Console/Commands/UpCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

match criteria continued
  resources/templates/import/configs/_map.twig
  src/Field/Addresses.php
  src/Field/Concerns/ImportableElementContainerField.php
  src/Field/ContentBlock.php
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Field/Matrix.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove stale published files before publishing
  src/Console/Commands/Setup/PublishCommand.php
  tests/Unit/Console/PublishCommandTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweaks
  src/Import/Import.php
  src/Import/Importers/ModelImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Console/Commands/Setup/PublishCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

allow mapping of element properties
  src/Element/Concerns/Draftable.php
  src/Element/Concerns/HasCanonical.php
  src/Element/Concerns/HasStatuses.php
  src/Element/Concerns/Structurable.php
  src/Entry/Elements/Entry.php
  src/Import/Importers/ElementImporter.php
  src/Import/Transformers/ElementTransformer.php
  src/Support/Attributes/Importable.php
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweaks
  src/Entry/Elements/Entry.php
  src/Import/Importers/BaseImporter.php
  src/Import/Importers/ElementImporter.php
  src/Support/Attributes/Importable.php
  src/Support/ImportHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render full markup for FLDj
  resources/templates/_includes/forms.twig
  resources/views/forms/fld/card-view-designer.blade.php
  resources/views/forms/fld/field.blade.php
  src/Cp/FieldLayoutDesigner/FieldLayoutDesigner.php
  src/Http/Controllers/Settings/EntryTypesController.php
  src/Twig/Extensions/CpExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Card view designer improvements
  resources/css/cp.css
  resources/css/cvd.css
  resources/css/fld.css
  resources/js/common/composables/useFieldLayoutDesigner.ts
  resources/js/pages/settings/EntryTypesEdit.vue
  resources/views/forms/fld/card-view-designer.blade.php
  resources/views/forms/fld/designer.blade.php
  resources/views/forms/fld/field.blade.php
  src/Cp/FieldLayoutDesigner/CardDesigner.php
  src/Cp/FormFields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix test for new behavior
  tests/Feature/Element/ElementEagerLoaderTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Override lion button focus styles
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Remove breaking comment
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Remove build artifacts from branch
  resources/build/assets/MarkdownField-BVqMygEJ.js
  resources/build/assets/cp-BGj8ev7d.js
  resources/build/assets/nav-item-DFZbQ-Jw-CtSAdykQ.js
Due: none

Use typescript transformer definition for ImageTransform
  eslint.config.ts
  resources/js/pages/settings/assets/transforms/EditImageTransformPage.vue
  resources/js/pages/settings/assets/transforms/ImageTransformsIndexPage.vue
  resources/js/pages/settings/assets/transforms/types.ts
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
