Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Update generate colors script
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/shared/colorable.css
Due: prettier --ignore-unknown --write

Expand indicator component
  packages/craftcms-cp/.storybook/preview.css
  packages/craftcms-cp/src/components/indicator/Indicator.mdx
  packages/craftcms-cp/src/components/indicator/indicator.stories.ts
  packages/craftcms-cp/src/components/indicator/indicator.ts
Due: prettier --ignore-unknown --write

Update StatusHtml to use `craft-indicator`
  packages/craftcms-cp/src/components/indicator/indicator.ts
  src/Cp/Html/StatusHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor types a bit
  packages/craftcms-cp/src/actions/index.ts
  packages/craftcms-cp/src/components/action-item/action-item.ts
  packages/craftcms-cp/src/components/callout/callout.stories.ts
  packages/craftcms-cp/src/components/callout/callout.ts
  packages/craftcms-cp/src/components/indicator/Indicator.mdx
  packages/craftcms-cp/src/components/indicator/indicator.stories.ts
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/constants/appearances.ts
  packages/craftcms-cp/src/constants/colors.ts
  packages/craftcms-cp/src/constants/variants.ts
  packages/craftcms-cp/src/stories/tokens/variants.stories.ts
  packages/craftcms-cp/src/types/index.ts
Due: none

Fix typescript errors
  packages/craftcms-cp/src/index.ts
Due: none

Update tests to use `craft-indicator`
  yii2-adapter/tests/unit/helpers/CpHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update tests
  tests/Unit/Cp/StatusHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More test updates
  tests/Feature/Cp/ElementHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

"Update build artifacts" workflow
  .github/workflows/build.yml
Due: none

Also setup PHP + install Composer deps
  .github/workflows/build.yml
Due: none

Simplify
  .github/workflows/build.yml
Due: none

PHP first, to be consistent with js-ci.yml
  .github/workflows/build.yml
Due: none

Fix workflow name
  .github/workflows/build.yml
Due: none

Build @craftcms/cp first
  package.json
Due: prettier --ignore-unknown --write

Handle missing APP_URL
  vite.config.js
Due: none

Correct file path
  .github/workflows/build.yml
Due: none

Only check src directory
  packages/craftcms-cp/package.json
Due: prettier --ignore-unknown --write

Fix const reassignment issue
  packages/craftcms-legacy/cp/src/js/CP.js
Due: none

Use new translation functions
  packages/craftcms-legacy/cp/src/js/Craft.js
Due: none

Consolidate craft data
  src/Cp/Cp.php
  src/View/LegacyAssets/CpAsset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run typecheck pre-commit
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

TracksReferences trait
  src/Element/Jobs/ReplaceReferences.php
  src/Field/Concerns/TracksReferences.php
  src/Field/Contracts/TracksReferencesFieldInterface.php
  src/Field/FieldReferences.php
  src/Field/Markdown.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Link to store references instead of relations
  src/Database/Migrations/2026_06_02_230524_link_references.php
  src/Field/Link.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed install bug
  CHANGELOG.md
  src/Console/Commands/Install/InstallCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use correct user element
  src/Cp/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update primary buttons on login/reset password screens to use accent variant
  resources/js/modules/auth/components/login/login-form.ts
  resources/js/modules/auth/components/login/login-reset-password.ts
Due: none

Formatting
  packages/craftcms-cp/src/components/action-item/action-item.ts
  packages/craftcms-cp/src/components/indicator/Indicator.mdx
  resources/build/assets/cp-Bi_GFCFa.css
  resources/build/assets/cp-CD2UHZqW.css
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Revert solid button colors on hover
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Fixed the loading overlay position on element indexes
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed the Delete action when editing a provisional draft
  CHANGELOG.md
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert to static color palette for indicators
  packages/craftcms-cp/src/components/indicator/indicator.ts
Due: none

Revert appearance name change to solid (from accent), and make indicator appearances consistent with button and callout appearances
  packages/craftcms-cp/src/components/indicator/Indicator.mdx
  packages/craftcms-cp/src/components/indicator/indicator.stories.ts
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/constants/appearances.ts
Due: none

Round out the badge component
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/components/action-item/action-item.ts
  packages/craftcms-cp/src/components/badge/Badge.mdx
  packages/craftcms-cp/src/components/badge/badge.stories.ts
  packages/craftcms-cp/src/components/badge/badge.styles.ts
  packages/craftcms-cp/src/components/badge/badge.ts
  packages/craftcms-cp/src/components/indicator/Indicator.mdx
  packages/craftcms-cp/src/components/indicator/indicator.ts
  packages/craftcms-cp/src/constants/colors.ts
  packages/craftcms-cp/src/constants/statuses.ts
  packages/craftcms-cp/src/constants/variants.ts
  packages/craftcms-cp/src/constants/volume.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/styles/shared/colorable.css
Due: prettier --ignore-unknown --write

Refactor chip to use status-badge
  packages/craftcms-cp/src/constants/colors.ts
  src/Cp/Html/StatusHtml.php
  tests/Feature/Element/ElementAttributeRendererTest.php
  tests/Unit/Cp/StatusHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update packages/craftcms-cp/src/styles/shared/tokens.css
  packages/craftcms-cp/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Fixed “Replace relation” buttons
  CHANGELOG.md
  src/Element/DeletionBlockers/RelationDeletionBlocker.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19029
  src/helpers/App.php
  tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
