Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Changelog
  CHANGELOG.md
Due: none

Serialize two-factor verification
  src/services/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix GraphQL mutation cache detection
  src/controllers/GraphqlController.php
  src/helpers/Gql.php
  src/services/Gql.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use focus outline variables in btn component
  packages/craftcms-ui/src/components/button/button.styles.ts
  packages/craftcms-ui/src/styles/shared/base.css
  packages/craftcms-ui/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

Textarea PHP component
  resources/templates/_includes/forms/textarea.twig
  src/Cp/Components/ComponentRegistry.php
  src/Cp/Components/Textarea.php
  src/Cp/FormFields.php
  src/Twig/Variables/Cp.php
  tests/Unit/Cp/Components/TextareaTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Load plugins after the database is booted
  src/Plugin/PluginServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Include asset folders and thumb data in the content index payload
  src/Http/Controllers/Assets/IndexController.php
  src/Http/ViewModels/AssetIndexViewModel.php
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Http/Controllers/Assets/IndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add asset folder navigation, breadcrumbs, and thumbnail view
  packages/craftcms-ui/src/components/breadcrumb-item/breadcrumb-item.ts
  resources/js/common/components/Breadcrumbs.vue
  resources/js/modules/elements/components/BaseElementIndex.vue
  resources/js/modules/elements/components/DataTable.vue
  resources/js/modules/elements/components/ElementIndexPage.vue
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/elements/composables/useElementIndexColumns.ts
  resources/js/modules/elements/composables/useElementIndexPage.ts
  resources/js/modules/elements/composables/useElementIndexSort.ts
  resources/js/modules/elements/composables/useElementIndexViewMode.ts
  resources/js/modules/elements/composables/useElementIndexVisits.ts
  resources/js/modules/elements/composables/useFolderNavigation.test.ts
  resources/js/modules/elements/composables/useFolderNavigation.ts
  resources/js/modules/elements/types/view-state.ts
  resources/js/pages/assets/Index.vue
Due: none

Fix actionUrls
  packages/craftcms-ui/src/utilities/api/actionClient.ts
Due: none

Mark actions as non-bulk
  src/Asset/Actions/CopyReferenceTag.php
  src/Asset/Actions/CopyUrl.php
  src/Asset/Actions/DownloadAssetFile.php
  src/Asset/Actions/EditImage.php
  src/Asset/Actions/PreviewAsset.php
  src/Asset/Actions/RenameFile.php
  src/Asset/Actions/ReplaceFile.php
  src/Asset/Actions/ShowInFolder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add var to override specificity
  packages/craftcms-ui/src/components/button/button.styles.ts
Due: none

Address template manager review feedback
  CHANGELOG.md
  src/Twig/TwigRenderer.php
  src/View/TemplateManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Inline renderer names
  src/View/TemplateManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

when duplicating element check the derivative, not just just the draft
  src/services/Elements.php
  tests/unit/services/NestedElementDraftSiteSyncTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Implement HTMLSanitizers as a Manager
  CHANGELOG.md
  docs/html-sanitizers.md
  src/Config/ConfigServiceProvider.php
  src/Field/Data/MarkdownData.php
  src/Field/Markdown.php
  src/Http/Controllers/App/RenderController.php
  src/Support/Facades/HtmlSanitizers.php
  src/Support/HtmlSanitizer/HtmlSanitizerManager.php
  src/Twig/Extensions/HtmlTwigExtension.php
  tests/.pest/snapshots/Unit/Support/HtmlSanitizer/HtmlSanitizersTest/default_config_can_be_customized_with_a_callback.snap
  tests/.pest/snapshots/Unit/Support/HtmlSanitizer/HtmlSanitizersTest/default_config_can_be_reused_for_custom_sanitizers.snap
  tests/.pest/snapshots/Unit/Support/HtmlSanitizer/HtmlSanitizersTest/default_sanitizer_removes_unknown_attributes_and_keeps_craft_additions.snap
  tests/.pest/snapshots/Unit/Support/HtmlSanitizer/HtmlSanitizersTest/registered_sanitizer_names_can_be_used.snap
  tests/.pest/snapshots/Unit/Support/HtmlSanitizer/HtmlSanitizersTest/sanitizer_instances_can_be_used_directly.snap
  tests/Feature/Field/MarkdownFieldTest.php
  tests/Feature/Http/Controllers/App/RenderControllerTest.php
  tests/Unit/Field/Data/MarkdownDataTest.php
  tests/Unit/Support/HtmlSanitizer/HtmlSanitizerManagerTest.php
  tests/Unit/Support/HtmlSanitizer/HtmlSanitizersTest.php
  tests/Unit/Twig/Extensions/HtmlTwigExtensionTest.php
  yii2-adapter/legacy/helpers/HtmlPurifier.php
  yii2-adapter/src/HtmlPurifier/LegacyHtmlPurifierConfigRegistrar.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/HtmlPurifier/LegacyHtmlPurifierConfigRegistrarTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Updtae changelog
  CHANGELOG.md
Due: none

Update facade docblocks
  src/Support/Facades/AuthMethods.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Release notes
  CHANGELOG.md
  src/helpers/Gql.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render the new tooltip from craft-element-label
  packages/craftcms-legacy/cp/src/js/CraftElementLabel.js
Due: none

Add a craft-truncate component
  packages/craftcms-ui/src/components/truncate/truncate.stories.ts
  packages/craftcms-ui/src/components/truncate/truncate.styles.ts
  packages/craftcms-ui/src/components/truncate/truncate.test.ts
  packages/craftcms-ui/src/components/truncate/truncate.ts
  packages/craftcms-ui/src/index.ts
Due: none

Replace craft-element-label with craft-truncate
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/BaseElementSelectInput.js
  packages/craftcms-legacy/cp/src/js/ElementEditorSlideout.js
  packages/craftcms-legacy/cp/src/js/TagSelectInput.js
  src/Cp/FieldLayoutDesigner/CardDesigner.php
  src/Cp/Html/ElementHtml.php
  tests/Feature/Cp/ElementHtmlTest.php
  yii2-adapter/tests/unit/helpers/CpHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use craft-truncate for thumbnail labels
  resources/js/modules/elements/components/ElementThumbs.vue
Due: none

Fix action-menu items double-firing legacy activate handlers
  packages/craftcms-legacy/cp/src/js/Craft.js
Due: none

Fix popover positioning inside fixed-position containing blocks
  packages/craftcms-ui/src/components/popover/popover.ts
Due: none

Emit replace-component events from chip Replace actions
  resources/js/modules/component-select/component-select.ts
Due: none

Mirror Lion-synced attributes on craft-input/craft-textarea hosts
  packages/craftcms-ui/src/components/input/input.stories.ts
  src/Cp/Components/Input.php
  src/Cp/Components/Textarea.php
  tests/Unit/Cp/Components/ComponentManifestDriftTest.php
  tests/Unit/Cp/Components/InputTest.php
  tests/Unit/Cp/Components/TextareaTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Hide input-context field actions from chip menus
  src/Field/Addresses.php
  src/Field/Matrix.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Icon PHP component
  src/Cp/Components/ComponentRegistry.php
  src/Cp/Components/Icon.php
  src/Cp/Icons.php
  tests/Unit/Cp/Components/IconTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add hide-icon to craft-callout; simplify field notices
  packages/craftcms-ui/src/components/callout/callout.ts
  packages/craftcms-ui/src/components/field/field.test.ts
  packages/craftcms-ui/src/components/field/field.ts
  src/Cp/Components/Callout.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Render FLD indicators and chip icons as craft-icon
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/icon/icon.ts
  packages/craftcms-ui/src/styles/shared/base.css
  resources/css/fld.css
  resources/templates/_includes/forms/componentSelect.twig
  resources/templates/_includes/forms/fld/custom-field-settings.twig
  src/Cp/Html/ElementHtml.php
  src/FieldLayout/LayoutElements/BaseField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Remove legacy text input styles
  packages/craftcms-legacy/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed #19289
  CHANGELOG.md
  src/services/ElementSources.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Template.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog tweaks
  CHANGELOG.md
Due: none

Changelog tweak
  CHANGELOG.md
Due: none

Update facade docblocks
  src/Support/Facades/HtmlSanitizers.php
  src/Support/Facades/Template.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Better table overflow
  resources/js/modules/elements/components/ElementIndexPage.vue
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
