Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Provide basic http auth filters
  src/config/GeneralConfig.php
  src/filters/HttpBasicAuthLogin.php
  src/filters/HttpBasicAuthStatic.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify CSS a bit
  src/web/assets/authmethodsetup/dist/css/auth.css
  src/web/assets/authmethodsetup/dist/css/auth.css.map
  src/web/assets/authmethodsetup/src/css/auth.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Refactor
  src/filters/BasicHttpAuthLogin.php
  src/filters/BasicHttpAuthStatic.php
  src/filters/BasicHttpAuthTrait.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix ref
  src/config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adjust max-width
  src/web/assets/authmethodsetup/src/css/auth.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Slugs are not essential
  CHANGELOG.md
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #15707
  CHANGELOG.md
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

`innerHTML` is bad
  src/web/assets/cp/src/js/CraftElementLabel.js
Due: none

build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

More Twig updates/fixes
  src/web/twig/Extension.php
  src/web/twig/nodes/expressions/binaries/HasEveryBinary.php
  src/web/twig/nodes/expressions/binaries/HasSomeBinary.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 4.12.2
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.4.3
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

cleanup
  src/base/Element.php
  src/helpers/ElementHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

attribute placeholders
  src/base/Field.php
  src/elements/Asset.php
  src/elements/Category.php
  src/elements/Entry.php
  src/elements/User.php
  src/translations/en/app.php
  src/web/assets/cp/src/css/_fld.scss
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

js magic
  src/controllers/FieldsController.php
  src/helpers/Cp.php
  src/models/FieldLayout.php
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweaks
  src/helpers/Cp.php
  src/web/assets/cp/src/css/_fld.scss
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add tabindex to cropping canvas and add keydown listener
  src/web/assets/admintable/dist/js/app.js
  src/web/assets/admintable/dist/js/app.js.map
  src/web/assets/authmethodsetup/dist/css/auth.css.map
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
  src/web/assets/craftsupport/dist/css/CraftSupportWidget.css.map
  src/web/assets/dashboard/dist/css/Dashboard.css.map
  src/web/assets/edittransform/dist/css/transforms.css.map
  src/web/assets/generalsettings/dist/css/rebrand.css.map
  src/web/assets/graphiql/dist/css/graphiql.css.map
  src/web/assets/installer/dist/css/install.css.map
  src/web/assets/money/dist/css/Money.css.map
  src/web/assets/plugins/dist/css/PluginManager.css.map
  src/web/assets/pluginstore/dist/css/app.css.map
  src/web/assets/routes/dist/css/routes.css.map
  src/web/assets/systemmessages/dist/css/system_messages.css.map
  src/web/assets/updates/dist/css/UpdatesUtility.css.map
  src/web/assets/upgrade/dist/css/UpgradeUtility.css.map
  src/web/assets/userpermissions/dist/css/UserPermissions.css.map
  src/web/assets/userphoto/dist/css/UserPhotoInput.css.map
  src/web/assets/utilities/dist/css/utilities.css.map
Due: none

set saveContent to true so the default values get saved
  src/services/Drafts.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

adjust markup in line with a "real" chip
  src/fields/linktypes/BaseTextLinkType.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

url link - contain the link
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

url link - allow word break
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Add reference element to (Not)RelatedTo condition
  src/elements/conditions/NotRelatedToConditionRule.php
  src/elements/conditions/RelatedToConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

element can be a response
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom) [ci skip]
  src/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only run connection code once
  src/web/assets/cp/src/js/CraftElementLabel.js
Due: none

Smarter fix
  src/web/assets/cp/src/js/CraftElementLabel.js
Due: none

Reset `desiredWidth` on disconnect
  src/web/assets/cp/src/js/CraftElementLabel.js
Due: none

Nevermind, keep it around
  src/web/assets/cp/src/js/CraftElementLabel.js
Due: none

Remvoe console.log
  src/web/assets/cp/src/js/CraftElementLabel.js
Due: none

Build
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
Due: none

Move focal point on click (without dragging)
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/AssetImageEditor.js
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
