Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

hook up import permissions
  resources/templates/import/_importer-types/element-importer.twig
  resources/templates/import/configs/_field-layout-provider.twig
  resources/templates/import/configs/_map.twig
  resources/templates/import/configs/index.twig
  resources/templates/import/runs/index.twig
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Import/ImportConfigController.php
  src/Http/Controllers/Import/ImportRunController.php
  src/User/UserPermissions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

config map tweak
  resources/templates/import/configs/_map.twig
Due: none

Fix activity UI CI failures
  .github/workflows/js-ci.yml
  .github/workflows/storybook.yml
  tests/Feature/Element/Queries/Concerns/QueriesEagerlyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make activity response assertions portable
  tests/Feature/Activity/EntryActivityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-mjj9-pjh4-r48g
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/money/dist/css/Money.css
  src/web/assets/money/dist/css/Money.css.map
Due: prettier --ignore-unknown --write

Unused variable
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify logout return URL handling
  CHANGELOG.md
  routes/cp.php
  routes/web.php
  src/Http/Controllers/Auth/LoginController.php
  src/Providers/AppServiceProvider.php
  src/Support/Url.php
  tests/Feature/Http/Controllers/Auth/LoginControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix authentication for legacy CP actions
  CHANGELOG.md
  yii2-adapter/routes/web.php
  yii2-adapter/tests-laravel/Http/LegacyActionRoutingTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

5.12 prep
  .github/workflows/ci.yml
  CHANGELOG-5.12.md
Due: none

Language-aware case modification
  src/helpers/ElementHelper.php
  src/helpers/StringHelper.php
  src/i18n/Locale.php
  src/web/twig/Extension.php
  tests/unit/helpers/ElementHelperTest.php
  tests/unit/helpers/StringHelperTest.php
  tests/unit/i18n/LocaleTest.php
  tests/unit/web/twig/ExtensionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Sit chips on the raised surface
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/chip/chip.ts
Due: none

Give the Lion controls a native event surface
  packages/craftcms-ui/src/components/combobox/Combobox.mdx
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
  packages/craftcms-ui/src/components/combobox/combobox.ts
  packages/craftcms-ui/src/components/permission-tree/PermissionTree.mdx
  packages/craftcms-ui/src/components/permission-tree/permission-tree.test.ts
  packages/craftcms-ui/src/components/permission-tree/permission-tree.ts
  packages/craftcms-ui/src/components/select-color/SelectColor.mdx
  packages/craftcms-ui/src/components/select-color/select-color.stories.ts
  packages/craftcms-ui/src/components/select-color/select-color.ts
  packages/craftcms-ui/src/utilities/form-events.test.ts
  packages/craftcms-ui/src/utilities/form-events.ts
Due: none

Release notes for #19558
  CHANGELOG-5.12.md
Due: none

Restore the links on the main navigation
  resources/js/common/components/MainNav.test.ts
  resources/js/common/components/MainNav.vue
Due: none

Make the index sources real links again
  resources/js/common/components/NavEntry.vue
  resources/js/modules/elements/composables/useElementSourceActions.test.ts
  resources/js/modules/elements/composables/useElementSourceActions.ts
Due: none

Let CpLink pass everything through to Inertia's Link
  resources/js/common/components/CpLink.vue
Due: none

Make match-invoker-width work, and keep the overlay config live
  packages/craftcms-ui/src/components/popover/popover.styles.ts
  packages/craftcms-ui/src/components/popover/popover.ts
  resources/js/common/composables/useCpBreakpoints.ts
Due: none

Fixed error
  src/Support/Str.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document the factory, utilities, services, and Vue wrappers
  packages/craftcms-ui/.storybook/preview.ts
  packages/craftcms-ui/src/components/dialog/dialog.ts
  packages/craftcms-ui/src/components/popover/popover.ts
  packages/craftcms-ui/src/components/tooltip/tooltip.ts
  packages/craftcms-ui/src/stories/api/Factory.mdx
  packages/craftcms-ui/src/stories/api/ReactiveControllers.mdx
  packages/craftcms-ui/src/stories/api/Services.mdx
  packages/craftcms-ui/src/stories/api/Utilities.mdx
  packages/craftcms-ui/src/stories/api/VueWrappers.mdx
  packages/craftcms-ui/src/stories/getting-started/Introduction.mdx
Due: none

Allow action menu to specify default button variant
  resources/js/common/components/ActionMenu.vue
Due: none

Adjust CpLink to better extend Link
  resources/js/common/components/CpLink.vue
Due: none

Move skip links before sidebar in DOM order
  packages/craftcms-ui/src/styles/cp.css
  resources/css/cp.css
  resources/js/common/components/CpSidebar.vue
  resources/js/common/layouts/screens/PageScreen.vue
Due: prettier --ignore-unknown --write

Rework the CP shell chrome and secondary nav
  resources/js/common/components/CpSidebar.vue
  resources/js/common/components/CpTopBar.vue
  resources/js/common/components/SecondaryNav.vue
  resources/js/common/composables/useCpBreakpoints.ts
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/modules/elements/components/ElementIndexPage.vue
Due: none

Rename slots
  resources/js/common/layouts/AppLayout.stories.ts
  resources/js/common/layouts/screens/PassthroughScreen.vue
  resources/js/common/layouts/screens/SlideoutScreen.vue
  resources/js/common/layouts/screens/types.ts
  resources/js/common/slideouts/slideouts.test.ts
  resources/js/modules/elements/components/ElementEditScreen.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/user/components/UserScreen.vue
  resources/js/pages/assets/Edit.vue
  resources/js/pages/content/Edit.vue
  resources/js/pages/cp/Screen.vue
  resources/js/pages/graphql/Explore.vue
  resources/js/pages/graphql/schemas/Edit.vue
  resources/js/pages/graphql/tokens/Edit.vue
  resources/js/pages/settings/entry-types/Edit.vue
  resources/js/pages/users/Edit.vue
Due: none

Utilities cleanup
  resources/js/modules/utilities/components/asset-indexes/AssetIndexes.vue
  resources/js/modules/utilities/components/clear-caches/ClearCaches.vue
  resources/js/modules/utilities/components/system-messages/SystemMessages.vue
  resources/js/pages/utilities/Show.vue
  resources/templates/_components/utilities/PhpInfo.twig
Due: none

Rename the shell slots in PageScreen and the element index
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/modules/elements/components/ElementIndexPage.vue
Due: none

Fix the main nav's active state not updating on navigation
  resources/js/common/components/MainNav.test.ts
  resources/js/common/components/MainNav.vue
Due: none

Tighten PageScreen's comments
  resources/js/common/layouts/screens/PageScreen.vue
Due: none

Let a labelled nav item put its subnav in a flyout
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Prototype a recursive, flyout-capable CP nav
  resources/js/common/components/NavTree.fixture.ts
  resources/js/common/components/NavTree.stories.ts
  resources/js/common/components/NavTree.test.ts
  resources/js/common/components/NavTree.vue
Due: none

Reopen a nav item's subnav when the selection moves onto it
  packages/craftcms-ui/src/components/nav-item/nav-item.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
Due: none

Expand the nav trail, flyout everything else
  resources/js/common/components/NavTree.fixture.ts
  resources/js/common/components/NavTree.stories.ts
  resources/js/common/components/NavTree.test.ts
  resources/js/common/components/NavTree.vue
Due: none

Share hover timing between flyouts so they hand over cleanly
  packages/craftcms-ui/src/components/nav-item/nav-item.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
  packages/craftcms-ui/src/utilities/hover-intent.test.ts
  packages/craftcms-ui/src/utilities/hover-intent.ts
Due: none

Render the main nav through NavTree
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  resources/js/common/components/MainNav.vue
  resources/js/common/components/NavTree.fixture.ts
  resources/js/common/components/NavTree.test.ts
  resources/js/common/components/NavTree.vue
Due: none

Build the whole nav tree server side, and send it once
  resources/js/common/components/MainNav.test.ts
  resources/js/common/components/MainNav.vue
  resources/js/common/composables/navSelection.test.ts
  resources/js/common/composables/navSelection.ts
  resources/js/common/composables/useCraftData.ts
  src/Cp/Navigation.php
  src/Http/Middleware/HandleInertiaRequests.php
  src/Twig/Variables/Cp.php
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Hang element sources off Entries and Assets in the nav
  src/Asset/Elements/Asset.php
  src/Cp/Navigation.php
  src/Element/Concerns/HasSources.php
  src/Entry/Elements/Entry.php
  tests/Unit/Cp/NavigationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Apply activity UI review pass
  resources/js/modules/activity/components/ActivityTimeline.vue
  resources/js/modules/activity/components/ActivityTimelineChanges.vue
  resources/js/modules/activity/components/ActivityTimelineComment.vue
  resources/js/modules/activity/composables/useActivityTimeline.ts
Due: none
