Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Fix some tests
  src/Address/Validation/AddressRules.php
  src/Component/Component.php
  src/Element/Concerns/Eagerloadable.php
  src/Element/Validation/ElementRules.php
  src/Http/Controllers/Users/AddressesController.php
  src/User/Validation/UserRules.php
  src/Validation/Concerns/InteractsWithValidator.php
  tests/ArchTest.php
  tests/Feature/Address/Elements/AddressValidationTest.php
  tests/Feature/Entry/Elements/EntryValidationTest.php
  tests/Unit/Validation/RulesetTest.php
  tests/Unit/Validation/ValidatesWithRulesetTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

empty username should be ordered as last
  src/elements/db/UserQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  AGENTS.md
  src/Database/Commands/MigrateCommand.php
  src/Database/LaravelMigrations.php
  src/Http/Controllers/MigrateController.php
  src/Plugin/Testing/PluginTestCase.php
  src/Queue/JobProgress.php
  tests/Feature/Utility/UtilitiesTest.php
  tests/TestCase.php
  tests/UnitTestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

adds auth-method param to users/remove-2fa command so it can be run interactively
  src/console/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ElementIndexController
  routes/actions.php
  src/Http/Controllers/Elements/ElementIndexController.php
  src/Http/Controllers/Elements/PerformElementActionController.php
  src/Http/Resources/ElementIndexResource.php
  tests/Feature/Http/Controllers/Elements/ElementIndexControllerTest.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move controllers into ElementIndex subfolder
  CHANGELOG-WIP.md
  routes/actions.php
  src/Http/Controllers/Elements/ElementIndex/ElementIndexController.php
  src/Http/Controllers/Elements/ElementIndex/ElementIndexSourcesController.php
  src/Http/Controllers/Elements/ElementIndex/ExportElementIndexController.php
  src/Http/Controllers/Elements/ElementIndex/SaveElementIndexElementsController.php
  tests/Feature/Http/Controllers/Elements/ElementIndexControllerTest.php
  tests/Feature/Http/Controllers/Elements/ElementIndexSourcesControllerTest.php
  tests/Feature/Http/Controllers/Elements/ExportElementIndexControllerTest.php
  tests/Feature/Http/Controllers/Elements/SaveElementIndexElementsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename to ElementIndexRequest
  src/Http/Controllers/Elements/ElementIndex/ElementIndexController.php
  src/Http/Controllers/Elements/ElementIndex/ElementIndexSourcesController.php
  src/Http/Controllers/Elements/ElementIndex/ExportElementIndexController.php
  src/Http/Controllers/Elements/ElementIndex/SaveElementIndexElementsController.php
  src/Http/Controllers/Elements/ElementSelectorModalController.php
  src/Http/Controllers/Elements/ElementSourcesController.php
  src/Http/Controllers/Elements/PerformElementActionController.php
  src/Http/Controllers/Elements/SearchController.php
  src/Http/Controllers/PreviewController.php
  src/Http/Requests/ElementIndexRequest.php
  src/Http/Resources/ElementIndexResource.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

PreviewElementController
  routes/cp.php
  src/Http/Controllers/Elements/Concerns/EditsElement.php
  src/Http/Controllers/Elements/PreviewElementController.php
  src/Http/Requests/ElementRequest.php
  tests/Feature/Http/Controllers/Elements/PreviewElementControllerTest.php
  tests/Feature/Http/Requests/ElementRequestTest.php
  yii2-adapter/legacy/config/cproutes/common.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ElementRedirectController
  routes/cp.php
  src/Http/Controllers/Elements/Concerns/EditsElement.php
  src/Http/Controllers/Elements/ElementRedirectController.php
  tests/Feature/Http/Controllers/Elements/ElementRedirectControllerTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Added IN/NOT IN operators to text and number condition rules
  src/base/conditions/BaseNumberConditionRule.php
  src/base/conditions/BaseTextConditionRule.php
  src/fields/conditions/MoneyFieldConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

changelog item
  CHANGELOG-WIP.md
Due: none

Remove extra navigation role from breadcrumb component, set default label as "Breadcrumbs"
  packages/craftcms-cp/src/components/breadcrumbs/breadcrumbs.ts
Due: none

Build
  resources/build/_plugin-vue_export-helper.js
Due: none

Update chip story to include accessible button name
  packages/craftcms-cp/src/components/chip/chip.stories.ts
Due: none

Update packages
  package-lock.json
  package.json
  src/web/assets/axios/dist/axios.js
  src/web/assets/axios/dist/axios.js.LICENSE.txt
Due: prettier --ignore-unknown --write

Update NPM packages to latest minor
  package-lock.json
  package.json
  src/web/assets/axios/dist/axios.js
  src/web/assets/axios/dist/axios.js.LICENSE.txt
  src/web/assets/graphiql/dist/graphiql.js
  src/web/assets/graphiql/dist/graphiql.js.map
Due: prettier --ignore-unknown --write

Edit user groups page to inertia
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
  packages/craftcms-cp/src/components/checkbox/checkbox.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/js/components/PermissionList.vue
  resources/js/pages/SettingsUserGroupsEditPage.vue
  resources/js/pages/SettingsUserGroupsIndexPage.vue
  resources/js/types/index.ts
  resources/js/utils/permissions.ts
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/UserGroupsController.php
  src/Http/Responses/CpScreenResponse.php
  src/User/Data/PermissionGroup.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add labels to chip actions and icon-only buttons
  packages/craftcms-cp/src/components/button/button.stories.ts
  packages/craftcms-cp/src/components/chip/chip.stories.ts
Due: none

logical properties
  resources/js/components/PermissionList.vue
Due: none

Turn off svg-img-alt error for now
  packages/craftcms-cp/src/components/avatar/avatar.stories.ts
Due: none

Start adding leonardo
  package-lock.json
  packages/craftcms-cp/package.json
  packages/craftcms-cp/scripts/leonardo.js
Due: prettier --ignore-unknown --write

Add script to generate colors, update filenames
  packages/craftcms-cp/package.json
  packages/craftcms-cp/scripts/generate-accessible-colors.js
  packages/craftcms-cp/scripts/leonardo.js
  packages/craftcms-cp/src/styles/shared/accessible-colors.css
  packages/craftcms-cp/src/styles/shared/variables.css
Due: prettier --ignore-unknown --write

Separate script to write variables from the one with the theme color object, use the Color Palette documentation in Storybook
  packages/craftcms-cp/scripts/generate-accessible-colors.js
  packages/craftcms-cp/src/stories/tokens/Colors.mdx
  packages/craftcms-cp/src/styles/color-definitions.js
  packages/craftcms-cp/src/styles/shared/accessible-colors.css
Due: prettier --ignore-unknown --write

Consolidate a bit of logic
  resources/js/components/ActionMenu.vue
  resources/js/components/InlineFlash.vue
  resources/js/components/form/ErrorSummary.vue
  resources/js/composables/useFlash.ts
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsUserGroupsEditPage.vue
  resources/js/types/index.ts
  routes/cp.php
  src/Http/Controllers/Settings/UserGroupsController.php
  src/Http/RespondsWithFlash.php
  src/Http/Responses/CpScreenResponse.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Inertia links to user group
  resources/js/pages/SettingsUserGroupsIndexPage.vue
Due: none

Disable pagination
  resources/js/pages/SettingsUserGroupsIndexPage.vue
Due: none

Fixed GHSA-43cq-c2gq-pfpw
  CHANGELOG.md
  src/controllers/EntriesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-287w-mxq6-x2cp
  CHANGELOG-WIP.md
  src/config/twig-sandbox.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

More refactoring
  composer.json
  composer.lock
  src/Address/Elements/Address.php
  src/Asset/Data/Volume.php
  src/Asset/Data/VolumeFolder.php
  src/Component/Component.php
  src/Condition/BaseElementSelectConditionRule.php
  src/Dashboard/Widgets/Widget.php
  src/Element/Element.php
  src/Entry/Conditions/TypeConditionRule.php
  src/Field/Conditions/MoneyFieldConditionRule.php
  src/Field/Field.php
  src/FieldLayout/FieldLayout.php
  src/Image/ImageTransformHelper.php
  src/Plugin/Plugins.php
  src/Validation/ComponentRules.php
  src/Validation/Concerns/InteractsWithValidator.php
  src/Validation/Concerns/Validates.php
  src/Validation/Contracts/Validatable.php
  src/Validation/Ruleset.php
  tests/Unit/Validation/ValidatesWithRulesetTest.php
  yii2-adapter/composer.lock
  yii2-adapter/legacy/base/Field.php
  yii2-adapter/legacy/base/Model.php
  yii2-adapter/legacy/console/controllers/ResaveController.php
  yii2-adapter/legacy/controllers/AssetsController.php
  yii2-adapter/legacy/controllers/CategoriesController.php
  yii2-adapter/legacy/controllers/ElementIndexesController.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/GlobalsController.php
  yii2-adapter/legacy/elements/GlobalSet.php
  yii2-adapter/legacy/elements/Tag.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/validators/ElementUriValidator.php
  yii2-adapter/legacy/validators/SlugValidator.php
  yii2-adapter/src/Mixins/ValidateMixin.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix tests
  src/Element/Element.php
  src/Element/Operations/ElementWrites.php
  src/Field/Field.php
  tests/Feature/Element/ElementWrites/SaveElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan
  src/Element/Element.php
  yii2-adapter/legacy/base/Model.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More phpstan
  yii2-adapter/composer.lock
  yii2-adapter/legacy/base/Model.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't include ruleset in validation data
  src/Plugin/PluginSettings.php
  src/Validation/Concerns/Validates.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use utils
  yii2-adapter/legacy/base/Model.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test class
  tests/Feature/Http/RespondsWithFlashTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix serializing component
  src/Component/Component.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed double encode and return type error
  src/base/conditions/BaseTextConditionRule.php
  src/fields/conditions/NumberFieldConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Path.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
