Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Fix twig error in de-CH translation
  src/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add some code to manage focus after the expand button is removed
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CP.js
Due: none

Add expanded attribute
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Minor tweaks
  packages/craftcms-playwright/cli.js
  packages/craftcms-playwright/playwright/config/config.js
Due: none

Eslint and prettier
  @craftcms/playwright/eslint.config.mjs
  package-lock.json
  package.json
  packages/craftcms-playwright/.prettierrc
  packages/craftcms-playwright/cli.js
  packages/craftcms-playwright/eslint.config.mjs
  packages/craftcms-playwright/package.json
  packages/craftcms-playwright/src/cli.js
  packages/craftcms-playwright/src/index.js
  packages/craftcms-playwright/src/playwright/config/config.js
  packages/craftcms-playwright/src/playwright/config/global-setup.js
  packages/craftcms-playwright/src/playwright/config/global-teardown.js
  packages/craftcms-playwright/src/playwright/events.js
  packages/craftcms-playwright/src/playwright/fixtures/dashboard.js
  packages/craftcms-playwright/src/playwright/fixtures/entry.js
  packages/craftcms-playwright/src/playwright/fixtures/plugin-store.js
  packages/craftcms-playwright/src/playwright/fixtures/setup.js
  packages/craftcms-playwright/src/playwright/logger.js
Due: prettier --ignore-unknown --write

Eh, nevermind on the prettier & eslint
  .prettierignore
  @craftcms/playwright/eslint.config.mjs
  package-lock.json
  packages/craftcms-playwright/.prettierrc
  packages/craftcms-playwright/eslint.config.mjs
  packages/craftcms-playwright/package.json
  packages/craftcms-playwright/src/cli.js
Due: prettier --ignore-unknown --write

New translations app.php (German) [ci skip]
  src/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Norwegian Bokmal) [ci skip]
  src/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland) [ci skip]
  src/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

FallbackNameExpression should now extend ContextVariable
  src/web/twig/nodes/FallbackNameExpression.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move classes
  cms/src/Http/Controllers/ConfigSyncController.php
  cms/src/Http/Controllers/MigrateController.php
  cms/src/ProjectConfig/Exceptions/BusyResourceException.php
  cms/src/ProjectConfig/Exceptions/StaleResourceException.php
  cms/src/ProjectConfig/ProjectConfig.php
  src/base/ApplicationTrait.php
  src/base/conditions/BaseCondition.php
  src/errors/BusyResourceException.php
  src/errors/StaleResourceException.php
  src/helpers/ProjectConfig.php
  src/models/ProjectConfigData.php
  src/models/ReadOnlyProjectConfigData.php
  src/services/Sites.php
  yii2-adapter/legacy/errors/BusyResourceException.php
  yii2-adapter/legacy/errors/StaleResourceException.php
  yii2-adapter/legacy/models/ProjectConfigData.php
  yii2-adapter/legacy/models/ReadOnlyProjectConfigData.php
  yii2-adapter/legacy/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move helper
  cms/src/Database/Migrations/Install.php
  cms/src/Plugin/Plugins.php
  cms/src/ProjectConfig/Data/ProjectConfigData.php
  cms/src/ProjectConfig/Data/ReadOnlyProjectConfigData.php
  cms/src/ProjectConfig/ProjectConfig.php
  cms/src/ProjectConfig/ProjectConfigHelper.php
  src/console/controllers/ProjectConfigController.php
  src/controllers/ProjectConfigController.php
  src/models/Section.php
  src/services/Addresses.php
  src/services/Categories.php
  src/services/Entries.php
  src/services/Fields.php
  src/services/Fs.php
  src/services/Globals.php
  src/services/Gql.php
  src/services/Tags.php
  src/services/UserPermissions.php
  src/services/Users.php
  src/services/Volumes.php
  src/test/Craft.php
  tests/unit/helpers/ProjectConfigHelperTest.php
  yii2-adapter/legacy/helpers/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ProjectConfigTest
  cms/src/ProjectConfig/Exceptions/ReadonlyException.php
  cms/src/ProjectConfig/ProjectConfig.php
  cms/tests/ProjectConfig/ProjectConfigTest.php
  src/test/TestSetup.php
  tests/unit/services/ProjectConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ProjectConfigHelperTest
  cms/tests/ProjectConfig/ProjectConfigHelperTest.php
  tests/unit/helpers/ProjectConfigHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't decode query string names
  src/helpers/UrlHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Tests
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  tests/unit/helpers/UrlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port project config console commands
  cms/src/ProjectConfig/Commands/ApplyCommand.php
  cms/src/ProjectConfig/Commands/DiffCommand.php
  cms/src/ProjectConfig/Commands/ExportCommand.php
  cms/src/ProjectConfig/Commands/GetCommand.php
  cms/src/ProjectConfig/Commands/RebuildCommand.php
  cms/src/ProjectConfig/Commands/RemoveCommand.php
  cms/src/ProjectConfig/Commands/SetCommand.php
  cms/src/ProjectConfig/Commands/TouchCommand.php
  cms/src/ProjectConfig/Commands/WriteCommand.php
  cms/src/ProjectConfig/ProjectConfigServiceProvider.php
  src/console/controllers/PcController.php
  src/console/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update husky/lint-staged to latest
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

Add husky note
  CHANGELOG.md
Due: none

Move project config utility controller
  cms/routes/actions.php
  cms/src/Http/Controllers/Utilities/ProjectConfigController.php
  src/controllers/ProjectConfigController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unused macro
  cms/src/ProjectConfig/ProjectConfigServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add app terminating callback
  cms/src/ProjectConfig/ProjectConfig.php
  cms/src/ProjectConfig/ProjectConfigServiceProvider.php
  src/test/Craft.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

??
  cms/src/ProjectConfig/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add warning to garnish modal when a focus target does not exist, set one after field is replaced via copy field modal
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditor.js
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/Modal.js
Due: none

Fixed the styling of chips within menus
  CHANGELOG.md
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fixed #17838
  CHANGELOG.md
  src/controllers/ElementSearchController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Update details skip link target when sidebar is toggled
  src/templates/_layouts/cp.twig
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CP.js
Due: none

Add todo
  cms/src/ProjectConfig/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add version
  cms/src/Http/Controllers/Utilities/ProjectConfigController.php
  cms/src/ProjectConfig/Data/ProjectConfigData.php
  cms/src/ProjectConfig/Data/ReadOnlyProjectConfigData.php
  cms/src/ProjectConfig/Events/ChangesApplied.php
  cms/src/ProjectConfig/Events/ConfigEvent.php
  cms/src/ProjectConfig/Events/ItemAdded.php
  cms/src/ProjectConfig/Events/ItemRemoved.php
  cms/src/ProjectConfig/Events/ItemUpdated.php
  cms/src/ProjectConfig/Events/RebuildConfig.php
  cms/src/ProjectConfig/Events/YamlFilesWritten.php
  cms/src/ProjectConfig/Exceptions/BusyResourceException.php
  cms/src/ProjectConfig/Exceptions/ReadonlyException.php
  cms/src/ProjectConfig/Exceptions/StaleResourceException.php
  cms/src/ProjectConfig/ProjectConfigServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add events so we don't have to rely on macros to prepend
  cms/src/ProjectConfig/Commands/ApplyCommand.php
  cms/src/ProjectConfig/Data/ProjectConfigData.php
  cms/src/ProjectConfig/Events/AddingItem.php
  cms/src/ProjectConfig/Events/RemovingItem.php
  cms/src/ProjectConfig/Events/UpdatingItem.php
  cms/src/ProjectConfig/ProjectConfig.php
  cms/src/ProjectConfig/ProjectConfigServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests for project config controller
  cms/tests/Http/Controllers/Utilities/ProjectConfigControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG-WIP.md
  src/base/ApplicationTrait.php
  yii2-adapter/legacy/events/RebuildConfigEvent.php
  yii2-adapter/legacy/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix updater routes
  cms/routes/actions.php
  cms/src/Http/Controllers/BaseUpdaterController.php
  cms/src/Plugin/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix query
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't allow empty names on attributes
  cms/src/Support/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
