Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Add reusable combobox resource creation options
  packages/craftcms-ui/scripts/generate-vue-wrappers.js
  resources/js/modules/forms/ComboboxControl.vue
  resources/js/modules/forms/combobox-create-option.ts
  resources/js/pages/settings/users/Settings.vue
  src/Form/Controls/Combobox.php
  src/Form/Controls/Combobox/CreateOption.php
  src/Http/ViewModels/UserSettingsViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document reusable combobox resource creation options
  CHANGELOG.md
Due: none

[6.x] Add suffix support to text form controls (#19770)
  CHANGELOG.md
  resources/js/modules/forms/TextControl.vue
  resources/js/modules/forms/types.ts
  src/Form/Controls/Text.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Connect element editor reactive layout refreshes (#19769)
  CHANGELOG.md
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/composables/useElementEditor.ts
Due: none

[6.x] Add reusable server form modals (#19768)
  CHANGELOG.md
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/modules/forms/FormModal.vue
  resources/js/modules/forms/open-form-modal.ts
Due: none

[6.x] Allow collapsible form groups to start expanded (#19772)
  CHANGELOG.md
  resources/js/modules/forms/GroupNode.vue
  src/Form/Nodes/Group.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Correct combobox creation option types
  src/Form/Controls/Combobox.php
  src/Http/ViewModels/UserSettingsViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Prevent condition builder change listener fallthrough (#19774)
  CHANGELOG.md
  resources/js/modules/forms/ConditionBuilderControl.vue
Due: none

[6.x] Add form callout padding and grid spanning (#19773)
  .github/workflows/storybook.yml
  CHANGELOG.md
  packages/craftcms-ui/src/components/callout/callout.styles.ts
  resources/js/modules/forms/CalloutNode.vue
  src/Form/Nodes/Callout.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Preserve settings input and errors after failed saves (#19775)
  CHANGELOG.md
  resources/js/common/types/index.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
Due: none

[6.x] Add reusable combobox resource creation options (#19777)
  CHANGELOG.md
  packages/craftcms-ui/scripts/generate-vue-wrappers.js
  resources/js/modules/forms/ComboboxControl.vue
  resources/js/modules/forms/combobox-create-option.ts
  resources/js/pages/settings/users/Settings.vue
  src/Form/Controls/Combobox.php
  src/Form/Controls/Combobox/CreateOption.php
  src/Http/ViewModels/UserSettingsViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Fix card designer preview element type (#19776)
  CHANGELOG.md
  resources/js/modules/field-layout-designer/card-view-designer.ts
Due: none

[6.x] Render rich Form API field instructions (#19771)
  CHANGELOG.md
  resources/js/modules/forms/FieldNode.vue
  src/Form/Nodes/Field.php
  tests/Fixtures/Form/plain-text-settings.json
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add sidebar controls to generic form pages
  CHANGELOG.md
  resources/js/common/components/MetadataDetails.vue
  resources/js/common/components/MetadataDetailsContent.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/pages/Form.vue
Due: none

Reference sidebar controls pull request in changelog
  CHANGELOG.md
Due: none

Export action menu
  resources/js/elements.ts
Due: none

Reduce combobox test fixture rendering cost
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
Due: none

dedupe download from URL code
  src/Asset/AssetsHelper.php
  src/Asset/Import/AssetImporter.php
  src/Gql/Resolvers/Mutations/Asset.php
  src/Import/Importers/BaseImporter.php
  tests/Unit/Asset/AssetsHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

[6.x] Add form-page sidebar controls (#19778)
  CHANGELOG.md
  packages/craftcms-ui/src/components/combobox/combobox.test.ts
  resources/js/common/components/MetadataDetails.vue
  resources/js/common/components/MetadataDetailsContent.vue
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/pages/Form.vue
Due: none

Support alternate submissions on Inertia forms
  CHANGELOG.md
  packages/craftcms-ui/src/services/Config.ts
  packages/craftcms-ui/src/utilities/api/actionClient.ts
  resources/js/common/layouts/screens/SlideoutScreen.vue
  resources/js/common/types/index.ts
  resources/js/modules/settings/composables/useSettingsSave.test.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
  resources/js/pages/settings/entry-types/Edit.test.ts
  resources/js/pages/settings/entry-types/Edit.vue
  resources/js/pages/settings/fields/Edit.test.ts
  resources/js/pages/settings/fields/Edit.vue
  src/Http/Responses/CpScreenResponse.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference alternate form actions PR in changelog
  CHANGELOG.md
Due: none

[6.x] Support alternate submissions on Inertia forms (#19779)
  CHANGELOG.md
  packages/craftcms-ui/src/services/Config.ts
  packages/craftcms-ui/src/utilities/api/actionClient.ts
  resources/js/common/layouts/screens/SlideoutScreen.vue
  resources/js/common/types/index.ts
  resources/js/modules/settings/composables/useSettingsSave.test.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
  resources/js/pages/Form.test.ts
  resources/js/pages/Form.vue
  resources/js/pages/settings/entry-types/Edit.test.ts
  resources/js/pages/settings/entry-types/Edit.vue
  resources/js/pages/settings/fields/Edit.test.ts
  resources/js/pages/settings/fields/Edit.vue
  src/Http/Responses/CpScreenResponse.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

translation strings
  resources/js/pages/import/Index.vue
  resources/translations/en/app.php
  src/Import/Jobs/ImportPipeline.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Require class-level since tags in PHPStan
  phpstan.neon
  tests/Arch/RequireSinceTagRuleTest.php
  tests/Fixtures/RequireSinceTagRule.php
  tests/Support/RequireSinceTagRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

when importing an asset via path, don't remove it from the source location
  src/Asset/Import/AssetImporter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Field styling tweaks
  packages/craftcms-ui/src/components/checkbox-group/checkbox-group.ts
  packages/craftcms-ui/src/components/field-group/field-group.ts
  packages/craftcms-ui/src/components/field/field.styles.ts
  packages/craftcms-ui/src/components/textarea/textarea.styles.ts
Due: none

Drop mt-1 unless the footer isn't empty
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

Make since rule source directory readonly
  tests/Support/RequireSinceTagRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed test
  packages/craftcms-ui/src/components/field/field.browser.test.ts
Due: none

Fixed #19781
  CHANGELOG.md
  src/helpers/Db.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

ability to redirect from action
  CHANGELOG-WIP.md
  src/Http/Controllers/Elements/PerformElementActionController.php
  tests/Feature/Http/Controllers/Elements/PerformElementActionControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog tweaks
  CHANGELOG.md
Due: none

Allow plugins to access the sourceSubnav method
  src/Cp/Navigation.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.11.4
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow further crumb subnav controller (useful for plugins with elements and types)
  resources/js/common/composables/subnavCrumbs.test.ts
  resources/js/common/composables/subnavCrumbs.ts
  resources/js/common/layouts/screens/PageScreen.vue
Due: none

Finish 6.0.0-alpha.19
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add fetch-based HTTP client to @craftcms/ui
  packages/craftcms-ui/src/utilities/api/http.test.ts
  packages/craftcms-ui/src/utilities/api/http.ts
Due: none
