Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Refactor action menu into popover
  packages/craftcms-cp/scripts/generate-vue-wrappers.js
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  packages/craftcms-cp/src/components/disclosure/disclosure.stories.ts
  packages/craftcms-cp/src/components/popover/popover.stories.ts
  packages/craftcms-cp/src/components/popover/popover.styles.ts
  packages/craftcms-cp/src/components/popover/popover.ts
  packages/craftcms-cp/src/components/select-rich/select-invoker.ts
Due: none

Allow button groups to behave like radios
  packages/craftcms-cp/src/components/button-group/button-group.ts
  packages/craftcms-cp/src/components/button/button.styles.ts
  packages/craftcms-cp/src/components/button/button.ts
Due: none

Allow passing more attributes to options from checkbox groups
  resources/js/common/form/CheckboxGroup.vue
  resources/js/common/types/index.ts
Due: none

Add our own useStorage proxy
  resources/js/common/composables/useStorage.ts
Due: none

Add field references + deletion blockers
  routes/actions.php
  src/Cms.php
  src/Database/Migrations/2026_06_01_000000_create_fieldreferences_table.php
  src/Database/Migrations/Install.php
  src/Database/Table.php
  src/Element/Concerns/HasDeletionBlockers.php
  src/Element/DeletionBlockers/FieldReferencesDeletionBlocker.php
  src/Element/Jobs/ReplaceReferences.php
  src/Field/Contracts/TracksReferencesFieldInterface.php
  src/Field/Events/FieldElementDeletedForSite.php
  src/Field/Events/FieldLayoutSaved.php
  src/Field/Field.php
  src/Field/FieldReferences.php
  src/Field/Fields.php
  src/Field/FieldsServiceProvider.php
  src/Field/Listeners/FieldReferenceEventSubscriber.php
  src/Field/Markdown.php
  src/Http/Controllers/Elements/DeleteElementsController.php
  tests/Feature/Element/DeletionBlockersTest.php
  tests/Feature/Element/Jobs/ReplaceReferencesTest.php
  tests/Feature/Field/FieldReferencesTest.php
  tests/Feature/Http/Controllers/Elements/DeleteElementsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

get request options from session
  src/controllers/AuthController.php
  src/controllers/UsersController.php
  src/elements/User.php
  src/services/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add support for slug/ref element refs, not just numeric ids
  src/Element/Operations/ElementRefs.php
  src/Field/FieldReferences.php
  tests/Feature/Element/Jobs/ReplaceReferencesTest.php
  tests/Feature/Field/FieldReferencesTest.php
  tests/Unit/Element/ElementRefs/ParseRefsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18992
  CHANGELOG.md
  src/queue/jobs/ReplaceRelations.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix types
  src/queue/jobs/ReplaceRelations.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Fix rector wanting to add attributes for everything since Laravel 13
  rector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor login page to work at 320px width
  resources/js/common/layouts/AuthBase.vue
Due: none

Trying another approcah
  packages/craftcms-cp/src/components/empty/empty.ts
  resources/js/modules/elements/ElementSources.vue
  resources/js/modules/elements/ElementStatus.vue
  resources/js/modules/elements/types/sources.ts
  resources/js/pages/content/Index.vue
  resources/templates/_elements/tableview/container.twig
  src/Element/ElementIndexService.php
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add swatch, custom, and volume support to craft-indicator
  packages/craftcms-cp/src/components/indicator/indicator.stories.ts
  packages/craftcms-cp/src/components/indicator/indicator.ts
Due: none

Focus reset form input after the update is complete
  resources/js/modules/auth/components/login/login-reset-password.ts
Due: none

Simplify
  src/fields/BaseOptionsField.php
  src/helpers/Db.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests
  tests/unit/helpers/dbhelper/DbHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify x2
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests
  tests/unit/helpers/dbhelper/MysqlDbHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix `not :empty:`
  src/helpers/Db.php
  tests/unit/helpers/dbhelper/DbHelperTest.php
  tests/unit/helpers/dbhelper/MysqlDbHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Pint
  rector.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Arch test
  src/Database/Expressions/JsonContains.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix angle brackets being stripped from markdown urls
  src/Field/Markdown.php
  tests/Feature/Field/MarkdownFieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adjust expectation so it matches Symfony's new dump formatting
  tests/_data/diff/expected.diff
Due: none

This does not need to be final
  src/User/Elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

querying empty array
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

negation and empty values
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  src/Field/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Field/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

doh
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update button-group docs
  packages/craftcms-cp/src/components/button-group/button-group.stories.ts
Due: none

Quick cleanup of user SVG avatar
  packages/craftcms-legacy/cp/src/css/_main.scss
  src/Cp/Html/ElementHtml.php
  src/Element/Concerns/HasThumbnails.php
  src/User/Elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

build
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
  resources/legacy/cp/dist/css/cp.css
  resources/legacy/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

Ensure legacy templates work even if there is a resources/views directory already
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Http/LegacySiteTemplateRoutingTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update AppLayout buttons
  resources/js/common/layouts/AppLayout.vue
Due: none

Accent back to red
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/shared/colorable.css
  resources/js/pages/settings/Index.vue
Due: prettier --ignore-unknown --write

Fix solid button
  packages/craftcms-cp/src/components/button/button.styles.ts
Due: none

Simplify registration
  yii2-adapter/bootstrap/bootstrap.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
