Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Ugly but works
  resources/js/common/components/HtmlFragmentRenderer.vue
  resources/js/pages/settings/fields/Edit.vue
  resources/templates/_components/fieldtypes/Assets/settings.twig
Due: none

Stan the man
  src/Http/ViewModels/FieldEditViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean things up a bit
  src/Cp/Components/Checkbox.php
  src/Cp/Components/Field.php
  src/Cp/Components/ViewComponent.php
  tests/Unit/Cp/Components/CheckboxTest.php
  tests/Unit/Cp/Components/FieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19232
  CHANGELOG.md
  src/User/UserPermissions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed test
  tests/unit/gql/mutations/GeneralMutationResolverTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix field width
  packages/craftcms-cp/src/components/field/field.styles.ts
Due: none

Fix Testbench workbench serving
  composer.json
  testbench.yaml
  workbench/.env.example
Due: prettier --ignore-unknown --write

Modernize elevated session confirmation
  CHANGELOG.md
  packages/craftcms-legacy/cp/src/Craft.js
  resources/js/common/components/HtmlFragmentRenderer.vue
  resources/js/common/layouts/AppLayout.vue
  resources/js/common/types/globals.d.ts
  resources/js/cp.ts
  resources/js/legacy.ts
  resources/js/modules/auth/components/login/login-form.ts
  resources/js/modules/auth/elevated-session/ElevatedSessionHost.test.ts
  resources/js/modules/auth/elevated-session/ElevatedSessionHost.vue
  resources/js/modules/auth/elevated-session/elevated-session-form.test.ts
  resources/js/modules/auth/elevated-session/elevated-session-form.ts
  resources/js/modules/auth/elevated-session/index.test.ts
  resources/js/modules/auth/elevated-session/index.ts
  resources/js/modules/auth/elevated-session/manager.test.ts
  resources/js/modules/auth/elevated-session/manager.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
  resources/js/pages/graphql/schemas/Edit.vue
  resources/js/pages/graphql/tokens/Edit.vue
  resources/js/pages/settings/users/groups/Edit.vue
  resources/js/pages/users/Permissions.vue
  resources/js/pages/users/SignInProviders.vue
  routes/actions.php
  routes/cp.php
  src/Auth/Concerns/ConfirmsPasswords.php
  src/Auth/LoginRateLimiter.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/SessionInfoController.php
  src/Http/Controllers/Gql/SchemasController.php
  src/Http/Controllers/Gql/TokensController.php
  src/Http/Controllers/Settings/Users/UserGroupsController.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Http/Controllers/Users/SignInProvidersController.php
  src/Http/Middleware/RequireConfirmedPassword.php
  src/Route/RouteServiceProvider.php
  tests/Feature/Auth/Concerns/ConfirmsPasswordsTest.php
  tests/Feature/Http/Controllers/Auth/LoginControllerTest.php
  tests/Feature/Http/Controllers/Auth/SessionInfoControllerTest.php
  tests/Feature/Http/Controllers/User/SignInProvidersControllerTest.php
  tests/Feature/Http/Middleware/RequireConfirmedPasswordTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix elevated session auth tests
  routes/actions.php
  tests/Feature/Http/Controllers/User/AuthMethodControllerTest.php
  tests/Feature/Http/Controllers/User/PasskeysControllerTest.php
  tests/Feature/Http/Controllers/User/RecoveryCodesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Address elevated session review feedback
  resources/js/common/components/HtmlFragmentRenderer.vue
  resources/js/modules/auth/elevated-session/ElevatedSessionHost.vue
  resources/js/modules/auth/elevated-session/manager.test.ts
  resources/js/modules/auth/elevated-session/manager.ts
  resources/js/pages/graphql/schemas/Edit.vue
  resources/js/pages/settings/users/groups/Edit.vue
  routes/web.php
  tests/Feature/Http/Controllers/Auth/LoginControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

First run through
  packages/craftcms-cp/src/styles/cp.css
  packages/craftcms-legacy/cp/src/Craft.js
  packages/craftcms-legacy/cp/src/js/ElevatedSessionForm.js
  resources/js/common/composables/useElevatedSession.ts
  resources/js/common/types/globals.d.ts
  resources/js/cp.ts
  resources/js/modules/elevated-session/README.md
  resources/js/modules/elevated-session/elevated-session-form.ce.ts
  resources/js/modules/elevated-session/elevated-session-form.ts
  resources/js/modules/elevated-session/elevated-session.ts
  resources/js/modules/elevated-session/index.ts
  resources/js/modules/elevated-session/support.ts
  resources/js/modules/permissions/components/PermissionList.vue
  resources/js/modules/settings/composables/useSettingsSave.ts
  resources/js/pages/graphql/tokens/Edit.vue
  resources/js/pages/users/Permissions.vue
  resources/js/pages/users/SignInProviders.vue
  src/Http/Controllers/Users/PermissionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fix legacy Codeception tests
  yii2-adapter/tests/_bootstrap.php
  yii2-adapter/tests/unit/gql/ScalarTypesTest.php
  yii2-adapter/tests/unit/gql/mutations/GeneralMutationResolverTest.php
  yii2-adapter/tests/unit/helpers/CpHelperTest.php
  yii2-adapter/tests/unit/web/twig/FieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop stray design-token changes (moved to design-token-updates)
  packages/craftcms-cp/src/styles/cp.css
  resources/js/modules/permissions/components/PermissionList.vue
Due: prettier --ignore-unknown --write

Fixed HR-1501
  CHANGELOG.md
  src/controllers/ElementIndexesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Styling cleanup
  packages/craftcms-legacy/cp/src/css/_cp.scss
  resources/js/common/components/Pane.vue
  resources/js/modules/auth/elevated-session/ElevatedSessionHost.vue
  resources/js/modules/permissions/components/PermissionList.vue
  resources/js/modules/user/components/UserGroupSelect.vue
  resources/js/pages/users/Permissions.vue
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Refactor a bit
  resources/js/modules/auth/elevated-session/README.md
  resources/js/modules/auth/elevated-session/elevated-session-form.ce.ts
  resources/js/modules/auth/elevated-session/index.ts
Due: none

BaseOptions cleanup
  resources/js/modules/editable-table/editable-table.ts
  resources/templates/_includes/forms.twig
  resources/templates/_includes/forms/editableTable.twig
  src/Cp/Components/Field.php
  src/Cp/FormFields.php
  src/Field/BaseOptionsField.php
  src/Field/ButtonGroup.php
  src/Field/Color.php
  tests/Unit/Cp/Components/FieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1502
  CHANGELOG.md
  src/gql/interfaces/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1511
  CHANGELOG.md
  src/templates/settings/email/_index.twig
Due: none

Fixed HR-1517
  CHANGELOG.md
  src/controllers/AssetsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Implement radio group
  packages/craftcms-cp/src/components/radio-group/radio-group.stories.ts
  packages/craftcms-cp/src/components/radio-group/radio-group.test.ts
  packages/craftcms-cp/src/components/radio-group/radio-group.ts
  src/Cp/Components/RadioGroup.php
  tests/Unit/Twig/Templates/RadioGroupTemplateTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed another XSS vulnerability
  CHANGELOG.md
  src/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1542
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use Laravel disks for asset I/O
  resources/css/cp.css
  resources/js/pages/settings/filesystems/Index.vue
  src/Asset/AssetIndexer.php
  src/Asset/Assets.php
  src/Asset/AssetsHelper.php
  src/Asset/Commands/Concerns/IndexesAssets.php
  src/Asset/Data/Volume.php
  src/Asset/Elements/Asset.php
  src/Asset/Policies/AssetPolicy.php
  src/Asset/Volumes.php
  src/Field/Assets.php
  src/Field/LinkTypes/Asset.php
  src/Filesystem/Filesystems.php
  src/Filesystem/Filesystems/Local.php
  src/Http/Controllers/Assets/TransformController.php
  src/Http/Controllers/Assets/UploadController.php
  src/Http/Controllers/Settings/VolumesController.php
  src/Image/ImageTransformer.php
  src/Providers/FilesystemServiceProvider.php
  src/Support/Facades/Filesystems.php
  tests/Feature/Asset/AssetIndexerTest.php
  tests/Feature/Asset/VolumeFilesystemResolutionTest.php
  tests/Feature/Filesystem/FilesystemsTest.php
  tests/Feature/Http/Controllers/Assets/TransformControllerTest.php
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
  tests/Feature/Image/ImageTransformerTest.php
  yii2-adapter/legacy/base/BaseFsInterface.php
  yii2-adapter/legacy/base/Fs.php
  yii2-adapter/legacy/base/FsTrait.php
  yii2-adapter/legacy/base/LocalFsInterface.php
  yii2-adapter/legacy/fs/bridge/LegacyFsFlysystemAdapter.php
  yii2-adapter/legacy/fs/bridge/LegacyFsPathPrefixedAdapter.php
  yii2-adapter/src/Filesystem/FilesystemCompatibility.php
  yii2-adapter/tests-laravel/Filesystem/FilesystemCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Changelog
  CHANGELOG.md
Due: none

Fix temporary asset disk detection
  src/Asset/Data/Volume.php
  tests/Feature/Asset/Policies/AssetPolicyTest.php
  yii2-adapter/legacy/debug/Module.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Windows filesystem assertions
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
  tests/Feature/Image/ImageTransformerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor site route fallback
  routes/actions.php
  routes/web.php
  src/Http/Controllers/PreviewController.php
  src/Http/Controllers/SiteRouteController.php
  src/Http/Middleware/HandleTemplateRequest.php
  src/Http/Middleware/HandleTokenRequest.php
  src/Http/Mixins/RequestMixin.php
  src/Http/PreviewRequestPreparer.php
  src/Http/Routing/ActionRouteResolver.php
  src/Plugin/Concerns/HasRoutes.php
  src/Route/ControllerRoute.php
  src/Route/DynamicRoute.php
  src/Route/RouteServiceProvider.php
  src/Route/TemplateRoute.php
  tests/Feature/Http/Controllers/PreviewControllerTest.php
  tests/Feature/Http/Controllers/SiteRouteControllerTest.php
  tests/Feature/Http/Middleware/HandleTemplateRequestTest.php
  tests/Feature/Http/Middleware/HandleTokenRequestTest.php
  tests/TestClasses/TestPlugin/routes/actions.php
  tests/TestClasses/TestPlugin/src/Controllers/HasRoutesActionController.php
  tests/Unit/Http/RequestMixinTest.php
  tests/Unit/Plugin/Concerns/HasRoutesTest.php
  tests/Unit/Route/TemplateRouteTest.php
  yii2-adapter/legacy/web/Application.php
  yii2-adapter/routes/web.php
  yii2-adapter/src/Http/HandleYiiSiteRouteFallback.php
  yii2-adapter/src/Http/LegacyMiddleware.php
  yii2-adapter/src/Http/NormalizeLegacyPath.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Http/LegacyMiddlewareTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Consolidate request middleware
  src/Http/Middleware/CheckForUpdates.php
  src/Http/Middleware/CheckSchemaVersion.php
  src/Http/Middleware/SendPoweredByHeader.php
  src/Http/Middleware/SetHeaders.php
  src/Route/RouteServiceProvider.php
  tests/Feature/Http/Middleware/CheckForUpdatesTest.php
  tests/Feature/Http/Middleware/CheckSchemaVersionTest.php
  tests/Feature/Http/Middleware/SendPoweredByHeaderTest.php
  tests/Feature/Http/Middleware/SetHeadersTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Review fixes
  src/Http/Middleware/HandleTokenRequest.php
  src/Http/Middleware/SetHeaders.php
  tests/Feature/Http/Middleware/HandleTokenRequestTest.php
  tests/Feature/Http/Middleware/SetHeadersTest.php
  yii2-adapter/src/Http/HandleYiiSiteRouteFallback.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Scope mutable services
  src/Asset/Assets.php
  src/Asset/Volumes.php
  src/Gql/Gql.php
  src/RouteToken/RouteTokens.php
  src/User/UserPermissions.php
  src/User/Users.php
  tests/Unit/Support/LifecycleBindingsTest.php
  yii2-adapter/legacy/services/UserPermissions.php
  yii2-adapter/tests-laravel/Legacy/UserPermissionsLifecycleTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update docblock
  src/Asset/Assets.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup `Volume::attributeLabels()`
  src/models/Volume.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed HR-1539
  CHANGELOG.md
  src/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note tweak
  CHANGELOG.md
Due: none

Optimize general config loading
  src/Config/ConfigServiceProvider.php
  src/Config/GeneralConfig.php
  src/Cp/Cp.php
  tests/Unit/Config/ConfigServiceProviderTest.php
  tests/Unit/Config/GeneralConfigTest.php
  yii2-adapter/legacy/Craft.php
  yii2-adapter/legacy/config/GeneralConfig.php
  yii2-adapter/legacy/services/Config.php
  yii2-adapter/legacy/services/Users.php
  yii2-adapter/src/Config/GeneralConfigCompatibility.php
  yii2-adapter/src/Config/MultiEnvironmentConfigCompatibility.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Legacy/ConfigCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix adapter test setup
  yii2-adapter/tests-laravel/Legacy/ConfigCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
