Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Changelog
  CHANGELOG.md
Due: none

Collections are still cleaner
  src/Http/Controllers/Elements/ElementSourcesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

update the nav according to the latest 6.x changes
  src/Cp/Navigation.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweaks
  resources/templates/import/_importer-types/element-importer.twig
  src/Element/Concerns/NestedElement.php
  src/Import/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix PHP error when merging canonical changes for non-change-tracking nested elements
  CHANGELOG.md
  src/elements/NestedElementManager.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Prettier
  resources/js/common/components/ActionMenu.vue
  resources/js/common/composables/useAsyncIcon.ts
  resources/js/common/form/IconPicker.vue
  resources/js/modules/field-layout-designer/card-view-designer.ts
  resources/js/modules/field-layout-designer/element.ts
  resources/js/modules/field-layout-designer/field-layout-designer.ts
  resources/js/modules/field-layout-designer/tab.ts
  resources/js/modules/sortable-checkbox-select/sortable-checkbox-select.ts
  resources/js/pages/settings/Index.vue
  resources/js/pages/settings/entry-types/Edit.vue
Due: none

Support WebP and HEIC image dimensions
  src/helpers/Image.php
  tests/_data/assets/files/example-avif.avif
  tests/_data/assets/files/example-heic.heic
  tests/_data/assets/files/example-heif.heif
  tests/_data/assets/files/example-webp-alpha.webp
  tests/_data/assets/files/example-webp-lossless.webp
  tests/_data/assets/files/example-webp.webp
  tests/unit/helpers/ImageHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use image fixtures for stream size tests
  src/helpers/Image.php
  tests/_data/assets/files/example-heic.heic
  tests/unit/helpers/ImageHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix index links
  src/Http/Requests/ElementRequest.php
  tests/Feature/Http/Requests/ElementRequestTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore front-end MFA support
  src/auth/methods/AuthMethodInterface.php
  src/auth/methods/BaseAuthMethod.php
  src/auth/methods/RecoveryCodes.php
  src/auth/methods/TOTP.php
  src/controllers/AuthController.php
  src/templates/_components/auth/methods/RecoveryCodes/form.twig
  src/templates/_components/auth/methods/TOTP/form.twig
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Trim front-end MFA port
  src/auth/methods/RecoveryCodes.php
  src/auth/methods/TOTP.php
  src/templates/_components/auth/methods/RecoveryCodes/form.twig
  src/templates/_components/auth/methods/TOTP/form.twig
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add auth method data endpoints
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename auth method data actions
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify WebP stream reads
  src/helpers/Image.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Match auth setup data action name
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document stream metadata scan limit
  src/helpers/Image.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a way to route to a controller action
  src/Http/Middleware/HandleMatchedElementRoute.php
  src/Route/ControllerRoute.php
  src/Route/MatchedElement.php
  tests/Feature/Http/Middleware/HandleMatchedElementRouteTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Avoid requiring setup data on auth methods
  src/auth/methods/AuthMethodInterface.php
  src/auth/methods/BaseAuthMethod.php
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clarify stream metadata scan limit
  src/helpers/Image.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clarify available auth methods action
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify auth setup action name
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename auth setup data action
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use primary ISO BMFF image size
  src/helpers/Image.php
  tests/unit/helpers/ImageHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Limit auth setup data to base methods
  src/auth/methods/BaseAuthMethod.php
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use consistent TOTP setup secret
  src/auth/methods/TOTP.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Require POST for auth methods data
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Handle invalid auth method requests
  src/controllers/AuthController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Gql.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Wire up set status bulk action
  packages/craftcms-cp/src/components/action-menu/action-menu.stories.ts
  packages/craftcms-cp/src/components/action-menu/action-menu.ts
  packages/craftcms-cp/src/components/nav-item/nav-item.ts
  packages/craftcms-cp/src/components/popover/popover.styles.ts
  packages/craftcms-cp/src/components/reorder-button/reorder-button.stories.ts
  packages/craftcms-cp/src/components/reorder-button/reorder-button.ts
  packages/craftcms-cp/src/styles/shared/base.css
  packages/craftcms-legacy/cp/src/js/CustomizeSourcesModal.js
  resources/js/common/components/ActionMenu.vue
  resources/js/common/layouts/AppLayout.vue
  resources/js/common/layouts/IndexLayout.vue
  resources/js/modules/admin-table/components/AdminTable.vue
  resources/js/modules/elements/components/BulkActionsBar.vue
  resources/js/modules/elements/components/ElementIndexToolbar.vue
  resources/js/pages/content/Index.vue
  src/Element/ElementActions.php
  src/Http/Controllers/ContentIndexController.php
  src/Http/Controllers/Elements/PerformElementActionController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fixed potential "Class Craft doesn't exist" bugs
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Extract save options type into common type
  resources/js/common/layouts/AppLayout.vue
  resources/js/common/layouts/IndexLayout.vue
  resources/js/common/types/index.ts
  resources/js/modules/settings/composables/useSettingsSave.ts
Due: none

Support locked permissions in permission list
  resources/js/modules/permissions/components/PermissionList.vue
Due: none

Add shared slideout button
  resources/js/common/components/SlideoutButton.vue
  resources/js/modules/entry-types/components/EntryTypeSelect.vue
Due: none

Add subnav support to secondary nav
  resources/js/common/layouts/IndexLayout.vue
Due: none

Add support for additional buttons in AppLayout
  resources/js/common/layouts/AppLayout.vue
  resources/js/common/layouts/IndexLayout.vue
  resources/js/common/types/index.ts
Due: none

Allow any Arrayable as inertia response data
  src/Http/Responses/CpScreenResponse.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ignore hot file
  .gitignore
Due: none

Add a subnav property to CpScreenResponse
  src/Http/Responses/CpScreenResponse.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add user permissions screen
  resources/js/modules/user/components/UserGroupSelect.vue
  resources/js/pages/users/Permissions.vue
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Http/ViewModels/UserPermissionsViewModel.php
  tests/Feature/Http/Controllers/User/PermissionsControllerTest.php
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

path normalisation + root dir that accounts for windows
  src/services/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
