Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Rector & phpstan
  src/Field/LinkTypes/BaseTextLinkType.php
  src/Support/Env.php
  yii2-adapter/legacy/models/FsListing.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan fixes
  src/User/Elements/User.php
  yii2-adapter/legacy/base/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix orders on subQuery
  src/Database/Queries/Concerns/FormatsResults.php
  src/Database/Queries/ElementQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Session authorization is different
  src/Http/Controllers/PreviewController.php
  src/Http/Controllers/StructuresController.php
  src/Http/EnforcesPermissions.php
  src/Structure/Data/Structure.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add authorization to tests
  tests/Http/Controllers/PreviewControllerTest.php
  tests/Http/Controllers/StructuresControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix lock issue
  yii2-adapter/legacy/behaviors/SessionBehavior.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add SessionAuth helper for elevated session and session authorization
  src/Auth/SessionAuth.php
  src/Cms.php
  src/Field/Assets.php
  src/Http/EnforcesPermissions.php
  src/Http/Middleware/RequireElevatedSession.php
  src/Structure/Data/Structure.php
  src/User/Elements/User.php
  tests/Http/Controllers/PreviewControllerTest.php
  tests/Http/Controllers/StructuresControllerTest.php
  yii2-adapter/legacy/auth/methods/TOTP.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/behaviors/SessionBehavior.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/legacy/controllers/GraphqlController.php
  yii2-adapter/legacy/controllers/NestedElementsController.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/elements/NestedElementManager.php
  yii2-adapter/legacy/helpers/App.php
  yii2-adapter/legacy/web/Controller.php
  yii2-adapter/legacy/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  yii2-adapter/tests/unit/web/UserTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove key from test
  yii2-adapter/tests/unit/helpers/AppHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup fake
  yii2-adapter/tests/unit/web/UserTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove elevated session tests, we'll add those to SessionAuth tests
  yii2-adapter/tests/unit/web/UserTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor to use Laravel's password.confirm logic instead
  routes/actions.php
  src/Auth/Concerns/ConfirmsPasswords.php
  src/Auth/Concerns/EnforcesPermissions.php
  src/Auth/SessionAuth.php
  src/Config/GeneralConfig.php
  src/Http/Controllers/Entries/StoreEntryController.php
  src/Http/Controllers/PreviewController.php
  src/Http/Controllers/Settings/UserGroupsController.php
  src/Http/Controllers/StructuresController.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Http/Controllers/Users/UsersController.php
  src/Http/Middleware/RequireElevatedSession.php
  src/User/Elements/User.php
  tests/Auth/SessionAuthTest.php
  yii2-adapter/legacy/auth/methods/TOTP.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/web/Controller.php
  yii2-adapter/legacy/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rector changes
  src/Field/LinkTypes/BaseTextLinkType.php
  src/Support/Env.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Call config inside booting
  src/Config/GeneralConfig.php
  yii2-adapter/legacy/web/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Run view transitions in a queue
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/Craft.js
Due: none

Routes admin cleanup + fixes
  src/web/assets/routes/dist/css/routes.css
  src/web/assets/routes/dist/css/routes.css.map
  src/web/assets/routes/dist/routes.js
  src/web/assets/routes/dist/routes.js.LICENSE.txt
  src/web/assets/routes/dist/routes.js.map
  src/web/assets/routes/src/routes.js
  src/web/assets/routes/src/routes.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Run guild
  resources/build/SettingsGeneralPage.js
  resources/build/assets/SettingsGeneralPage.css
  resources/build/assets/cp.css
  resources/build/legacy.js
Due: prettier --ignore-unknown --write

Cleanup
  src/Auth/SessionAuth.php
  src/Config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add test for ConfirmsPasswords
  src/Auth/Concerns/ConfirmsPasswords.php
  tests/Auth/Concerns/ConfirmsPasswordsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Custom migrators should also be filtered based on track
  src/Database/Commands/MigrateCommand.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix test
  src/Config/GeneralConfig.php
  tests/Http/Controllers/User/PermissionsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add some changelog
  CHANGELOG-WIP.md
Due: none

Start replacing authentication methods
  routes/actions.php
  routes/cp.php
  src/Auth/AuthServiceProvider.php
  src/Auth/Enums/CpAuthPath.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/PasskeyController.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
  src/Providers/CraftServiceProvider.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Session info
  routes/actions.php
  src/Auth/AuthServiceProvider.php
  src/Http/Controllers/Users/SessionInfoController.php
  src/Providers/AppServiceProvider.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Login modal
  routes/actions.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/SessionInfoController.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Elevated session timeout
  routes/actions.php
  src/Http/Controllers/Auth/SessionInfoController.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Mark announcements read
  routes/actions.php
  src/Http/Controllers/AnnouncementsController.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Event deprecations
  src/Auth/Events/LoginUserRetrieved.php
  src/Auth/Events/RetrievingLoginUser.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/events/FindLoginUserEvent.php
  yii2-adapter/legacy/events/LoginFailureEvent.php
  yii2-adapter/legacy/events/UserEvent.php
  yii2-adapter/legacy/events/UserGroupPermissionsEvent.php
  yii2-adapter/legacy/events/UserGroupsAssignEvent.php
  yii2-adapter/legacy/events/UserPermissionsEvent.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only save posted settings to PC
  CHANGELOG.md
  src/services/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add section to CONTRIBUTING.md about the control panel
  CONTRIBUTING.md
Due: none

Proofread
  CONTRIBUTING.md
Due: none

Settings index page
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/utilities/icons.test.ts
  packages/craftcms-cp/src/utilities/icons.ts
  resources/css/cp.css
  resources/js/components/CalloutReadOnly.vue
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/pages/SettingsIndexPage.vue
  resources/views/app.blade.php
  routes/cp.php
  src/Cp/Events/RegisterCpSettings.php
  src/Cp/Navigation.php
  src/Cp/Settings.php
  src/Http/Controllers/Settings/SettingsIndexController.php
  src/Providers/AppServiceProvider.php
  tests/Http/Controllers/Settings/SettingsIndexControllerTest.php
  yii2-adapter/legacy/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fixed a couple docs bugs with EVENT_DEFINE_EDIT_SCREENS
  src/controllers/UsersController.php
  src/events/DefineEditUserScreensEvent.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Build
  .prettierignore
  resources/build/CalloutReadOnly.vue_vue_type_script_setup_true_lang.js
  resources/build/Install.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/CalloutReadOnly.css
  resources/build/assets/SettingsGeneralPage.css
  resources/build/assets/SettingsIndexPage.css
  resources/build/assets/cp.css
  resources/build/cp2.js
  resources/build/legacy.js
  resources/build/manifest.json
Due: prettier --ignore-unknown --write

Fix default path
  yii2-adapter/legacy/web/twig/CpExtension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use the container
  src/Cp/Settings.php
  src/Http/Controllers/Settings/SettingsIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove settings twig template
  resources/templates/settings/index.twig
Due: none

ensure return element
  src/controllers/ElementsController.php
  src/fields/Matrix.php
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
  src/web/assets/matrix/src/MatrixInput.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  routes/actions.php
  src/Auth/AuthServiceProvider.php
  src/Config/GeneralConfig.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/PasskeyController.php
  yii2-adapter/legacy/config/GeneralConfig.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/services/Sso.php
  yii2-adapter/legacy/test/CraftConnector.php
  yii2-adapter/legacy/web/User.php
  yii2-adapter/src/IdentityWrapper.php
  yii2-adapter/tests/unit/elements/UserElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
