Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

No need to ensure field names are unique
  src/migrations/m230617_070415_entrify_matrix_blocks.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #17751
  CHANGELOG.md
  src/migrations/m230617_070415_entrify_matrix_blocks.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Arguments on their own lines, indentation
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Parser tests
  tests/fixtures/data/entries.php
  tests/unit/services/ElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move cases out of data provider to avoid fixture thrashing Also fixes a bunch of slug/path/ID issues
  tests/unit/services/ElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix expected field values
  tests/fixtures/data/entries.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add explicit cases for custom entry ref formats
  tests/unit/services/ElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix return type/shape from _fixtures()
  tests/unit/services/ElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move plugin service
  cms/src/Announcement/Announcements.php
  cms/src/Plugin/Contracts/PluginInterface.php
  cms/src/Plugin/Events/DisablingPlugin.php
  cms/src/Plugin/Events/EnablingPlugin.php
  cms/src/Plugin/Events/InstallingPlugin.php
  cms/src/Plugin/Events/LoadingPlugins.php
  cms/src/Plugin/Events/PluginDisabled.php
  cms/src/Plugin/Events/PluginEnabled.php
  cms/src/Plugin/Events/PluginEvent.php
  cms/src/Plugin/Events/PluginInstalled.php
  cms/src/Plugin/Events/PluginSettingsSaved.php
  cms/src/Plugin/Events/PluginUninstalled.php
  cms/src/Plugin/Events/PluginsLoaded.php
  cms/src/Plugin/Events/SavingPluginSettings.php
  cms/src/Plugin/Events/UninstallingPlugin.php
  cms/src/Plugin/Exceptions/InvalidPluginException.php
  cms/src/Plugin/Plugins.php
  cms/src/Utility/Utilities/SystemReport.php
  src/base/Plugin.php
  src/base/PluginTrait.php
  src/console/controllers/MigrateController.php
  src/console/controllers/PluginController.php
  src/console/controllers/UpdateController.php
  src/controllers/PluginsController.php
  src/errors/InvalidPluginException.php
  src/events/PluginEvent.php
  src/services/Updates.php
  src/services/UserPermissions.php
  src/test/CraftConnector.php
  src/web/Application.php
  src/web/twig/Extension.php
  src/web/twig/variables/Cp.php
  yii2-adapter/legacy/base/PluginInterface.php
  yii2-adapter/legacy/errors/InvalidPluginException.php
  yii2-adapter/legacy/services/Plugins.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixtures configuration
  packages/craftcms-playwright/Dockerfile
  packages/craftcms-playwright/_config.js
  packages/craftcms-playwright/_craft.js
  packages/craftcms-playwright/docker-compose.yaml
  packages/craftcms-playwright/php/app.php
  packages/craftcms-playwright/scripts/init-craft.sh
  tests-playwright/.env.example
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

add fixture namespace to config file
  packages/craftcms-playwright/_config.js
Due: none

Add install plugin method
  packages/craftcms-playwright/_craft.js
Due: none

Initial attempts to add events
  packages/craftcms-playwright/_events.js
  packages/craftcms-playwright/_global-setup.js
  packages/craftcms-playwright/index.js
  packages/craftcms-playwright/package-lock.json
  packages/craftcms-playwright/package.json
  playwright.config.js
Due: prettier --ignore-unknown --write

Port PluginsController + changes to keep plugins working
  cms/routes/actions.php
  cms/routes/cp.php
  cms/src/Http/Controllers/Plugins/PluginsController.php
  cms/src/Http/Middleware/HandleActionRequest.php
  cms/src/Http/Middleware/RequireAdmin.php
  cms/src/Http/RespondsWithFlash.php
  cms/src/Plugin/Plugins.php
  cms/src/Providers/AppServiceProvider.php
  src/base/ApplicationTrait.php
  src/controllers/PluginsController.php
  src/db/MigrationManager.php
  src/templates/settings/plugins/_index.twig
  src/web/twig/Extension.php
  yii2-adapter/legacy/services/Plugins.php
  yii2-adapter/src/Http/Controller.php
  yii2-adapter/src/Web/Response.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  cms/src/Providers/AppServiceProvider.php
  cms/tests/Http/Controllers/Dashboard/DashboardControllerTest.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

undo composer change
  composer.json
Due: prettier --ignore-unknown --write

Register app terminating callback to write project config instead of only on craft request end
  cms/src/Plugin/Plugins.php
  src/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename variable
  cms/src/Http/Controllers/Plugins/PluginsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Include filename in generate transform queue job descriptions
  CHANGELOG-WIP.md
  src/imagetransforms/ImageTransformer.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish) [ci skip]
  src/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add test coverage for Plugins service
  cms/src/Component/Concerns/ValidatableComponent.php
  cms/src/Component/Contracts/ValidatableComponentInterface.php
  cms/src/Component/Events/ComponentEvent.php
  cms/src/Dashboard/Widgets/CraftSupport.php
  cms/src/Dashboard/Widgets/Widget.php
  cms/src/Plugin/Contracts/PluginInterface.php
  cms/src/Plugin/Plugin.php
  cms/src/Plugin/PluginSettings.php
  cms/src/Plugin/Plugins.php
  cms/src/Support/Utils.php
  cms/tests/Plugin/PluginsTest.php
  cms/tests/TestClasses/TestPlugin.php
  cms/tests/TestClasses/TestPluginSettings.php
  composer.lock
  src/base/Model.php
  src/base/Plugin.php
  src/console/controllers/UpdateController.php
  yii2-adapter/legacy/services/Dashboard.php
  yii2-adapter/legacy/utilities/AssetIndexes.php
  yii2-adapter/legacy/utilities/ClearCaches.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace instances of Craft::$app->getPlugins()
  cms/src/Announcement/Announcements.php
  cms/src/Dashboard/Widgets/CraftSupport.php
  cms/src/Migrations/Install.php
  cms/src/Support/Api.php
  cms/src/Utility/Utilities/SystemReport.php
  cms/src/Utility/Utilities/Upgrade.php
  src/base/ApplicationTrait.php
  src/base/MissingComponentTrait.php
  src/console/controllers/MigrateController.php
  src/console/controllers/PluginController.php
  src/console/controllers/ProjectConfigController.php
  src/console/controllers/UpdateController.php
  src/controllers/AppController.php
  src/controllers/BaseUpdaterController.php
  src/controllers/ConfigSyncController.php
  src/controllers/PluginStoreController.php
  src/controllers/UpdaterController.php
  src/controllers/UpgradeController.php
  src/controllers/pluginstore/InstallController.php
  src/helpers/App.php
  src/helpers/Component.php
  src/helpers/Cp.php
  src/models/FieldLayoutTab.php
  src/queue/jobs/Announcement.php
  src/services/ProjectConfig.php
  src/services/Updates.php
  src/services/UserPermissions.php
  src/test/Craft.php
  src/test/CraftConnector.php
  src/web/Application.php
  src/web/twig/Extension.php
  src/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace InvalidPluginException
  cms/src/Migrations/Install.php
  src/console/controllers/PluginController.php
  src/controllers/AppController.php
  src/controllers/ConfigSyncController.php
  src/controllers/PluginStoreController.php
  src/helpers/App.php
  src/services/Updates.php
  src/test/Craft.php
  yii2-adapter/legacy/services/Plugins.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan
  cms/src/Announcement/Announcements.php
  cms/src/Plugin/Plugin.php
  cms/src/Plugin/Plugins.php
  src/console/controllers/PluginController.php
  src/web/Application.php
  src/web/twig/variables/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Port console commands for plugins
  cms/src/Console/CraftCommand.php
  cms/src/Plugin/Commands/DisableCommand.php
  cms/src/Plugin/Commands/EnableCommand.php
  cms/src/Plugin/Commands/InstallCommand.php
  cms/src/Plugin/Commands/ListCommand.php
  cms/src/Plugin/Commands/PromptsForMissingHandle.php
  cms/src/Plugin/Commands/UninstallCommand.php
  cms/src/Plugin/PluginsServiceProvider.php
  cms/src/Providers/AppServiceProvider.php
  cms/src/Providers/CraftServiceProvider.php
  cms/tests/Plugin/PluginsTest.php
  cms/tests/TestCase.php
  composer.lock
  src/base/Plugin.php
  src/console/controllers/PluginController.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

autoloading fixtures
  packages/craftcms-playwright/php/app.php
  packages/craftcms-playwright/scripts/init-craft.sh
  tests-playwright/.env.example
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fixtures path relative to your repo root
  packages/craftcms-playwright/php/app.php
  packages/craftcms-playwright/scripts/init-craft.sh
  tests-playwright/.env.example
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup DatabaseConnection
  yii2-adapter/src/DatabaseConnection.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move StringHelper unit test to adapter
  yii2-adapter/tests/Legacy/helpers/StringHelperTest.php
  yii2-adapter/tests/Pest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move ArrayHelper unit tests to adapter package
  yii2-adapter/tests/Legacy/helpers/ArrayHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup test
  tests/unit/config/GeneralConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove loading plugins in Yii2ServiceProvider
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

App::terminating was the culprit
  cms/src/Http/Middleware/FlushProjectConfig.php
  cms/src/Plugin/PluginsServiceProvider.php
  cms/src/Providers/AppServiceProvider.php
  src/services/ProjectConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix action requests
  cms/src/Http/Middleware/HandleActionRequest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

move fixture data to the tests/fixtures/data files
  packages/craftcms-playwright/README.md
  packages/craftcms-playwright/fixtures/data/assets.php
  packages/craftcms-playwright/fixtures/data/entries.php
  packages/craftcms-playwright/fixtures/data/entry-types.php
  packages/craftcms-playwright/fixtures/data/entry-with-fields.php
  packages/craftcms-playwright/fixtures/data/entry-with-matrix.php
  packages/craftcms-playwright/fixtures/data/field-layout.php
  packages/craftcms-playwright/fixtures/data/fields.php
  packages/craftcms-playwright/fixtures/data/fs.php
  packages/craftcms-playwright/fixtures/data/global-sets.php
  packages/craftcms-playwright/fixtures/data/gql-schemas.php
  packages/craftcms-playwright/fixtures/data/section-settings.php
  packages/craftcms-playwright/fixtures/data/sections.php
  packages/craftcms-playwright/fixtures/data/sessions.php
  packages/craftcms-playwright/fixtures/data/sites.php
  packages/craftcms-playwright/fixtures/data/transforms.php
  packages/craftcms-playwright/fixtures/data/user-groups.php
  packages/craftcms-playwright/fixtures/data/users.php
  packages/craftcms-playwright/fixtures/data/volumefolder.php
  packages/craftcms-playwright/fixtures/data/volumes.php
  tests-playwright/elementindex/sorting.test.js
  tests-playwright/matrix/blocks.test.js
  tests-playwright/matrix/cards.test.js
  tests-playwright/matrix/elementindex.test.js
  tests/fixtures/data/entries.php
  tests/fixtures/data/entry-types.php
  tests/fixtures/data/field-layout.php
  tests/fixtures/data/section-settings.php
  tests/fixtures/data/sections.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

clean up env var names
  packages/craftcms-playwright/_config.js
  packages/craftcms-playwright/_craft.js
  packages/craftcms-playwright/docker-compose.yaml
  packages/craftcms-playwright/php/app.php
  packages/craftcms-playwright/scripts/init-craft.sh
  test-results/.last-run.json
  tests-playwright/.env.example
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

move _config, _global-setup and _global-teardown to playwright/config
  packages/craftcms-playwright/_craft.js
  packages/craftcms-playwright/index.js
  packages/craftcms-playwright/playwright/config/_config.js
  packages/craftcms-playwright/playwright/config/_global-setup.js
  packages/craftcms-playwright/playwright/config/_global-teardown.js
Due: none

rename scripts to docker, pre to setup and post to teardown
  packages/craftcms-playwright/cli.js
  packages/craftcms-playwright/docker/init-craft.sh
  packages/craftcms-playwright/docker/setup.sh
  packages/craftcms-playwright/docker/teardown.sh
Due: none

move webserver and craftcms into docker
  packages/craftcms-playwright/Dockerfile
  packages/craftcms-playwright/docker-compose.yaml
  packages/craftcms-playwright/docker/craftcms/etc/nginx/nginx.conf
  packages/craftcms-playwright/docker/craftcms/etc/supervisord.d/nginx.ini
  packages/craftcms-playwright/docker/webserver/nginx/default.conf
  packages/craftcms-playwright/docker/webserver/supervisord.d/nginx.ini
Due: none

Base utility class shouldn't be readonly
  cms/src/Utility/Utilities/AssetIndexes.php
  cms/src/Utility/Utilities/ClearCaches.php
  cms/src/Utility/Utilities/DbBackup.php
  cms/src/Utility/Utilities/DeprecationErrors.php
  cms/src/Utility/Utilities/FindAndReplace.php
  cms/src/Utility/Utilities/Migrations.php
  cms/src/Utility/Utilities/PhpInfo.php
  cms/src/Utility/Utilities/ProjectConfig.php
  cms/src/Utility/Utilities/QueueManager.php
  cms/src/Utility/Utilities/SystemMessages.php
  cms/src/Utility/Utilities/SystemReport.php
  cms/src/Utility/Utilities/Updates.php
  cms/src/Utility/Utilities/Upgrade.php
  cms/src/Utility/Utility.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
