Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

New translations app.php (Polish)
  resources/translations/pl/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Portuguese)
  resources/translations/pt/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Russian)
  resources/translations/ru/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Slovak)
  resources/translations/sk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Swedish)
  resources/translations/sv/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Turkish)
  resources/translations/tr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Ukrainian)
  resources/translations/uk/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Chinese Simplified)
  resources/translations/zh/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Icelandic)
  resources/translations/is/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Persian)
  resources/translations/fa/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Thai)
  resources/translations/th/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (English, United Kingdom)
  resources/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French, Canada)
  resources/translations/fr-CA/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Norwegian Bokmal)
  resources/translations/nb/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German, Switzerland)
  resources/translations/de-CH/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (French)
  resources/translations/fr/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

rector
  rector.php
  src/Asset/Validation/Rules/AssetLocationRule.php
  src/Auth/Passkeys/WebauthnServer.php
  src/Element/Queries/Concerns/Entry/QueriesSections.php
  src/Element/Queries/Exceptions/ElementNotFoundException.php
  src/Field/Data/FieldMergeResult.php
  src/Form/FormContext.php
  src/Http/ViewModels/UserAddressesViewModel.php
  src/Plugin/Plugins.php
  src/Support/Env.php
  src/Support/Url.php
  src/Twig/NodeVisitors/BaseEventTagVisitor.php
  tests/Feature/Element/Commands/ResaveCommandsTest.php
  tests/Feature/Element/ElementDeletions/DeleteElementTest.php
  tests/Feature/Element/Jobs/PropagateElementsTest.php
  tests/Feature/Element/Policies/ElementPolicyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Preserve PHPStan return types
  src/Element/Queries/Exceptions/ElementNotFoundException.php
  src/Http/ViewModels/UserAddressesViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Format PHPStan return annotation
  src/Element/Queries/Exceptions/ElementNotFoundException.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix frontend checks after base update
  packages/craftcms-ui/src/components/action-menu/action-menu.ts
  src/Http/ViewModels/UserAddressesViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix PHPStan issues
  src/Element/Queries/Exceptions/ElementNotFoundException.php
  src/Http/ViewModels/UserAddressesViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18968, part 2
  CHANGELOG.md
  src/base/Element.php
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 4.18.7
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.10.14
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

UI improvements
  packages/craftcms-ui/src/components/button/button.styles.ts
  packages/craftcms-ui/src/components/pane/pane.styles.ts
  packages/craftcms-ui/src/components/tab/tab.styles.ts
  packages/craftcms-ui/src/components/tab/tab.ts
  packages/craftcms-ui/src/components/tabs/tabs.stories.ts
  packages/craftcms-ui/src/components/tabs/tabs.styles.ts
  packages/craftcms-ui/src/components/tabs/tabs.test.ts
  packages/craftcms-ui/src/components/tabs/tabs.ts
  resources/js/common/components/CpSidebar.vue
  resources/js/common/components/SystemInfo.vue
  resources/js/common/components/UserThumbnail.vue
  resources/js/common/composables/useGlobalSidebar.ts
  resources/js/common/layouts/AppLayout.vue
  resources/js/common/layouts/screens/EditorScreen.vue
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/modules/auth/components/login/login-form.ts
  resources/js/modules/elements/components/ElementEditScreen.vue
  resources/js/pages/content/Edit.vue
  resources/js/pages/graphql/Explore.vue
Due: none

Keep bugfixes together
  CHANGELOG.md
Due: none

Finish 6.0.0-alpha.17
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Bring back collapsing sidebar
  packages/craftcms-ui/src/components/action-menu/action-menu.test.ts
  packages/craftcms-ui/src/components/action-menu/action-menu.types.ts
  packages/craftcms-ui/src/components/chip/chip.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/components/nav-list/nav-list.ts
  packages/craftcms-ui/src/components/pane/pane.styles.ts
  packages/craftcms-ui/src/components/popover/popover.ts
  packages/craftcms-ui/src/components/tooltip/tooltip.test.ts
  packages/craftcms-ui/src/components/tooltip/tooltip.ts
  packages/craftcms-ui/src/stories/tokens/Docs.mdx
  packages/craftcms-ui/src/styles/variants.styles.test.ts
  packages/craftcms-ui/src/utilities/overlay-position.ts
  resources/css/cp.css
  resources/js/common/components/CpSidebar.vue
  resources/js/common/components/MainNav.vue
  resources/js/common/components/SystemInfo.vue
  resources/js/common/composables/useGlobalSidebar.ts
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/modules/elements/components/ElementEditScreen.vue
Due: prettier --ignore-unknown --write

Update GHSA links
  CHANGELOG.md
Due: none

Fix multiple security vulnerabilities in CHANGELOG
  CHANGELOG.md
Due: none

Merge in 6.x
  resources/css/cp.css
  resources/js/common/components/CpSidebar.vue
  resources/js/common/components/FormActions.vue
  resources/js/common/components/SystemInfo.vue
  resources/js/common/composables/useGlobalSidebar.ts
  resources/js/common/layouts/screens/PageScreen.vue
  resources/js/modules/auth/components/login/login-form.ts
  resources/js/modules/elements/components/ElementEditPage.vue
  resources/js/modules/elements/components/ElementEditScreen.vue
  resources/js/modules/elements/components/RevisionsList.vue
  resources/js/modules/elements/composables/useElementActivity.test.ts
  resources/js/modules/forms/ElementSelectControl.vue
  resources/js/modules/forms/FormNode.vue
  resources/js/modules/forms/FormNodeList.vue
  resources/js/modules/forms/FormRenderer.test.ts
Due: prettier --ignore-unknown --write

Rector
  src/Element/Concerns/HasControlPanelUI.php
  src/Http/ViewModels/ElementEditViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adjust tooltip delays
  packages/craftcms-ui/src/components/tooltip/tooltip.ts
Due: none

Pint
  src/Element/Concerns/HasControlPanelUI.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove fullWidth option
  resources/js/pages/Form.vue
Due: none

Update tests
  tests/Feature/Http/Controllers/User/AddressesControllerTest.php
  tests/Unit/Cp/ContentHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update PHP components
  src/Cp/Components/Callout.php
  src/Cp/Components/Tabs.php
  src/Cp/Enums/TabsPlacement.php
  tests/Unit/Cp/Components/CalloutTest.php
  tests/Unit/Cp/Components/ComponentManifestDriftTest.php
  tests/Unit/Cp/Components/TabsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ugly nav flyout for the moment
  packages/craftcms-ui/src/components/nav-item/nav-item.styles.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.test.ts
  packages/craftcms-ui/src/components/nav-item/nav-item.ts
  resources/js/common/components/MainNav.vue
Due: none

Fix postgres tests
  tests/Feature/FieldLayout/FieldLayoutCompilerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
