Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Put the page header's title and toolbar on one row
  resources/js/common/layouts/screens/PageScreen.vue
Due: none

Update slideout label
  resources/js/modules/field-layout-designer/element.ts
Due: none

Wrap slot with field-group
  resources/js/common/layouts/screens/SlideoutScreen.vue
Due: none

Keep Project Config handler metadata together
  CHANGELOG.md
  src/ProjectConfig/ProjectConfig.php
  tests/Unit/ProjectConfig/ProjectConfigTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Implement invisible focus anchor for focus target on route changes
  packages/craftcms-ui/src/styles/cp.css
  resources/js/bootstrap/cp.ts
  resources/js/common/layouts/screens/PageScreen.vue
Due: prettier --ignore-unknown --write

Update description
  resources/js/bootstrap/cp.ts
Due: none

Fix duplicate validation lifecycle
  CHANGELOG.md
  src/Validation/Concerns/Validates.php
  tests/Unit/Validation/ValidatesWithRulesetTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix mixed element collection eager loading
  CHANGELOG.md
  src/Element/ElementCollection.php
  tests/Feature/Element/ElementCollectionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Normalize forced-disabled plugin configuration
  CHANGELOG.md
  src/Plugin/Plugins.php
  tests/Feature/Plugin/PluginsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix Edition capability checks
  CHANGELOG.md
  src/Edition.php
  tests/Unit/EditionTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use exception-based JSON decoding
  CHANGELOG.md
  src/Support/Json.php
  tests/Feature/Support/JsonTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use atomic job progress upserts
  CHANGELOG.md
  src/Queue/JobProgress.php
  tests/Feature/Queue/JobProgressServiceTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use Laravel database teardown API
  CHANGELOG.md
  package-lock.json
  src/Database/Commands/Concerns/ManagesDatabaseTables.php
  tests/Feature/Database/Commands/DropAllTablesCommandTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Add request-scoped response headers
  CHANGELOG.md
  composer.json
  composer.lock
  src/Blade/Directives/ResponseDirective.php
  src/Http/Middleware/SetHeaders.php
  src/Http/ResponseHeaders.php
  src/Image/ImageTransformer.php
  src/Support/Facades/ResponseHeaders.php
  src/Support/Html.php
  src/Twig/Nodes/ExpiresNode.php
  src/Twig/Nodes/HeaderNode.php
  tests/.pest/snapshots/Unit/Twig/Nodes/ExpiresNodeTest/it_compiles_with_dynamic_expiration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/ExpiresNodeTest/it_compiles_with_static_duration.snap
  tests/.pest/snapshots/Unit/Twig/Nodes/HeaderNodeTest/it_compiles.snap
  tests/Feature/Http/Middleware/SetHeadersTest.php
  tests/Unit/Support/HtmlTest.php
  tests/Unit/View/BladeDirectives/ResponseDirectiveTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Keep custom field query criteria sparse
  CHANGELOG.md
  src/Element/Queries/Concerns/QueriesCustomFields.php
  src/Element/Queries/ElementQuery.php
  tests/Feature/Element/Queries/Concerns/QueriesCustomFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Prevent stale user permission trees
  CHANGELOG.md
  src/User/UserPermissions.php
  tests/Feature/User/UserPermissionsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve FormResolver membership checks
  CHANGELOG.md
  src/Form/FormResolver.php
  tests/Unit/Form/PlainTextSettingsFormTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use GraphQL AST value decoders
  CHANGELOG.md
  src/Gql/ElementQueryConditionBuilder.php
  src/Gql/GqlHelper.php
  src/Gql/Types/QueryArgument.php
  tests/Feature/Gql/GqlTest.php
  tests/TestClasses/Gql/MockDirective.php
  tests/Unit/Gql/ElementQueryConditionBuilderTest.php
  tests/Unit/Gql/Types/QueryArgumentTest.php
  yii2-adapter/legacy/test/mockclasses/gql/MockDirective.php
  yii2-adapter/tests/unit/gql/DirectiveTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replay structured HTML stack resources
  CHANGELOG.md
  src/View/CacheCollectors/ResourceCollector.php
  src/View/Data/ResourceEntry.php
  src/View/HtmlStack.php
  tests/Unit/View/ResourceCollectorTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Return verified passkey credentials explicitly
  CHANGELOG.md
  src/Auth/AuthMethods.php
  src/Auth/Passkeys/Passkeys.php
  tests/Feature/Auth/Auth/AuthPasskeyTest.php
  tests/Feature/Auth/PasskeysTest.php
  tests/Feature/Http/Controllers/Auth/PasskeyControllerTest.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/tests-laravel/Legacy/AuthServiceTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep search state local
  CHANGELOG.md
  src/Search/Search.php
  tests/Feature/Search/SearchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Keep table validation errors beside values
  CHANGELOG.md
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/TableControl.vue
  resources/templates/_includes/forms/editableTable.twig
  src/Field/Table.php
  src/Form/Controls/Table.php
  tests/Unit/Field/TableTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Represent structure changes as operations
  CHANGELOG.md
  src/Structure/Concerns/StructureNode.php
  src/Structure/Data/Operation.php
  src/Structure/Enums/Operation.php
  tests/Feature/Structure/Concerns/StructureNodeTest.php
  tests/Feature/Structure/StructuresTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use pathname to compare whether user is on a new page instead of component
  resources/js/bootstrap/cp.ts
Due: none

Formatting
  packages/craftcms-ui/src/components/text-expander/text-expander.ts
Due: none

Fix default styling of action menu
  packages/craftcms-ui/src/components/action-menu/action-menu.ts
Due: none

Remove btn class on skip-link
  resources/js/modules/field-layout-designer/field-layout-designer.ts
Due: none

Fix default styling on reorder button
  packages/craftcms-ui/src/components/reorder-button/reorder-button.ts
Due: none

lock update
  package-lock.json
Due: prettier --ignore-unknown --write

Nicer sidebar
  resources/js/common/components/CpSidebar.vue
Due: none

Fix undefined siteId property error when redirecting to canonical element
  src/Http/Requests/ElementRequest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove redundant instanceof check flagged by PHPStan
  src/Http/Requests/ElementRequest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Spanish)
  resources/translations/es/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Arabic)
  resources/translations/ar/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Czech)
  resources/translations/cs/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Danish)
  resources/translations/da/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (German)
  resources/translations/de/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Greek)
  resources/translations/el/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hebrew)
  resources/translations/he/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

New translations app.php (Hungarian)
  resources/translations/hu/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
