Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Require password reset
  routes/actions.php
  src/Http/Controllers/Users/PasswordController.php
  tests/Http/Controllers/User/PasswordControllerTest.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

GetPasswordResetUrl
  routes/actions.php
  src/Auth/UserProvider.php
  src/Http/Controllers/Users/PasswordController.php
  tests/Http/Controllers/User/PasswordControllerTest.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

SendActivationMail
  database/Factories/UserFactory.php
  routes/actions.php
  src/Http/Controllers/Users/ActivateController.php
  tests/Http/Controllers/User/ActivateControllerTest.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

SendPasswordResetEmail
  routes/actions.php
  src/Http/Controllers/Users/PasswordController.php
  tests/Http/Controllers/User/PasswordControllerTest.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Sort lines
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add label to more actions button on settings page
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Fix `Env::parseBoolean` return
  src/Support/Env.php
  tests/Support/EnvTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Return `null` when value is missing
  src/Support/Env.php
  tests/Support/EnvTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-2xfc-g69j-x2mp
  CHANGELOG-WIP.md
  src/base/Element.php
  src/base/ElementInterface.php
  src/controllers/ElementsController.php
  src/controllers/EntriesController.php
  src/elements/Entry.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Edit site screen
  packages/craftcms-cp/src/components/callout/callout.styles.ts
  packages/craftcms-cp/src/components/callout/callout.ts
  packages/craftcms-cp/src/components/combobox/combobox.ts
  packages/craftcms-cp/src/components/input-handle/input-handle.ts
  packages/craftcms-cp/src/index.ts
  packages/craftcms-cp/src/styles/shared/tokens.css
  resources/js/components/BooleanSelectField.vue
  resources/js/components/Combobox.vue
  resources/js/components/LanguageSelectField.vue
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsGeneralPage.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/types/index.ts
  routes/actions.php
  routes/cp.php
  src/Http/Controllers/Settings/SitesController.php
  src/Shared/Rules/LanguageRule.php
  src/Site/Data/Site.php
  tests/Shared/Rules/LanguageRuleTest.php
  yii2-adapter/legacy/web/assets/pluginstore/src/js/components/StatusMessage.vue
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Translate success message
  src/Http/Controllers/Settings/GeneralSettingsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add breadcrumbs
  resources/js/components/Breadcrumbs.vue
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsSitesEdit.vue
  resources/js/pages/SettingsSitesIndex.vue
  src/Http/Controllers/Settings/SitesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add breadcrumbs
  resources/js/components/Breadcrumbs.vue
  resources/js/pages/SettingsSitesIndex.vue
  src/Http/Controllers/Settings/GeneralSettingsController.php
  src/Http/Controllers/Settings/SettingsIndexController.php
  src/Http/Controllers/Settings/SitesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix missing error
  resources/js/components/BooleanSelectField.vue
Due: none

Filter out `optgroup` value
  resources/js/components/BooleanSelectField.vue
Due: none

Add library for computing accessible name, and show error icon if no accessible name is present on button component
  package-lock.json
  packages/craftcms-cp/package.json
  packages/craftcms-cp/src/components/button/button.ts
Due: prettier --ignore-unknown --write

Better validation error
  src/elements/Entry.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-2xfc-g69j-x2mp
  CHANGELOG-WIP.md
  src/controllers/EntriesController.php
  src/elements/Entry.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18230
  CHANGELOG.md
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

Fixed GHSA-jxm3-pmm2-9gf6
  CHANGELOG-WIP.md
  src/elements/Asset.php
  src/elements/User.php
  src/elements/actions/DeleteUsers.php
  src/elements/actions/Duplicate.php
  src/elements/actions/Restore.php
  src/elements/actions/SetStatus.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove unneeded code from Copy
  src/elements/actions/Copy.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Change translations from show to toggle to prevent confusion when expanded state is updated; in navigation, reference text slot in accessible name for toggle button
  packages/craftcms-cp/src/components/button/button.ts
  packages/craftcms-cp/src/components/nav-item/nav-item.ts
  resources/js/layout/AppLayout.vue
  resources/translations/en-GB/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Clean up serviceproviders
  src/Auth/AuthServiceProvider.php
  src/User/UserServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Replace legacy Auth service
  routes/cp.php
  routes/routes.php
  src/Auth/Auth.php
  src/Auth/Enums/AuthError.php
  src/Auth/Events/Authenticating.php
  src/Auth/Events/RegisterAuthMethods.php
  src/Auth/Models/WebAuthn.php
  src/Auth/Passkeys/CredentialRepository.php
  src/Auth/Passkeys/Passkeys.php
  src/Auth/Passkeys/WebauthnServer.php
  src/Auth/UserProvider.php
  src/Config/GeneralConfig.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/LoginController.php
  src/Http/Controllers/Auth/PasskeyController.php
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
  src/Http/Controllers/Settings/UserSettingsController.php
  src/Http/Controllers/Users/PasskeysController.php
  src/Http/Controllers/Users/PasswordController.php
  src/Http/Middleware/Enforce2fa.php
  src/Providers/AppServiceProvider.php
  src/Route/RouteServiceProvider.php
  src/Translation/I18N.php
  src/User/Commands/Remove2faCommand.php
  src/User/Elements/User.php
  yii2-adapter/legacy/auth/passkeys/CredentialRepository.php
  yii2-adapter/legacy/auth/passkeys/WebauthnServer.php
  yii2-adapter/legacy/base/ApplicationTrait.php
  yii2-adapter/legacy/controllers/AuthController.php
  yii2-adapter/legacy/controllers/SsoController.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/events/AuthenticateUserEvent.php
  yii2-adapter/legacy/helpers/User.php
  yii2-adapter/legacy/services/Auth.php
  yii2-adapter/legacy/services/Sso.php
  yii2-adapter/legacy/web/Application.php
  yii2-adapter/legacy/web/User.php
  yii2-adapter/legacy/web/assets/cp/CpAsset.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

encode heading cell value
  CHANGELOG.md
  src/fields/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Handle License enforcement and headers in middleware instead of web/Application
  CHANGELOG-WIP.md
  src/Http/Middleware/EnforceLicenses.php
  src/Http/Middleware/SetHeaders.php
  src/Providers/AppServiceProvider.php
  src/Route/RouteServiceProvider.php
  tests/Http/Middleware/EnforceLicensesTest.php
  tests/Http/Middleware/SetHeadersTest.php
  yii2-adapter/legacy/controllers/AppController.php
  yii2-adapter/legacy/web/Application.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

encode default cell values for html-type column
  CHANGELOG.md
  src/fields/Table.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  tests/Http/Controllers/User/ActivateControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix-cs
  src/Http/Controllers/Auth/LoginController.php
  src/User/Elements/User.php
  yii2-adapter/legacy/auth/passkeys/CredentialRepository.php
  yii2-adapter/legacy/auth/passkeys/WebauthnServer.php
  yii2-adapter/legacy/controllers/UsersController.php
  yii2-adapter/legacy/web/Application.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

phpstan fixes
  yii2-adapter/legacy/services/Auth.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

if old and newly selected source are the same, still trigger selectSource event
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/BaseElementIndex.js
Due: none

Add auth service to Twig
  resources/templates/users/_auth-methods.twig
  yii2-adapter/legacy/web/twig/variables/CraftVariable.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove old test
  yii2-adapter/tests/unit/elements/UserElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Increase memory limit?
  .github/workflows/laravel-ci.yml
Due: none

Update packages
  .github/workflows/laravel-ci.yml
  composer.lock
Due: none

Maybe xdebug provides info?
  .github/workflows/laravel-ci.yml
  src/Config/ConstAdapter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

purgeStaleUserSessionDuration can be more than just an integer
  src/services/Gc.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup database calls
  .github/workflows/laravel-ci.yml
  src/ProjectConfig/ProjectConfigServiceProvider.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
