Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

expose element index to for plugins to be able to implement
  resources/js/elements.ts
  src/Cp/Cp.php
  tests/Unit/Http/Middleware/HandleInertiaRequestsTest.php
  vite.config.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Expose element editor
  resources/js/elements.ts
Due: none

Average image colors in linear light, smooth placeholders, and add BlurHashes
  CHANGELOG.md
  resources/js/modules/uploader/image-colors.test.ts
  resources/js/modules/uploader/image-colors.ts
  src/Asset/Elements/Asset.php
  src/Gql/Interfaces/Elements/Asset.php
  src/Image/Blurhash.php
  src/Image/ColorGrid.php
  src/Image/Images.php
  tests/Feature/Asset/Elements/AssetPlaceholderTest.php
  tests/Feature/Gql/AssetColorsTest.php
  tests/Feature/Image/ImagesTest.php
  tests/Unit/Image/BlurhashTest.php
  tests/Unit/Image/ColorGridTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference BlurHash pull request in changelog
  CHANGELOG.md
Due: none

Share color parsing and conversions through `ColorGrid`
  src/Image/Blurhash.php
  src/Image/ColorGrid.php
  src/Image/Data/ImageColors.php
  tests/Feature/Gql/AssetColorsTest.php
  tests/Feature/Http/Controllers/Assets/EditAssetControllerTest.php
  tests/Unit/Image/Data/ImageColorsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add a BlurHash release note
  CHANGELOG.md
Due: none

Fix accessible labels on Markdown controls
  resources/js/modules/markdown-field/markdown-field.test.ts
  resources/js/modules/markdown-field/markdown-field.ts
Due: none

Resample image colors when their files change
  CHANGELOG.md
  src/Asset/AssetIndexer.php
  src/Asset/Elements/Asset.php
  tests/Feature/Asset/AssetIndexerTest.php
  tests/Feature/Asset/AssetsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

add refresh to element editor for reactivity
  resources/js/modules/elements/components/ElementEditor.vue
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/composables/useElementEditor.ts
Due: none

Update belongsToCanonicalOwner call with true argument
  src/helpers/ElementHelper.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix chip thumbnails and status indicators
  CHANGELOG.md
  packages/craftcms-ui/src/components/chip/chip.a11y.md
  packages/craftcms-ui/src/components/chip/chip.browser.test.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/chip/chip.ts
  packages/craftcms-ui/src/components/thumbnail/thumbnail.browser.test.ts
  packages/craftcms-ui/src/components/thumbnail/thumbnail.styles.ts
  packages/craftcms-ui/src/components/thumbnail/thumbnail.ts
  resources/js/modules/elements/components/ElementChips.vue
Due: none

Tidy chips in metadata lists
  packages/craftcms-ui/src/components/chip/chip.browser.test.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/chip/chip.ts
  resources/css/cp.css
  src/Asset/Elements/Asset.php
  tests/Feature/Http/Controllers/Assets/EditAssetControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Use the plain appearance instead of chromeless chips
  resources/templates/_elements/tableview/elements.twig
  src/Element/Concerns/HasControlPanelUI.php
  src/Entry/Elements/Entry.php
  src/Http/Controllers/Elements/Concerns/ElementCrumbs.php
  src/Http/Controllers/Elements/SearchController.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/ViewModels/UserEditViewModel.php
  tests/Feature/Http/Controllers/Elements/SearchControllerTest.php
  yii2-adapter/legacy/elements/Category.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

added form modal
  resources/js/modules/elements/composables/useElementActionMenu.test.ts
  resources/js/modules/elements/composables/useElementActionMenu.ts
  resources/js/modules/forms/AdminTableDeleteModal.vue
  resources/js/modules/forms/FormModal.test.ts
  resources/js/modules/forms/FormModal.vue
  resources/js/modules/forms/open-form-modal.ts
Due: none

Use plain `<craft-button>`s for "+N" preview buttons
  src/Cp/Html/PreviewHtml.php
  tests/Feature/Cp/PreviewHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference chip cleanup pull request in changelog
  CHANGELOG.md
Due: none

Round images slotted straight into chip thumbnails
  packages/craftcms-ui/src/components/chip/chip.browser.test.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
Due: none

Add inline editing and exports to element indexes
  resources/js/common/components/ColumnHeaderTitle.vue
  resources/js/common/components/DataTable.vue
  resources/js/common/components/PaginationControls.vue
  resources/js/common/components/SelectableCardList.vue
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/components/ElementThumbs.vue
  resources/js/modules/elements/index/components/ElementBulkActionsBar.test.ts
  resources/js/modules/elements/index/components/ElementBulkActionsBar.vue
  resources/js/modules/elements/index/components/ElementIndex.vue
  resources/js/modules/elements/index/components/ElementIndexExportMenu.test.ts
  resources/js/modules/elements/index/components/ElementIndexExportMenu.vue
  resources/js/modules/elements/index/components/ElementIndexPage.test.ts
  resources/js/modules/elements/index/components/ElementIndexPage.vue
  resources/js/modules/elements/index/components/ElementIndexToolbar.vue
  resources/js/modules/elements/index/components/ElementTable.test.ts
  resources/js/modules/elements/index/components/ElementTable.vue
  resources/js/modules/elements/index/components/IndexViewSettings.vue
  resources/js/modules/elements/index/composables/useContentIndexData.ts
  resources/js/modules/elements/index/composables/useElementIndex.ts
  resources/js/modules/elements/index/composables/useElementIndexPage.ts
  resources/js/modules/elements/index/composables/useInlineEditing.test.ts
  resources/js/modules/elements/index/composables/useInlineEditing.ts
  resources/js/modules/elements/index/copy-elements.ts
  resources/js/modules/elements/index/save-inline-elements.ts
  resources/js/modules/elements/index/types/exporters.ts
  resources/js/modules/elements/index/types/model.ts
  resources/js/modules/elements/types/actions.ts
  resources/js/modules/forms/inline-attribute-form-host.ts
  src/Cp/Html/ElementHtml.php
  src/Element/Concerns/DisplayedInIndex.php
  src/Element/ElementActions.php
  src/Element/ElementIndexes.php
  src/Http/Controllers/Elements/ElementIndex/ExportElementIndexController.php
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Element/Actions/ElementActionsTest.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
  tests/Feature/Http/Controllers/Elements/ExportElementIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Document element index editing and exports
  CHANGELOG.md
Due: none

Share server card actions with element indexes and pickers
  resources/js/modules/elements/components/ElementCards.test.ts
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/components/ElementList.vue
  resources/js/modules/forms/ElementSelectControl.test.ts
  src/Cp/Html/ElementHtml.php
  src/Form/Controls/ElementSelect.php
  src/Http/ViewModels/ContentIndexViewModel.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update changelog
  CHANGELOG-WIP.md
Due: none

Fix metadata display on non-element from screens
  resources/js/pages/Form.vue
Due: none

Render icon in proper slot for elements
  src/Cp/Html/ElementHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Allow metadetails side bars for non-elements have form components
  resources/js/common/components/MetadataDetails.test.ts
  resources/js/common/components/MetadataDetails.vue
  resources/js/pages/Form.vue
Due: none

Apply embedded index saves and actions to owner-specific entries
  src/Element/Actions/Duplicate.php
  src/Http/Controllers/Elements/ElementIndex/SaveElementIndexElementsController.php
  src/Http/Controllers/Elements/PerformElementActionController.php
  tests/Feature/Http/Controllers/Elements/PerformElementActionControllerTest.php
  tests/Feature/Http/Controllers/Elements/SaveElementIndexElementsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Serve owner-scoped Matrix entry payloads and share card operations
  resources/js/modules/forms/nested-elements/NestedElementBlocksControl.vue
  resources/js/modules/forms/nested-elements/NestedEntriesCards.vue
  resources/js/modules/forms/nested-elements/NestedEntriesCardsShell.vue
  resources/js/modules/forms/nested-elements/NestedEntriesControl.test.ts
  resources/js/modules/forms/nested-elements/NestedEntriesControl.vue
  resources/js/modules/forms/nested-elements/NestedEntryCardActions.vue
  resources/js/modules/forms/nested-elements/nested-entries-context.ts
  resources/js/modules/forms/nested-elements/nested-entries.test.ts
  resources/js/modules/forms/nested-elements/nested-entries.ts
  resources/js/modules/forms/nested-elements/nested-entry-actions.test.ts
  resources/js/modules/forms/nested-elements/nested-entry-actions.ts
  resources/js/modules/forms/nested-elements/nested-index.fixture.ts
  resources/js/modules/forms/nested-elements/useNestedEntryOperations.ts
  resources/js/pages/users/Addresses.vue
  src/Cp/Html/ElementHtml.php
  src/Element/Concerns/DisplayedInIndex.php
  src/Element/Data/NestedElementCard.php
  src/Element/ElementIndexSourceSettings.php
  src/Element/ElementSources.php
  src/Element/NestedElementManager.php
  src/Field/Matrix.php
  src/Form/Controls/NestedEntries.php
  src/Http/Controllers/Elements/ElementIndex/ElementIndexController.php
  src/Http/Controllers/Elements/ElementIndex/ExportElementIndexController.php
  src/Http/EmbeddedNestedElementScope.php
  src/Http/ViewModels/ContentIndexViewModel.php
  src/Http/ViewModels/EmbeddedIndexViewModel.php
  src/Http/ViewModels/ModalIndexViewModel.php
  src/Http/ViewModels/UserIndexViewModel.php
  src/Support/Facades/ElementSources.php
  tests/Feature/Element/NestedElementManagerTest.php
  tests/Feature/Http/Controllers/Elements/ElementIndexControllerTest.php
  tests/Feature/Http/Controllers/Elements/ExportElementIndexControllerTest.php
  yii2-adapter/tests-laravel/Integration/MatrixFormControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rename the nested element cards form control to NestedEntries
  resources/js/modules/elements/composables/useElementEditor.test.ts
  resources/js/modules/elements/nested-owner.test.ts
  resources/js/modules/elements/nested-owner.ts
  resources/js/modules/forms/FormRenderer.test.ts
  resources/js/modules/forms/entry-field-layout-form-host.test.ts
  resources/js/modules/forms/nested-elements/NestedEntriesControl.test.ts
  resources/js/modules/forms/nested-elements/NestedEntriesControl.vue
  resources/js/modules/forms/register.ts
  src/Field/Matrix.php
  src/Form/Controls/NestedEntries.php
  src/Form/FormControlTypes.php
  yii2-adapter/tests-laravel/Integration/MatrixFormControlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add embedded index hooks to the shared element index
  resources/js/modules/elements/components/ElementCards.vue
  resources/js/modules/elements/index/components/ElementBulkActionsBar.test.ts
  resources/js/modules/elements/index/components/ElementBulkActionsBar.vue
  resources/js/modules/elements/index/components/ElementIndex.vue
  resources/js/modules/elements/index/components/ElementIndexPage.test.ts
  resources/js/modules/elements/index/components/ElementIndexToolbar.vue
  resources/js/modules/elements/index/components/ElementTable.vue
  resources/js/modules/elements/index/components/FilterHud.test.ts
  resources/js/modules/elements/index/components/FilterHud.vue
  resources/js/modules/elements/index/composables/useContentIndexData.test.ts
  resources/js/modules/elements/index/composables/useContentIndexData.ts
  resources/js/modules/elements/index/composables/useDetachedElementIndex.ts
  resources/js/modules/elements/index/composables/useElementIndex.ts
  resources/js/modules/elements/index/composables/useElementIndexColumns.ts
  resources/js/modules/elements/index/composables/useElementIndexSort.ts
  resources/js/modules/elements/index/composables/useElementIndexViewMode.ts
  resources/js/modules/elements/index/composables/useElementIndexViewState.ts
  resources/js/modules/elements/index/copy-elements.ts
  resources/js/modules/elements/index/element-action-identity.ts
  resources/js/modules/elements/index/index-context.ts
  resources/js/modules/elements/index/types/model.ts
  resources/js/modules/elements/types/actions.ts
Due: none

Render Matrix Index view mode in element forms
  CHANGELOG.md
  resources/js/modules/forms/nested-elements/NestedEntriesControl.integration.test.ts
  resources/js/modules/forms/nested-elements/NestedEntriesControl.vue
  resources/js/modules/forms/nested-elements/NestedEntriesIndex.test.ts
  resources/js/modules/forms/nested-elements/NestedEntriesIndex.vue
  resources/js/modules/forms/nested-elements/useNestedEntriesQuery.test.ts
  resources/js/modules/forms/nested-elements/useNestedEntriesQuery.ts
Due: none

Alignment & always "inherit" buttons
  packages/craftcms-ui/src/components/chip/Chip.mdx
  packages/craftcms-ui/src/components/chip/chip.browser.test.ts
  packages/craftcms-ui/src/components/chip/chip.stories.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
  packages/craftcms-ui/src/components/chip/chip.test.ts
  packages/craftcms-ui/src/components/chip/chip.ts
  resources/js/modules/entry-types/components/EntryTypeChip.vue
Due: none

Keep `maxlength` inputs within their containers
  packages/craftcms-ui/src/components/input/input.browser.test.ts
  packages/craftcms-ui/src/components/input/input.styles.ts
Due: none

Strengthen nested entry mutation and loading tests
  resources/js/modules/forms/nested-elements/NestedEntriesControl.test.ts
  resources/js/modules/forms/nested-elements/nested-entry-actions.test.ts
  resources/js/modules/forms/nested-elements/useNestedEntriesQuery.test.ts
Due: none

Share nested entry actions and simplify Cards operations
  resources/js/modules/elements/composables/useElementQuickEdit.ts
  resources/js/modules/elements/index/components/ElementBulkActionsBar.vue
  resources/js/modules/elements/index/element-actions.ts
  resources/js/modules/forms/nested-elements/NestedEntriesCards.vue
  resources/js/modules/forms/nested-elements/NestedEntriesIndex.vue
  resources/js/modules/forms/nested-elements/nested-entries.ts
  resources/js/modules/forms/nested-elements/nested-entry-actions.ts
  resources/js/modules/forms/nested-elements/useNestedEntryOperations.ts
Due: none

Seed all Matrix views in the workbench
  workbench/database/seeders/DatabaseSeeder.php
  workbench/database/seeders/MatrixPlaygroundSeeder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

More spacing adjustments
  packages/craftcms-ui/src/components/chip/chip.browser.test.ts
  packages/craftcms-ui/src/components/chip/chip.stories.ts
  packages/craftcms-ui/src/components/chip/chip.styles.ts
Due: none

Use Craft JSON helper in Matrix workbench seeder
  workbench/database/seeders/MatrixPlaygroundSeeder.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Accept craft-button's flush values in ElementActionMenu
  resources/js/modules/elements/components/ElementActionMenu.vue
Due: none

Swap entry type's color with a select
  packages/craftcms-ui/src/components/select-color/select-color.ts
  packages/craftcms-ui/src/components/select-rich/select-rich.test.ts
  packages/craftcms-ui/src/components/select-rich/select-rich.ts
  resources/js/modules/forms/ColorSelectControl.test.ts
  resources/js/modules/forms/ColorSelectControl.vue
  resources/js/modules/forms/register.ts
  src/Cp/Components/SelectColor.php
  src/Form/Controls/ColorSelect.php
  src/Form/FormControlTypes.php
  src/Http/ViewModels/EntryTypeEditViewModel.php
  tests/Feature/Http/Controllers/Settings/EntryTypesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed a flaky test
  database/Factories/EntryFactory.php
  database/Factories/SectionFactory.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update the changelog
  CHANGELOG.md
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
