Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Stop wrapping JsonResources
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Recreate legacy app when it doesn't exist
  yii2-adapter/src/Http/LegacyMiddleware.php
  yii2-adapter/src/Http/PrepareLegacyCraftApp.php
  yii2-adapter/src/Yii2ServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Register CP template roots in middleware
  src/Http/Middleware/HandleTemplateRequest.php
  src/View/ViewServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Register hooks in middleware
  src/Http/Middleware/HandleTemplateRequest.php
  src/View/ViewServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use Password rule
  src/Http/Controllers/Auth/LoginController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan
  src/Http/Middleware/HandleTemplateRequest.php
  yii2-adapter/legacy/mail/Mailer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Just add a phpstan-ignore
  yii2-adapter/legacy/mail/Mailer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor
  src/Http/Middleware/HandleTemplateRequest.php
  src/Http/Middleware/RequireCpRequest.php
  src/View/TemplateMode.php
  src/View/ViewServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Phpstan fixes (again)
  src/View/TemplateMode.php
  yii2-adapter/legacy/mail/Mailer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix element index test
  src/Http/Middleware/RequireCpRequest.php
  tests/Feature/Cp/ElementIndexHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Stop bundling zips with new releases
  .github/workflows/create-release.yml
Due: none

Finish 6.0.0-alpha.4
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

Add back the auth page powered by logo
  resources/build/assets/LoginPage-CkZTFoAe.css
  resources/build/assets/LoginPage-DsCFBLGB.js
  resources/build/assets/LoginPage-Yssr5gOn.js
  resources/build/assets/LoginPage-yFcZxxXp.css
  resources/build/assets/cp-BEWxH4oE.js
  resources/build/assets/cp-BhS1qO4P.js
  resources/build/assets/cp-BxxAq-TO.css
  resources/build/assets/cp-C_NePL9m.css
  resources/build/assets/cp-Cu_tkrU3.js
  resources/build/assets/cp-DS3_PFfH.js
  resources/build/assets/craftcms-Dn6fy_A6.svg
  resources/build/assets/legacy-CB3-AjaW.js
  resources/build/assets/legacy-DC4Y3U88.js
  resources/build/manifest.json
  resources/js/layout/AuthBase.vue
  resources/js/pages/LoginPage.vue
Due: prettier --ignore-unknown --write

Move transformer settings to Filesystems
  docs/asset-transformers.md
  resources/templates/_components/asset-transformers/ImageTransformer/filesystem-settings.twig
  resources/templates/settings/assets/volumes/_edit.twig
  resources/templates/settings/filesystems/_edit.twig
  resources/templates/settings/users/_settings.twig
  src/Asset/AssetTransforms.php
  src/Asset/AssetsHelper.php
  src/Asset/Data/Volume.php
  src/Asset/Elements/Asset.php
  src/Asset/Validation/VolumeRules.php
  src/Asset/Volumes.php
  src/Cms.php
  src/Cp/Navigation.php
  src/Database/Migrations/2026_05_14_000000_add_asset_transformer_settings.php
  src/Database/Migrations/Install.php
  src/Filesystem/Contracts/FsInterface.php
  src/Filesystem/Filesystems.php
  src/Filesystem/Filesystems/Filesystem.php
  src/Filesystem/Filesystems/Local.php
  src/Http/Controllers/Assets/TransformController.php
  src/Http/Controllers/Settings/FilesystemsController.php
  src/Http/Controllers/Settings/ImageTransformsController.php
  src/Http/Controllers/Settings/UserSettingsController.php
  src/Http/Controllers/Settings/VolumesController.php
  src/Image/Contracts/AssetTransformerInterface.php
  src/Image/ImageTransformer.php
  src/Providers/AppServiceProvider.php
  tests/Feature/Asset/VolumeFilesystemResolutionTest.php
  tests/Feature/Asset/VolumeValidationTest.php
  tests/Feature/Asset/VolumesTest.php
  tests/Feature/Filesystem/FilesystemsTest.php
  tests/Feature/Http/Controllers/Settings/FilesystemsControllerTest.php
  tests/Feature/Image/ImageTransformerTest.php
  tests/Feature/Image/ImageTransformsTest.php
  yii2-adapter/legacy/imagetransforms/LegacyImageTransformerAdapter.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix missing import
  src/Image/ImageTransformer.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make sure unit tests run with the assumption no updates are needed
  tests/UnitTestCase.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix legacy test
  yii2-adapter/tests/unit/elements/AssetElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Twig to v3.26.0
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Ensure isSandboxed is passed into the filter overrides
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Carbon and UpdateRelease to serializable classes
  CHANGELOG.md
  src/Providers/AppServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Move image
  resources/build/images/craftcms.svg
  resources/build/manifest.json
  resources/js/layout/AuthBase.vue
  resources/public/images/craftcms.svg
Due: prettier --ignore-unknown --write

Release note
  CHANGELOG.md
Due: none

Remove twig page
  resources/templates/settings/routes.twig
Due: none

Fixed #18912
  CHANGELOG.md
  src/web/assets/matrix/dist/MatrixInput.js
  src/web/assets/matrix/dist/MatrixInput.js.map
  src/web/assets/matrix/src/MatrixInput.js
Due: none

Fix some tests
  routes/cp.php
  tests/Feature/Auth/Auth/Auth2faMethodsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #18923
  CHANGELOG.md
  src/controllers/ElementIndexesController.php
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.10.2
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Default loginPath to `false`
  CHANGELOG.md
  src/Config/GeneralConfig.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  tests/.pest/snapshots/Unit/Twig/Nodes/ExitNodeTest/it_compiles_with_unknown_status_and_message.snap
  tests/Unit/Twig/Extensions/ArrayTwigExtensionTest.php
  yii2-adapter/composer.lock
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix redirects when loginPath is false
  src/Http/Controllers/Auth/OAuthController.php
  src/Providers/AppServiceProvider.php
  tests/Feature/Http/Controllers/Auth/OAuthControllerTest.php
  tests/Feature/Http/Controllers/Entries/StoreEntryControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix console error
  resources/templates/_includes/forms/time.twig
Due: none

Cleanup globals a tiny bit
  resources/js/legacy.ts
  resources/templates/_layouts/base.twig
Due: none

Refactor Json wrapping
  src/Cp/JsonResource.php
  src/Entry/Resources/EntryTypeResource.php
  src/Filesystem/Resources/FsResource.php
  src/Gql/Resources/GqlTokenResource.php
  src/Http/Resources/ElementIndexResource.php
  src/Providers/AppServiceProvider.php
  src/Section/Resources/SectionResource.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make sure money value is truthy
  src/Field/Money.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update changelog entry
  CHANGELOG-WIP.md
Due: none

[WIP] convert filesystem to Inertia
  resources/js/bootstrap/cp.ts
  resources/js/components/Filesystems/FilesystemSettings.vue
  resources/js/components/Filesystems/LocalFsSettings.vue
  resources/js/pages/SettingsFilesystemsEditPage.vue
  resources/templates/_components/fs/Local/settings.twig
  src/Filesystem/Filesystems/Local.php
  src/Http/Controllers/Settings/FilesystemsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Harden GitHub actions with zizmor suggestions
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/facades.yml
  .github/workflows/laravel-ci.yml
  .github/workflows/monorepo-split.yml
Due: none

Adjust for craft-chip
  packages/craftcms-legacy/cp/src/js/BaseElementSelectInput.js
  packages/craftcms-legacy/cp/src/js/CP.js
  packages/craftcms-legacy/cp/src/js/Craft.js
Due: none
