Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Finish 6.0.0-alpha.5
  CHANGELOG.md
  src/Cms.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add Route data class to typescript transformer
  resources/js/pages/settings/routes/types.ts
  workbench/app/Providers/TypeScriptTransformerServiceProvider.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix typecheck
  resources/js/pages/settings/routes/types.ts
Due: none

A bit more cleanup
  resources/js/pages/settings/routes/Index.vue
Due: none

Fix GraphQL icon
  src/Cp/Navigation.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ensure JS tags are executed
  packages/craftcms-cp/src/utilities/dom.ts
  resources/js/common/composables/useAppendHtml.ts
  resources/js/pages/utilities/Show.vue
  src/Http/Controllers/Utilities/UtilitiesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop feature branch
  .github/workflows/js-ci.yml
Due: none

Fix npm install
  .github/workflows/js-ci.yml
  .npmrc
Due: none

Refactor CI a bit
  .github/workflows/js-ci.yml
  package.json
Due: prettier --ignore-unknown --write

Changelog entry
  CHANGELOG.md
Due: none

Fix quotes
  resources/js/modules/plugin-manager/components/PluginLicenseIssues.vue
Due: none

add tests for importing into addresses field
  src/Field/Addresses.php
  tests/Feature/Import/ImportAddressFieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix custom element authorization policies
  src/Element/Policies/ElementPolicy.php
  tests/Feature/Cp/ElementHtmlTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog
  CHANGELOG.md
Due: none

tests for importing into content block and matrix fields
  tests/Feature/Import/ImportAddressFieldTest.php
  tests/Feature/Import/ImportContentBlockFieldTest.php
  tests/Feature/Import/ImportMatrixFieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tests for importing into matrix in matrix
  src/Field/Matrix.php
  tests/Feature/Import/ImportMatrixFieldTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tests for importing into various nested entries combinations
  src/Field/Addresses.php
  tests/Feature/Import/ImportNestedContentVariationsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

test importing into all build in fields
  tests/Feature/Import/ImportCustomFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

any field that has normalizeValueForImport method should be run through it
  src/Field/Contracts/ImportableElementContainerFieldInterface.php
  src/Import/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Styling improvements
  resources/js/modules/markdown-field/MarkdownField.css
  resources/js/modules/markdown-field/MarkdownField.ts
Due: prettier --ignore-unknown --write

Resolve runtime path aliases before validating
  bootstrap/bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

$config['runtimePath'] is always defined
  bootstrap/bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Tweak the release note
  CHANGELOG.md
Due: none

Finish 5.10.4.1
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix remove-2fa error
  CHANGELOG.md
  src/console/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix duplicate wa-icon import
  packages/craftcms-legacy/cp/src/js/CP.js
  vite.config.js
Due: none

Register CP asset everywhere
  src/Http/Middleware/HandleInertiaRequests.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix duplicate click action
  resources/js/common/components/ActionMenu.vue
Due: none

Upadte global a bit
  resources/js/cp.ts
  resources/views/app.blade.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog entries
  CHANGELOG.md
Due: none

Namespace plugin action routes
  src/Plugin/Concerns/HasRoutes.php
  tests/Unit/Plugin/Concerns/HasRoutesTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Initial refactor of element index views to inertia
  packages/craftcms-legacy/cp/src/js/ElementActionTrigger.js
  resources/js/modules/elements/ElementSources.vue
  resources/js/pages/content/Index.vue
  routes/cp.php
  src/Element/ElementIndexParams.php
  src/Element/ElementIndexService.php
  src/Http/Controllers/ContentIndexController.php
  src/Http/Resources/ElementIndexResource.php
  tests/Feature/Element/ElementIndexServiceTest.php
  tests/Feature/Http/Controllers/ContentIndexControllerTest.php
  tests/Unit/Element/ElementIndexParamsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Improve AGENTS.md
  AGENTS.md
Due: none

Use date columns
  resources/js/pages/content/Index.vue
Due: none

Permissions are saved when sending an empty set
  src/Http/Controllers/Users/PermissionsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
