Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Release note
  CHANGELOG.md
Due: none

Remove dark mode colors from colorable generate colors script, add static colors to accessible color palette
  packages/craftcms-cp/scripts/generate-accessible-colors.js
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/stories/tokens/Colors.mdx
  packages/craftcms-cp/src/styles/color-definitions.js
  packages/craftcms-cp/src/styles/shared/accessible-colors.css
  packages/craftcms-cp/src/styles/shared/colorable.css
Due: prettier --ignore-unknown --write

Add object for looking up color increments for consistent foll/border/foreground with semantic colors
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/shared/colorable.css
Due: prettier --ignore-unknown --write

Fixed a PHP error with the users/remove-2fa command
  src/console/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Redundant
  src/console/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Have semantic colors be auto-generated
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/shared/colorable.css
  packages/craftcms-cp/src/styles/shared/tokens.css
Due: prettier --ignore-unknown --write

auth-method → method
  src/console/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Update names and build
  packages/craftcms-cp/package.json
  packages/craftcms-cp/scripts/generate-color-palette.js
  packages/craftcms-cp/scripts/generate-colors.js
  packages/craftcms-cp/src/styles/color-definitions.js
  packages/craftcms-cp/src/styles/shared/color-palette.css
  packages/craftcms-cp/src/styles/shared/colorable.css
  packages/craftcms-cp/src/styles/shared/variables.css
  resources/build/AdminTable.js
  resources/build/AppLayout.js
  resources/build/CalloutReadOnly.js
  resources/build/CpGlobalSidebar.js
  resources/build/CpQueueIndicator.js
  resources/build/DeleteSiteModal.js
  resources/build/IndexLayout.js
  resources/build/Install.js
  resources/build/ModalForm.js
  resources/build/Queue-ByU_JLgN.js
  resources/build/SettingsEmailPage.js
  resources/build/SettingsGeneralPage.js
  resources/build/SettingsIndexPage.js
  resources/build/SettingsSectionsEditPage.js
  resources/build/SettingsSectionsIndexPage.js
  resources/build/SettingsSitesEdit.js
  resources/build/SettingsSitesIndex.js
  resources/build/Updater.js
  resources/build/_plugin-vue_export-helper.js
  resources/build/assets/cp.css
  resources/build/cp3.js
  resources/build/decorate-C7PI5vyn.js
  resources/build/legacy.js
  resources/build/manifest.json
  resources/build/nav-item-DXAQ4fg4.js
  resources/build/nav-item.ts.js
  resources/build/nav-list-DqPFRwQx.js
  resources/build/nav-list.ts.js
  resources/build/useFetch.js
Due: prettier --ignore-unknown --write

build
  src/web/assets/admintable/dist/css/app.css
  src/web/assets/admintable/dist/css/app.css.map
  src/web/assets/admintable/dist/js/app.js
  src/web/assets/admintable/dist/js/app.js.map
  src/web/assets/admintable/dist/manifest.json
Due: prettier --ignore-unknown --write

Fixed #15570, part 2
  CHANGELOG.md
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bacon/bacon-qr-code v3
  CHANGELOG-WIP.md
  composer.json
  composer.lock
Due: prettier --ignore-unknown --write

Fixed GHSA-x5m4-g2cq-52pq
  CHANGELOG.md
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix double cp trigger prefix on site switcher
  src/Cp/Html/MenuHtml.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

elements/copy-values-from-site
  routes/actions.php
  src/Http/Controllers/Elements/CopyElementValuesController.php
  tests/Feature/Http/Controllers/Elements/CopyElementValuesControllerTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

elements/create
  routes/actions.php
  src/Http/Controllers/Elements/CreateElementController.php
  tests/Feature/Http/Controllers/Elements/CreateElementControllerTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add frontend multisite request resolution
  src/Http/Middleware/HandleMatchedElementRoute.php
  src/Http/Middleware/HandleTemplateRequest.php
  src/Http/Middleware/ResolveSite.php
  src/Http/Mixins/RequestMixin.php
  src/Route/RouteServiceProvider.php
  src/Site/Sites.php
  tests/Feature/Http/Middleware/ResolveSiteTest.php
  tests/Feature/Site/SitesTest.php
  tests/Unit/Http/RequestMixinTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facade docblocks
  src/Support/Facades/Sites.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Laravel falling back to Yii and Yii falling back to Laravel 😵‍💫
  yii2-adapter/legacy/web/Application.php
  yii2-adapter/src/Web/Response.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

elements/edit
  routes/actions.php
  routes/cp.php
  src/Element/Events/DefineElementEditorContent.php
  src/Http/Controllers/Elements/EditElementController.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/Controllers/Users/UsersController.php
  src/Http/Responses/ElementResponse.php
  src/View/TemplateGlobals.php
  tests/Feature/Http/Controllers/Elements/EditElementControllerTest.php
  yii2-adapter/legacy/config/cproutes/common.php
  yii2-adapter/legacy/controllers/ElementsController.php
  yii2-adapter/src/Event/EventCompatibility.php
  yii2-adapter/src/Http/LegacyMiddleware.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

elements/save & elements/save-nested-element-for-derivative
  routes/actions.php
  src/Http/Controllers/Elements/SaveElementController.php
  tests/Feature/Http/Controllers/Elements/SaveElementControllerTest.php
  yii2-adapter/legacy/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix phpstan issues
  src/Address/Elements/Address.php
  src/Address/Validation/AddressRules.php
  src/Asset/Validation/AssetRules.php
  src/Cp/FormFields.php
  src/Element/Concerns/HasControlPanelUI.php
  src/Element/Contracts/ElementInterface.php
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/FieldLayout/FieldLayoutServiceProvider.php
  src/Http/Controllers/Elements/Concerns/EditsElement.php
  src/Http/Controllers/Elements/EditElementController.php
  src/Http/Controllers/Elements/ElementIndex/ElementIndexController.php
  src/Http/Controllers/Elements/ElementIndex/SaveElementIndexElementsController.php
  src/Http/Controllers/Elements/ElementRedirectController.php
  src/Http/Controllers/Elements/PreviewElementController.php
  src/Http/Controllers/Users/UsersController.php
  src/Http/Requests/ElementRequest.php
  src/Http/Resources/ElementIndexResource.php
  src/User/Elements/User.php
  src/Validation/Concerns/Validates.php
  tests/Feature/Http/Controllers/Elements/ElementRedirectControllerTest.php
  yii2-adapter/legacy/base/Element.php
  yii2-adapter/legacy/behaviors/SessionBehavior.php
  yii2-adapter/legacy/elements/Category.php
  yii2-adapter/legacy/elements/GlobalSet.php
  yii2-adapter/legacy/elements/Tag.php
  yii2-adapter/legacy/fieldlayoutelements/addresses/AddressField.php
  yii2-adapter/legacy/fieldlayoutelements/addresses/CountryCodeField.php
  yii2-adapter/legacy/fieldlayoutelements/addresses/LabelField.php
  yii2-adapter/legacy/fieldlayoutelements/addresses/LatLongField.php
  yii2-adapter/legacy/fieldlayoutelements/addresses/OrganizationField.php
  yii2-adapter/legacy/fieldlayoutelements/addresses/OrganizationTaxIdField.php
  yii2-adapter/legacy/fieldlayoutelements/assets/AltField.php
  yii2-adapter/legacy/fieldlayoutelements/assets/AssetTitleField.php
  yii2-adapter/src/Http/LegacyMiddleware.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

update adapter
  yii2-adapter/composer.lock
Due: none

Fix import
  tests/Unit/Cp/FormFieldsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update both composer dependencies
  composer.lock
  yii2-adapter/composer.lock
Due: none

Fix git not recognizing lowercase to uppercase changes
  src/FieldLayout/LayoutElements/Addresses/AddressField.php
  src/FieldLayout/LayoutElements/Addresses/CountryCodeField.php
  src/FieldLayout/LayoutElements/Addresses/LabelField.php
  src/FieldLayout/LayoutElements/Addresses/LatLongField.php
  src/FieldLayout/LayoutElements/Addresses/OrganizationField.php
  src/FieldLayout/LayoutElements/Addresses/OrganizationTaxIdField.php
  src/FieldLayout/LayoutElements/Assets/AltField.php
  src/FieldLayout/LayoutElements/Assets/AssetTitleField.php
  src/FieldLayout/LayoutElements/Entries/EntryTitleField.php
  src/FieldLayout/LayoutElements/Users/AffiliatedSiteField.php
  src/FieldLayout/LayoutElements/Users/EmailField.php
  src/FieldLayout/LayoutElements/Users/FullNameField.php
  src/FieldLayout/LayoutElements/Users/PhotoField.php
  src/FieldLayout/LayoutElements/Users/UsernameField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Rector
  src/Element/NestedElementManager.php
  src/Element/Revisions.php
  src/Field/BaseRelationField.php
  src/Gql/ArgumentManager.php
  src/Gql/Mutations/Entry.php
  src/Http/Controllers/Elements/EditElementController.php
  src/Http/Controllers/MatrixController.php
  src/Http/Controllers/Settings/FilesystemsController.php
  src/User/Models/User.php
  tests/Unit/Support/TemplateTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Legacy test fixes
  yii2-adapter/legacy/elements/db/ElementQuery.php
  yii2-adapter/tests/unit/elements/UserElementTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix ArchTest
  phpunit.xml.dist
  tests/Arch/ArchTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup baseElementsController
  tests/Feature/Element/Queries/ContentBlockQueryTest.php
  yii2-adapter/legacy/controllers/BaseElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix flaky test
  tests/Feature/Element/Queries/ContentBlockQueryTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

pgsql pads uuids
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Just use an actual uuid
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refactor copy-button
  packages/craftcms-cp/src/components/copy-attribute/copy-attribute.styles.ts
  packages/craftcms-cp/src/components/copy-attribute/copy-attribute.ts
  packages/craftcms-cp/src/components/copy-button/copy-button.styles.ts
  packages/craftcms-cp/src/components/copy-button/copy-button.ts
  packages/craftcms-cp/src/components/tooltip/tooltip.ts
Due: none

Move shortcut support into action-item
  packages/craftcms-cp/src/components/action-item/action-item.stories.ts
  packages/craftcms-cp/src/components/action-item/action-item.styles.ts
  packages/craftcms-cp/src/components/action-item/action-item.ts
Due: none

Fix admin table bug
  resources/js/components/AdminTable/createCraftColumnHelper.ts
Due: none

Majority of plugins index page
  resources/js/components/ActionMenu.vue
  resources/js/components/Plugins/PluginActionMenu.vue
  resources/js/components/Plugins/PluginDetails.vue
  resources/js/components/Plugins/PluginEdition.vue
  resources/js/components/Plugins/PluginStatus.vue
  resources/js/layout/AppLayout.vue
  resources/js/pages/SettingsPluginsIndexPage.vue
  resources/js/pages/SettingsUserGroupsEditPage.vue
  resources/js/types/index.ts
  resources/js/types/plugins.ts
Due: none

Fixed #18739
  CHANGELOG.md
  src/helpers/Session.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
