Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

tidy up
  src/elements/User.php
  tests/unit/elements/EagerLoadedElementConsistencyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

bring back stuff deleted during last merge
  src/Element/Element.php
  src/Entry/Elements/Entry.php
  src/Field/Matrix.php
  src/FieldLayout/LayoutElements/Addresses/AddressField.php
  src/FieldLayout/LayoutElements/Addresses/CountryCodeField.php
  src/FieldLayout/LayoutElements/Addresses/LatLongField.php
  src/FieldLayout/LayoutElements/CustomField.php
  src/FieldLayout/LayoutElements/FullNameField.php
  src/FieldLayout/LayoutElements/TitleField.php
  src/FieldLayout/LayoutElements/Users/AffiliatedSiteField.php
  src/FieldLayout/LayoutElements/Users/EmailField.php
  src/FieldLayout/LayoutElements/Users/UsernameField.php
  src/User/Elements/User.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove icon aliases
  scripts/copyicons.php
  src/Announcement/Announcements.php
  src/Cp/Icons.php
  src/Field/Icon.php
  src/Http/Controllers/Assets/TransformController.php
  src/Http/Controllers/IconController.php
  src/Plugin/Plugins.php
  src/Providers/AppServiceProvider.php
  src/Providers/CraftServiceProvider.php
  src/Providers/IconServiceProvider.php
  src/Utility/Utilities/SystemReport.php
  tests/Feature/Http/Controllers/IconControllerTest.php
  tests/Unit/Cp/IconsTest.php
  yii2-adapter/legacy/Craft.php
  yii2-adapter/tests-laravel/Legacy/IconAliasesCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix icon tests for clean checkouts
  tests/Unit/Cp/IconsTest.php
  yii2-adapter/tests-laravel/Legacy/IconAliasesCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make icon path test portable
  tests/Unit/Cp/IconsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Addresses::createAddressesFromSerializedData() needs to be public
  src/Field/Addresses.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

fix tests
  tests/Feature/Import/ImportAssetTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Resolve icon names in icon paths
  src/Cp/Icons.php
  tests/Unit/Cp/IconsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

split Import to 3 smaller singletons
  src/Import/Import.php
  src/Import/ImportConfig.php
  src/Import/ImportRun.php
  src/Support/Facades/Import.php
  src/Support/Facades/ImportConfig.php
  src/Support/Facades/ImportRun.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

missed from previous commit
  src/Http/Controllers/Import/ImportConfigController.php
  src/Http/Controllers/Import/ImportRunController.php
  src/Import/Data/ImportRun.php
  src/Import/Import.php
  src/Import/Importers/BaseImporter.php
  src/Import/Jobs/Import.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

tweaks
  src/Asset/Elements/Asset.php
  src/Element/Element.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Strip XML declarations from CP markup so production builds don't throw
  resources/js/common/components/DynamicHtmlRenderer.test.ts
  resources/js/common/components/DynamicHtmlRenderer.vue
  src/Cp/Icons.php
  src/Support/Html.php
  tests/Unit/Cp/IconsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate legacy icon aliases
  yii2-adapter/legacy/Craft.php
  yii2-adapter/tests-laravel/Legacy/IconAliasesCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19469
  CHANGELOG.md
  src/controllers/InstallController.php
  src/web/Controller.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Drop the CP bootstrap debug logging
  resources/js/bootstrap/cp.ts
  resources/views/app.blade.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove conflict review
  resources/js/modules/forms/ElementSelectControl.vue
Due: none

Update package
  package-lock.json
Due: prettier --ignore-unknown --write

Complete the element select Replace action
  resources/js/modules/element-select-input/base-element-select-input.test.ts
  resources/js/modules/element-select-input/base-element-select-input.ts
Due: none

Skip element select bookkeeping on a destroyed controller
  resources/js/modules/element-select-input/base-element-select-input.ts
Due: none

Stop the source form endpoint shipping the CP asset bootstrap
  resources/js/modules/elements/components/customize-sources/CustomizeSourcesModal.vue
  src/Http/Controllers/Elements/ElementSourcesController.php
  tests/Feature/Http/Controllers/Elements/ElementSourcesControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Only treat a CustomEvent as a form change when it carries one
  resources/js/modules/forms/runtime.test.ts
  resources/js/modules/forms/runtime.ts
Due: none

Remove hover on active action items
  packages/craftcms-ui/src/components/action-item/action-item.styles.ts
Due: none

Remove legacy styles
  packages/craftcms-legacy/cp/src/css/_customize-sources.scss
  packages/craftcms-legacy/cp/src/css/craft.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Move Modal's resizing into a useResizableBox composable
  resources/js/common/components/Modal.vue
  resources/js/common/composables/useResizableBox.ts
Due: none

Remove comment
  resources/js/modules/elements/components/customize-sources/CustomSourceList.vue
Due: none

Fix user address eager-loading bug
  CHANGELOG.md
Due: none

Fix alias compatibility CI failures
  tests/Feature/Support/PathTest.php
  yii2-adapter/bootstrap/bootstrap.php
  yii2-adapter/legacy/services/Path.php
  yii2-adapter/tests-laravel/Legacy/AliasesCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Align legacy storage path with Laravel
  yii2-adapter/bootstrap/bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Align legacy application paths with Laravel
  yii2-adapter/bootstrap/bootstrap.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore dynamic template alias compatibility
  yii2-adapter/src/Support/Path.php
  yii2-adapter/src/Yii2ServiceProvider.php
  yii2-adapter/tests-laravel/Legacy/AliasesCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restore dynamic vendor alias compatibility
  yii2-adapter/src/Support/Path.php
  yii2-adapter/tests-laravel/Legacy/AliasesCompatibilityTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-5.11.md
Due: none

Rebuild craft-dialog on a native <dialog> element
  packages/craftcms-ui/src/components/dialog/dialog.stories.ts
  packages/craftcms-ui/src/components/dialog/dialog.styles.ts
  packages/craftcms-ui/src/components/dialog/dialog.test.ts
  packages/craftcms-ui/src/components/dialog/dialog.ts
  packages/craftcms-ui/src/index.ts
  packages/craftcms-ui/src/utilities/focus-trap.test.ts
  packages/craftcms-ui/src/utilities/focus-trap.ts
Due: none

Add the framework-agnostic element selector core
  packages/craftcms-ui/package.json
  packages/craftcms-ui/scripts/build.js
  packages/craftcms-ui/src/core/element-selector/asset-selector-controller.test.ts
  packages/craftcms-ui/src/core/element-selector/asset-selector-controller.ts
  packages/craftcms-ui/src/core/element-selector/element-selector-controller.test.ts
  packages/craftcms-ui/src/core/element-selector/element-selector-controller.ts
  packages/craftcms-ui/src/core/element-selector/index.ts
  packages/craftcms-ui/src/core/element-selector/registry.test.ts
  packages/craftcms-ui/src/core/element-selector/registry.ts
  packages/craftcms-ui/src/core/element-selector/types.ts
  packages/craftcms-ui/src/core/element-selector/volume-folder-selector-controller.test.ts
  packages/craftcms-ui/src/core/element-selector/volume-folder-selector-controller.ts
  packages/craftcms-ui/src/index.ts
  packages/craftcms-ui/vitest.config.ts
Due: prettier --ignore-unknown --write

Add the element selector modal web component
  packages/craftcms-ui/src/components/dialog/dialog.ts
  packages/craftcms-ui/src/components/element-selector-modal/controller-host.ts
  packages/craftcms-ui/src/components/element-selector-modal/element-selector-modal.stories.ts
  packages/craftcms-ui/src/components/element-selector-modal/element-selector-modal.styles.ts
  packages/craftcms-ui/src/components/element-selector-modal/element-selector-modal.test.ts
  packages/craftcms-ui/src/components/element-selector-modal/element-selector-modal.ts
  packages/craftcms-ui/src/index.ts
Due: none

Format ModalForm
  resources/js/common/components/ModalForm.vue
Due: none

Return a style from useResizableBox and give it a handle component
  resources/js/common/components/CornerResizeHandle.vue
  resources/js/common/components/Modal.vue
  resources/js/common/composables/resizeHandle.ts
  resources/js/common/composables/useResizable.ts
  resources/js/common/composables/useResizableBox.test.ts
  resources/js/common/composables/useResizableBox.ts
Due: none

Render the element selector modal from Vue on the new core
  resources/js/modules/element-selector-modal/ElementSelectorModal.test.ts
  resources/js/modules/element-selector-modal/ElementSelectorModal.vue
  resources/js/modules/element-selector-modal/ModalElementIndex.vue
  resources/js/modules/element-selector-modal/create-element-selector-modal.ts
  resources/js/modules/element-selector-modal/useElementSelectorController.test.ts
  resources/js/modules/element-selector-modal/useElementSelectorController.ts
  resources/js/modules/element-selector-modal/useModalElementIndex.ts
  resources/js/modules/link-field/craft-link-field.ts
  resources/js/modules/markdown-field/behaviors/assets.ts
  src/Http/ViewModels/ModalIndexViewModel.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed test
  resources/js/modules/element-select-input/base-element-select-input.test.ts
Due: none

Continue reworking inputes
  packages/craftcms-ui/src/components/combobox/combobox.styles.ts
  packages/craftcms-ui/src/components/input-color/input-color.styles.ts
  packages/craftcms-ui/src/components/input/input.styles.ts
  packages/craftcms-ui/src/components/select/select.styles.ts
  packages/craftcms-ui/src/components/switch-button/switch-button.ts
  packages/craftcms-ui/src/components/textarea/textarea.styles.ts
  packages/craftcms-ui/src/styles/form.styles.ts
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
