Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Fix PHPStan issue
  src/Condition/BaseDateRangeConditionRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Open customize sources menu
  packages/craftcms-legacy/cp/src/css/_customize-sources.scss
  packages/craftcms-legacy/cp/src/css/_main.scss
  packages/craftcms-legacy/cp/src/css/craft.scss
  resources/js/common/types/globals.d.ts
  resources/js/pages/content/Index.vue
  resources/legacy/cp/dist/cp.js
  resources/legacy/cp/dist/cp.js.map
  resources/legacy/cp/dist/css/cp.css
  resources/legacy/cp/dist/css/cp.css.map
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Move permission logic into policies
  src/Asset/Concerns/EnforcesVolumePermissions.php
  src/Asset/Data/VolumeFolder.php
  src/Asset/Elements/Asset.php
  src/Asset/Policies/AssetPolicy.php
  src/Asset/Policies/VolumeFolderPolicy.php
  src/Auth/AuthServiceProvider.php
  src/Entry/Elements/Entry.php
  src/Entry/Policies/EntryPolicy.php
  src/Entry/Validation/EntryRules.php
  src/Http/Controllers/Assets/ActionController.php
  src/Http/Controllers/Assets/FolderController.php
  src/Http/Controllers/Assets/ImageEditorController.php
  src/Http/Controllers/Assets/PreviewController.php
  src/Http/Controllers/Assets/UploadController.php
  src/Http/Controllers/Entries/MoveEntryToSectionController.php
  src/Http/Controllers/Users/EditUserTrait.php
  src/Http/Controllers/Users/PermissionsController.php
  src/Section/Sections.php
  src/Structure/Policies/StructurePolicy.php
  src/User/Policies/UserPolicy.php
  src/User/UserGroups.php
  src/User/UserPermissions.php
  tests/Feature/Asset/Policies/AssetPolicyTest.php
  tests/Feature/Section/SectionsTest.php
  tests/Feature/User/Policies/UserPolicyTest.php
  tests/Feature/User/UserGroupsTest.php
  tests/Feature/User/UserPermissionsTest.php
  tests/Unit/Entry/Policies/EntryPolicyTest.php
  tests/Unit/Structure/Policies/StructurePolicyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

One more
  src/Http/Controllers/Users/ActivateController.php
  src/Http/Controllers/Users/PermissionsController.php
  src/User/Elements/User.php
  src/User/Policies/UserPolicy.php
  src/User/UserGroups.php
  tests/Feature/Http/Controllers/User/ActivateControllerTest.php
  tests/Feature/Http/Controllers/User/PermissionsControllerTest.php
  tests/Feature/User/Policies/UserPolicyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Remove stray call
  src/Asset/Elements/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Normalize asset and section policy test fixtures
  tests/Feature/Asset/Policies/AssetPolicyTest.php
  tests/Feature/Section/SectionsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Ensure all attributes render
  resources/js/modules/elements/composables/useElementIndexColumns.ts
  resources/js/pages/content/Index.vue
  src/Field/BaseRelationField.php
  src/Field/Link.php
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix elementindex.twig
  resources/templates/_layouts/elementindex.twig
Due: none

Load CP styles all the time
  packages/craftcms-legacy/cp/src/css/craft.scss
  resources/legacy/cp/dist/css/cp.css
  resources/legacy/cp/dist/css/cp.css.map
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Show all columns
  src/Http/Controllers/ContentIndexController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Better AdminTable overflow
  resources/js/modules/admin-table/components/AdminTable.vue
Due: none

fix empty styling
  resources/js/modules/admin-table/components/AdminTable.vue
Due: none

$targetSiteId
  src/fields/BaseRelationField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use App for merging configurations.
  src/services/Config.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix active states
  resources/js/modules/markdown-field/MarkdownField.css
  resources/js/modules/markdown-field/MarkdownField.ts
  resources/js/modules/markdown-field/behaviors/link-popover.ts
  resources/js/modules/markdown-field/behaviors/toolbar/active-states.ts
  resources/js/modules/markdown-field/behaviors/toolbar/index.ts
  resources/js/modules/markdown-field/behaviors/toolbar/items.ts
  src/Field/Markdown.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Low hanging fruit
  resources/js/modules/elements/composables/useElementIndexSort.ts
  resources/js/pages/content/Index.vue
Due: none

Fixed a PHP error
  src/Http/Controllers/Auth/AuthenticationController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog tweaks
  CHANGELOG.md
Due: none

Release note
  CHANGELOG.md
Due: none

Update facade docblocks
  src/Support/Facades/HtmlSanitizers.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Changelog for #18960 and #19014
  CHANGELOG.md
Due: none

Use query batching for Delete, Delete for Site, Duplicate, and Restore actions too
  src/elements/actions/Delete.php
  src/elements/actions/DeleteForSite.php
  src/elements/actions/Duplicate.php
  src/elements/actions/Restore.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note tweak
  CHANGELOG.md
Due: none

Disallow robots for invalid previews
  src/web/Application.php
  src/web/Request.php
  tests/unit/web/RequestTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify photo controller authorization checks
  src/Element/Policies/ElementPolicy.php
  src/Http/Controllers/Users/PhotoController.php
  src/User/Policies/UserPolicy.php
  tests/Feature/Http/Controllers/User/PhotoControllerTest.php
  tests/Feature/User/Policies/UserPolicyTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Extract asset folder request validation into FormRequests
  src/Http/Controllers/Assets/FolderController.php
  src/Http/Requests/CreateAssetFolderRequest.php
  src/Http/Requests/DeleteAssetFolderRequest.php
  src/Http/Requests/MoveAssetFolderRequest.php
  src/Http/Requests/RenameAssetFolderRequest.php
  tests/Feature/Http/Controllers/Assets/FolderControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Extract nested element request validation into FormRequest
  src/Http/Controllers/NestedElementsController.php
  src/Http/Requests/NestedElementsRequest.php
  tests/Feature/Http/Controllers/NestedElementsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

RequestedSite should be scoped
  src/Cp/RequestedSite.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix assignable groups admin test
  tests/Feature/User/UserGroupsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Tighten validation rules
  src/Element/Conditions/RelatedToConditionRule.php
  src/Element/Validation/Rules/ElementTypeRule.php
  src/Http/Controllers/App/RenderController.php
  src/Http/Controllers/Elements/DeleteElementsController.php
  src/Http/Controllers/Elements/ElementIndex/ExportElementIndexController.php
  src/Http/Controllers/FieldsController.php
  src/Http/Controllers/MatrixController.php
  src/Http/Controllers/NestedElementsController.php
  src/Http/Controllers/RelationalFieldsController.php
  src/Http/Requests/ElementIndexRequest.php
  src/Http/Requests/ElementRequest.php
  src/Image/Data/ImageTransform.php
  src/Providers/AppServiceProvider.php
  src/RouteToken/Data/RouteToken.php
  src/User/Validation/Rules/UserPasswordRule.php
  tests/Unit/Element/Validation/Rules/ElementTypeRuleTest.php
  tests/Unit/Image/Data/ImageTransformTest.php
  tests/Unit/User/Validation/Rules/UserPasswordRuleTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update user password validation test
  tests/Feature/User/Elements/UserValidationTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19069
  CHANGELOG.md
  src/elements/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed #19081
  CHANGELOG.md
  src/services/Elements.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Revert query batching for element actions
  src/Element/Actions/Delete.php
  src/Element/Actions/DeleteForSite.php
  src/Element/Actions/Duplicate.php
  src/Element/Actions/Restore.php
  src/Element/Actions/SetStatus.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Always send no-cache headers for requests with preview params
  CHANGELOG.md
  src/console/Request.php
  src/web/Application.php
  src/web/Request.php
  tests/unit/web/RequestTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Whoops
  src/web/Request.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use cursor() for actions where possible
  src/Element/Actions/Delete.php
  src/Element/Actions/Duplicate.php
  src/Element/Actions/Restore.php
  src/Element/Actions/SetStatus.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Use cursors for mutating query iteration
  src/Asset/Folders.php
  src/Console/Commands/Utils/FixElementUidsCommand.php
  src/Element/Operations/ElementWrites.php
  src/Section/Sections.php
  src/User/Users.php
  tests/Unit/Element/ElementWrites/PropagateElementsTest.php
  tests/Unit/Element/ElementWrites/ResaveElementsTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G
