Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.php": [
    "./vendor/bin/ecs check --ansi --fix",
    "./vendor/bin/phpstan analyse --memory-limit=1G"
  ],
  "*.scss": ["stylelint --fix --allow-empty-input"],
  "*.{html,json,css,scss}": "prettier --ignore-unknown --write"
}

Cleanup
  src/fields/BaseRelationField.php
  src/templates/_includes/forms/checkbox.twig
  src/templates/_includes/forms/checkboxSelect.twig
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/FieldLayoutDesigner.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

link GHSAs in changelog
  CHANGELOG.md
Due: none

encode options field label in previewPlaceholderHtml
  src/fields/BaseOptionsField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update facades
  .github/workflows/facades.yml
Due: none

Update Facade docblocks
  src/Support/Facades/Entries.php
  src/Support/Facades/SiteGroups.php
  src/Support/Facades/Sites.php
  src/Support/Facades/UserGroups.php
  src/Support/Facades/UserPermissions.php
  src/Support/Facades/Users.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

encode prefix and suffix when rendering field's input
  src/templates/_components/fieldtypes/Number/input.twig
Due: none

encode the prefix and suffix and run them via markdown
  src/fields/Number.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use parent placeholder value for date uploaded asset attribute
  src/elements/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

don't assume we have a placeholder
  src/helpers/Cp.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

default base field key should be layoutElement:UID
  src/fieldlayoutelements/BaseField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

use native field for placeholder address
  src/elements/Address.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

default base field preview option value be layoutElement:UID
  src/fieldlayoutelements/BaseField.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Deprecate enableTwigSandbox()
  src/Config/GeneralConfig.php
  yii2-adapter/legacy/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix money field focus issue
  src/web/assets/money/src/Money.js
Due: none

Build
  src/web/assets/money/dist/Money.js
  src/web/assets/money/dist/Money.js.map
Due: none

Cleanup
  src/web/assets/money/dist/Money.js
  src/web/assets/money/dist/Money.js.map
  src/web/assets/money/src/Money.js
Due: none

$isRevision
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make `@parseRefs` optional
  CHANGELOG-WIP.md
  src/config/app.php
  src/helpers/Gql.php
  src/migrations/m260105_191335_parseRefs_schema_component.php
  src/services/Gql.php
  src/templates/graphql/schemas/_edit.twig
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Restrict create() to BaseObject classes
  CHANGELOG-WIP.md
  src/Craft.php
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix a SQL injection vulnerability
  CHANGELOG.md
  src/controllers/ElementIndexesController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Convert hex hostname segments to decimals
  CHANGELOG.md
  src/gql/resolvers/mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed GHSA-8jr8-7hr4-vhfx
  CHANGELOG.md
  src/gql/resolvers/mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Don't replace consecutive hyphens
  CHANGELOG.md
  src/helpers/Html.php
  tests/unit/helpers/HtmlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed test case
  tests/unit/helpers/HtmlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Simplify FQN
  src/services/Security.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed test
  tests/unit/helpers/HtmlHelperTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note for GHSA-9f5h-mmq6-2x78
  CHANGELOG.md
Due: none

Rector
  src/Dashboard/Widgets/RecentEntries.php
  src/Database/Queries/Concerns/User/QueriesAffiliatedSite.php
  src/Shared/Rules/SiteIdRule.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed PHP error
  src/services/Gql.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed errors + set enableTwigSandbox=true for tests
  src/web/twig/Extension.php
  tests/_craft/config/general.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

hyphens*
  src/helpers/Html.php
  src/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Better warning
  src/templates/graphql/schemas/_edit.twig
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make `@transform` optional per schema too
  CHANGELOG-WIP.md
  src/config/GeneralConfig.php
  src/config/app.php
  src/helpers/Gql.php
  src/migrations/m260105_191335_parseRefs_schema_component.php
  src/migrations/m260106_130629_directive_schema_components.php
  src/services/Gql.php
  src/templates/graphql/schemas/_edit.twig
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed tests
  src/helpers/Html.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixed Twig error if a plugin was already registering the SandboxExtension
  src/web/View.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Adds a "Read Only" badge when fields are static
  src/fieldlayoutelements/BaseField.php
  src/helpers/Cp.php
  src/web/assets/cp/src/css/_main.scss
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Fix Button group disabled state
  src/fields/ButtonGroup.php
  src/templates/_includes/forms/buttonGroup.twig
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Configurable allowlist-based Twig sandbox + View::renderSandboxed*()
  src/config/GeneralConfig.php
  src/config/twig-sandbox.php
  src/mail/Mailer.php
  src/web/View.php
  src/web/twig/SecurityPolicy.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

All functions working
  resources/js/components/Modal.vue
  resources/js/components/ModalForm.vue
  resources/js/pages/SettingsSitesIndex.vue
Due: none
