Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Remove ignored files
  tests/_output/.gitignore
  tests/_output/crafttests.gql.GqlCest.forgetQueryParameter.fail.json
  tests/_output/crafttests.gql.GqlCest.provideMalformedQueryParameter.fail.json
  tests/_output/crafttests.gql.GqlCest.testQueryResults.fail.json
  tests/_output/crafttests.gql.GqlCest.testQuerying.fail.json
  tests/_output/crafttests.gql.GqlCest.testWrongGqlField.fail.json
  tests/_output/crafttests.gql.GqlCest.testWrongGqlQueryParameter.fail.json
  tests/_support/.gitignore
  tests/_support/_generated/AcceptanceTesterActions.php
  tests/_support/_generated/FunctionalTesterActions.php
  tests/_support/_generated/GqlTesterActions.php
  tests/_support/_generated/UnitTesterActions.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Fixed #18164
  CHANGELOG.md
  src/controllers/ElementsController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Reference GHSA-v47q-jxvr-p68x
  CHANGELOG-WIP.md
Due: none

Cleanup
  src/web/twig/Extension.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG.md
Due: none

Fixed GHSA-fxp3-g6gw-4r4v
  CHANGELOG.md
  src/gql/resolvers/mutations/Asset.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

build
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

account for getEntryTypesByHandle returning an array
  src/elements/db/EntryQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

save a few lines
  src/elements/db/EntryQuery.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Cleanup
  src/models/FieldLayout.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Refresh fields when they go from static to editable or vise-versa
  CHANGELOG-WIP.md
  src/controllers/ElementsController.php
  src/fieldlayoutelements/CustomField.php
  src/models/FieldLayout.php
  src/models/FieldLayoutForm.php
  src/models/FieldLayoutFormTab.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditor.js
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Make “Read Only” translatable
  src/helpers/Cp.php
  src/translations/en/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Release note
  CHANGELOG-WIP.md
Due: none

Fixed GHSA-7jx7-3846-m7w7
  CHANGELOG.md
  src/services/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update mask on blur too
  src/web/assets/money/src/Money.js
Due: none

Build
  src/web/assets/money/dist/Money.js
  src/web/assets/money/dist/Money.js.map
Due: none

Remove logs
  src/web/assets/money/dist/Money.js
  src/web/assets/money/dist/Money.js.map
  src/web/assets/money/src/Money.js
Due: none

Fix conflict
  resources/js/pages/SettingsGeneralPage.vue
Due: none

Sort lines
  CHANGELOG-WIP.md
Due: none

Money field icons based on the selected currency
  CHANGELOG-WIP.md
  src/controllers/EntryTypesController.php
  src/controllers/FieldsController.php
  src/fieldlayoutelements/CustomField.php
  src/fields/Money.php
  src/i18n/Locale.php
  src/services/Fields.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Update Twig release note for #18225
  CHANGELOG-WIP.md
Due: none

Finish 4.16.18
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Finish 5.8.22
  CHANGELOG.md
  src/config/app.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fixes login logo sizing issue
  src/web/assets/cp/src/css/_login.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Better fix
  src/web/assets/cp/src/css/_login.scss
Due: stylelint --fix --allow-empty-input, prettier --ignore-unknown --write

Build
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
Due: prettier --ignore-unknown --write

Yii 2.0.54
  CHANGELOG-WIP.md
  composer.json
  composer.lock
  src/base/Element.php
  src/base/Field.php
  src/base/Model.php
  src/behaviors/BaseRevisionBehavior.php
  src/behaviors/CustomFieldBehavior.php.template
  src/behaviors/EnvAttributeParserBehavior.php
  src/console/Controller.php
  src/console/controllers/MigrateController.php
  src/elements/Asset.php
  src/elements/User.php
  src/i18n/PhpMessageSource.php
  src/services/Path.php
  src/web/Application.php
  src/web/CpScreenResponseBehavior.php
  src/web/TemplateResponseBehavior.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, prettier --ignore-unknown --write

Reorder changelog
  CHANGELOG-WIP.md
Due: none

Add additional tests
  src/Http/Controllers/FilesystemsController.php
  tests/Http/Controllers/ApiControllerTest.php
  tests/Http/Controllers/FilesystemsControllerTest.php
  tests/Http/Controllers/MigrateControllerTest.php
  tests/Http/Controllers/PluginsControllerTest.php
  tests/Http/Controllers/User/PermissionsControllerTest.php
  tests/Http/Controllers/User/PreferencesControllerTest.php
  tests/Http/Controllers/User/UsersControllerTest.php
  tests/Http/Controllers/Utilities/ClearCachesControllerTest.php
  tests/Http/Controllers/Utilities/DbBackupControllerTest.php
  tests/Http/Controllers/Utilities/DeprecationErrorsControllerTest.php
  tests/Http/Controllers/Utilities/FindAndReplaceControllerTest.php
  tests/Http/Controllers/Utilities/MigrationsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Missing `@since`
  src/base/ElementInterface.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Fix tests
  tests/Http/Controllers/Utilities/DbBackupControllerTest.php
  tests/Http/Controllers/Utilities/MigrationsControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Backup generation breaks transactions
  tests/Http/Controllers/Utilities/DbBackupControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Lock file can already exist
  tests/Support/ComposerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Verify email
  routes/cp.php
  routes/web.php
  src/Http/Controllers/Auth/AuthenticationController.php
  src/Http/Controllers/Auth/VerifyEmailController.php
  tests/Http/Controllers/Auth/VerifyEmailControllerTest.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Add tests for controllers
  src/Http/Controllers/Auth/TwoFactorAuthenticationController.php
  src/Providers/AppServiceProvider.php
  tests/Http/Controllers/Auth/LoginControllerTest.php
  tests/Http/Controllers/Auth/PasskeyControllerTest.php
  tests/Http/Controllers/Auth/SetPasswordControllerTest.php
  tests/Http/Controllers/Auth/TwoFactorAuthenticationControllerTest.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Casing fix + cleanup unused code
  tests/Http/Controllers/Auth/TwoFactorAuthenticationControllerTest.php
  yii2-adapter/legacy/controllers/UsersController.php
Due: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.php
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.php
  stylelint --fix --allow-empty-input: any of: *.scss
  prettier --ignore-unknown --write: any of: *.{html,json,css,scss}
